<section class="p-season-list">
  <h3>季節で見る</h3>
  <ul>
    <li><a href="index_season.html"><img src="/assets/images/foods/btn_spring.png" alt="春 Spring"></a></li>
    <li><a href="index_season.html"><img src="/assets/images/foods/btn_summer.png" alt="夏 Summer"></a></li>
    <li><a href="index_season.html"><img src="/assets/images/foods/btn_autumn.png" alt="秋 Autumn"></a></li>
    <li><a href="index_season.html"><img src="/assets/images/foods/btn_winter.png" alt="冬 Winter"></a></li>
    <li><a href="index_season.html"><img src="/assets/images/foods/btn_all_season.png" alt="オールシーズン All Season"></a></li>
  </ul>
</section>