<section class="p-type-list">
  <h3>種類で見る</h3>
  <ul>
    <li><a href="index_type.html"><img src="/assets/images/foods/btn_food_bread.png" alt="ごはん・パン"><br>
    ごはん・パン</a></li>
    <li><a href="index_type.html"><img src="/assets/images/foods/btn_vegetables.png" alt="野菜"><br>
    野菜</a></li>
    <li><a href="index_type.html"><img src="/assets/images/foods/btn_meat_seafood.png" alt="肉・魚介類"><br>
    肉・魚介類</a></li>
    <li><a href="index_type.html"><img src="/assets/images/foods/btn_fruit.png" alt="フルーツ"><br>
    フルーツ</a></li>
    <li><a href="index_type.html"><img src="/assets/images/foods/btn_others.png" alt="その他"><br>
    その他</a></li>
  </ul>
</section>