/* -- foundation -- */
@import "foundation/global";

$BREAK_POINT: 768;
/* --------------------------- */
/* main */


.l-block {
	position: relative;
	
	&--breaking-mg {
		margin-right: calc(50% - 50vw);
		margin-left: calc(50% - 50vw);
	}

	&--breaking-pd {
		padding-right: calc(50vw - 50%);
		padding-left: calc(50vw - 50%);
	}
}

.l-flex {
	position: relative;
	width: 100%;
	@include flex;
	
	&--left {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	&--right {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	&--center {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	&--spb {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	&--spa {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	
	&--v-top {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	&--v-center {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&--v-bottom {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	
	&__elem {
		$elem: &;
		position: relative;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		min-width: 1px;
		max-width: 100%;

		&--sep {
			width: 100% !important;
		}
		&--blank {
			@extend #{$elem};
		}
	}

	@media only screen and (max-width: #{$BREAK_POINT}px) {
		
		&__elem {
			flex: 0 0 100% !important;
			max-width: 100% !important;
		}
	}
}

@mixin l-elem-margin( $ELEM_MARGIN, $SP_ELEM_MARGIN ) {
	margin-left: $ELEM_MARGIN;
	&:first-child{ margin-left: 0; }

	@media only screen and (max-width: #{$BREAK_POINT}px) {
		margin-left: 0;
		margin-top: $SP_ELEM_MARGIN;
		&:first-child{ margin-top: 0; }
	}
}

@mixin l-elem--sep-margin( $ELEM_MARGIN ) {
	margin-top: $ELEM_MARGIN;
	& + * { margin-left: 0; }

	@media only screen and (max-width: #{$BREAK_POINT}px) {
		margin-top: 0;
	}
}

@mixin l-elem--blank-margin {
	@media only screen and (max-width: #{$BREAK_POINT}px) {
		margin-top: 0;
	}
}

@mixin l-elem--sep-inner( $margin, $border ) {
	$this: &;
	& + #{$this} {
		margin-top: $margin;
		border-top: $border;
		padding-top: $margin;
	}
}

@mixin l-elem--sep-outer( $margin, $border ) {
	$this: &;
	padding-top: $margin;
	padding-bottom: $margin;
	border-top: $border;
	border-bottom: $border;
	& + #{$this} {
		border-top: none;
	}
}

.l-flexMargin {

	background-color: #ccc;
	/* -- マージンをセットする --*/
	$C_ELEM_MARGIN: 15px;

	@include l-elem-margin( $C_ELEM_MARGIN, $C_ELEM_MARGIN );

	&--sep {
		@include l-elem--sep-margin( $C_ELEM_MARGIN );
	}
	&--blank {
		@include l-elem-margin( $C_ELEM_MARGIN, $C_ELEM_MARGIN );
		@include l-elem--blank-margin;
	}
	
	&--w200 {
		@include block__elem--width( 200px );
		/* @include block__elem--width( ( 200 / 1000 ) * 100% ); */
	}
}

@media only screen and (max-width: #{$BREAK_POINT}px) {
	.l-order1 {
		@include flex-order(1);
	}
	.l-order2 {
		@include flex-order(2);
	}
	.l-order3 {
		@include flex-order(3);
	}
	.l-order4 {
		@include flex-order(4);
	}
	.l-order5 {
		@include flex-order(5);
	}
}


.l-mb {
	&--ex-small { margin-bottom: 1rem; }
	&--small { margin-bottom: 2rem; }
	&--default { margin-bottom: 3rem; }
	&--large { margin-bottom: 4rem; }
	&--ex-large { margin-bottom: 6rem; }

	@media only screen and (max-width: #{$BREAK_POINT}px) {
		&--ex-small { margin-bottom: 0.5rem; }
		&--small { margin-bottom: 1rem; }
		&--default { margin-bottom: 1.5rem; }
		&--large { margin-bottom: 2rem; }
		&--ex-large { margin-bottom: 3rem; }
	}
}

.l-ml {
	&--ex-small { margin-left: 10px; }
	&--small { margin-left: 20px; }
	&--default { margin-left: 30px; }
	&--large { margin-left: 40px; }
	&--ex-large { margin-left: 60px; }

	@media only screen and (max-width: #{$BREAK_POINT}px) {
		&--ex-small { margin-left: 5px; }
		&--small { margin-left: 10px; }
		&--default { margin-left: 15px; }
		&--large { margin-left: 20px; }
		&--ex-large { margin-left: 30px; }
	}
}

