@import "component", "fontsize";

main {

	.btn-back {
		bottom: 20px;
	}
	#main-img {
		position: relative;
		width: 100%;
		@include border-bottom;
		line-height: 0;
		background: url('/assets/images/common/loading.gif') center center no-repeat;
		img,
		canvas {
			width: 100%;
			max-width: 1200px;
		}
		@media only screen and (max-width: 640px) {
			min-height: 150px;
			img {
				max-width: 100%;
			}
		}
		
		h2 {
			position: absolute;
			width: 396px;
			height: 60px;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			background: url('/assets/images/index/main-copy.png') left top no-repeat;
			background-size: 100%;
			text-indent: -9999px;
			pointer-events: none;
			@media only screen and (max-width: 640px) {
				width: 198px;
				height: 30px;
			}
		}
		.slick-slide {
			position: relative;
		}
		.slick-dots
		{
		    position: absolute;
		    bottom: 12px;
		    left: 16px;
		    display: block;
		    padding: 0;
		    list-style: none;
		}
	}
	.content {
		position: relative;
		overflow: hidden;

		.column-3 {
			overflow: hidden;
			margin-bottom: 100px;
			@media only screen and (max-width: 640px) {
				margin-bottom: 70px;
			}
			.block {
				width: 33.3%;
				float: left;
				@include border-bottom;
				@include border-right;
				box-sizing: border-box;

				@media only screen and (max-width: 640px) {
					width: 100%;
					float: none;
				}
				&:first-child{
					width: 33.4%;
					@media only screen and (max-width: 640px) {
						width: 100%;
					}
				}
				&:last-child{
					border-right: none;
				}
				
				article {
					position: relative;
					overflow: hidden;
					width: 100%;
					padding: 28px 19px 20px 19px;
					box-sizing: border-box;
					@include size14;
					@include border-bottom;
					&:last-child {
						border-bottom: none;
					}
					@media only screen and (max-width: 640px) {
						padding: 15px 2.34% 25px 2.34%;
						@include size12;
						min-height: auto !important;
					}

					h3 {
						position: relative;
						@include size18;
						font-weight: bold;
						line-height: 1em;
						margin-bottom: 31px;
						@media only screen and (max-width: 640px) {
							@include size15;
							padding-left: 10px;
							margin-top: 9px;
							margin-bottom: 25px;
						}
						&:before {
							content: "";
							display: block;
							position: absolute;
							width: 4px;
							height: 24px;
							left: -10px;
							bottom: 0;
							background-color: #5bb92a;
							@media only screen and (max-width: 640px) {
								left: 0px;
							}
						}
					}
					&:nth-child(3n) {
						border-right: none;
					}
				}
				#block-news {
					min-height: 64.8%;
					ul {
						li {
							padding-left: 10px;
							a {
								color: #000;
								position: relative;
								&.arrow::before {
									left: -12px;
									top: 6px;
									bottom: auto;
								}
							}
						}
						li + li {
							margin-top: 24px;
							@media only screen and (max-width: 640px) {
								margin-top: 18px;
							}
						}
					}
				}
				#block-pickup {
					min-height: 51.7%;
					.imgArea {
						position: relative;
						img { width: 100%; }
						.ov:after {
							content: "";
							position: absolute;
							background-color: #fff;
							opacity: 0;
						}
						.ov:hover:after {
							opacity: 0.3;
						}
						.map1:after {
							left:0;
							top: 0;
							width: ( 210 / 360 ) * 100%;
							height: ( 171 / 257 ) * 100%;
						}
						.map2:after {
							left:( 211 / 360 ) * 100%;
							top: 0;
							width: ( 149 / 360 ) * 100%;
							height: ( 85 / 257 ) * 100%;
						}
						.map3:after {
							left:( 211 / 360 ) * 100%;
							top: ( 86 / 257 ) * 100%;
							width: ( 149 / 360 ) * 100%;
							height: ( 85 / 257 ) * 100%;
						}
						.map4:after {
							left:0;
							top: ( 172 / 257 ) * 100%;
							width: ( 120 / 360 ) * 100%;
							height: ( 85 / 257 ) * 100%;
						}
						.map5:after {
							left:( 121 / 360 ) * 100%;
							top: ( 172 / 257 ) * 100%;
							width: ( 118 / 360 ) * 100%;
							height: ( 85 / 257 ) * 100%;
						}
						.map6:after {
							left:( 240 / 360 ) * 100%;
							top: ( 172 / 257 ) * 100%;
							width: ( 120 / 360 ) * 100%;
							height: ( 85 / 257 ) * 100%;
						}
					}
				}
				#block-help {
					min-height: 44.7%;

					.search {
						position: relative;
						width: 100%;
						height: auto;
						max-width: 360px;
						background: url('../images/index/faq_bg.jpg');
						background-size: contain;
						margin-bottom: 10px;
						@media only screen and (max-width: 640px) {
							max-width: 100%;
						}

						&:before {
							content: "";
							height: 0;
							padding-top: 160/360 * 100%;
							display: block;
						}
						.inner {
							position: absolute;
							width: 290 / 360 * 100%;
							height: 86 / 160 * 100%;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							p {
								text-align: center;
								color: #fff;
								height: 40px;
								@include size18;
								font-weight: bold;
							}
							form {
								position: relative;
								display: block;
								width: 100%;
								height: 46px;
							}
							.faq-inputbox {
								width: 100%;
								height: 46px;
								background-color: #fff;
								border: 2px solid #5bb92a;
								box-sizing: border-box;
								padding: 12px;
								border-radius: 5px;
								-webkit-border-radius: 5px;
								background-color: #fff;
							}
							#searchBtn {
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
								right: 10px;
								width: 21px;
								height: 21px;
								border-style: none;
								background-color: transparent;
								background: #fff url('../images/common/icon-search.png') left top no-repeat;
								padding: 0;
								pointer-events: none;
							}
						}
					}
					.link-container {
						overflow: hidden;
						width: 330 / 360 * 100%;
						margin: 0 auto;
						li {
							float: left;
							width: 160 / 330 * 100%;
						}
						li + li {
							margin-left: 10 / 330 * 100%
						}
					}

					.link {
						position: relative;
						display: table;
						width: 100%;
						min-height: 52px;
						padding: 9px 10px;
						color: #fff;
						background-color: #5bb92a;
						text-align: center;
						box-sizing: border-box;
						border-radius: 5px;
						-webkit-border-radius: 5px;
						text-decoration: none;
						
						@media only screen and (max-width: 640px) {
							min-height: 51px;
							line-height: 19px;
						}
						&:hover {
							opacity: 0.8;
						}
						&.btn-faq {
							background: #5bb92a url('../images/index/icon-btn-faq.png') left top no-repeat;
							background-position: 40 / 160 * 100% 50%;
							background-size: 35 / 160 * 100%;
							transition: all 300ms 0s ease;
							&:after {
								@include arrow-large( #fff );
								right: 7px;
							}
							span {
								padding-left: 20 / 160 * 100%;
							}
							/*
							&:hover {
								opacity: 1;
								color: #5bb92a;
								background-color: #fff;
								background-blend-mode: screen;
								&:after {
									border-top: 2px solid #5bb92a;
    								border-right: 2px solid #5bb92a;
								}
							}
							*/
						}
						&.btn-dict {
							background: #fff url('../images/index/icon-btn-dict.png') left top no-repeat;
							border: 1px solid #5bb92a;
							color: #5bb92a;
							background-position: 15 / 160 * 100% 50%;
							background-size: 46 / 160 * 100%;
							&:after {
								@include arrow-large( #5bb92a );
								right: 7px;
							}
							span {
								padding-left: 30 / 160 * 100%;
							}
						}
						
						span {
							display: table-cell;
							vertical-align: middle;
							@include size14;
							line-height: 1em;
							@media only screen and (max-width: 640px) {
								@include size15;
							}
						}
					}
					.link + .link {
						margin-top: 10px;
					}
					#link-support:before { background: url('/assets/images/index/icon-link-support.png'); background-size: 100%; }
					#link-faq:before { background: url('/assets/images/index/icon-link-faq.png'); background-size: 100%; }
					#link-dict:before { background: url('/assets/images/index/icon-link-dict.png'); background-size: 100%; }
				}
				#block-evt {
					min-height: 35.2%;
					&:after {
					    content: "";
					    position: relative;
					    display: block;
					    height: 20px;
					    pointer-events: none;
					}
					h3 {
						margin-bottom: 18px;
					}
					#block-evt-slick {
						.article {
							display: table;

							.thumb {
								display: table-cell;
								width: 51%;
								img { width: 100%; &:hover { opacity: 1; } }
							}
							dd {
								display: table-cell;
								width: 49%;
								padding-left: 5.5%;
								box-sizing: border-box;
								vertical-align: middle;
								p {
									
									
								}
							}
						}
					}

					.slick-dots
					{
					    position: absolute;
					    width: 100%;
					    text-align: center;
					    display: block;
					    padding: 0;
					    list-style: none;
					    @media only screen and (max-width: 640px) {
							bottom: -25px;
						}
					}
					.slick-dots li button {
						background: url('/assets/images/common/slick-dots-g.png');
						background-position: -12px 0;
					}
					.slick-dots li button:hover,
					.slick-dots li button:focus
					{
					    outline: none;
					    background-position: 0 0;
					}
					.slick-dots .slick-active button {
					    background-position: 0 0;
					}
				}
				#block-about {
					min-height: 48.3%;
				}
				#block-recruit {
					min-height: 55.3%;
					.link {
						line-height: 0;
						text-decoration: none;
						a {
							p {
								position: relative;
								
								color: #5bb92a;
								padding-left: 12px;
								line-height: 1em;
								margin-top: 9px;

								&.arrow:before {
									top: 4px;
									left: 0;
								}
							}
							img:hover {
								opacity: 1;
							}
							&:hover {
								opacity: 0.8;
								
							}
						}
					}
					.link + .link {
						margin-top: 12px;
					}
					
				}
				.link-more {
					position: absolute;
					right: 20px;
					top: 28px;
					@include size12;
					color: #5bb92a;
					
					@media only screen and (max-width: 640px) {
						right: 2.34%;
						font-size: 10px;
						font-size: 1.0rem;
					}
					&:hover {
						
					}
					&.arrow::before {
						left: -12px;
						/*top: 6px;*/
					}
				}
			}
		}
	}
}

