@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Press Style 蒸気プレス方式で、こだわりの一杯 */
#contentsWrap #styleTitleSection { margin-top:7%; }
#contentsWrap #styleTitleSection #styleMvArea { margin-top:6.4%; padding:0; background:url(/product/lineup/acq/images/style_mv_bg_sp.jpg) center top no-repeat; background-size:100% auto; }

#contentsWrap #styleContentsSection { width:auto; margin-top:7%; }
#contentsWrap #styleContentsSection #styleExtractionArea ul { width:auto; margin-top:8%; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li { float:none; margin:5% 0 0; padding:10% 0 0; background:url(/product/lineup/acq/images/style_extraction_bg_arrow_sp.gif) center top no-repeat; background-size:20% auto; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li:first-child { margin:0; padding:0; background:none; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li p.styleExtractionTxt { position:static; width:90%; margin:3% auto 0; font-size:4.3vw; }

#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner { margin-top:12%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox { width:auto; float:none; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox h4 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox h4 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionSubTitle { left:7%; top:14%; width:43%; font-size:4.2vw; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionLeftImg { margin-top:3%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionLeftTxt { position:static; width:92%; margin:4% auto 0; font-size:4.3vw; line-height:1.5em; }

#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox { width:auto; float:none; margin-top:12%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox h4 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox h4 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox p#styleExtractionRightTxt { position:static; width:92%; margin:4% auto 0; font-size:4.3vw; line-height:1.5em; }

#contentsWrap #styleContentsSection #styleTasteArea { margin-top:20%; width:auto; }
#contentsWrap #styleContentsSection #styleTasteArea h3 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection #styleTasteArea h3 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection #styleTasteArea > p { margin-top:6%; }
#contentsWrap #styleContentsSection #styleTasteArea #styleTasteInner { width:88%; margin:5% auto 0; padding:3%; }
#contentsWrap #styleContentsSection #styleTasteArea #styleTasteInner p { font-size:4.3vw; text-align:left; }

#contentsWrap #styleContentsSection #styleShapeArea { margin-top:20%; width:auto; }
#contentsWrap #styleContentsSection #styleShapeArea h3 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection #styleShapeArea h3 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection #styleShapeArea ul li { margin-top:6%; }
#contentsWrap #styleContentsSection #styleShapeArea ul li:first-child { margin-top:8%; }

#contentsWrap #styleContentsSection p#styleImg { margin-top:15%; }

#contentsWrap p#introBtn { width:74%; margin:8.3% auto 0; }

}
