@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* しあわせスイッチストーリー */
#contentsWrap #switchTitleSection { margin-top:40px; }
#contentsWrap #switchTitleSection #switchTitleArea { width:100%; max-width:1000px; margin:0 auto; }
#contentsWrap #switchTitleSection #switchTitleArea h2 { text-align:center; }
#contentsWrap #switchTitleSection #switchTitleArea #switchTitleMovieInner { position:relative; width:100%; margin-top:35px; padding-top: 56.25%; }
#contentsWrap #switchTitleSection #switchTitleArea #switchTitleMovieInner iframe { width:100% !important; height:100% !important; position:absolute; top:0; right:0; }

#contentsWrap #switchKeyword01Section { width:100%; max-width:1200px; margin:104px auto 0; }
#contentsWrap #switchKeyword01Section #switchKeyword01_01Area { padding:62px 0 266px; background:url(/product/lineup/acq/images/switch_kw01_bg01_pc.jpg) center top no-repeat; }
#contentsWrap #switchKeyword01Section #switchKeyword01_01Area h3 { width:1000px; margin:0 auto; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area { background:url(/product/lineup/acq/images/switch_kw01_bg02_pc.jpg) center top no-repeat; margin-top:70px; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner { margin:0 auto; width:1000px; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner h4 { font-size:190%; font-weight:normal; line-height:1.6em; text-indent:0.5em; margin-left:530px; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner h4 span { font-size:90%; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner p { font-size:124%; line-height:1.9em; margin:15px 0 0 530px; letter-spacing:-0.06em; }

#contentsWrap #switchKeyword02Section { width:100%; margin:65px auto 0; }
#contentsWrap #switchKeyword02Section h3 { text-align:center; }
#contentsWrap #switchKeyword02Section #switchKeyword02Area { margin-top:43px; background:url(/product/lineup/acq/images/switch_kw02_bg01.jpg) center top no-repeat; }
#contentsWrap #switchKeyword02Section #switchKeyword02Area p { text-align:center; }

#contentsWrap #switchKeyword03Section { width:100%; margin:60px auto 0; }
#contentsWrap #switchKeyword03Section #switchKeyword03Area h3 { width:1000px; margin:0 auto; }
#contentsWrap #switchKeyword03Section ul { width:100%; max-width:1200px; margin:75px auto 0; font-size:0; }
#contentsWrap #switchKeyword03Section ul li { display:inline-block; width:31%; margin-left:3.5%; font-size:14px; }
#contentsWrap #switchKeyword03Section ul li:first-child { margin-left:0; }
#contentsWrap #switchKeyword03Section ul li img { width:100%; }
