@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* トップページ */
#contentsWrap #topTitleSection { background:url(/product/lineup/acq/images/top_bg01_sp.jpg) center top no-repeat; background-size:100% auto; }
#contentsWrap #topTitleSection #topTitleArea { width:100%; padding-bottom:30.8%; }
#contentsWrap #topTitleSection #topTitleArea h2 { width:31.25%; position:absolute; right:0; top:0; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleImg01 { width:19.5%; position:absolute; left:1.6%; top:5%; margin-top:0; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleLogo { width:12%; margin:0 auto; padding-top:3%; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleImg02 { text-align:center; margin-top:25.1%; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleBtn { width:58%; margin-top:3%; }
#contentsWrap #topTitleSection p#topTitleBgImg { display:none; }

#contentsWrap #topStyleSection { background:url(/product/lineup/acq/images/top_bg02_sp.jpg) center top no-repeat; background-size:100% auto; margin-top:4.4%; }
#contentsWrap #topStyleSection #topStyleArea { padding:23% 0 21.5%; background:none; }
#contentsWrap #topStyleSection #topStyleArea p.btnDetail { width:48%; margin-top:3%; }
#contentsWrap #topStyleSection p#topStyleBgImg { display:none; }

#contentsWrap #topInterviewSection { background:url(/product/lineup/acq/images/top_bg03_sp.jpg) center top no-repeat; background-size:100% auto; margin-top:4.4%; }
#contentsWrap #topInterviewSection #topInterviewArea { padding:13% 0 7.4%; }
#contentsWrap #topInterviewSection #topInterviewArea p.btnDetail { width:48%; margin-top:3%; }
#contentsWrap #topInterviewSection p#topInterviewBgImg { display:none; }

#contentsWrap #topSpecSection { margin-top:4.5%; }
#contentsWrap #topSpecSection #topSpecArea { padding:0; }
#contentsWrap #topSpecSection ul { margin:4% auto 0; width:95%; }
#contentsWrap #topSpecSection ul li { margin-left:3%; width:48.5%; }
#contentsWrap #topSpecSection ul li:first-child { margin-left:0; }

}
