  <div id="inPageLinkSection">
    <ul>
      <li><a href="/product/lineup/acq/"><img src="/product/lineup/acq/common/images/common_lnavi01_txt01.gif" alt="ACQ Top"></a></li>
      <li><a href="/product/lineup/acq/switch.html"><img src="/product/lineup/acq/common/images/common_lnavi01_txt02.gif" alt="Happy Switch Story"></a></li>
      <li><a href="/product/lineup/acq/style.html"><img src="/product/lineup/acq/common/images/common_lnavi01_txt03.gif" alt="Press Style"></a></li>
      <li><a href="/product/lineup/acq/Interview.html"><img src="/product/lineup/acq/common/images/common_lnavi01_txt04.gif" alt="Special Interview"></a></li>
    </ul>
  </div>