/* -- foundation -- */
@import "foundation/global", "foundation/mixin";



/*----------------------------------------------------
    ☆grid
----------------------------------------------------*/

@mixin block__elem ( $column: 2, $margin: 10px, $stgW: 1000px ){
    /* マージン可変 (%) */
    $mgn: $margin * 1px;
    $w: $stgW * 1px;
    $clmnw: ( $w - $mgn * ( $column - 1 ) ) / $column;
    $fxw: ( $clmnw / $w ) * 100%;
    flex: 0 0 $fxw;
    max-width: $fxw;
    margin-top: $margin;
    &:nth-child(-n+#{$column}){
        margin-top: 0;
    }
}

@mixin block__elem--fix ( $column: 2, $margin: 10px ){
    /* マージン固定 */
    $fxw: calc( ( 100% - ( #{$margin} * ( #{$column} - 1 ) ) ) / #{$column} );
    flex: 0 0 100%;
    width: $fxw;
    max-width: $fxw;
    margin-left: $margin;
    margin-top: $margin;
    &:nth-child(-n+#{$column}){
        margin-top: 0;
    }
    &:nth-child(#{$column}n+1){
        margin-left: 0;
    }
}

@mixin block__elem--width ( $fxw ){
    /* px % どちらでも可 */
    flex: 0 0 $fxw;
    max-width: $fxw;
}





/* --------------------------- */
/* media */

$VIDEO_ASPECT: ( 9 / 16 ) * 100%;

.c-media {
	position: relative;
	line-height: 0;

	&__image {
		/* -- img tags -- */
		width: 100%;
	}

	&--video {
		position: relative;
		line-height: 0;
		&:before {
			@include content-before( $VIDEO_ASPECT );
		}

		&__vid {
			/* -- video tags and Youtube iframe -- */
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}




.cd-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
	background-color: rgba(0,0,0,0.85);
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-modal.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s;
}
*, *::after, *::before {
    box-sizing: border-box;
}

.cd-transition-layer {
	z-index: 998;
}
.modal-content {
	position: absolute;
    height: auto;
    &:before {
        @include content-before(56.25%);
    }
	color: #000 !important;
	padding: 0 !important;
	left: 0;
	right: 0;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	overflow-y: visible !important;

}
.cd-modal .clo {
    position: absolute;
    height: 54px;
    width: 54px;
    right: -26px;
    top: 0;
    background: url('/assets/images/common/btn_modal_clo.png') left top no-repeat !important;
    text-indent: -9999px;
}
.cd-modal .clo_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: transparent !important;
}
#yt_player_modal {
	border: 1px solid #fff;
	background-color: #000;
    box-sizing: border-box;
	position: absolute;
    top: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	.cd-modal .clo {
		height: 27px;
   		width: 27px;
   		right: 0;
   		top: -36px;
   		background-size: 100% !important;
	}
}



.cd-modal {

	.carousel {
	    width: 100%;
	    height: 100%;
		max-width: 1013px;
	    max-height: 676px;
	    &:before {
			padding-top: ( 676 / 900 ) * 100%;
	    }

	    .carousel-inner {
	    	position: absolute;
			width: ( 900 / 1013 ) * 100%;
			height: ( 601 / 676 ) * 100%;
			left: 0;
			right: 0;
			margin: auto;
			top: 0;
	    }
	    .btn-sns-container {
	    	position: absolute;
			width: 136px;
	    	left: 0;
	    	right: 0;
	    	margin: auto;
	    	bottom: 0;
	    	li {
	    		float: left;
	    	}
	    	li + li {
	    		margin-left: 30px;
	    	}
	    }
	    

	    .slick-list, .slick-track, .slick-slide {
	    	height: 100%;
	    }
	    img {
	    	width: 100%;
	    }
		
		.slick-arrow {
			width: 23px;
			height: 40px;
		}

		.slick-prev {
			left: -( 34 / 900 ) * 100%;
		}
		.slick-next {
			right: -( 57 / 900 ) * 100%;
		}
	    .slick-prev:before{
			@include arrow-exlarge(#fff, 225deg);
			
	    }
	    .slick-next:before{
			@include arrow-exlarge(#fff, 45deg);
	    }
	}

	@media only screen and (max-width: 768px) {
		.carousel {
		    width: ( 580 / 640 ) * 100%;
		    height: auto;
			max-width: 100%;
		    max-height: 100%;
		    &:before {
				padding-top: ( 470 / 580 ) * 100%;
		    }

		    @media screen and (orientation: landscape) {
				width: 55%;
		    }

		    .carousel-inner {
				height: ( 387 / 470 ) * 100%;
		    }

		    .btn-sns-container {
				width: 67px;
		    	li {
		    		width: 26px;
		    	}
		    	li + li {
		    		margin-left: 15px;
		    	}
		    }
		    .slick-prev {
				left: 5px;
			    top: auto;
			    bottom: -22%;
			    transform: scale(0.5);
			}
			.slick-next {
				right: -5px;
			    top: auto;
			    bottom: -22%;
			    transform: scale(0.5);
			}
		}
	}
}