  <footer class="footer">
    <aside class="footer-content">
      <div class="four-column flex">
        <div class="column-block footer-msg">
          <p class="column-inner">食卓に新たな価値を提案するブランド。<br>
〜五感に響きわたる、おいしさと上質感を。〜</p>
        </div>

        <script src="/assets/js/instafeed.min.js"></script>
        <div class="column-block footer-instagram">
          <div class="column-inner">
            
            <p class="footer-sns-title">公式SNSアカウント</p>

            <div class="block-instagram">
              <p class="logo-instagram"><img class="pc" src="/assets/images/common/logo-instagram.png" alt="Instagram"><img class="sp" src="/assets/images/common/logo-instagram-sp.png" alt="Instagram"></p>
              
              <ul class="instagram-thumb-list" id="insta_list">
               
              </ul>
            </div>
          </div>
        </div>

        <div class="column-block footer-facebook">
          <div class="column-inner">
            

            <!-- Facebook -->
            <div class="block-facebook">
              <div class="fb-page" data-href="https://www.facebook.com/g.x.tiger/?fref=ts" data-tabs="timeline" data-width="' + w + '" data-height="' + h + '" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/g.x.tiger/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/g.x.tiger/?fref=ts">GRAND X（グランエックス）</a></blockquote></div>
              
            </div>
            <a class="btn-facebook" href="https://www.facebook.com/g.x.tiger/?fref=ts" target="_blank" onclick="ga('send','event','top','click','フッター＞フェイスブック');"><img class="pc" src="/assets/images/common/btn-facebook.png" alt="Facebook"><img class="sp" src="/assets/images/common/btn-facebook-sp.png" alt="Facebook"></a>
          </div>
        </div>

        <div class="column-block footer-link">
          <ul class="column-inner">
            <li class="footer-link-kenko"><a href="https://oishi-kenko.com/" target="_blank" onclick="ga('send','event','top','click','フッター＞おいしい健康ロゴ');"><img class="pc" src="/assets/images/common/footer-link-kenko.png" alt="おいしい健康"><img class="sp" src="/assets/images/common/footer-link-kenko-sp.png" alt="おいしい健康"></a></li>
            <li class="footer-link-kihon"><a href="https://kurashi-no-kihon.com/" target="_blank" onclick="ga('send','event','top','click','フッター＞くらしのきほんロゴ');"><img class="pc" src="/assets/images/common/footer-link-kihon.png" alt="くらしのきほん"><img class="sp" src="/assets/images/common/footer-link-kihon-sp.png" alt="くらしのきほん"></a></li>
            <li class="footer-link-balloon"><a href="https://balloonfrom.com/" target="_blank" onclick="ga('send','event','top','click','フッター＞BALLONロゴ');"><img class="pc" src="/assets/images/common/footer-link-balloon.png" alt="Balloon"><img class="sp" src="/assets/images/common/footer-link-balloon-sp.png" alt="Balloon"></a></li>
          </ul>
        </div>
      </div>

      <div class="footer-link-tiger"><a href="https://www.tiger.jp/" target="_blank" onclick="ga('send','event','top','click','フッター＞タイガーロゴ');"><img class="pc" src="/assets/images/common/footer-link-tiger.png" alt="TIGER"><img class="sp" src="/assets/images/common/footer-link-tiger-sp.png" alt="TIGER"></a></div>
    </aside>

    <a class="btn-backtop" href="#"><img class="pc" src="/assets/images/common/btn-backtop.png" alt="Balloon"><img class="sp" src="/assets/images/common/btn-backtop-sp.png" alt="Balloon"></a>

    <p class="copyright">Copyright &copy; Tiger Corporation., All Rights Reserved.</p>

  </footer><!-- // end of footer -->