/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.category-index {
	.h2-contents-title {
		font-size: 35px;
		font-size: 3.5rem;
		margin-bottom: 60px;
		letter-spacing: 0;
		@include font-ica;
		&:first-letter {
			font-size: 35px;
			font-size: 3.5rem;
		}
	}
	.contents-section {
		.two-column {
			@include column( 575, 1200 );
			li {
				position: relative;
				border: 1px solid #8b989e;
				box-sizing: border-box;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				overflow: hidden;
				line-height: 0;
				margin-top: 30px;
				&:nth-child(-n+2){
					margin-top: 0;
				}
				&:nth-child(2n+1){
					margin-left: 0;
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
					.bg {
						transform: scale(1);
						transition: all 0.6s ease;
					}
					.lineup-icon {
						position: absolute;
						right: 10px;
						bottom: 10px;
						width: auto;
					}
					.label {
						@include ab-center;
						width: 262px;
						height: 74px;
						background-color: rgba(139,152,158,0.7);
						line-height: 1.2em;
						text-align: center;
						padding: 0 10px;
						box-sizing: border-box;
						
						&.vertical {
							width: auto;
							height: 208px;
							padding: 0;
							left: auto;
							bottom: auto;
							top: 16px;
							right: 16px;
							display: block;
						}
						&.bottom {
							width: 100%;
							top: auto;
							height: auto;
							padding: 13px 15px;
							text-align: left;
							@include size20;
							line-height: 1.1;
							span {
								@include size14;
							}
						}
						&.left {
							width: ( 274 / 573 ) * 100%;
							min-height: 140px;
							top: 0;
							bottom: 0;
							right: auto;
							margin: auto;
							left: ( 19 / 573 ) * 100%;
							text-align: center !important;
						}
						&.right {
							width: ( 274 / 573 ) * 100%;
							min-height: 140px;
							top: 0;
							bottom: 0;
							left: auto;
							margin: auto;
							right: ( 19 / 573 ) * 100%;
							text-align: center !important;
						}

						.ab-center {
							position: absolute;
							left: 0;
							right: 0;
							margin: auto;
							top: 50%;
							transform: translateY(-50%);
							padding: 10px;
						}
						.num {
							@include size20;
							line-height: 1.4em;
								
							display: inline-block;
							.nt {
								@include size30;
								font-style: italic;
							}
							.txt-min {
								@include size15;
							}
						}
						&.orange {
							min-width: ( 370 / 573 ) * 100%;
							min-height: 111px;
							background-color: rgba(245,152,24,0.8);
							line-height: 1.3;
							@include font-ica;
							overflow: hidden;
						}
						.inner {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateY(-50%) translateX(-50%);
							white-space: nowrap;
						}
						p {
							color: #fff !important;
						}
						.item-name {
							@include size22;
							letter-spacing: -0.05em;
						}
						.item-name-large {
							@include size28;
						}
						.item-name-middle {
							@include size24;
						}
						.item-name-min {
							@include size16;
						}
						.item-name-vertical {
							@include size19;
							-webkit-writing-mode: vertical-rl;
							-ms-writing-mode: tb-rl;
							writing-mode: vertical-rl;
							
							height: 100%;
							text-align: left;
							padding: 20px 18px 5px 18px;
							line-height: 1.6em;
							box-sizing: border-box;
						}
						.sub-copy {
							position: relative;
							display: inline-block;
							@include size14;
							line-height: 1.2;
							margin-bottom: 8px;
							&:before, &:after {
								content: "";
								position: absolute;
								width: 30px;
								height: 1px;
								background-color: #fff;
								top: 0;
								bottom: 0;
								margin: auto;
							}
							&:before { left: -37px; }
							&:after { right: -37px; }
						}
						.icon {
							width: auto;
							margin-bottom: 20px;
						}
					}
					&:hover {
						opacity: 1;
						.bg {
							transform: scale(1.1);
						}
					}
				}

				&.active {
					a {
						.bg {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	&.child {
		.contents-section {
			.two-column {
				.label {
					width: 400px;
					height: 85px;
					.item-name {
						@include size20;
						margin-bottom: 5px;
					}
					.item-id {
						@include size13;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		padding-top: 30px;

		.h2-contents-title {
			@include size22;
			margin-bottom: 20px;
			&:first-letter {
				@include size22;
			}
		}

		.contents-section {
			margin-bottom: 68px;
			.two-column {
				overflow: visible;
				li {
					float: none;
					margin-left: -( 30 / 580 ) * 100% !important;
					width: ( 640 / 580 ) * 100%;
					margin-left: 0;
					border: none;
					border-radius: 0;
					-webkit-border-radius: 0;
					a {
						.label {
							transform: scale(0.5);

							&.vertical {
								width: 79px;
								height: 85%;
								top: 8px;
								right: 8px;
								transform: scale(1);
								overflow: hidden;
								
								p {
									@include size10;
									padding: 10px 0;
								    position: absolute;
								    left: 0;
								    top: 0;
								    left: 50%;
								    transform: translateX(-50%);
								}
							}
							&.left {
								width: ( 290 / 640 ) * 100%;
								height: 55px;
								min-height: 70px;
								left: ( 40 / 640 ) * 100%;
								transform: scale(1);
								@include size10;
							}
							&.right {
								width: ( 290 / 640 ) * 100%;
								height: 55px;
								min-height: 70px;
								right: ( 40 / 640 ) * 100%;
								transform: scale(1);
								@include size10;
							}

							.ab-center {
								position: absolute;
								left: 0;
								right: 0;
								margin: auto;
								top: 50%;
								transform: translateY(-50%);
								padding: 10px;
							}
							.num {
								@include size10;
								.nt {
									@include size12;
								}
							}
							.txt-min {
								font-size: 10px !important;
								font-size: 1.0rem !important;
							}
							&.bottom {
								transform: scale(1);
								@include size12;
								padding: 7px 14px;
								span {
									@include size9;
								}
							}
							&.orange {
								width: ( 300 / 640 ) * 100%;
								min-height: 55px;
								height: 55px;
								transform: scale(1);
							}
							.item-name-large {
								@include size14;
							}
							.item-name-middle {
								@include size12;
							}
							.item-name-min {
								@include size10;
							}
						}
						.lineup-icon {
							transform: scale(0.56) translateX(46%) translateY(46%);
						}
					}
				}
				li + li {
					margin-left: 0;
					margin-top: 20px !important;
				}
				&:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}

		&.child {
			.h2-contents-title {
				@include size18;
				&:first-letter {
					@include size18;
				}
			}
			.contents-section {
				.two-column {
					li {
						.label {
							transform: scale(0.65);
						}
					}
				}
			}
		}
	}
}