.coming {
	min-height: 500px;
}
.coming-inner {
	position: absolute;
	width: 199px;
	left: 0;
	right: 0;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	.coming-en {
		margin-bottom: 10px;
	}
	.txt {
		@include size15;
		text-align: center;
	}
}