/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */



.p-h2-covertitle {
	display: block;
    position: absolute;
    right: 0;
    top: -500px;
    color: #fff;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: "教科書ICA M","Kyoukasho ICA Medium";
    -moz-text-shadow: 0px 0px 6px #000000;
    -webkit-text-shadow: 0px 0px 6px #000000;
    text-shadow: 0px 0px 6px #000000;
	white-space: nowrap;

    &__sub-cpoy {
    	font-size: 19px;
		font-size: 1.9rem;
		display: block;
		margin-top: 45px;

		&--hmv2 {
			@include size26;
			display: block;
			margin-top: 0;
		}
    }

    &__copy-id {
    	font-size: 35px;
		font-size: 3.5rem;
    }

    &__main-copy {
    	font-size: 140px;
		font-size: 14.0rem;
		line-height: 1.2em;
    }
    &__main-copy-mid {
    	font-size: 120px;
		font-size: 12.0rem;
		line-height: 1.2em;
    }

    @media only screen and (max-width: 768px) {
		top: -460px;
		white-space: nowrap;

		&__sub-cpoy {
			@include size13;
			margin-top: 30px;

			&--hmv2 {
				@include size13;
			}
		}
		&__copy-id {
	    	@include size22;
	    }
		&__main-copy {
			font-size: 90px;
			font-size: 9.0rem;
		}
		&__main-copy-mid {
			font-size: 80px;
			font-size: 8.0rem;
		}
    }
}

.p-h2cache {
	position: absolute;
    display: inline-block;
    color: #fff;
    background-color: rgba(125, 125, 125, 0.5);
    padding: 20px;
    font-size: 36px;
    font-size: 3.6rem;
    top: -215px;
    font-family: "教科書ICA M","Kyoukasho ICA Medium";
    line-height: 1.4;

    &--hmv1 {
		top: -343px;
		font-size: 19px;
		font-size: 1.9rem;
		&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
	    	}
    	}
    }
    &--hmv2 {
    	font-size: 31px;
		font-size: 3.1rem;
    	top: -63px !important;
    	&__name {
    		font-size: 20px !important;
			font-size: 2.0rem !important;
			span {
				@include size16;
	    	}
    	}
    }
    &--hmv3, &--hmv7 {
    	@include size19;
    	top: -504px !important;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
	    	}
    	}
    }
    &--hmv4 {
    	@include size19;
    	top: -504px !important;
    	right: 0;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
	    	}
    	}
    }

    &--hmv8 {
    	@include size19;
		top: -428px !important;
		&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
	    	}
    	}
    }


    &--hmv11 {
		@include size19;
		top: -504px !important;
		right: 0;
		&__name {
			font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
			}
		}
	}
	&--hmv12 {
		@include size19;
		top: -428px !important;
		&__name {
			font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
			}
		}
	}
	&--hmv13 {
		@include size19;
		top: -450px !important;
		right: 0;
		&__name {
			font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
			}
		}
	}

    &--rightBottom {
    	@include size19;
    	top: -152px !important;
    	right: 0;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
	    	}
    	}
    }

    &--hmv17 {
    	@include size19;
    	top: -152px !important;
    	right: 0;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span {
				@include size25;
	    	}
    	}
    }

    @media only screen and (max-width: 768px) {

    	
		padding: 14px 15px;
		top: -40px;
		
		&--hmv1 {
			padding: 16px 11px;
	    	@include txt_vertical;
    		@include size12;
			top: -394px !important;
			left: 0;
			right: auto;
			&__name {
	    		@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
		    	}
	    	}
	    }

		&--hmv2 {
	    	@include size19;
	    	top: -40px !important;
	    	right: 0;
	    	&__name {
	    		@include size12;
				span {
					@include size10;
		    	}
	    	}
	    }
	    &--hmv3 {
	    	@include txt_vertical;
    		@include size12;
	    	top: -454px !important;
			left: -30px;
	    	right: auto;
	    	&__name {
	    		@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
		    	}
	    	}
	    }
	    &--hmv4 {
	    	@include txt_vertical;
    		@include size12;
	    	top: -454px !important;
			left: -30px;
	    	right: auto;
	    	&__name {
	    		@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
		    	}
	    	}
	    }
	    &--topRight {
			@include txt_vertical;
    		@include size12;
	    	top: -454px !important;
			right: auto;
	    	&__name {
	    		@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
		    	}
	    	}
	    }
	    &--rightBottom,
	    &--hmv7 {
	    	padding: 16px 11px;
	    	@include txt_vertical;
    		@include size12;
	    	top: -454px !important;
	    	right: auto;
	    	&__name {
	    		@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
		    	}
	    	}
	    }

	    &--hmv8 {
	    	padding: 16px 11px;
	    	@include txt_vertical;
    		@include size12;
			top: -428px !important;
			left: 0;
			right: auto;
			&__name {
	    		@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
		    	}
	    	}
	    }

	    &--hmv11 {
			padding: 16px 11px;
			@include txt_vertical;
    		@include size12;
			top: -428px !important;
			left: 0;
			right: auto;
			&__name {
				@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
				}
			}
		}

		&--hmv12 {
			padding: 16px 11px;
			@include txt_vertical;
    		@include size12;
			top: -454px !important;
			left: 0;
			right: auto;
			&__name {
				@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
				}
			}
		}

		&--hmv13, &--hmv17 {
			padding: 16px 11px;
			@include txt_vertical;
    		@include size12;
			top: -300px !important;
			right: auto;
			&__name {
				@include size22;
				margin-left: 0;
				margin-top: 1em;
				span {
					@include size15;
				}
			}
	    }
	}


	&--topRight {

		@include size19;
    	top: -504px;
    	right: 0;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span { @include size25; }
    	}

		&-sp {
			@media only screen and (max-width: 768px) {
				padding: 16px 11px;
		    	@include txt_vertical;
	    		font-size: 12px !important;
				font-size: 1.2rem !important;
		    	top: -454px !important;
		    	left: auto !important;
		    	right: auto !important;
		    	&__name {
		    		@include size22;
					margin-left: 0;
					margin-top: 1em;
					span { @include size15; }
		    	}
		    }
		}
	}

	&--topLeft {

		@include size19;
    	top: -504px;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span { @include size25; }
    	}

		&-sp {
			@media only screen and (max-width: 768px) {
				@include txt_vertical;
	    		font-size: 12px !important;
				font-size: 1.2rem !important;
		    	top: -454px !important;
				left: -4.6875% !important;
		    	right: auto !important;
		    	&__name {
		    		@include size22;
					margin-left: 0;
					margin-top: 1em;
					span { @include size15; }
		    	}
		    }
		}
	}

	&--bottomRight {

		@include size19;
    	top: -152px;
    	right: 0;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span { @include size25; }
    	}

		&-sp {
			@media only screen and (max-width: 768px) {
				padding: 16px 11px;
				@include txt_vertical;
	    		font-size: 12px !important;
				font-size: 1.2rem !important;
				top: -300px !important;
				left: auto !important;
		    	right: auto !important;
				&__name {
					@include size22;
					margin-left: 0;
					margin-top: 1em;
					span { @include size15; }
				}
			}
		}
	}

	&--bottomLeft {

		@include size19;
    	top: -152px;
    	&__name {
    		font-size: 34px;
			font-size: 3.4rem;
			margin-left: 1em;
			span { @include size25; }
    	}

		&-sp {
			@media only screen and (max-width: 768px) {
				@include txt_vertical;
	    		font-size: 12px !important;
				font-size: 1.2rem !important;
		    	top: -300px !important;
				left: -4.6875% !important;
		    	right: auto !important;
				&__name {
					@include size22;
					margin-left: 0;
					margin-top: 1em;
					span { @include size15; }
				}
			}
		}
	}
}


.hmv14img2 {
	margin-top: 50px; }
.hmv14img3 {
	margin-top: 40px; }



.p-hmVol-num {
	position: absolute;
	color: #8b989e;
	font-size: 80px;
	font-size: 8.0rem;
	font-style: italic;
	line-height: 1.2em !important;
	top: 70px;
	@include font-ica;
	&:before {
		content: "#";
		font-size: 48px;
		font-size: 4.8rem;
	}
	@media only screen and (max-width: 768px) {
		position: relative;
		font-size: 43px !important;
		font-size: 4.3rem !important;
		top: auto;
		&:before {
			font-size: 25px !important;
			font-size: 2.5rem !important;
		}
	}
}

//あの人トップ10月25日新デザイン
//設定&mixin
$tabletPortrate: 768;
$human-color1: #1d8aa8;
$human-color2: #8b989e;
@mixin humanFontSize($size, $spRatio: 0.65) {
	$remSize: $size / 10;
	font-size: #{$size}px;
	font-size: #{$remSize}rem;
	@media only screen and (max-width: #{$tabletPortrate}px) {
		$sizeSp: $size * $spRatio;
		$remSizeSp: $remSize * $spRatio;
		font-size: #{$sizeSp}px;
		font-size: #{$remSizeSp}rem;
	}
}
//共通書き出し
.human-index, .human-50on {
	//_movie.scssより流用
	.selecter {
		display: table;
		margin: 0 auto;
		margin-bottom: 40px;
		.btn-category {
			display: inline-block;
			position: relative;
			width: 347px;
			height: 50px;
			line-height: 46px;
			color: #fff;
			background-color: #c5cbce;
			@include border-radius(5px);
			@include size24;
			@include font-ica;
			text-align: center;
			&:hover, &.current {
				background-color: #1d8aa8;
				text-decoration: none;
			}
			&.off {
				pointer-events: none;
			}
		}
		.btn-category + .btn-category {
			margin-left: 10px;
		}
	}
	section {
		div {
			> div:last-child {
				margin-bottom: 50px;
			}
			h3 {
				margin-bottom: 30px;
				padding-bottom: 5px;
				color: $human-color1;
				border-bottom: 1px solid $human-color1;
				@include humanFontSize(22, 0.682);
				@include font-ica;
			}
			div {
				overflow: hidden;
				.left-box {
					float: left;
					width: 330px;
					margin-right: 30px;
					margin-bottom: 0;
				}
				.right-box {
					margin-bottom: 0;
					h4 {
						margin-bottom: 20px;
						@include humanFontSize(24, 0.792);
						@include font-ica;
						font-weight: normal;
						small {
							font-size: 62.5%;
						}
					}
					h5 {
						margin-bottom: 10px;
						color: $human-color2;
						@include humanFontSize(13, 0.77);
						@include font-ica;
						font-weight: normal;
					}
					ul {
						li {
							margin-bottom: 10px;
							text-indent: -49px;
							padding-left: 49px;
							color: $human-color2;
							@include humanFontSize(15, 0.8);
							@include font-ica;
							a {
								margin-left: 10px;
								@include humanFontSize(18, 0.778);
								&:link {
									text-decoration: underline;
								}
								&:hover {
									text-decoration: none;
								}
							}
							&.new:after {
								content: "【NEW】";
								color: #ff7200;
							}
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: #{$tabletPortrate}px) {
		.selecter {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			.btn-category {
				width: ( 285 / 580) * 100%;
				height: 30px;
				line-height: 30px;
				@include size12;
			}
			.btn-category + .btn-category {
				margin-left: 0;
			}
		}
		.select-box-inner {
			position: relative;
			width: 100%;
			height: 30px;
			line-height: 30px;
			color: #fff;
			@include font-ica;
			@include size10;
			border: 0;
			padding: 0 10px;
			box-sizing: border-box;
			@include border-radius(5px);
			margin-bottom: 15px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: #1d8aa8 url('/assets/images/common/selectbox-arrow.png') right center no-repeat;
			background-position: 98% 50%;
			background-size: 10px;
		}
		section {
			&.contents-section {
				margin-bottom: 0;
			}
			div {
				h3 {
					margin-bottom: 20px;
				}
				> div:last-child {
					margin-bottom: 26px;
				}
				div {
					.left-box {
						float: none;
						width: 100%;
						margin-right: 0;
						margin-bottom: 20px;
					}
					.right-box {
						margin-bottom: 0;
						h5 {
							margin-bottom: 5px;
						}
						ul {
							li {
								margin-bottom: 8px;
								text-indent: -41px;
								padding-left: 41px;
								line-height: 1.94em;
							}
						}
					}
				}
			}
		}
	}
}
//トップページ
.human-index {
	section {
		div {
			margin-bottom: 30px;
			&:last-of-type, > div:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media only screen and (max-width: #{$tabletPortrate}px) {
		section {
			div {
				margin-bottom: 26px;
				h3 {
					margin-bottom: 20px;
				}
				&:last-of-type, > div:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
//トップページ（50音順）
$header-top-height: 115px;
$header-top-height-sp: 60px;
.human-50on {
	#a, #sa, #na, #ha, #wa {
		margin-top: -($header-top-height);
		padding-top: $header-top-height;
	}
	section {
		#page-navi {
			margin-bottom: 28px;
			text-align: center;
			@include size18;
			@include font-ica;
			a {
				color: $human-color1;
			}
		}
		div {
			margin-bottom: 30px;
			&[id] {
				clear: both;
			}
			&#wa {
				margin-bottom: 0;
				div {
					margin-bottom: 0;
				}
			}
			div {
				overflow: hidden;
			}
		}
	}
	@media only screen and (max-width: #{$tabletPortrate}px) {
		#a, #sa, #na, #ha, #wa {
			margin-top: -($header-top-height-sp);
			padding-top: $header-top-height-sp;
		}
		section {
			#page-navi {
				margin-bottom: 29px;
			}
			div {
				margin-bottom: 26px;
				h3 {
					margin-bottom: 20px;
				}
				&#wa div .left-box {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.p-hm-txtblock {
	@extend .txtblock;
}
.p-hm-txtblock + .p-hm-txtblock {
	margin-top: 80px;

	&--mt1 {
		margin-top: 30px;
	}
	@media only screen and (max-width: 768px) {
		margin-top: 25px;
	}
}

.p-hm-thumb {
	&--large {
		width: ( 676 / 476 ) * 100%;
		
		&-left {
			margin-left: -( 200 / 476 ) * 100%;
		}
		&-right {
			margin-right: -( 200 / 476 ) * 100%;
		}
	}

	&--posDown {
		margin-top: 85px;
	}
	&--posUp {
		margin-top: -213px;
	}

	@media only screen and (max-width: 768px) {
		&--large {
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
		}
		&--posDown {
			margin-top: 0;
		}
		&--posUp {
			margin-top: 0;
		}
	}
}

.p-hm-txt-vCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	@media only screen and (max-width: 768px) {
		position: relative;
		top: 0;
		transform: none;
	}
}

.p-hm-h3 {
	$this: &;
	@include size24;
	@include font-ica;

	& + p {
		margin-top: 30px;
	}

	&--num {
		@extend #{$this};
		position: relative;
		padding-left: 2rem;
		&:before {
			position: absolute;
			content: attr(data-num)"";
			left: 0;
			font-weight: normal;
		}
	}

	&--cache {
		@include size30;
		margin-top: -0.4em;
		span {
			@include size16;
		}

		& + p {
			margin-top: 20px;
		}
	}
	@media only screen and (max-width: 768px) {
		&--cache {
			@include size20;
			span {
				@include size10;
			}
		}
	}
}

.p-hm-h3-2 {
	margin: 0 auto;
	color: #8b989e;
	@include size24;
	@media only screen and (max-width: 768px) {
		@include size16;
	}
}

.c-figcap--p1 + p {
	margin-top: 30px;
}


.p-hm-p {
	$this: &;
	line-height: 2em;

	& + #{$this} {
		margin-top: 30px;
	}

	@media only screen and (max-width: 768px) {
		$this: &;
		@include size13;
		& + #{$this} {
			margin-top: 15px;
		}
	}
}

.p-hm-comment {
	position: relative;
	color: #8b989e;
	line-height: 2em;
	margin-top: 45px;
	padding: 0 10px;
	@include font-ica;
	&:before {
		content: "「";
		position: absolute;
		left: -7px;
		top: -5px;
	}
	&:after {
		content: "」";
		position: absolute;
		right: -7px;
		bottom: -5px;
	}
	span {
		display: table;
		margin: 0 auto;
	}

	& + p {
		margin-top: 45px;
	}

	@media only screen and (max-width: 768px) {
		margin-top: 15px;
		& + p {
			margin-top: 15px;
		}
	}
}

.p-hm-rcpTitle {
	text-align: center;
	@include size24;
	@include font-ica;
	margin-bottom: 30px;
}

.p-grid--rcp {
	@include grid--per(447, 454);
	
	&__grd1 {
		padding-right: 78px;
		box-sizing: border-box;
	}

	.zairyo-txt {
		margin-bottom: 0;
	}
}

.c-dl-table {
	@include grid--dt-table( 184, 184 );
	.lbl {
		display: block;
		width: 100%;
		margin-bottom: 1.6em;
	}
	dt, dd {
		line-height: 1.8em;
	}
	dd {
		text-align: right;
		white-space: nowrap;
	}


		dt { width: 40%; }
		dd { width: 60%; }

}

.p-rcp-vol2__photo {
	margin-top: 20px;
}

.p-process {
	list-style-type: decimal;
	margin-left: 1.3em;
	li {
		padding-left: 30px;
		margin-bottom: 2.2em;
	}

	& + .p-notice {
		padding-left: 65px;
	}
}
.p-notice {
	@include size14;
	line-height: 1.4em !important;
	padding-left: 1em;
	&:before {
		content: "※";
		margin-left: -1em;
	}
	&--pd {
		padding-left: 65px;
	}
}

.gray-block--hmv2 {
	padding: 30px 30px 50px 30px;
}


.p-hm-padding {
	&--h3 {
		padding-top: 6.5rem;
	}
	@media only screen and (max-width: 768px) {
		&--h3 {
			padding-top: 15px;
		}
	}
}

.p-pager {
	
	position: relative;
	width: 100%;
	@include flex;
	margin-top: 80px;
	margin-bottom: 90px;

	.is-disable {
		opacity: 0.3;
		pointer-events: none;
	}

	&--center {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	&__elem {
		$this: &;
		position: relative;
		/*-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;*/
		min-width: 1px;
		max-width: 100%;

		& + #{$this} {
			margin-left: 54px;
		}
	}

	&__txt {
		color: #434343;
		@include size12;
	}

	&__btn {
		display: block;
		position: relative;
		width: 54px;
		height: 54px;
		background-color: #8b989e;
		@include border-radius( 50% );
		margin: 0 auto;
		margin-bottom: 13px;

		&:hover {
			opacity: 0.8;
		}

		&--back {
			&:after {
				@include c-arrow( 16px, 16px, 2px, #FFF, 225deg );
				left: 0;
				right: 0;
				transform: rotate(225deg) translateX(-10%);
			}
		}
		&--next {
			&:after {
				@include c-arrow( 16px, 16px, 2px, #FFF, 45deg );
				left: 0;
				right: 0;
				transform: rotate(45deg) translateX(-10%);
			}
		}
	}

	@media only screen and (max-width: 768px) {
		margin-bottom: 45px;

		&__elem {
			$this: &;
			& + #{$this} {
				margin-left: 67px;
			}
		}

		&__btn {
			width: 38px;
			height: 38px;
			margin-bottom: 9px;

			&--back {
				&:after {
					@include c-arrow( 12px, 12px, 2px, #FFF, 225deg );
					left: 0;
					right: 0;
					transform: rotate(225deg) translateX(-10%);
				}
			}
			&--next {
				&:after {
					@include c-arrow( 12px, 12px, 2px, #FFF, 45deg );
					left: 0;
					right: 0;
					transform: rotate(45deg) translateX(-10%);
				}
			}
		}
	}
}



.human {
	.text-block01 {
		overflow: visible !important;
		&:after {
			display: block;
		    content: " ";
		    clear: both;
		}
	}
	.text-block01 + .text-block01 {
		margin-top: 50px !important;
	}

	.h2-cache {
		top: -343px !important;
		font-size: 19px !important;
		font-size: 1.9rem !important;
		span {
			font-size: 34px !important;
			font-size: 3.4rem !important;
			margin-left: 30px;
		}
	}
	.vol-num {
		position: absolute;
		color: #8b989e;
		font-size: 80px;
		font-size: 8.0rem;
		font-style: italic;
		line-height: 1.2em !important;
		top: 70px;
		@include font-ica;
		&:before {
			content: "#";
			font-size: 48px;
			font-size: 4.8rem;
		}
	}
	

	&.vol1 {
		.thumb1 {
			margin-top: 85px;
		}
		.thumb2 {
			margin-left: -200px;
		}
		.thumb3 {
			margin-top: -213px;
		}
	}

	@media only screen and (max-width: 768px) {

		.h2-cache {
			top: -( 788 / 2 ) * 1px !important;
			font-size: 12px !important;
			font-size: 1.2rem !important;
			span {
				font-size: 22px !important;
				font-size: 2.2rem !important;
				margin-left: 0;
				margin-top: 25px;
			}
		}
		.vol-num {
			position: relative;
			font-size: 43px !important;
			font-size: 4.3rem !important;
			top: auto;
			&:before {
				font-size: 25px !important;
				font-size: 2.5rem !important;
			}
		}
		.text-block01 + .text-block01 {
			margin-top: 0 !important;
		}
		.section3 {
			margin-top: 58px;
		}
		

		&.vol1 {
			.thumb1 {
				margin-top: 0;
			}
			.thumb2 {
				width: ( 640 / 580 ) * 100% !important;
				margin-left: -( 30 / 580 ) * 100%;
			}
			.thumb3 {
				margin-top: 15px;
			}
			.thumb4 {
				width: ( 640 / 580 ) * 100% !important;
				margin-left: -( 30 / 580 ) * 100%;
			}
		}
	}
}



.recipe-box-header {
	margin: 20px 0;
	@include size20;
	font-weight: 400;
}

@media only screen and (max-width: 768px) {
	.cover-human-vol1 {
		height: 470px;
	}
	.cover-human-vol1 + * {
		margin-top: 470px !important;
	}


	.cache-g {
		&--p1 {
			margin-top: 60px;
			margin-bottom: 16px;
		}
		&--p5 {
			margin-top: 60px;
			margin-bottom: 35px;
		}
	}
	.p-hm-h3 {
		@include size16;
	}
	.c-figcap--p1 + p,
	.p-hm-h3 + p {
		margin-top: 15px;
	}

	.p-hm-rcpTitle {
		@include size14;
		margin-bottom: 14px;
	}

	.recipe-box--hmv2 {
		padding: 20px 5.17241% 20px 5.17241%;
	}

	.p-grid--rcp {
		>div {
			float: none !important;
			width: 100% !important;
			padding: 0 2em;
		}
		
		&__grd1 {
			padding-right: 0;
			margin-bottom: 20px;
		}

		.zairyo-txt {
			margin-bottom: 0;
		}

		.c-media {
			margin-left: -2em;
			width: calc( 100% + 4em );
		}
	}

	.p-process {
		li {
			padding-left: 1em;
		}
	}

	.p-notice {
		font-size: 12px !important;
		font-size: 1.2rem !important;
		margin-left: -2em;
		width: calc( 100% + 4em );
	}

	.credit--hm {
		margin-top: 20px;
	}
	.credit--hm-vol5 {
		margin: 20px 0 45px 0;
		padding: 0 4.6875% 0 4.6875%;
	}

	.gray-block--hmv2 {
		padding: 16px 4.6875% 20px 4.6875%;
	}
	
	.human .text-block01 + .text-block01--hm2 {
		margin-top: 18px !important;
	}
	.human .text-block01--hm2 + .text-block01--hm2 {
		margin-top: 18px !important;
	}
	
	.recipe-box-header {
		margin: 12px 0;
		@include size16;
		text-align: center;
	}
}
