

/* --------------------------- */
/* Content */

.main-visual-container {
	position: relative;
	padding-top: 124px;
	margin-bottom: 35px;
	.main-visual {
		position: relative;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		line-height: 0;
		#main-carousel, #main-carousel-sp {
			width: 100%;
		}
		img {
			width: 100%;
		}
		.slide-list {
			display: none;
		}
		.slick-dots {
			white-space: nowrap;
		}
		.slick-dots li button {
			border: 1px solid #8b989e;
		}
	}
	.whats-new {
		position: absolute;
	}
}
.main-content {
	
	&.nopadding {
		padding: 0;
	}
	.detail {
		padding-top: 110px;
	}

	.content-inner {
		.message-container {
			width: 610px;
			margin: 0 auto;
			margin-bottom: 20px;
			
			.h2-title {
				cursor: pointer;
				margin-bottom: 0;

				h2 {
					color: #1d8aa8;
					@include font-ica;
					display: table;
					margin: 0 auto;
					line-height: 68px;
					letter-spacing: 0;
					@include size35;
					@include font-ica;
					padding-left: 80px;
					margin-bottom: 5px;
					background: url('/assets/images/top/msg-title-thumb.jpg') left top no-repeat;
				}
				p {
					color: #1d8aa8;
					@include font-ica;
					@include size16;
				}
				&:hover {
					opacity: 0.8;
				}
				&:first-letter {
					@include size35;
				}
			}
			.message-accordion {
				.accordion-inner {
					margin-top: 50px;
					@include size14;
					overflow: hidden;
					.message-text {
						line-height: 2em;
						color: #8b989e;
						margin-bottom: 45px;
					}
					.btn-read-more {
						position: relative;
						float: right;
						margin-bottom: 10px;
						padding-right: 16px;
						border-bottom: 1px solid #acb5b9;
						&:after {
							@include arrow(#1d8aa8);
							right: 2px;
						}
						&:hover {
							text-decoration: none;
						}
					}
				}
				.btn-message-toggl {
					cursor: pointer;
					height: 48px;
					padding-top: 21px;
					box-sizing: border-box;
					text-align: center;
					img {
						width: auto;
						transform: rotate(0deg);
						transition: all 0.3s 0.4s ease;
					}
					
				}
			}
			&.open {
				.message-accordion {
					.btn-message-toggl {
						img {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
		
		.section1 {
			margin-bottom: 50px;
		}
		.content-banner {
			max-width: 1140px;
			margin: 0 auto;
			margin-bottom: 70px;
			line-height: 0;
		}
	}
}

.main-visual-container + .main-content {
	padding-top: 0;
}



.category-nav-container {
	overflow: hidden;

	.h2-title {
		margin-bottom: 30px;
	}
	.category-nav {
		background-color: #edf6f8;
		padding: 25px 0;
		margin-bottom: 70px;
		.content-inner {
			width: ( 1070 / 1200 ) * 100%;
			margin: 0 auto;
			overflow: hidden;
			li {
				float: left;
				width: 20%;
				margin-top: 40px;
				text-align: center;
				a {
					@include size24;
					@include font-ica;
					@include h-color;
					.txt-en {
						@include size14;
						color: #8b989e;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			li:nth-child(-n+5) {
				margin-top: 0;
			}
		}
	}
}

.nav-products {
	.product-title {
		max-width: 130px;
		margin: 0 auto;
		margin-bottom: 43px;
	}
	.content-inner {
		display: table;
		width: ( 1080 / 1200 ) * 100%;
		max-width: 1080px;
		margin-bottom: 100px;
		li {
			position: relative;
			display: table-cell;
			width: 25%;
			vertical-align: top;
			text-align: center;
			a {
				img:hover {
					opacity: 1;
				}
				&:hover {
					text-decoration: none;
					opacity: 0.8;
				}
			}
			.thumb {
				display: table-cell;
				height: 188px;
				vertical-align: middle;
				line-height: 0;
			}
			.product-name {
				@include size14;
				font-weight: bold;
				margin-bottom: 15px;
			}
			&:after {
				content: "";
				position: absolute;
				width: 82px;
				height: 4px;
				background-color: #1d8aa8;
				left: 0;
				right: 0;
				margin: auto;
				bottom: 0;
				border-radius: 2px;
				-webkit-border-radius: 2px;
			}
		}
	}
}

/*-----------------------------------------------------------
News
-------------------------------------------------------------*/
#news {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	width: 100%;
	

	&:before {
		content: "";
		position: absolute;
		width: 50%;
		height: 100%;
		background: url('/assets/images/top/news-bg02.png') left top no-repeat;
		z-index: 1;
	}
	&:after {
		content: "";
		position: absolute;
		width: 50%;
		height: 100%;
		left: 50%;
		top: 0;
		background: url('/assets/images/top/news-bg02.png') right top no-repeat;
		z-index: 1;
	}
}
#news .news_inner {
	position: relative;
	z-index: 2;
	width: 100%;
    height: 42px;
    padding: 12px 57px 12px 70px;
    overflow: hidden;
    box-sizing: border-box;
}
#news .news_inner:after {
	clear: both;
	display: block;
	content: "";
}
#news h2#grandx_news {
	float: left;
	width: 75px;
	margin: 0;
}
#news h2 img {
	display: block;
	&.sp {
		display: none;
	}
}
#news p {
	position: absolute;
    bottom: 10px;
}
#newsContainer {
	float: left;
	position: relative;
	width: 550px;
	height: 1em;
	margin-left: 90px;
}
#newsContainer ul {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	@include size12;
}
#newsContainer ul li {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	white-space: nowrap;
	padding: 0;
	color: #fff;
	text-decoration: none;
	line-height: 19px;
	a { color: #fff; }
}
#newsContainer ul li .date {
	position: absolute;
	left: 0;
	top: 0;
}
#newsContainer ul li a {
	text-decoration: none;
}


@media only screen and (max-width: 768px) {
	/* --------------------------- */
	/* Content */
	.main-visual-container {
		padding-top: 60px;
		margin-bottom: 104px;
	}

	#news {
		bottom: -74px;
		width: 100%;
		background: none;
		border-bottom: 1px solid #dce0e2;
		&:before, &:after {
			content: none;
		}
		.news_inner {
			height: 74px;
			padding: 0;
		}
		h2#grandx_news {
			float: none;
			width: 100%;
			background-color: #8b989e;
			text-align: center;
			padding: 5px 0;
			img { width: 58px; margin: 0 auto; }
			.pc { display: none !important; }
			.sp { display: block !important; }
		}
		#newsContainer{
			width: 100%;
			height: 45px;
			padding: 14px 0;
			box-sizing: border-box;
			
			margin-left: 0;
			ul {
				li {
					color: #000;
					width: 100%;
					text-align: center;

					a {
						color: #000;
					}
				}
			}
		}
	}

	.main-content {
		.detail {
			padding-top: 18px;
		}

		&.top {
			padding: 0 0 40px 0;
			$TPW: ( 30 / 640 ) * 100%;

			.content-inner {
				.message-container {
					width: 100%;
					.h2-title {

						h2 {
							@include size22;
							line-height: 34px;
							background-size: auto 100%;
							padding-left: 40px;
							margin-bottom: 5px;
						}
						p {
							@include size10;
						}
						width: 100%;
						padding-right: 0;
						@include size22;
						&:first-letter {
							@include size22;
						}
					}
					.message-accordion {
						.accordion-inner {
							margin-top: 44px;
							padding: 0 $TPW;
							.message-text {
								margin-bottom: 25px;
							}
						}
					}
				}
				.thumb-container {
					.thumb-block {
						.thumb {
							margin-bottom: 5px !important;
						}
						.thumb-title {
							margin-bottom: 5px;
						}
						&.new:after {
							content: "";
							position: absolute;
							right: 10px;
						    top: 10px;
						    width: 40px;
						    height: 20px;
							background: url('/assets/images/top/icon-new-sp.png');
							background-size: 100%;
						}
						&.hover-animation {
							.thumb img {
								transform: scale(1);
								transition: all 0.6s ease;
							}
							
							&.active {
								.thumb img {
									transform: scale(1.1);
								}
							}
						}
					}
					.size-large {
						width: 100%;
						max-width: 100%;
						margin-left: 0;
						margin-bottom: 30px;
						.thumb {
							border-radius: 0;
							-webkit-border-radius: 0;
						}
						.thumb-title {
							padding: 0 $TPW;
							@include size20;
							.sub {
								@include size12;
							}
							&:after {
								right: $TPW;
							}
						}
						.thumb-text {
							padding: 0 $TPW;
							@include size12;
						}
					}
					.size-small {
						width: ( 275 / 640 ) * 100%;
						height: auto;
						min-height: 260px;
						margin-left: ( 30 / 640 ) * 100%;
						margin-bottom: 20px;
						.thumb {
							margin-bottom: 18px;
						}
						.thumb-title {
							@include size15;
							letter-spacing: -0.05em;
							margin-bottom: 5px;	
							.sub {
								@include size9;
							}
						}
						.thumb-text {
							@include size12;
						}
						&.new:after {
							right: 5px;
						    top: 5px;
						    width: 30px;
						    height: 15px;
						}
					}
					.size-medium {
						width: 100%;
						max-width: 100%;
						float: none;
						margin-left: 0;
						margin-top: 30px;
						.thumb {
							border: 0;
							border-radius: 0;
							-webkit-border-radius: 0;
							margin-bottom: 14px;
						}
						.thumb-title {
							padding: 0 $TPW;
							margin-bottom: 11px;
							@include size18;
							text-align: center;
							&:after {
								right: $TPW;
							}
						}
						.thumb-text {
							padding: 0 $TPW;
							@include size12;
						}
						&:first-child{
							margin-top: 0;
						}
					}
				}
				.section1 {
					margin-bottom: 12px;
				}
				.content-banner {
					width: ( 600 / 640 ) * 100%;
					margin-bottom: 35px;
				}
			}
		}
	}

	.category-nav-container {
		.h2-title {
			margin-bottom: 15px;
		}
		.category-nav {
			padding: 0;
			margin-bottom: 57px;
			.content-inner {
				width: 100%;
				overflow: hidden;
				li {
					float: left;
					width: 50%;
					padding: 15px 0;
					box-sizing: border-box;
					margin-top: 0;
					border-top: 1px solid #fff;
					a {
						@include size17;
						.txt-en {
							@include size9;
						}
					}
					&:nth-child(odd){
						padding-left: (20 / 640 ) * 100%;
					}
					&:nth-child(even){
						padding-right: (20 / 640 ) * 100%;
					}
				}
			}
		}
	}

	.nav-products {
		.product-title {
			width: 102px;
			margin-bottom: 48px;
		}
		.content-inner {
			display: block;
			width: auto;
			margin-bottom: 60px;
			li {
				display: block;
				float: none;
				width: 100%;
				overflow: hidden;
				.thumb {
					height: auto;
					display: table;
					margin: 0 auto;
					margin-bottom: 12px;
				}
				.product-name {
					@include size12;
				}
				&:after {
					width: 66px;
				}
			}
			li + li {
				margin-top: 42px;
			}
		}
	}
}