
.maintenance {
	position: relative;
	height: 100%;
	margin-bottom: 34px;
	overflow: visible;

	.inner {
		position: relative;
	    width: 100%;
	    text-align: center;
	    color: #8b989e !important;
	    padding: 36px 50px 0 50px;
	    box-sizing: border-box;
	    overflow: hidden;
	    margin-bottom: 50px;

		img { width: auto; }

		h1 {
			width: 124px;
			margin: 0 auto;
			margin-bottom: 60px;
		}
		h2 {
			@include font-ica;
			@include size28;
			margin-bottom: 25px;
			color: #8b989e !important;
		}
		h3 {
			@include font-ica;
			@include size20;
			margin-bottom: 15px;
			color: #8b989e !important;
		}
		h3 + p {
			@include font-ica;
			@include size16;
			margin-bottom: 15px;
			color: #8b989e !important;
		}
		.strong {
			@include font-ica;
			@include size18;
			margin-bottom: 60px;
			color: #8b989e !important;
		}
		.nav {
			@include size18;
			color: #8b989e !important;
			margin-bottom: 25px;
			span {
				@include size13;
			}
		}
		.nav-list {
			width: 700px;
			margin: 0 auto;
			li {
				float: left;
				text-align: left;
				@include size13;
				margin-top: 25px;
				&:nth-child(-n+2){
					margin-top: 0;
				}
				&:nth-child(odd){
					width: 463px;
				}
				&:nth-child(even){
					width: 237px;
				}
				a {
					color: #1d8aa8;
				}
			}
		}
	}


	@media only screen and (max-width: 768px) {
		.inner {
			position: relative;
		    width: ( 580 / 640 ) * 100%;
		    padding: 0;
		    margin: 0 auto;
		    margin-bottom: 80px;
		    padding-top: 30px;

			img { width: 100%; }

			h1 {
				width: 100px;
				margin: 0 auto;
				margin-bottom: 33px;
			}
			h2 {
				@include size15;
				margin-bottom: 14px;
			}
			h3 {
				@include size12;
				margin-bottom: 14px;
			}
			h3 + p {
				@include size10;
				margin-bottom: 10px;
			}
			.strong {
				@include size11;
				margin-bottom: 30px;
			}
			.nav {
				@include size12;
				margin-bottom: 12px;
				span {
					@include size9;
				}
			}
			.nav-list {
				width: 100%;
				margin: 0 auto;
				li {
					float: none;
					text-align: center;
					@include size10;
					margin-top: 7px;
					&:nth-child(-n+2){
						margin-top: 7px;
					}
					&:nth-child(odd){
						width: 100%;
					}
					&:nth-child(even){
						width: 100%;
					}
				}
			}
		}
	}
}
.maintenance-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 15px;

	ul {
		overflow: hidden;
		margin-left: 50px;
		float: left;
		li {
			float: left;
			@include size13;
		}
		li + li {
			margin-left: 15px;
		}
	}

	.copyright {
		float: right;
		margin-right: 50px;
		@include size10;
	}

	@media only screen and (max-width: 768px) {
	
		ul {
			margin-left: auto;
			float: none;
			display: table;
			margin: 0 auto;
		}
		.copyright {
			float: none;
			margin-right: auto;
			margin-top: 23px;
			@include size10;
			text-align: center;
		}
	}
}