/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.movie {

	.h2-contents-title {
		margin-bottom: 30px;
	}

	.selecter {
		display: table;
		margin: 0 auto;
		margin-bottom: 40px;
		.btn-category {
			display: inline-block;
			position: relative;
			width: 347px;
			height: 50px;
			line-height: 46px;
			color: #fff;
			background-color: #c5cbce;
			@include border-radius(5px);
			@include size24;
			@include font-ica;
			text-align: center;

			&:hover, &.current {
				background-color: #1d8aa8;
				text-decoration: none;
			}
			&.off {
				pointer-events: none;
			}

		}
		.btn-category + .btn-category {
			margin-left: 10px;
		}
	}
	
	.selecter-tab {
		margin-bottom: 40px;
		border-bottom: 4px solid #1d8aa8;
		.inner {
			display: table;
			margin: 0 auto;
			.tab {
				display: inline-block;
				position: relative;
				width: 297px;
				height: 36px;
				line-height: 34px;
				color: #1d8aa8;
				background-color: #fff;
				border-top: 2px solid #1d8aa8;
				border-left: 2px solid #1d8aa8;
				border-right: 2px solid #1d8aa8;
				box-sizing: border-box;
				border-radius: 5px 5px 0 0 / 5px 5px 0 0;
				@include size16;
				@include font-ica;
				text-align: center;

				&:hover, &.current {
					color: #fff;
					background-color: #1d8aa8;
					text-decoration: none;
				}

			}
			.tab + .tab {
				margin-left: 10px;
			}
		}
	}

	.contents-section {
		.thumb-container {
			.thumb-block {
				a {
					.thumb {
						position: relative;
						&:after {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							background: url('/assets/images/movie/icon-play.png') center center no-repeat;
						}
						img {
							transform: scale(1);
							transition: all 0.6s ease;
						}
					}
					.thumb-title {
						@include size18;
						span {
							@include size12;
						}
					}
					&:hover {
						.thumb img {
							transform: scale(1.1);
						}
					}
				}
				&.size-medium {
					margin-top: 35px;
					&:nth-child(-n+3) {
					    margin-top: 0;
					}
				}
			}
		}
		
		&.tvcm {
			margin-top: 70px;
		}
		.movie-container {
			position: relative;
			max-width: 960px;
			margin: 0 auto;

			.label {
				text-align: center;
				color: #1d8aa8;
				@include size24;
				@include font-ica;
				margin-bottom: 10px;
				span {
					@include size14;
				}
			}
			.movie-wrapper {
				position: relative;
				border: 1px solid #535353;
				&:before {
					@include content-before( ( 540 / 960 ) * 100% );
				}
				iframe {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		.movie-container + .movie-container {
			margin-top: 55px;
		}

		&.tvcm-thumbs {
			padding: 50px 0;
			.h3-section-title {
				@include size24;
				margin-bottom: 20px;
			}
		}

		.bnr-recipe {
			display: block;
			max-width: 1000px;
			margin: 0 auto;
			margin-top: 55px;
			margin-bottom: 108px;
		}

		.photolist {
			overflow: hidden;
		    li {
		        float: left;
		        width: ( 102 / 1200 ) * 100%;
		        margin-left: ( 20 / 1200 ) * 100%;
		        margin-top: 20px;
		        line-height: 0;
		        img { width: 100%; }
		        &:nth-child(-n+10){
					margin-top: 0;
		        }
		        &:nth-child(1), &:nth-child(11){
					margin-left: 0;
		        }
		    }
		}
	}

	@media only screen and (max-width: 768px) {
		.h2-contents-title {
			@include size18;
			margin-bottom: 24px;
			&:first-letter {
				@include size18;
			}
		}

		.selecter {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			.btn-category {
				width: ( 285 / 580 ) * 100%;
				height: 30px;
				line-height: 30px;
				@include size12;
			}
			.btn-category + .btn-category {
				margin-left: 0;
			}
		}

		.select-box-inner {
			position: relative;
			width: 100%;
			height: 30px;
			line-height: 30px;
			color: #fff;
			@include font-ica;
			@include size10;
			border: 0;
			padding: 0 10px;
			box-sizing: border-box;
			@include border-radius(5px);
			margin-bottom: 15px;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: #1d8aa8 url('/assets/images/common/selectbox-arrow.png') right center no-repeat;
			background-position: 98% 50%;
			background-size: 10px;
		}

		.contents-section {
			margin-bottom: 0;
			.thumb-container {
				.thumb-block {
					float: none;
					width: 100%;
					max-width: 100%;
					margin-left: 0;
					margin-top: 0;
					
					a .thumb {
						position: relative;
						&:before {
					        @include content-before(56.25%);
					    }
					    &:after {
					    	content: none;
					    }
					    iframe {
					    	position: absolute;
					    	width: 100%;
					    	height: 100%;
					    	top: 0;
					    }
						margin-bottom: 6px;
					}
					.thumb-title {
						font-size: 12px !important;
						font-size: 1.2rem !important;
						margin-bottom: 0;
					}
					&.size-medium {
						margin-top: 17px;
						&:nth-child(-n+3) {
						    margin-top: 17px;
						}
						&:first-child{
							margin-top: 0;
						}
					}
				}
			}
			
			&.tvcm {
				margin-top: 22px;
			}

			.movie-container {
				
				.label {
					@include size12;
					margin-bottom: 0;
					margin-top: 6px;
					span {
						@include size10;
					}
				}
			}
			.movie-container + .movie-container {
				margin-top: 23px;
			}
			&.tvcm-thumbs {
				$TVCM_PW: ( 30 / 640 ) * 100%;
				padding: 20px $TVCM_PW;
				.h3-section-title {
					@include size14;
				}
			}

			.bnr-recipe {
				display: block;
				width: ( 580 / 640 ) * 100%;
				margin: 20px auto 58px auto;
			}

			.photolist {
				overflow: hidden;
			    li {
			        float: left;
			        width: ( 127 / 580 ) * 100%;
			        margin-left: ( 24 / 580 ) * 100%;
			        margin-top: 24px;
			        line-height: 0;
			        img { width: 100%; }
			        &:nth-child(-n+10){
						margin-top: 24px;
			        }
			        &:nth-child(1), &:nth-child(11){
						margin-left: ( 24 / 580 ) * 100%;
			        }

			        &:nth-child(-n+4){
						margin-top: 0;
			        }
			        &:nth-child(1), &:nth-child(5), &:nth-child(9), &:nth-child(13), &:nth-child(17){
						margin-left: 0;
			        }
			    }
			}
		}
	}
}
