
.p-rcp {

	&__t4 {
		font-size: 11rem;
	}
	&__t5 {
		font-size: 9rem;
	}
	&__t6 {
		font-size: 8rem;
	}
	@media only screen and (max-width: 768px) {
		&__t4 {
			font-size: 9rem;
		}
		&__t5 {
			font-size: 8rem;
		}
		&__t6 {
			font-size: 7rem;
		}
	}

	&-idxBanner {
		margin-top: 50px;
		display: block;

		@media only screen and (max-width: 768px) {
			margin-top: 25px;
		}
	}

	&-h2-contentsTitle {
		@include size35;
		@include font-ica;
		margin-bottom: 65px;
		text-align: center;
		&:first-letter{
			@include size35;
		}
	}

	&-h2-coverTitle {
		display: block;
		position: absolute;
		right: 0;
		top: -500px;
		color: #fff;
		@include txt-vertical;
		@include font-ica;
		/* box-shadow */
		-moz-text-shadow: 0px 0px 6px #000000;
		-webkit-text-shadow: 0px 0px 6px #000000;
		text-shadow: 0px 0px 6px #000000;


		.sub-cpoy {
			@include size19;
			display: block;
			margin-top: 45px;
		}
		.copy-id {
			@include size35;
			-webkit-writing-mode: initial;
			-webkit-ms-writing-mode: initial;
   			writing-mode: initial;
   			font-style: italic;
   			width: 6rem;
			float: left;
			&:before {
				content: "#";
				@include size20;
			}
		}
		.main-copy {
			font-size: 140px;
			font-size: 14.0rem;
			line-height: 1.2em;
			display: inline-block;
			float: left;
			height: 400px;
		}
	}

	&-boxLabel {
		position: absolute;
		padding: 25px 28px;
		right: 0;
		top: -63px;
		background-color: rgba(245,152,24,0.8);
		
		@include font-ica;
		.recipe-title {
			color: #fff;
			font-size: 31px;
			font-size: 3.1rem;
		}
		.recipe-copy {
			color: #fff;
			@include size20;
			span { @include size16; }
		}
	}

	&-p {
		$this: &;
		line-height: 2em;

		& + #{$this} {
			margin-top: 30px;
		}

		@media only screen and (max-width: 768px) {
			$this: &;
			@include size13;
			& + #{$this} {
				margin-top: 15px;
			}
		}
	}


	&-recipeMovieWrapper {
		position: relative;
		width: ( 800 / 1000 ) * 100%;
		max-width: 800px;
		margin: 50px auto 80px auto;
		&:before {
			content: "";
			display: block;
			padding-top: ( 9 / 16 ) * 100%;
		}
		.recipe-movie {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	&-textThumb {
		$this: &;
		overflow: hidden;
		line-height: 2em;
		margin-bottom: 0 !important;
		.txt {
			position: relative;
			width: ( 520 / 900 ) * 100% !important;
			float: left !important;
			padding-right: ( 30 / 900 ) * 100% !important;
			box-sizing: border-box;
		}
		.thumb {
			position: relative;
			width: ( 380 / 900 ) * 100% !important;
			float: right !important;
			line-height: 0;
			.photo {
				img { width: 100%; }
			}
			figcaption {
				margin-top: 5px;
				color: #434343;
				@include size14;
				line-height: 1.4em;
			}
		}
		.numbering {
			position: relative;
			padding-left: 50px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				@include size28;
			}
			&.txt-num1:before { content: "1"; }
			&.txt-num2:before { content: "2"; }
			&.txt-num3:before { content: "3"; }
			&.txt-num4:before { content: "4"; }
			&.txt-num5:before { content: "5"; }
		}

		& + #{$this} {
			padding-top: 53px;
		}
	}
	

	&-border-dot-top {
		margin-top: 45px;
		border-top: 1px dashed #8b989e;
	}

	&-dl-list {
		overflow: hidden;
		float: left;
		width: ( 330 / 520 ) * 100%;
		line-height: 1.8em;
		dt {
			float: left;
		}
		dd {
			text-align: right;
		}
		.lbl {
			float: none;
		}
		.mt1 {
			margin-top: 1.8em;
		}
	}

	&-finishTxt {
		text-align: center;
		@include size25;
		@include font-ica;
		color: #434343;
		margin-top: 75px;
		margin-bottom: 20px;

		& + .photo {
			width: 100%;
			max-width: 700px;
			margin: 0 auto;
		}
	}

	&__firstTxtMatgin {
		padding-top: 8em;
	}


	@media only screen and (max-width: 768px) {
	
		&-h2-contentsTitle {
			@include size18;
			margin-bottom: 25px;
			&:first-letter{
				@include size18;
			}
		}
		&-idx-banner {
			$bnr: &;
		 	& + #{$bnr} {
				margin-top: 15px;
			}
		}

		&-h2-coverTitle {
			top: -460px;
			color: #fff;
			.sub-cpoy {
				@include size13;
				display: block;
				margin-top: 30px;
			}
			.copy-id {
				@include size22;
				&:before {
					@include size13;
				}
			}
			.main-copy {
				font-size: 90px;
				font-size: 9.0rem;

			}
		}

		&-boxLabel {
			padding: 14px 15px;
			top: -40px;
			.recipe-title {
				@include size19;
			}
			.recipe-copy {
				@include size12;
				span { @include size10; }
			}
		}

		&__inner {
			padding-bottom: 0;
		}
		
		&-recipeMovieWrapper {
			width: 100%;
			max-width: 100%;
			margin: 0 auto 25px 0;
		}

		
		&-textThumb {
			$thumb: &;
			.txt {
				width: 100% !important;
				float: none !important;
				padding-right: 0 !important;
			}
			.thumb {
				width: 100% !important;
				float: none !important;
				margin-top: 20px;

				figcaption {
					@include size13;
					color: #8b8b8b;
					margin-top: 5px;
				}
			}
			.numbering {
				@include size13;
				padding-left: 21px;
				&:before { @include size20; }
			}

			& + #{$thumb} {
				padding-top: 24px;
			}
		}

		&-border-dot-top {
			margin-top: 24px;
			border-top: 1px dashed #8b989e;
		}
		&-zairyo-txt {
			width: ( 424 / 580 ) * 100%;
			margin: 0 auto;
		}
		&-dl-list {
			float: none;
			width: ( 424 / 580 ) * 100%;
			margin: 0 auto;
		}
		&-finishTxt {
			@include size14;
			margin-top: 26px;
			margin-bottom: 26px;
			& + .photo {
				width: ( 580 / 520 ) * 100%;
				margin-left: -( 30 / 520 ) * 100%;
				max-width: auto;
				img { width: 100%; }

				border-radius: 0 0 15px 15px / 0 0 15px 15px;
				-webkit-border-radius: 0 0 15px 15px / 0 0 15px 15px;
				overflow: hidden;
			}
		}

		&__firstTxtMatgin {
			padding-top: 0;
		}
	}
}

