/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.search {
	.h2-contents-title {
		font-size: 35px;
		font-size: 3.5rem;
		letter-spacing: 0;
		
		&:first-letter {
			font-size: 35px;
			font-size: 3.5rem;
		}
	}
	@media only screen and (max-width: 768px) {
		.h2-contents-title {
			@include size18;
			
			&:first-letter {
				@include size18;
			}
		}
	}
}
