/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.p-nozomi {
	padding-top: 30px;

	@media only screen and (max-width: 768px) {
		padding-top: 0;
	}

	&-indexCover {
		margin-bottom: 40px;
		
		@media only screen and (max-width: 1000px) {
			margin-left: -30px;
			margin-right: -30px;
		}

		@media only screen and (max-width: 768px) {

		}
	}

	&-indexCache {
		position: absolute;
		right: ( 223 / 1400 ) * 100%;
		top: ( 68 / 799 ) * 100%;
		@include txt_vertical;
		@include font-ica;

		/* box-shadow */
		text-shadow:2px 2px 30px #000000;
		-webkit-text-shadow:2px 2px 30px #000000;
		
		.animated {
			$interval: 0.4;

			@for $i from 1 through 13 {
				&:nth-child(#{$i}) {
					-webkit-animation-delay: $i * $interval + 0.4s;
					animation-delay: $i * $interval + 0.4s;
				}
			}
		}
		

		&__h1 {
			font-size: ( 45 / 1400 ) * 100vw;
			color: #fff;
			line-height: ( 135 / 1400 ) * 100vw;
		}

		&__p {
			font-size: ( 20 / 1400 ) * 100vw;
			color: #fff;
			line-height: ( 40 / 1400 ) * 100vw;
			text-indent: 2.4em;

		}

		&__copy {
			margin-right: ( 27 / 1400 ) * 100vw;
			font-size: ( 27 / 1400 ) * 100vw;
			text-align: right;
			color: #fff;
			line-height: ( 40 / 1400 ) * 100vw;
		}

		@media only screen and (max-width: 768px) {
			position: relative;
			right: auto;
			top: auto;
			width: 100%;
			margin: 20px 0 25px 0;
			padding-right: 1em;

			text-shadow: none;
			-webkit-text-shadow: none;

			&__h1 {
				font-size: ( 45 / 640 ) * 100vw;
				color: #434343;
				line-height: ( 135 / 640 ) * 100vw;
			}
			&__p {
				font-size: ( 20 / 640 ) * 100vw;
				color: #000;
				line-height: ( 40 / 640 ) * 100vw;
			}
			&__copy {
				margin-right: ( 27 / 640 ) * 100vw;
				font-size: ( 27 / 640 ) * 100vw;
				text-align: right;
				color: #000;
				line-height: ( 40 / 640 ) * 100vw;
			}
		}
	}

	&-carouselWrapper {
		width: ( 1200 / 1000 ) * 100%;
		margin-left: -( 100 / 1000 ) * 100%;
		margin-right: -( 100 / 1000 ) * 100%;
	}

	&-carousel {

		a:hover {
			text-decoration: none;
		}

		width: 100%;
		max-width: ( 1030 / 1200 ) * 100%;
		margin: 0 auto;

		@extend .l-flex;
		@extend .l-flex--spb;

		&__elem {
			width: 176px;
			margin: 0 15px;
			@extend .l-flex__elem;
		}

		&__media {
			@extend .c-media;
			@include border-radius(5px);
			overflow: hidden;
			margin-bottom: 12px;
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 4px;
				bottom: 0;
				background-color: #1d8aa8;
			}

			img{
				transform: scale(1);
				transition: all 0.6s ease;
				&:hover { transform: scale(1.1); }
			}
		}

		.slick-next {
			@include c-arrow( 22px, 22px, 3px, #8b989e, 45deg );
			right: ( -45 / 1100 ) * 100%;
			top: 45px;
			bottom: auto;
		}
		.slick-prev {
			@include c-arrow( 22px, 22px, 3px, #8b989e, 225deg );
			left: ( -45 / 1100 ) * 100%;
			top: 45px;
			bottom: auto;
		}

		&--index {
			width: 100%;
			max-width: ( 1100 / 1200 ) * 100%;
			margin: 0 auto;

			&__elem {
				width: 190px;
				margin: 0 15px;
			}

			.slick-next {
				top: 80px;
			}
			.slick-prev {
				top: 80px;
			}
		}

		@media only screen and (max-width: 768px) {

			max-width: 100%;

			&__elem {
				margin: 0 7px;
			}

			&--index {
				
				&__elem {
					width: auto;
					margin: 0;
					margin-top: 12px;
					@include block__elem--width( 275 / 580 * 100% );
					&:nth-child(-n+2){
						margin-top: 0;
					}
				}
			}

			.slick-next {
				@include c-arrow( 11px, 11px, 2px, #8b989e, 45deg );
				right: ( -12 / 580 ) * 100%;
				top: 26px;
				bottom: auto;
			}
			.slick-prev {
				@include c-arrow( 11px, 11px, 2px, #8b989e, 225deg );
				left: ( -12 / 580 ) * 100%;
				top: 26px;
				bottom: auto;
			}
		}
	}

	&-thumbText {
		$col: #1d8aa8;
		line-height: 1.6;
		&__vol {
			color: $col;
			@include size15;
		}
		&-center {
			text-align: center;
		}
		&__date {
			color: $col;
			@include size11;
			@include font-ica;
			float: right;
			line-height: 2.2;
		}
		&__title {
			color: $col;
			@include size16;
			@include font-ica;
			line-height: 1.2;
		}
		&__txt {
			margin-top: 6px;
			@include size14;
		}

		@media only screen and (max-width: 768px) {
			&__vol {
				@include size11;
			}
			&__date {
				color: $col;
				@include size10;
			}
			&__title {
				@include size12;
				white-space: nowrap;
			}
			&__txt {
				@include size11;
			}
		}
	}

	&__content {
		width: 100%;
		max-width: 900px;
		margin: 50px auto 105px auto;

		@media only screen and (max-width: 768px) {
			margin: 35px auto 45px auto;
		}
	}

	&-contentTitle {
		@include txt-vertical;
		@include font-ica;
		font-size: 44px;
		font-size: 4.4rem;
		letter-spacing: 0.05em;
		color: #1d8aa8;
		white-space: nowrap;
		margin-bottom: 15px;
		overflow: hidden;
		display: inline;
		line-height: 1.1;

		@media only screen and (max-width: 768px) {
			@include size26;
			margin-bottom: 10px;
		}
	}
	&-vol {
		@include size17;
		color: #1d8aa8;
		@media only screen and (max-width: 768px) {
			@include size10;
		}
	}

	&-h2 {
		@include size30;
		@include font-ica;
		margin: 30px 0 20px 0;
		@media only screen and (max-width: 768px) {
			@include size18;
			margin: 25px 0 15px 0;
		}
	}
	&-p {
		$p: &;
		color: #8b989e;
		@include font-ica;
		@include size18;
		line-height: 1.94;
		letter-spacing: -0.05em;
		&--indent {
			text-indent: -0.5em;
		}
		& + #{$p} {
			margin-top: 30px;
		}

		@media only screen and (max-width: 768px) {
			@include size13;
		}
	}

	&-flex {
		
		$this: &;
		& + #{$this} {
			margin-top: 40px;
		}
		&__elem {
			@include block__elem--width( ( 450 / 900 ) * 100% );
			&:first-child {
				@include block__elem--width( ( 425 / 900 ) * 100% );
			}
		}
		&__cover {
			@include border-radius(10px);
			overflow: hidden;
			@include block__elem--width( ( 567 / 900 ) * 100% );
		}
		&__title {
			@include block__elem--width( ( 333 / 900 ) * 100% );

			&-inner {
				text-align: center;
				position: absolute;
				right: ( 70 / 333 ) * 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		@media only screen and (max-width: 768px) {
			$this: &;
			& + #{$this} {
				margin-top: 16px;
			}
			&__elem {
				$elem: &;
				& + #{$elem} {
					margin-top: 16px;
				}
			}
			&__cover {
				@include border-radius(5px);
				flex: 0 0 74% !important;
				max-width: 74% !important;
			}
			&__title {
				flex: 0 0 26% !important;
				max-width: 26% !important;
				position: relative;

				&-inner {
					text-align: center;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
		}
	}
	
	//希のとっておきVol.3
	$flexboxWidthPC: 900;
	$imageWidthPC: 392;
	//mixin
	@mixin order($num) {
		@each $prefix in -webkit-box-ordinal-group, -ms-flex-order, -webkit-order, order {
			#{$prefix}: $num;
		}
	}
	@mixin align-self($value) {
		@each $prefix in -ms-flex-item-align, -webkit-align-self, align-self {
			#{$prefix}: $value;
		}
	}
	&__content__vol3,
	&__content__vol5 {
		width: 100%;
		max-width: #{$flexboxWidthPC}px;
		margin: 50px auto 105px auto;
		.flex-box {
			@include flex;
			margin-bottom: 60px;
		}
		.flex-image {
			-ms-flex: 0 0 ($imageWidthPC / $flexboxWidthPC) * 100%;
			@include block__elem--width( ($imageWidthPC / $flexboxWidthPC) * 100% );
			@include order(3);
		}
		.flex-title {
			-ms-flex: 0 0 10%;
			@include block__elem--width( 10% );
			@include order(1);
		}
		.flex-content {
			-ms-flex: 0 0 (1 - ($imageWidthPC / $flexboxWidthPC) - 0.1) * 100%;
			@include block__elem--width( (1 - ($imageWidthPC / $flexboxWidthPC) - 0.1) * 100% );
			@include order(2);
		}
		.p-nozomi-flex__title-inner {
			top: 0;
			right: auto;
			left: 0;
			transform: translateY(0);
		}
		.p-nozomi-p--indent {
			text-indent: 0;
		}
		.p-flex-element1 {
			margin-left: 65px;
			.p-nozomi-flex__elem {
				-ms-flex: 0 0 65%;
				@include block__elem--width( 65% );
				&:first-child {
					-ms-flex: 0 0 32.22222%;
					@include block__elem--width( 32.22222% );
				}
			}
		}
		.p-flex-element2 {
			width: 640px;
			margin-left: 235px;
			.p-nozomi-flex__elem {
				&:last-child {
					@include align-self(center);
				}
			}
		}
		.p-flex-element3 {
			width: ( 790 / 900 ) * 100%;
			
			.p-nozomi-flex__elem {
				&:nth-child(2) {
					margin-left: ( 65 / 790 ) * 100%;
					@include block__elem--width( ( 483 / 790 ) * 100% );
				}
				&:nth-child(1) {
					@include block__elem--width( ( 242 / 790 ) * 100% );
				}
			}
		}
		.p-flex-element1, .p-flex-element2 {
			.c-media__image {
				max-width: 242px;
			}
		}
		@media only screen and (max-width: 768px) {
			.flex-box {
				position: relative;
				width: 100%;
			}
			.flex-image {
				flex: 0 0 74% !important;
				max-width: 74% !important;
				@include order(2);
			}
			.p-nozomi-flex__title-inner {
				position: absolute;
				left: 50%;
				right: 0;
				transform: translateX(50%) translateY(0);
			}
			.flex-title {
				@include block__elem--width( 26% );
			}
			.flex-content {
				@include block__elem--width( 100% );
				@include order(3);
			}
			.p-flex-element1 {
				margin-left: 0;
			}
			.p-flex-element2 {
				width: 100%;
				margin-left: 0;
			}
			.p-flex-element3 {
				width: 100%;
				.p-nozomi-flex__elem {
					&:nth-child(2) {
						margin-left: 0;
					}
				}
			}
			.p-flex-element1, .p-flex-element2 {
				.c-media__image {
					max-width: 100%;
				}
			}
		}
	}
	
	//希のとっておきVol.4, Vol.6
	$flexboxWidthPC: 900;
	$imageWidthPC: 422;
	//mixin
	//orderとalign-selfはvol.3で定義したものを利用
	&__content__vol4, &__content__vol6 {
		width: 100%;
		max-width: #{$flexboxWidthPC}px;
		margin: 50px auto 105px auto;
		.l-flex {
			&:first-of-type {
				margin-bottom: 80px;
			}
			&:nth-of-type(2) {
				width: 760px;
				margin-left: 60px;
				.p-nozomi-flex__elem {
					-ms-flex: (468 / 760) * 100%;
					@include block__elem--width( (468 / 760) * 100% );
					@include align-self(center);
					&:first-child {
						-ms-flex: (242 / 760) * 100%;
						@include block__elem--width( (242 / 760) * 100% );
					}
				}
			}
			&:nth-of-type(3) {
				width: 820px;
				margin-left: 60px;
				.p-nozomi-flex__elem {
					-ms-flex: (528 / 820) * 100%;
					@include block__elem--width( (528 / 820) * 100% );
					&:first-child {
						-ms-flex: (242 / 820) * 100%;
						@include block__elem--width( (242 / 820) * 100% );
					}
				}
			}
			&:nth-of-type(4) {
				width: 750px;
				margin-left: 60px;
				.p-nozomi-flex__elem {
					-ms-flex: (458 / 750) * 100%;
					@include block__elem--width( (458 / 750) * 100% );
					&:first-child {
						-ms-flex: (242 / 750) * 100%;
						@include block__elem--width( (242 / 750) * 100% );
					}
				}
			}
			&:nth-of-type(5) {
				width: 760px;
				margin-left: 60px;
				.p-nozomi-flex__elem {
					-ms-flex: (468 / 760) * 100%;
					@include block__elem--width( (468 / 760) * 100% );
					&:first-child {
						-ms-flex: (242 / 760) * 100%;
						@include block__elem--width( (242 / 760) * 100% );
					}
				}
			}
		}
		.p-nozomi__image {
			-ms-flex: 0 0 ($imageWidthPC / $flexboxWidthPC) * 100%;
			@include block__elem--width( ($imageWidthPC / $flexboxWidthPC) * 100% );
			@include order(1);
		}
		.p-nozomi-flex__title {
			-ms-flex: 0 0 6%;
			@include block__elem--width( 6% );
			@include order(3);
		}
		.p-nozomi__top__content {
			-ms-flex: 0 0 (1 - ($imageWidthPC / $flexboxWidthPC) - 0.06) * 100%;
			@include block__elem--width( (1 - ($imageWidthPC / $flexboxWidthPC) - 0.06) * 100% );
			@include order(2);
			@include align-self(center);
			padding-left: 40px;
			.p-nozomi-h2 {
				margin-top: 0;
			}
		}
		.p-nozomi-flex__title-inner {
			top: 0;
			left: 0;
			transform: translateY(0);
		}
		@media only screen and (max-width: 768px) {
			.l-flex {
				&:first-of-type {
					margin-bottom: 25px;
				}
				&:not(:first-of-type) {
					width: 100%;
					margin-left: 0;
					.c-media__image {
						max-width: 100%;
					}
				}
			}
			.p-nozomi__image {
				flex: 0 0 74% !important;
				max-width: 74% !important;
				@include order(1);
			}
			.p-nozomi-flex__title {
				flex: 0 0 26% !important;
				max-width: 26% !important;
				@include order(2);
			}
			.p-nozomi-flex__title-inner {
				left: 50%;
				transform: translateX(-50%) translateY(0);
			}
			.p-nozomi__top__content {
				@include block__elem--width( 100% );
				@include order(3);
				padding-left: 0;
				.p-nozomi-h2 {
					margin-top: 30px;
				}
			}
		}
	}

	&__content__vol5 {
		margin-bottom: 80px;
	}

	&__content__recipe {
		max-width: 1000px;
		margin: 0 auto;
		margin-bottom: 100px;
	}

	//希のとっておきVol.6
	&__content__vol6 {
		.l-flex {
			&:nth-of-type(2) {
				width: 836px;
				.p-nozomi-flex__elem {
					-ms-flex: (554 / 836) * 100%;
					@include block__elem--width( (554 / 836) * 100% );
					@include align-self(auto);
					&:first-child {
						-ms-flex: (242 / 836) * 100%;
						@include block__elem--width( (242 / 836) * 100% );
					}
				}
			}
		}
		@media only screen and (max-width: 768px) {
			.l-flex {
				&:not(:first-of-type) {
					width: 100%;
					margin-left: 0;
					.c-media__image {
						max-width: 100%;
					}
				}
			}
		}
	}
}


.special-bg {
	background: url('/assets/images/special/cp1/special-bg.png') center top no-repeat;
	background-position: 50% 154px;

	@media only screen and (max-width: 768px) {
		background: url('/assets/images/special/cp1/special-bg-sp.png') center top no-repeat;
		background-position: 50% 60px;
		background-size: contain;
	}
}
.special {
	.h2-special-title {
		position: relative;
		width: ( 892 / 1200 ) * 100%;
		margin-left: ( 224 / 1200 ) * 100%;
		margin-bottom: 22px;

		.logo-container {
			.title-logo-tiger {
				display: block;
				position: absolute;
				left: ( 244 / 892 ) * 100%;
				top: ( 8 / 147 ) * 100%;
				width: ( 102 / 892 ) * 100%;
			}
			.title-logo-icon {
				display: block;
				position: absolute;
				left: ( 365 / 892 ) * 100%;
				top: ( 14 / 147 ) * 100%;
				width: ( 13 / 892 ) * 100%;
			}
			.title-logo-baloon {
				display: block;
				position: absolute;
				left: ( 396 / 892 ) * 100%;
				top: 0;
				width: ( 110 / 892 ) * 100%;
			}
		}
	}

	.cp-close {
		width: 612px;
		margin: 23px auto 30px auto;
	}
	
	.h2-contents-title {
		@include size35;
		@include font-ica;
		margin-bottom: 65px;
		text-align: center;
		&:first-letter{
			@include size35;
		}
	}
	.idx-banner {
		display: block;
	}
	.idx-banner + .idx-banner {
		margin-top: 50px;
	}

	.contents-section {
		&.present-list {
			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
		.two-column {
			@include column( 599, 1200 );
			overflow: visible;
			li {
				margin-top: 2px;
				line-height: 0;
				position: relative;
				.thumb {
					position: absolute;
					left: -5px;
					top: -5px;
					width: ( 125 / 599 ) * 100%;
				}

				&:nth-child(2n+1) {
					margin-left: 0;
				}
				&:nth-child(-n+2) {
					margin-top: 0;
				}
			}
		}
		&.requirement {
			margin-top: 80px;

			.h3-title {
				text-align: center;
				@include size26;
				color: #8b989e;
				@include font-ica;
				margin-bottom: 40px;
			}
			.att {
				position: absolute;
				right: 0;
				top: 10px;
				@include size13;
				color: #1d8aa8;
				text-decoration: none;
				border-bottom: 1px solid #1d8aa8;
				&:before {
					@include arrow(#1d8aa8);
					width: 6px;
					height: 6px;
					left: -16px;
					-webkit-transform: rotate(135deg);
				    transform: rotate(135deg);
				}
			}
			.requirement-list {
				overflow: hidden;
				dt {
					padding: 7px 14px;
					background-color: #8b989e;
					color: #fff;
					@include font-ica;
					@include size17;
					border-radius: 5px;
					-webkit-border-radius: 5px;
				}
				dd {
					@include size13;
					margin-top: 15px;
				}
				dd + dt {
					margin-top: 45px;
				}
			}
		}
	}
	
	&.cp2 {
		max-width: 1000px;
		padding-bottom: 100px;
	}
	&.cp2,
	&.cp5 {
		
		.h2-cover-title {
			font-size: 40px;
			font-size: 4.0rem;
			color: #fff;
			@include font-ica;
			-webkit-writing-mode: vertical-rl;
    		-ms-writing-mode: tb-rl;
    		writing-mode: vertical-rl;
    		position: absolute;
    		right: 130px;
    		top: -500px;
		}
		.border {
			border: 1px solid #8b989e;
			border-radius: 8px;
			-webkit-border-radius: 8px;
			box-sizing: border-box;
		}
		.border-dot {
			border: 1px dashed #8b989e;
			border-radius: 15px;
			-webkit-border-radius: 15px;
			box-sizing: border-box;
		}

		.nozomi-msg {
			position: relative;
			margin-top: -82px;
			margin-bottom: 30px;
			padding: 30px 50px;
			float: left;
			background-color: #fff;
			width: 100%;


			.h2-msg-title {
				cursor: pointer;
				display: table;
				margin: 0 auto;
				padding-left: 115px;
				background: url('/assets/images/special/nozomi-01/icon-nozomi.png') left center no-repeat;
				height: 103px;
				margin-bottom: 25px;
				.txt {
					display: table-cell;
					vertical-align: middle;
					@include font-ica;
					@include size25;
					color: #1d8aa8;
					span {
						@include size18;
					}
				}
			}
			.toggle {
				p {
					color: #8b989e;
					@include size14;
					line-height: 2.6em;
					text-align: center;
				}
				.cache {
					@include size22;
					@include font-ica;
				}
				.copyright {
					margin-top: 20px;
					margin-bottom: 25px;
				}
			}

			.btn-message-toggl {
				cursor: pointer;
				height: 18px;
				box-sizing: border-box;
				text-align: center;
				img {
					width: auto;
					transform: rotate(0deg);
					transition: all 0.3s 0.4s ease;
				}
			}

			&.open {
				.btn-message-toggl {
					img {
						transform: rotate(180deg);
					}
				}
			}
		}

		.main-cache {
			text-align: center;
			@include size18;
			@include font-ica;
			color: #8b989e;
			margin-bottom: 35px;
		}
	}


	.recipe {
		padding: 40px 30px;
		color: #434343;

		.h3-msg-title {
			text-align: center;
			display: table;
			margin: 0 auto;
			@include size25;
			@include font-ica;
			color: #fff;
			background-color: #8b989e;
			/*height: 58px;*/
			line-height: 1.4;
			border-radius: 29px;
			-webkit-border-radius: 29px;
			margin-top: -69px;
			padding: 11px 30px;
			margin-bottom: 28px;
			span {
				@include size14;
			}
		}
		.label {
			text-align: center;
			color: #ff7200;
			margin-bottom: 25px;
		}
			
		&.howto {
			padding: 40px 80px;
		}

		.list-num {
			li {
				position: relative;
				padding-left: 40px;
				line-height: 1.8em;
				margin-bottom: 30px;
				&:before {
					position: absolute;
					left: 0;
				}
				&:nth-child(1):before { content: "1."; }
				&:nth-child(2):before { content: "2."; }
				&:nth-child(3):before { content: "3."; }
				&:nth-child(4):before { content: "4."; }
				&:nth-child(5):before { content: "5."; }
				&:nth-child(6):before { content: "6."; }
				&:nth-child(7):before { content: "7."; }
				&:nth-child(8):before { content: "8."; }
			}
		}

		.onepoint {
			@include size12;
			@include font-ica;
			color: #fff;
			background-color: #8b989e;
			display: inline-block;
			height: 28px;
			line-height: 28px;
			border-radius: 14px;
			-webkit-border-radius: 14px;
			margin-bottom: 10px;
			padding: 0 20px;
		}
		.onepoint + p {
			@include size14;
		}
			
		.rcp-txt {
			overflow: hidden;
		}
		dl {
			overflow: hidden;
			float: left;
			width: ( 266 / 938 ) * 100%;
			line-height: 2.2em;
			dt {
				float: left;
			}
			dd {
				text-align: right;
			}
			.lbl {
				float: none;
			}
			.mt1 {
				margin-top: 2.2em;
			}
			.rcp-title {
				position: relative;
				height: 8.8em;
				background: url('/assets/images/special/nozomi-01/kakko.png') center center no-repeat;
				background-size: 100%;
				margin-bottom: 2.2em;
				p {
					position: absolute;
					display: inline;
					width: 90%;
					text-align: center;
					line-height: 1.6em;
					left: 50%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					@include size12;
					span {
						@include size20;
						@include font-ica;
					}
				}
			}
		}
		dl + dl {
			margin-left: ( 70 / 938 ) * 100%;
		}
	}
	.recipe + .recipe {
		margin-top: 30px;
	}

	.bnr-tvcm {
		display: block;
		margin-top: 50px;
		margin-bottom: 110px;
	}
}



@media only screen and (max-width: 768px) {
	.special {

		.h2-special-title {
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;

			.logo-container {
				.title-logo-tiger {
					display: block;
					position: absolute;
					left: ( 121 / 580 ) * 100%;
					top: ( 11 / 412 ) * 100%;
					width: ( 132 / 580 ) * 100%;
				}
				.title-logo-icon {
					display: block;
					position: absolute;
					left: ( 278 / 580 ) * 100%;
					top: ( 19 / 412 ) * 100%;
					width: ( 16 / 580 ) * 100%;
				}
				.title-logo-baloon {
					display: block;
					position: absolute;
					left: ( 318 / 580 ) * 100%;
					top: 0;
					width: ( 142 / 580 ) * 100%;
				}
			}
		}

		.cp-close {
			width: 100%;
			margin: 0 auto 15px auto;
			img { width: 100%; }
		}

		.h2-contents-title {
			@include size18;
			margin-bottom: 25px;
			&:first-letter{
				@include size18;
			}
		}
		.idx-banner + .idx-banner {
			margin-top: 15px;
		}

		.contents-section {
			&.present-list {
				.two-column {
					li {
						width: 100%;
						float: none;
						margin-left: 0;
						margin-top: 2px;
						&:nth-child(-n+2) {
							margin-top: 2px;
						}
					}
					li + li { margin-left: 0; }
				}
			}

			&.requirement {
				margin-top: 30px;
				.h3-title {
					@include size13;
					margin-bottom: 20px;
				}
				.att {
					position: relative;
					@include size10;
					top: auto;
					right: auto;
					display: table;
					margin: 0 auto;
					margin-bottom: 10px;

				}
				.requirement-list {
					dt {
						@include size11;
						padding: 4px 7px;
					}
					dd {
						@include size11;
						margin-top: 12px;
					}
					dd + dt {
						margin-top: 23px;
					}
				}
			}
		}

		&.cp2 {
			width: ( 580 / 640 ) * 100%;
			padding-bottom: 45px;
		}
		&.cp2,
		&.cp5 {

			.h2-cover-title {
				@include size30;
	    		right: 0;
	    		top: -457px;
			}
			
			.nozomi-msg {
				margin-top: -47px;
				margin-bottom: 17px;
				padding: 20px 30px;

				.h2-msg-title {
					padding-left: 60px;
					background-size: contain;
					height: 52px;
					margin-bottom: 10px;
					.txt {
						@include size12;
						span {
							@include size10;
						}
					}
				}
				.toggle {
					margin-top: 10px;
					p {
						@include size10;
						line-height: 2.6em;
					}
					.cache {
						@include size12;
					}
					.copyright {
						margin-top: 13px;
						margin-bottom: 17px;
					}
				}
			}
			$RPW: ( 30 / 580 ) * 100%;
			.main-cache {
				@include size10;
				margin-bottom: 20px;
			}
			.recipe {
				padding: 22px $RPW;
				
				.h3-msg-title {
					@include size14;
					/*height: 32px;
					line-height: 32px;*/
					border-radius: 16px;
					-webkit-border-radius: 16px;
					margin-top: -38px;
					padding: 7px 17px;
					margin-bottom: 20px;
					span {
						@include size8;
					}
				}
				.label {
					margin-bottom: 12px;
				}
				img {
					width: 100%;
				}
				
				&.howto {
					padding: 22px $RPW;
				}

				.list-num {
					li {
						padding-left: 20px;
						margin-bottom: 15px;
					}
				}

				.onepoint {
					@include size9;
					height: 19px;
					line-height: 19px;
					border-radius: 9px;
					-webkit-border-radius: 9px;
					margin-bottom: 10px;
					padding: 0 14px;
				}
				.onepoint + p {
					@include size12;
				}

				.rcp-txt {
					overflow: hidden;
				}
				dl {
					float: none;
					width: 100%;
					line-height: 2.2em;

					.mt1 {
						margin-top: 2.2em;
					}
					.rcp-title {
						height: 6.6em;
						background: url('/assets/images/special/nozomi-01/kakko-sp.png') center center no-repeat;
						background-size: 100%;
						p {
							@include size10;
							span {
								@include size13;
							}
						}

					}
				}
				dl + dl {
					margin-left: 0;
					margin-top: 2.2em;
				}
			}
		}

		.recipe + .recipe {
			margin-top: 15px;
		}

		.bnr-tvcm {
			display: block;
			margin-top: 20px;
			margin-bottom: 35px;
		}
	}
}

#special-download {
	margin-top:-115px;
	padding-top:115px;
}

.special-download-block {
	background-color: #1d8aa8;
	padding: 50px 0;
	margin-bottom: 95px;
	
	.btn-dl {
		display: block;
		position: relative;
		width: 458px;
		height: 96px;
		background-color: #fff;
		color: #1d8aa8;
		text-align: center;
		@include size20;
		line-height: 96px;
		margin: 0 auto;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
		}

		&:before {
			@include arrow(#1d8aa8);
			width: 7px;
			height: 7px;
			display: inline-block;
			margin-left: -30px;
		}
	}

	.camp-close {
		@include size16;
		@include font-ica;
		text-align: center;
		color: #fff;
		span {
			font-size: 31px;
			font-size: 3.1rem;
		}
	}

	@media only screen and (max-width: 768px) {
		padding: 25px 0;
		margin-bottom: 28px;
		.btn-dl {
			width: ( 580 / 640 ) * 100%;
			height: 48px;
			line-height: 48px;
			@include size12;
		}

		.camp-close {
			@include size12;
			span {
				@include size18;
			}
		}
	}
}