<section class="p-mono-list">
  <h3>商品で見る</h3>
  <ul>
  	<li>
  	  <a href="index_mono_jpg.html">
        <div class="thumb">
          <img src="/assets/images/product/use/product-img-rice-cooker.jpg" alt="タイガー魔法瓶 Grandxシリーズ 土鍋圧力IH炊飯ジャー（型番：JPG-X100）">
        </div>
        <p class="product-name">
          土鍋圧力IH炊飯ジャー<br>
          JPG-X100
        </p>
      </a>
    </li>
  	<li>
  	  <a href="index_mono_kbd.html">
        <div class="thumb">
          <img src="/assets/images/product/use/product-img-home-bakery.jpg" alt="タイガー魔法瓶 Grandxシリーズ IHホームベーカリー（型番：KBD-X100）">
        </div>
        <p class="product-name">
          IHホームベーカリー<br>
          KBD-X100
        </p>
      </a>
    </li>
  	<li>
  	  <a href="index_mono_kax.html">
        <div class="thumb">
          <img src="/assets/images/product/use/product-img-oven.jpg" alt="タイガー魔法瓶 Grandxシリーズ スチームコンべクションオーブン（型番：KAX-X130）">
        </div>
        <p class="product-name">
          スチームコンべクションオーブン<br>
          KAX-X130
        </p>
      </a>
    </li>
  	<li>
  	  <a href="index_mono_acq.html">
        <div class="thumb">
          <img src="/assets/images/product/use/product-img-cofee-maker.jpg" alt="タイガー魔法瓶 Grandxシリーズ コーヒーメーカー（型番：ACQ-X020）">
        </div>
        <p class="product-name">
          コーヒーメーカー<br>
          ACQ-X020
        </p>
      </a>
    </li>
  </ul>
</section>