<section class="contents-section">
  <ul class="two-column">
    <li class="hover-animation">
      <a href="../basic/">
        <img src="/assets/images/product/use/content-thumb01.jpg" alt="グランエックスのきほん" class="pc">
        <img src="/assets/images/product/use/content-thumb01-sp.jpg" alt="グランエックスのきほん" class="sp">
        <div class="label">
          <div class="inner">
            <p class="font-ica item-name">グランエックスのきほん</p>
          </div>
        </div>
      </a>
    </li>
    <li class="hover-animation">
      <a href="../lineup/">
        <img src="/assets/images/product/use/content-thumb02.jpg" alt="ラインアップ" class="pc">
        <img src="/assets/images/product/use/content-thumb02-sp.jpg" alt="ラインアップ" class="sp">
        <div class="label">
          <div class="inner">
            <p class="font-ica item-name">ラインアップ</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>