@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Donabe Story 「熱」が導く、土鍋革命 */
#contentsWrap #storyTitleSection { margin-top:6%; }
#contentsWrap #storyTitleSection #storyMvArea { margin-top:6.4%; padding:0; background-size:cover; background-image:url(/product/lineup/jpg/images/story_mv_bg_sp.jpg); }

#contentsWrap #storyHotSection { margin-top:10.5%; }
#contentsWrap #storyHotSection #storyHot01Area { width:100%; }
#contentsWrap #storyHotSection #storyHot02Area { margin-top:9.5%; }
#contentsWrap #storyHotSection #storyHot03Area { width:93%; margin-top:3%; }
#contentsWrap #storyHotSection #storyHot03Area p { font-size:4.3vw; line-height:1.8em; }
#contentsWrap #storyHotSection ul { width:90.5%; margin-top:0; }
#contentsWrap #storyHotSection ul li { width:100%; margin:6% 0 0; }
#contentsWrap #storyHotSection ul li:first-child { margin:4% 0 0; }

#contentsWrap #storyInnovationSection { margin-top:16%; }
#contentsWrap #storyInnovationSection #storyInnovation01Area { width:100%; }
#contentsWrap #storyInnovationSection #storyInnovation02Area { margin-top:9%; }
#contentsWrap #storyInnovationSection #storyInnovation03Area { margin-top:4%; }
#contentsWrap #storyInnovationSection #storyInnovation04Area { width:93%; padding-top:0; }
#contentsWrap #storyInnovationSection #storyInnovation04Area p { font-size:4.3vw; line-height:1.8em; margin-top:6.5%; }

#contentsWrap #storyBestSection { margin-top:15%; }
#contentsWrap #storyBestSection #storyBest01Area { width:100%; }
#contentsWrap #storyBestSection ul { width:100%; margin-top:0; }
#contentsWrap #storyBestSection ul li { width:100%; margin:5.3% 0 0; }
#contentsWrap #storyBestSection ul li:first-child { margin:8.5% 0 0; }
#contentsWrap #storyBestSection #storyBest02Area { width:93%; }
#contentsWrap #storyBestSection #storyBest02Area p { font-size:4.3vw; line-height:1.8em; margin-top:6.5%; }

}
