@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Donabe Story 「熱」が導く、土鍋革命 */
#contentsWrap #storyTitleSection { margin-top:50px; }
#contentsWrap #storyTitleSection #storyTitleArea { width:100%; margin:0 auto; }
#contentsWrap #storyTitleSection #storyTitleArea h2 { text-align:center; }
#contentsWrap #storyTitleSection #storyMvArea { margin-top:35px; padding:243px 0; background:url(/product/lineup/jpg/images/story_mv_bg_pc.jpg) center top no-repeat; }
#contentsWrap #storyTitleSection #storyMvArea p { text-align:center; }

#contentsWrap #storyHotSection { margin-top:71px; }
#contentsWrap #storyHotSection #storyHot01Area { margin:0 auto; width:1000px; }
#contentsWrap #storyHotSection #storyHot02Area { margin-top:67px; background:url(/product/lineup/jpg/images/story_heat_bg01.jpg) center top no-repeat; }
#contentsWrap #storyHotSection #storyHot02Area p { text-align:center; }
#contentsWrap #storyHotSection ul { width:100%; max-width:1200px; margin:41px auto 0; font-size:0; }
#contentsWrap #storyHotSection ul li { display:inline-block; width:31%; margin-left:3.5%; font-size:14px; }
#contentsWrap #storyHotSection ul li:first-child { margin-left:0; }
#contentsWrap #storyHotSection ul li img { width:100%; }
#contentsWrap #storyHotSection #storyHot03Area { margin:54px auto 0; width:1000px; }
#contentsWrap #storyHotSection #storyHot03Area p { font-size:154%; line-height:1.9em; }

#contentsWrap #storyInnovationSection { margin-top:69px; }
#contentsWrap #storyInnovationSection #storyInnovation01Area { margin:0 auto; width:1000px; }
#contentsWrap #storyInnovationSection #storyInnovation02Area { margin-top:56px; background:url(/product/lineup/jpg/images/story_innovation_bg01.jpg) center top no-repeat; }
#contentsWrap #storyInnovationSection #storyInnovation02Area p { text-align:center; }
#contentsWrap #storyInnovationSection #storyInnovation03Area { margin-top:44px; background:url(/product/lineup/jpg/images/story_innovation_bg02.jpg) center top no-repeat; }
#contentsWrap #storyInnovationSection #storyInnovation03Area p { text-align:center; }
#contentsWrap #storyInnovationSection #storyInnovation04Area { margin:0 auto; padding-top:3px; width:1000px; }
#contentsWrap #storyInnovationSection #storyInnovation04Area p { font-size:154%; line-height:1.9em; margin-top:38px; }

#contentsWrap #storyBestSection { margin-top:68px; }
#contentsWrap #storyBestSection #storyBest01Area { margin:0 auto; width:1000px; }
#contentsWrap #storyBestSection ul { width:100%; max-width:1200px; margin:48px auto 0; font-size:0; }
#contentsWrap #storyBestSection ul li { display:inline-block; width:48.2%; margin-left:3.4%; font-size:14px; }
#contentsWrap #storyBestSection ul li:first-child { margin-left:0; }
#contentsWrap #storyBestSection ul li img { width:100%; }
#contentsWrap #storyBestSection #storyBest02Area { margin:0 auto; width:1000px; }
#contentsWrap #storyBestSection #storyBest02Area p { font-size:154%; line-height:1.9em; margin-top:38px; }
