@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Donabe Style 甘みと香りがちがう */
#contentsWrap #styleTitleSection { margin-top:50px; }
#contentsWrap #styleTitleSection h2 { text-align:center; }
#contentsWrap #styleTitleSection #styleMvArea { margin:35px auto 0; padding:254px 0 240px; background:url(/product/lineup/jpg/images/style_mv_bg_pc.jpg) center top no-repeat; }
#contentsWrap #styleTitleSection #styleMvArea p { text-align:center; }

#contentsWrap #styleContentsSection { width:1000px; margin:49px auto 0; }
#contentsWrap #styleContentsSection #styleInfoArea p { text-align:center; }
#contentsWrap #styleContentsSection #styleInfoArea p#styleInfoTxt { margin-top:37px; }

#contentsWrap #styleContentsSection #stylePremiumArea { margin-top:67px; }
#contentsWrap #styleContentsSection #stylePremiumArea p#stylePremiumTxt { margin-top:18px; }
#contentsWrap #styleContentsSection #stylePremiumArea #stylePremiumMovieInner { position:relative; width:100%; max-width:1000px; margin-top:30px; padding-top: 56.25%; }
#contentsWrap #styleContentsSection #stylePremiumArea #stylePremiumMovieInner iframe { width:100% !important; height:100% !important; position:absolute; top:0; right:0; }
#contentsWrap #styleContentsSection #stylePremiumArea p#stylePremiumImg { margin-top:34px; }

#contentsWrap #styleContentsSection #styleStructureArea { margin-top:124px; }
#contentsWrap #styleContentsSection #styleStructureArea p#styleStructureTxt { margin-top:19px; font-size:154%; line-height:1.5em; letter-spacing:-0.04em; font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner { position:relative; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureImgList { margin-top:39px; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li { position:absolute; top:250px; width:20px; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li#styleStructureArrowsPrev { left:0; display:none; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li img { width:100%; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li#styleStructureArrowsNext { right:0; }
#contentsWrap #styleContentsSection #styleStructureArea ul#styleStructureNaviList { margin-left:-30px; font-size:0; }
#contentsWrap #styleContentsSection #styleStructureArea ul#styleStructureNaviList li { margin:18px 0 0 30px !important; display:inline-block; font-size:14px; }
#contentsWrap #styleContentsSection #styleStructureArea ul#styleStructureNaviList li a hover img { opacity:1; filter:alpha(opacity=100); }

#contentsWrap #styleContentsSection #styleEnzymeArea { margin-top:94px; }
#contentsWrap #styleContentsSection #styleEnzymeArea p#styleEnzymeImg { margin-top:32px; }

#contentsWrap #styleContentsSection #styleRippleArea { margin-top:77px; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner { margin-top:34px; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner p#styleRippleLeft { float:left; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner #styleRippleRightInner { float:right; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner #styleRippleRightInner #styleRippleRightBox { position:relative; width:417px; padding-top: 56.25%; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner #styleRippleRightInner #styleRippleRightBox iframe { width:100% !important; height:100% !important; position:absolute; top:0; right:0; }

#contentsWrap p#introBtn { margin-top:37px; text-align:center; }
