@charset "UTF-8";

/* CSS Document */


/*----------------------------------------------------
	☆indent
----------------------------------------------------*/

.center{text-align:center!important;}
.left{text-align:left!important;}
.right{text-align:right!important;}
.top0{margin-top:0 !important;}
.top5{margin-top:5px !important;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top80{margin-top:80px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.btm0{margin-bottom:0 !important;}
.btm5{margin-bottom:5px !important;}
.btm10{margin-bottom:10px !important;}
.btm15{margin-bottom:15px !important;}
.btm20{margin-bottom:20px !important;}
.btm25{margin-bottom:25px !important;}
.btm30{margin-bottom:30px !important;}
.btm35{margin-bottom:35px !important;}
.btm40{margin-bottom:40px !important;}
.btm45{margin-bottom:45px !important;}
.btm50{margin-bottom:50px !important;}
.btm55{margin-bottom:55px !important;}
.btm60{margin-bottom:60px !important;}
.btm65{margin-bottom:65px !important;}
.btm70{margin-bottom:70px !important;}
.btm75{margin-bottom:75px !important;}
.btm80{margin-bottom:80px !important;}
.btm85{margin-bottom:85px !important;}
.btm90{margin-bottom:90px !important;}
.btm95{margin-bottom:90px !important;}
.btm100{margin-bottom:100px !important;}
.pT0{padding-top:0!important;}
.pT5{padding-top:5px!important;}
.pT10{padding-top:10px!important;}
.pT15{padding-top:15px!important;}
.pT20{padding-top:20px!important;}
.pT25{padding-top:25px!important;}
.pT30{padding-top:30px!important;}
.pT35{padding-top:35px!important;}
.pT40{padding-top:40px!important;}
.pT45{padding-top:45px!important;}
.pB0{padding-bottom:0!important;}
.pB5{padding-bottom:5px!important;}
.pB10{padding-bottom:10px!important;}
.pB15{padding-bottom:15px!important;}
.pB20{padding-bottom:20px!important;}
.lm5{margin-left:5px !important;}
.lm10{margin-left:10px !important;}
.lm15{margin-left:15px !important;}
.lm20{margin-left:20px !important;}
.lm30{margin-left:20px !important;}
.lm50{margin-left:50px !important;}
.lm60{margin-left:60px !important;}
.lm70{margin-left:70px !important;}
.rm5{margin-right:5px !important;}
.rm10{margin-right:10px !important;}
.rm15{margin-right:15px !important;}
.rm20{margin-right:20px !important;}
.rm25{margin-right:25px !important;}
.rm40{margin-right:40px !important;}


.vAT { vertical-align:top!important;}
.vAM { vertical-align:middle!important;}
.vAB { vertical-align:bottom!important;}
.fltL { float:left !important;}
.fltR { float:right !important;}
.bold {font-weight: bold;}
.normal {font-weight: normal;}
.m0Auto { margin:0 auto; }
.clear { clear: both; }
.inline { display: inline!important; }
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}
.flex {
	display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
@mixin flex {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@mixin h-color {
    color: #1d8aa8;
}
@mixin green {
    color: #5bb92a;
}
@mixin red {
    color: #ff0000;
}
@mixin gray {
    color: #434343;
}
@mixin lightgray {
    color: #cccccc;
}
@mixin border-top {
    border-top: 1px solid #dfdfdf;
}
@mixin border-left {
    border-left: 1px solid #dfdfdf;
}
@mixin border-right {
    border-right: 1px solid #dfdfdf;
}
@mixin border-bottom {
    border-bottom: 1px solid #dfdfdf;
}
@mixin border {
    border: 1px dotted #dfdfdf;
}
.green {
    @include green;
}
.attention {
    @include red;
}

@mixin content-before ($h) {
    display: block;
    content: "";
    padding-top: $h;
    pointer-events: none;
}

@mixin border-radius($r){
    border-radius: $r;
    -webkit-border-radius: $r;
}
@mixin arrow ($col){
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 1px solid $col;
    border-right: 1px solid $col;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
@mixin arrow-large( $col ) {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid $col;
    border-right: 2px solid $col;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
}

@mixin arrow-exlarge( $col, $rot ) {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 4px solid $col;
    border-right: 4px solid $col;
    -webkit-transform: rotate($rot);
    transform: rotate($rot);
    top: 0;
    bottom: 0;
    margin: auto;
    left: -9px;
}

@mixin arrow-open( $col ) {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid $col;
    border-right: 2px solid $col;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin arrow-close( $col ) {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid $col;
    border-right: 2px solid $col;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    bottom: 0;
    margin: auto;
}

@mixin triangle ($w,$h,$col){
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: $h solid $col;
    border-left: $w solid transparent;
    border-right: $w solid transparent;
}
@mixin triangle-l ($w,$h,$col){
    width: 0px;
    height: 0px;
    background: transparent;
    border-left: $h solid $col;
    border-top: $w / 2 solid transparent;
    border-bottom: $w / 2 solid transparent;
}
@mixin triangle-r ($w,$h,$col){
    width: 0px;
    height: 0px;
    background: transparent;
    border-right: $h solid $col;
    border-top: $w solid transparent;
    border-bottom: $w solid transparent;
}

@function px-to-per ( $pix, $stage ) {
    @return $pix / $stage * 100%;
}
@mixin img-width-per ( $pix, $stage ){
    width: px-to-per( $pix, $stage );
    max-width: $pix * 1px;
    img {
        width: 100%;
    }
}

$stage_width: 1100px;

@function get_vw ( $size, $viewport ){
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}
@mixin margin-top-vw($size){
    margin-top: $size * 1px;
    @media only screen and (max-width: 1100px) {
        margin-top: get_vw($size, 1100);
    }
}
@mixin margin-bottom-vw($size){
    margin-bottom: $size * 1px;
    @media only screen and (max-width: 1100px) {
        margin-bottom: get_vw($size, 1100);
    }
}
@mixin padding-top-vw($size){
    padding-top: $size * 1px;
    @media only screen and (max-width: 1100px) {
        padding-top: get_vw($size, $stage_width);
    }
}
@mixin padding-bottom-vw($size){
    padding-bottom: $size * 1px;
    @media only screen and (max-width: 1100px) {
        padding-bottom: get_vw($size, 1100);
    }
}

@mixin font-size-vw($size){
    font-size: $size * 1px;
    font-size: $size * 0.1rem;
    @media only screen and (max-width: 1100px) {
        font-size: get_vw($size, 1100);
    }
}
@mixin relative-per ($w, $stgW) {
    position: relative;
    width: $w / $stgW * 100%;
    max-width: $w;
}
@mixin list-column ( $listW, $stageW ){
    $split: floor( $stageW / $listW );
    $marginAll: $stageW - ( $listW * $split );
    $margin: $marginAll / ( $split - 1 ) / $stageW * 100%;
    
    overflow: hidden;
    width: 100%;
    > * {
        float: left;
        width: $listW / $stageW * 100%;
        padding-left: $margin;

        &:first-child {
            padding-left: 0;
        }
        a {
            position: relative;
            display: table;
            width: 100%;
            height: 100%;
            padding: 0 10px;
            background-color: #fff;
            border-top: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            box-sizing: border-box;
            text-align: center;
            color: #666464;
            text-decoration: none;
            border-radius: 8px 8px 0 0;
            -webkit-border-radius: 8px 8px 0 0;
            overflow: hidden;
            line-height: 1.2em;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                left: 0;
                right: 0;
                margin: auto;
                top: 0;
                background-color: #5bb92a;
                transition: height 0.2s ease;
                border-radius: 8px 8px 0 0;
                -webkit-border-radius: 8px 8px 0 0;
            }

            span {
                display: table-cell;
                vertical-align: middle;
            }
            &:hover {
                color: #5bb92a;
                &:after {
                    height: 5px;
                }
            }
            &.current {
                color: #5bb92a;
                &:after {
                    height: 5px;
                }
            }
        }
    }
}

@mixin other-link-list( $listW, $stageW ){
    $split: floor( $stageW / $listW );
    $marginAll: $stageW - ( $listW * $split );
    $margin: $marginAll / ( $split - 1 ) / $stageW * 100%;
    overflow: hidden;

    li {
        position: relative;
        float: left;
        width: $listW / $stageW * 100%;
        
        a {
            display: table;
            width: 100%;
            height: 100%;
            height: 59px;
            border: 1px solid #5bb92a;
            color: #5bb92a;
            background-color: #fff;
            text-align: center;
            text-decoration: none;
            position: relative;
            @include size18;
            padding: 0;
            box-sizing:border-box;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            line-height: 1.2em;
            transition: all 300ms 0s ease;
            span {
                display: table-cell;
                vertical-align: middle;
            }
            &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 10px;
                border-top: 2px solid #5bb92a;
                border-right: 2px solid #5bb92a;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &.current,
            &:hover {
                color: #fff;
                background-color: #5bb92a;
                &:after {
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                }
            }
        }
    }
    li + li {
        margin-left: $margin;
    }

    @media only screen and (max-width: 640px) {
        li {
            width: 49%;
            margin-top: 5px;
            margin-left: 2% !important;
            a {
                @include size12;
                padding: 9px 0;
                min-height: 33px;
            }
            &:nth-child(odd){
                margin-left: 0 !important;
            }
            &:nth-child(-n+2){
                margin-top: 0;
            }
        }
        
    }
}

@mixin column( $listW, $stageW ){
    $split: floor( $stageW / $listW );
    $marginAll: $stageW - ( $listW * $split );
    $margin: $marginAll / ( $split - 1 ) / $stageW * 100%;
    overflow: hidden;
    li {
        float: left;
        width: ( $listW / $stageW ) * 100%;
        img { width: 100%; }
    }
    li + li {
        margin-left: $margin;
    }
}

@mixin ab-center{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}