        <div class="p-nozomi-carousel">
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-01/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol1.jpg" alt="vol.01">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.01</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-02/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol2.jpg" alt="vol.02">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.02</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-03/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol3.jpg" alt="vol.03">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.03</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-04/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol4.jpg" alt="vol.04">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.04</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-05/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol5.jpg" alt="vol.05">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.05</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-06/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol6.jpg" alt="vol.06">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.06</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-07/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol7.jpg" alt="vol.07">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.07</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-08/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol8.jpg" alt="vol.08">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.08</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-09/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol9.jpg" alt="vol.09">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.09</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-10/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol10.jpg" alt="vol.10">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.10</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-11/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol11.jpg" alt="vol.11">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.11</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-12/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol12.jpg" alt="vol.12">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.12</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-13/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol13.jpg" alt="vol.13">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.13</span></p>
              </div>
            </a>
          </div>
          <div class="p-nozomi-carousel__elem">
            <a href="../nozomi-14/">
              <div class="p-nozomi-carousel__media">
                <img class="c-media__image" src="/assets/images/special/nozomi/thumb/thumb_vol14.jpg" alt="vol.14">
              </div>
              <div class="p-nozomi-thumbText">
                <p class="p-nozomi-thumbText-center"><span class="p-nozomi-thumbText__vol">vol.14</span></p>
              </div>
            </a>
          </div>
        </div>