@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Donabe Style 甘みと香りがちがう */
#contentsWrap #styleTitleSection { margin-top:7%; }
#contentsWrap #styleTitleSection #styleMvArea { margin-top:6.4%; padding:0; background:url(/product/lineup/jpg/images/style_mv_bg_sp.jpg) center top no-repeat; background-size:100% auto; }

#contentsWrap #styleContentsSection #styleInfoArea p#styleInfoTxt { margin-top:7.5%; }

#contentsWrap #styleContentsSection { width:100%; margin:7% 0 0; }
#contentsWrap #styleContentsSection #stylePremiumArea { margin-top:20%; }
#contentsWrap #styleContentsSection #stylePremiumArea p#stylePremiumTxt { margin-top:3.5%; }
#contentsWrap #styleContentsSection #stylePremiumArea p#stylePremiumImg { margin-top:6.5%; }
#contentsWrap #styleContentsSection #stylePremiumArea #stylePremiumMovieInner { margin-top:4%; }

#contentsWrap #styleContentsSection #styleStructureArea { margin-top:11%; }
#contentsWrap #styleContentsSection #styleStructureArea p#styleStructureTxt { margin:4.5% auto 0; width:93%; font-size:4.3vw; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureImgList { margin-top:3%; }
#contentsWrap #styleContentsSection #styleStructureArea ul#styleStructureNaviList { width:97%; margin:1.6% 1.5% 0; }
#contentsWrap #styleContentsSection #styleStructureArea ul#styleStructureNaviList li { width:48%; margin:2% 1% 0 !important; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li { top:48%; width:4%; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li#styleStructureArrowsPrev { left:1%; }
#contentsWrap #styleContentsSection #styleStructureArea #styleStructureInner ul#styleStructureArrowsList li#styleStructureArrowsNext { right:1%; }

#contentsWrap #styleContentsSection #styleEnzymeArea { margin-top:8.6%; }
#contentsWrap #styleContentsSection #styleEnzymeArea p#styleEnzymeImg { margin-top:4%; }

#contentsWrap #styleContentsSection #styleRippleArea { margin-top:11%; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner { margin-top:5.4%; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner p#styleRippleLeft { float:none; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner p#styleRippleRight { float:none; margin-top:6.3%; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner #styleRippleRightInner { float:none; margin-top:6.3%; }
#contentsWrap #styleContentsSection #styleRippleArea #styleRippleInner #styleRippleRightInner #styleRippleRightBox { width:93%; margin:0 auto; padding-top:52.45%; }

#contentsWrap p#introBtn { width:74%; margin:8.3% auto 0; }

}
