@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* トップページ */
#contentsWrap #topTitleSection { position:relative; overflow:hidden; }
#contentsWrap #topTitleSection #topTitleArea { width:1000px; margin:0 auto; padding-bottom:87px; }
#contentsWrap #topTitleSection #topTitleArea h2 { text-align:right; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleImg01 { margin-top:-2px; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleLogo { text-align:center; margin-top:67px; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleImg02 { text-align:center; margin-top:27px; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleBtn { text-align:center; margin:35px auto 0; }

#contentsWrap #topTitleSection p#topTitleBgImg,
#contentsWrap #topStyleSection p#topStyleBgImg,
#contentsWrap #topStorySection p#topStoryBgImg { position:absolute; left:50%; top:0; z-index:-1; width:1200px; margin-left:-600px; overflow:hidden; }
#contentsWrap #topTitleSection p#topTitleBgImg img,
#contentsWrap #topStyleSection p#topStyleBgImg img,
#contentsWrap #topStorySection p#topStoryBgImg img { transform:scale(1); transition:transform 0.4s ease 0s; }
#contentsWrap #topTitleSection p#topTitleBgImg.currentHover img,
#contentsWrap #topStyleSection p#topStyleBgImg.currentHover img,
#contentsWrap #topStorySection p#topStoryBgImg.currentHover img { transform:scale(1.05); }

#contentsWrap #topStyleSection { position:relative; overflow:hidden; margin-top:39px; }
#contentsWrap #topStyleSection #topStyleArea { margin:0 auto; padding:186px 0 149px; background:url(/product/lineup/jpg/images/top_bg_line_pc.png) center 162px no-repeat; }
#contentsWrap #topStyleSection #topStyleArea p#topStyleImg { text-align:center; }
#contentsWrap #topStyleSection #topStyleArea p.btnDetail,
#contentsWrap #topStorySection #topStoryArea p.btnDetail { text-align:center; margin:35px auto 0; }

#contentsWrap #topStorySection { position:relative; overflow:hidden; margin-top:28px; }
#contentsWrap #topStorySection #topStoryArea { margin:0 auto; padding:186px 0 149px; background:url(/product/lineup/jpg/images/top_bg_line_pc.png) center 162px no-repeat; }
#contentsWrap #topStorySection #topStoryArea p#topStoryImg { text-align:center; }

#contentsWrap #topSpecSection { margin-top:28px; }
#contentsWrap #topSpecSection #topSpecArea { padding:18px 0 22px; background-color:#e6e6e6; }
#contentsWrap #topSpecSection #topSpecArea p#topSpecImg { text-align:center; }
#contentsWrap #topSpecSection ul { margin-top:40px; text-align:center; font-size:0; }
#contentsWrap #topSpecSection ul li { display:inline-block; margin-left:29px; font-size:14px; }
#contentsWrap #topSpecSection ul li:first-child { margin-left:0; }
