@charset "UTF-8";

#contentsWrap {
  min-width: inherit;
  min-width: auto;
}
.h1-contents-title {
  font-size: 35px !important;
  font-size: 3.5rem !important;
  margin-bottom: 60px !important;
  letter-spacing: 0;
  font-weight: normal;
  font-family: "教科書ICA M","Kyoukasho ICA Medium";
  color: #1d8aa8;
  text-align: left;
}
.h1-contents-title span {
  font-size: 21px !important;
  font-size: 2.1rem !important;
}
.selecter {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-right: calc(((100vw - 100%) / 2) * -1) !important;
  margin-left: calc(((100vw - 100%) / 2) * -1) !important;
  padding: 1.5em calc((100vw - 100%) / 2) !important;
  margin-bottom: 40px !important;
  background-color: #f7f7f9 !important;
}
.selecter:last-of-type {
  margin-top: 40px !important;
}
.selecter ul {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1064px;
  margin: 0 auto !important;
}
.selecter ul li {
  display: flex;
  -ms-flex: 0 0 32.70676%;
  flex: 0 0 32.70676%;
  max-width: 32.70676%;
}
.selecter ul li a {
  color: #1c1c1c;
}
.selecter ul li a img {
  width: 100% !important;
  max-height: 77px !important;
  background-repeat: no-repeat !important;
  border: 1px solid #fff !important;
}
.selecter ul li:nth-of-type(1) a img {
  background-image: url("../common/images/navi_style.gif") !important;
  background-size: cover !important;
}
.selecter ul li:nth-of-type(2) a img {
  background-image: url("../common/images/navi_interview.gif") !important;
  background-size: cover !important;
}
.selecter ul li:nth-of-type(3) a img {
  background-image: url("../common/images/navi_switch.gif") !important;
  background-size: cover !important;
}
.selecter ul .current a img, .selecter ul li:hover a img {
  border: 1px solid #1b1b1b !important;
  opacity: 1 !important;
}
.selecter ul .current:nth-of-type(1) a img, .selecter ul li:hover:nth-of-type(1) a img {
  background-image: url("../common/images/navi_style_current.gif") !important;
  background-size: cover !important;
}
.selecter ul .current:nth-of-type(2) a img, .selecter ul li:hover:nth-of-type(2) a img {
  background-image: url("../common/images/navi_interview_current.gif") !important;
  background-size: cover !important;
}
.selecter ul .current:nth-of-type(3) a img, .selecter ul li:hover:nth-of-type(3) a img {
  background-image: url("../common/images/navi_switch_current.gif") !important;
  background-size: cover !important;
}
.nav-products .content-inner {
  margin-left: auto !important;
  margin-right: auto !important;
}
.nav-products .content-inner li {
  vertical-align: top !important;
}
.nav-products .content-inner .thumb {
  margin: 0 auto !important;
  vertical-align: middle !important;
}
.nav-products .content-inner .product-name {
  color: #1d8aa8;
}
.nav-products .content-inner .current .product-name, .nav-products .content-inner li:hover .product-name {
  color: #434343;
}
.nav-products .content-inner li:after {
  display: none;
}
.nav-products .content-inner .current:after, .nav-products .content-inner li:hover:after {
  display: block;
  bottom: -12px;
}
@media only screen and (max-width: 768px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
  .nav-products .content-inner li {
    overflow: visible;
  }
  .nav-products .content-inner li .thumb {
    display: table-cell;
    height: 188px;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 1064px) {
  body {
    overflow-x: hidden;
  }
}
