@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Special Interview */
#contentsWrap #interviewTitleSection { margin-top:7%; padding:24% 0 21.7%; background-image:url(/product/lineup/acq/images/interview_mv_bg_sp.jpg); background-size:100% auto; }
#contentsWrap #interviewTitleSection p { margin-top:7.5%; }

#contentsWrap #interviewProfileSection { margin-top:4.5%; width:100%; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea { float:none; width:auto; margin-top:4%; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl { margin:3% auto 0; padding-top:3%; width:90%; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dt { font-size:3.35vw; padding:1.5% 0 1%; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dd { font-size:3.35vw; padding:1.5% 0 1% 18%; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dt:first-child { padding-top:0; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dt:first-child + dd { padding-top:0; }
#contentsWrap #interviewProfileSection #interviewProfileImgArea { float:none; }

#contentsWrap .interviewSection { width:auto; margin-top:15%; }
#contentsWrap .interviewSection p.mt0 { margin-top:5% !important; }
#contentsWrap .interviewSection p.interviewImg { margin-top:5%; }
#contentsWrap .interviewSection > p { margin:5% auto 0; font-size:4vw; }
#contentsWrap .interviewSection p.interviewTxt { width:90%; }
#contentsWrap .interviewSection .interviewArea { margin-top:0; }
#contentsWrap .interviewSection .interviewArea p { margin:5% auto 0; font-size:4vw; }
#contentsWrap .interviewSection .interviewArea .interviewLeftInner { float:none; width:auto; }
#contentsWrap .interviewSection .interviewArea .interviewRightInner { float:none; width:auto; }

#contentsWrap #interview02Section { margin-top:10%; }
#contentsWrap #interview02Section .interviewArea { margin-top:5%; }
#contentsWrap #interview03Section { margin-top:10%; }
#contentsWrap #inPageBnSection { margin-top:15%;}

}
