@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Special Interview */
#contentsWrap #interviewTitleSection { margin-top:35px; padding:156px 0 146px; background:url(/product/lineup/acq/images/interview_mv_bg_pc.jpg) center top no-repeat; }
#contentsWrap #interviewTitleSection h2 { text-align:center; }
#contentsWrap #interviewTitleSection p { text-align:center; margin-top:40px; }

#contentsWrap #interviewProfileSection { margin:130px auto 0; width:843px; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea { float:left; width:311px; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl { margin-top:45px; padding-top:35px; border-top:1px solid #c8c5c4; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dt { font-size:93%; padding:8px 0 7px; float:left; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dd { font-size:93%; padding:8px 0 7px 60px; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dt:first-child { padding-top:0; }
#contentsWrap #interviewProfileSection #interviewProfileTxtArea dl dt:first-child + dd { padding-top:0; }
#contentsWrap #interviewProfileSection #interviewProfileImgArea { float:right; }

#contentsWrap .interviewSection { margin:130px auto 0; width:1000px; }
#contentsWrap .interviewSection p.mt0 { margin-top:0 !important; }
#contentsWrap .interviewSection p.interviewImg { margin-top:40px; }
#contentsWrap .interviewSection > p { margin-top:50px; font-size:125%; line-height:1.8em; letter-spacing:-0.04em; }
#contentsWrap .interviewSection .interviewArea { margin-top:30px; }
#contentsWrap .interviewSection .interviewArea p { margin-top:30px; font-size:125%; line-height:1.8em; letter-spacing:-0.04em; }
#contentsWrap .interviewSection .interviewArea .interviewLeftInner { float:left; width:427px; }
#contentsWrap .interviewSection .interviewArea .interviewRightInner { float:right; width:539px; }

#contentsWrap #interview02Section { margin-top:35px; }
#contentsWrap #interview02Section .interviewArea { margin-top:50px; }
#contentsWrap #interview03Section { margin-top:90px; }
#contentsWrap #inPageBnSection { margin-top:80px; }
