@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Press Style 蒸気プレス方式で、こだわりの一杯 */
#contentsWrap #styleTitleSection { margin-top:50px; }
#contentsWrap #styleTitleSection h2 { text-align:center; }
#contentsWrap #styleTitleSection #styleMvArea { margin:35px auto 0; padding:255px 0 242px; background:url(/product/lineup/acq/images/style_mv_bg_pc.jpg) center top no-repeat; }
#contentsWrap #styleTitleSection #styleMvArea p { text-align:center; }

#contentsWrap #styleContentsSection { width:1000px; margin:68px auto 0; }
#contentsWrap #styleContentsSection #styleExtractionArea h3 { text-align:center; }
#contentsWrap #styleContentsSection #styleExtractionArea ul { margin:50px auto 0; width:940px; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li { margin-left:35px; padding-left:60px; float:left; position:relative; background:url(/product/lineup/acq/images/style_extraction_bg_arrow_pc.gif) left center no-repeat; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li:first-child { margin-left:0; padding-left:0; background:none; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li p.styleExtractionTxt { position:absolute; left:60px; top:215px; width:144px; line-height:1.3em; font-size:93%; }
#contentsWrap #styleContentsSection #styleExtractionArea ul li:first-child p.styleExtractionTxt { left:0; }

#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner { margin-top:65px; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox { position:relative; width:472px; float:left; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox h4 { text-align:center; padding-bottom:15px; border-bottom:2px solid #aca8a7; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionSubTitle { position:absolute; left:0; top:195px; width:110px; font-size:84%; line-height:1.3em; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionSubTitle span { display:block; margin-top:5px; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionLeftImg { margin-top:15px; text-align:right; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionLeftBox p#styleExtractionLeftTxt { position:absolute; left:0; top:60px; width:300px; font-size:93%; line-height:1.35em; }

#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox { position:relative; width:472px; float:right; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox h4 { text-align:center; padding-bottom:15px; border-bottom:2px #aca8a7 solid; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox p#styleExtractionRightImg { margin-top:15px; }
#contentsWrap #styleContentsSection #styleExtractionArea #styleExtractionInner #styleExtractionRightBox p#styleExtractionRightTxt { position:absolute; left:0; top:60px; width:200px; font-size:93%; line-height:1.35em; }

#contentsWrap #styleContentsSection #styleTasteArea { margin-top:115px; width:1000px; }
#contentsWrap #styleContentsSection #styleTasteArea h3 { text-align:center; padding-bottom:30px; border-bottom:1px solid #918c89; }
#contentsWrap #styleContentsSection #styleTasteArea > p { text-align:center; margin-top:25px; }
#contentsWrap #styleContentsSection #styleTasteArea #styleTasteInner { width:778px; margin:35px auto 0; padding:20px; background-color:#efefef; box-sizing:content-box; }
#contentsWrap #styleContentsSection #styleTasteArea #styleTasteInner p { text-align:center; font-size:154%; line-height:1.5em; }

#contentsWrap #styleContentsSection #styleShapeArea { margin-top:90px; width:1000px; }
#contentsWrap #styleContentsSection #styleShapeArea h3 { text-align:center; padding-bottom:30px; border-bottom:1px solid #918c89; }
#contentsWrap #styleContentsSection #styleShapeArea p { text-align:center; margin-top:30px; }

#contentsWrap #styleContentsSection p#styleImg { margin-top:63px; }

#contentsWrap p#introBtn { margin-top:37px; text-align:center; }
