@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Healthy Story 美味しい無添加グルテンフリー米粉パンで、世界中を笑顔に。 */
#contentsWrap #storyTitleSection { margin-top:7%; }
#contentsWrap #storyTitleSection p#storyTitleTxt01 { width:100%; margin:4% auto 0; font-size:3.5vw; line-height:1.8em; }
#contentsWrap #storyTitleSection #storyMvArea { margin-top:4%; background:none; }
#contentsWrap #storyTitleSection #storyMvArea p { }
#contentsWrap #storyTitleSection p#storyTitleTxt02 { margin-top:5%; }

#contentsWrap .storySection { width:100%; margin-top:15%; }
#contentsWrap .storySection p { font-size:4vw; margin-top:7%; }
#contentsWrap .storySection .storyTxtArea { width:90%; margin:0 auto; }
#contentsWrap .storySection ul.storyImgList { margin:0 auto; width:90%; }
#contentsWrap .storySection ul.storyImgList li { margin:7% 0 0; float:none; }
#contentsWrap .storySection p.storyImg { width:90%; margin:7% auto 0; }
#contentsWrap .storySection p.atComment { font-size:3.5vw; }

#contentsWrap #storyJointSection { width:92%; margin-top:7%; padding:4%; }
#contentsWrap #storyJointSection p#storyJointImg { float:none; width:100%; margin:0 auto; }
#contentsWrap #storyJointSection p#storyJointTxt { float:none; width:100%; font-size:4vw; margin:3% auto 0; padding-top:3%; border-top:1px solid #2f2421; }

}
