@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Healthy Style 笑顔ふくらむ、おいしいパン */
#contentsWrap #styleTitleSection { margin-top:50px; }
#contentsWrap #styleTitleSection h2 { text-align:center; }
#contentsWrap #styleTitleSection #styleMvArea { margin:35px auto 0; padding:256px 0 238px; background:url(/product/lineup/kbd/images/style_mv_bg_pc.jpg) center top no-repeat; }
#contentsWrap #styleTitleSection #styleMvArea p { text-align:center; }

#contentsWrap #styleContentsSection { width:1000px; margin:62px auto 0; }
#contentsWrap #styleContentsSection p#mainTxt { text-align:center; }

#contentsWrap #styleContentsSection .styleTitleInner p.styleTitleIcon { float:left; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox { float:right; width:814px; margin-top:4px; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox h3 { padding-bottom:20px; border-bottom:2px solid #59514e; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox p.styleTitleTxt { margin-top:20px; font-size:150%; line-height:1.6em; }

#contentsWrap #styleContentsSection #styleBakeArea { margin-top:60px; width:1000px; }
#contentsWrap #styleContentsSection #styleBakeArea p#styleBakeImg { margin-top:60px; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner { position:relative; margin-top:40px; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner p#styleBakeTxt { position:absolute; left:245px; top:135px; width:750px; font-size:178%; line-height:1.6em; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner p#styleBakeTxt sup { vertical-align:baseline; font-size:60%; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner p#styleBakeAtt { text-align:right; margin-top:-10px; }

#contentsWrap #styleContentsSection #styleKneadArea { position:relative; margin-top:40px; width:1000px; padding-top:70px; border-top:1px solid #908b88; }
#contentsWrap #styleContentsSection #styleKneadArea .styleTitleInner .styleTitleBox p.styleTitleTxt { font-size:178%; line-height:1.6em; width:490px; }
#contentsWrap #styleContentsSection #styleKneadArea .styleTitleInner .styleTitleBox p#styleKneadImg { position:absolute; right:5px; top:15px; }
#contentsWrap #styleContentsSection #styleKneadArea .styleTitleInner .styleTitleBox p#styleKneadAtt { line-height:1.3em; margin-top:10px; }

#contentsWrap #styleContentsSection #styleFermentationArea { margin-top:50px; width:1000px; }
#contentsWrap #styleContentsSection #styleFermentationArea .styleTitleInner .styleTitleBox p.styleTitleTxt { font-size:178%; line-height:1.6em; }
#contentsWrap #styleContentsSection #styleFermentationArea p#styleFermentationImg { margin-top:10px; }

#contentsWrap #styleContentsSection #styleDevelopmentArea { margin-top:70px; }
#contentsWrap #styleContentsSection #styleDevelopmentArea h3 { text-align:center; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner { margin-top:35px; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox { width:584px; float:left; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit #styleDevelopmentOuter { float:left; width:305px; margin-top:20px; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit #styleDevelopmentOuter p { margin-top:15px; padding-top:15px; border-top:1px solid #908b88; font-size:107%; line-height:1.5em; letter-spacing:-0.06em; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit p { float:left; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox ul { margin-top:15px; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox ul li { font-size:114%; line-height:1.5em; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentRightBox { float:right; }
#contentsWrap #styleContentsSection #styleDevelopmentArea ul#styleDevelopmentImgList { margin-top:40px; }
#contentsWrap #styleContentsSection #styleDevelopmentArea ul#styleDevelopmentImgList li { float:left; }

#contentsWrap p#introBtn { margin-top:47px; text-align:center; }
