@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* しあわせスイッチストーリー */
#contentsWrap #switchTitleSection { margin-top:7%; }
#contentsWrap #switchTitleSection #switchTitleArea { max-width:initial; max-width:auto; }
#contentsWrap #switchTitleSection #switchTitleArea ul { margin-top:6.5%; }
#contentsWrap #switchTitleSection #switchTitleArea ul li { margin-left:3%; width:46%; }
#contentsWrap #switchTitleSection #switchTitleArea #switchTitleMovieInner { margin-top:6.5%; }

#contentsWrap #switchKeyword01Section { margin-top:5.5%; }
#contentsWrap #switchKeyword01Section #switchKeyword01_01Area { background:url(/product/lineup/kbd/images/switch02_kw01_bg01_sp.jpg) center bottom no-repeat; background-size:100% auto; padding:0 0 88.5%; }
#contentsWrap #switchKeyword01Section #switchKeyword01_01Area h3 { margin-left:0; width:auto; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area { background:url(/product/lineup/kbd/images/switch02_kw01_bg02_sp.jpg) center bottom no-repeat; background-size:100% auto; margin-top:5%; padding-bottom:70%; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner { width:100%; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner h4 { font-size:5.1vw; margin-left:0; }
#contentsWrap #switchKeyword01Section #switchKeyword01_02Area #switchKeyword01_02Inner p { font-size:3.4vw; margin-top:2.5%; line-height:2em; margin-left:0; }

#contentsWrap #switchKeyword02Section { margin-top:6.3%; }
#contentsWrap #switchKeyword02Section #switchKeyword02Area { background-size:100% auto; margin-top:7.9%; }

#contentsWrap #switchKeyword03Section { margin-top:6.3%; }
#contentsWrap #switchKeyword03Section #switchKeyword03Area h3 { width:100%; }
#contentsWrap #switchKeyword03Section ul { margin-top:7.5%; }

#contentsWrap p#anotherBtn { margin:10% auto 0; width:80%; }

}
