$viewportSp: 320;

.komeko-cp1 {
  ul {
    &.disc {
      li {
        padding-left: 1em;
        text-indent: -1em;
        &:before {
          content: '・';
        }
      }
    }
    &.annotation {
      li {
        padding-left: 1em;
        text-indent: -1em;
        &:before {
          content: '※';
        }
      }
    }
  }
  &.title-profile {
    background: url('/assets/images/special/komeko/lp1_bg.jpg');
    background-size: cover;
    .contents-section {
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 75px;
      .title-img {
        margin-bottom: 21px;
      }
    }
    .place-address {
      max-width: 740px;
      margin: 0 auto 40px;
      padding: 25px 0;
      background-color: #fff;
      color: #000;
      font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
      dl {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        font-size: 14px;
        font-size: 1.4rem;
        dt {
          flex: 0 0 24.722%;
          text-align: right;
          &:nth-of-type(2) {
            padding-right: 3px;
          }
        }
        dd {
          flex: 0 0 72.278%;
        }
        dt, dd {
          &:first-of-type {
            margin-bottom: 10px;
            font-size: 20px;
            font-size: 2rem;
          }
        }
      }
    }
    .profile {
      max-width: 1000px;
      margin: 0 auto;
      padding: 33px 20px;
      background-color: #fff;
      border-radius: 15px;
      .title {
        margin-bottom: 30px;
        text-align: center;
        font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
        font-size: 22px;
        font-size: 2.2rem;
      }
      .flex {
        display: flex;
        flex-wrap: wrap;
        .c-media {
          flex: 0 0 32.917%;
          padding-right: 34px;
          text-align: right;
          &__image {
            max-width: 149px
          }
        }
        .prof-inner {
          flex: 0 0 67.083%;
          max-width: 63.54%\0;
          .prof-name {
            margin-bottom: 12px;
            font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
            font-size: 17px;
            font-size: 1.7rem;
          }
          .prof-text {
            color: #000;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: (28 / 14);
            span {
              padding-left: 3em;
            }
          }
        }
      }
    }
  }
  &.block1 {
    .detail {
      max-width: 1000px;
      margin-top: -46px;
      padding-top: 0;
    }
    .p-title1 {
      margin-bottom: 60px;
      text-align: center;
      font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
      font-weight: normal;
      font-size: 32.63px;
      font-size: 3.263ren;
      line-height: 1.764;
      color: #6a3906;
      font-feature-settings: "palt" 1;
    }
    .p-app-guide {
      .c-media {
        width: 292px;
        margin: 0 auto 50px;
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        dt, dd {
          margin-bottom: 40px;
        }
        dt {
          width: 132px;
          p {
            padding: 11px 5px;
            background-color: #ead9af;
            text-align: center;
            font-size: 17px;
          }
        }
        dd {
          flex: 0 0 calc(100% - 132px);
          width: calc(100% - 132px);
          padding-left: 20px;
          font-size: 14px;
          line-height: 2;
        }
      }
    }
    .ask {
      margin-bottom: 70px;
      padding: 30px 20px 20px;
      border: 1px solid #be892f;
      dl {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        dt, dd {
          margin-bottom: 16px;
        }
        dt {
          flex: 0 0 44.7917%;
          text-align: right;
          font-size: 17px;
          font-size: 1.7rem;
        }
        dd {
          flex: 0 0 55.2083%;
          font-size: 22px;
          font-size: 2.2rem;
          &:first-of-type {
            font-size: 30px;
            font-size: 3rem;
          }
          span {
            font-size: 14px;
            font-size: 1.4rem;
          }
        }
      }
      .annotation {
        margin: 0 70px;
        font-size: 14px;
        font-size: 1.4rem;
      }
    }
    .agreement {
      .c-media {
        width: 292px;
        margin: 0 auto 50px;
      }
      .text {
        margin-bottom: 70px;
        padding: 30px 20px 20px;
        border: 1px solid #be892f;
        font-size: 14px;
        font-size: 1.4rem;
        .text-inner {
          overflow-y: scroll;
          height: 376px;
          p {
            &:not(:last-child) {
              margin-bottom: 1em;
            }
          }
        }
      }
    }
    .p-btn-dl {
      p {
        width: 480px;
        margin: 0 auto;
        font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
        font-size: 25px;
        font-size: 2.5rem;
        a {
          position: relative;
          display: block;
          width: 100%;
          padding: 42px 10px;
          text-align: center;
          &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 50%;
            right: 14px;
            margin-top: -5px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
          }
          &:hover {
            opacity: 0.7;
            text-decoration: none;
          }
        }
        &.p-btn-apply {
          margin-bottom: 40px;
          a {
            background-color: #be892f;
            color: #fff;
          }
        }
        &.p-btn-download {
          a {
            padding: 20px 10px;
            background-color: #ead9af;
            color: #000;
            &:after {
              border-top-color: #000;
              border-right-color: #000;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    &.title-profile {
      background: url('/assets/images/special/komeko/lp1_bg_sp.jpg');
      .contents-section {
        padding-top: 0;
      }
      .title-img {
        position: relative;
        width: 100vw;
        margin-bottom: (40 / 2 + px) !important;
        margin-bottom: ((40 / 2) / $viewportSp * 100 + vw) !important;
        padding-top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .place-address {
        margin-bottom: (30 / 2 + px);
        margin-bottom: ((30 / 2) / $viewportSp * 100 + vw);
        dl {
          font-size: (20 / 2 + px) !important;
          font-size: ((20 / 2) / $viewportSp * 100 +vw) !important;
          dt {
            flex: 0 0 27.6923%;
            &:nth-of-type(2) {
              padding-right: 1px;
              padding-right: (1 / $viewportSp * 100 + vw);
            }
          }
          dd {
            flex: 0 0 72.3077%;
          }
          dt, dd {
            &:first-of-type {
              margin-bottom: (16 / 2 + px);
              margin-bottom: ((16 / 2) / $viewportSp * 100 + vw);
              font-size: (24 / 2 + px) !important;
              font-size: ((24 / 2) / $viewportSp * 100 + vw) !important;
            }
          }
        }
      }
      .profile {
        padding: (40px / 2) (30px / 2) (18px / 2);
        padding: ((40 / 2) / $viewportSp * 100 + vw) ((30 / 2) / $viewportSp * 100 + vw) ((18 / 2) / $viewportSp * 100 + vw);
        border-radius: (15 / 2 + px);
        .title {
          margin-bottom: (36px / 2);
          margin-bottom: ((36 / 2) / $viewportSp * 100 + vw);
          font-size: (24 / 2 + px);
          font-size: ((24 / 2) / $viewportSp * 100 + vw);
        }
        .flex {
          .c-media {
            margin-bottom: (26px / 2);
            margin-bottom: ((26 / 2) / $viewportSp * 100 + vw);
            flex: 0 0 100%;
            padding-right: 0;
            text-align: center;
          }
          .prof-inner {
            flex: 0 0 100%;
            .prof-name {
              margin-bottom: (20px / 2);
              margin-bottom: ((20 / 2) / $viewportSp * 100 + vw);
              text-align: center;
              font-size: (20 / 2 + px);
              font-size: ((20 / 2) / $viewportSp * 100 + vw);
            }
            .prof-text {
              font-size: (20 / 2 + px);
              font-size: ((20 / 2) / $viewportSp * 100 + vw);
              line-height: (32 / 20);
              font-feature-settings: "palt" 1;
              span {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    &.block1 {
      .detail {
        margin-top: -8px;
        margin-top: (-8 / $viewportSp * 100 + vw);
      }
      .p-title1 {
        margin-bottom: (36px / 2);
        margin-bottom: ((36 / 2) / $viewportSp * 100 + vw);
        font-size: (26.23 / 2 + px);
        font-size: ((26.23 / 2) / $viewportSp * 100 + vw);
        line-height: (46.26 / 26.23);
      }
      .p-app-guide {
        .c-media {
          width: (350px / 2);
          width: ((350 / 2) / $viewportSp * 100 + vw);
          margin: 0 auto;
          margin-bottom: (40px / 2);
          margin-bottom: ((40 / 2) / $viewportSp * 100 + vw);
        }
        dl {
          flex-wrap: wrap;
          dt, dd {
            margin-bottom: (36px / 2);
            margin-bottom: ((36 / 2) / $viewportSp * 100 + vw);
          }
          dt {
            width: 100%;
            margin-bottom: (36px / 2);
            margin-bottom: ((36 / 2) / $viewportSp * 100 + vw);
            p {
              padding: 18px 5px;
              padding: ((18 / 2) / $viewportSp * 100 + vw) ((5 / 2) / $viewportSp * 100 + vw);
              font-size: (24 / 2 + px);
              font-size: ((24 / 2) / $viewportSp * 100 + vw);
            }
          }
          dd {
            flex: 0 0 100%;
            padding-left: 0;
            font-size: (20 / 2 + px);
            font-size: ((20 / 2) / $viewportSp * 100 + vw);
            line-height: (32 / 20);
          }
        }
      }
      .ask {
        padding: (56px / 2) (30px / 2) (38px / 2);
        padding: ((56px / 2) / $viewportSp * 100 + vw) ((30px / 2) / $viewportSp * 100 + vw) ((38px / 2) / $viewportSp * 100 + vw);
        margin-bottom: (49px / 2);
        margin-bottom: ((49 / 2) / $viewportSp * 100 + vw);
        dl {
          dt, dd {
            flex: 0 0 100%;
            text-align: center;
          }
          dt {
            margin-bottom: 0;
            font-size: (20 / 2 + px);
            font-size: ((20 / 2) / $viewportSp * 100 + vw);
          }
          dd {
            margin-bottom: (30px / 2);
            margin-bottom: ((30 / 2) / $viewportSp * 100 + vw);
            font-size: (20 / 2 + px);
            font-size: ((20 / 2) / $viewportSp * 100 + vw);
            &:first-of-type {
              font-size: (30 / 2 + px);
              font-size: ((30 / 2) / $viewportSp * 100 + vw);
            }
            span {
              font-size: (20 / 2 + px);
              font-size: ((20 / 2) / $viewportSp * 100 + vw);
            }
            .toll-free-number {
              width: (43px / 2);
              width: ((43 / 2) / $viewportSp * 100 + vw);
            }
          }
        }
        .annotation {
          margin: 0;
          font-size: (18 / 2 + px);
          font-size: ((18 / 2) / $viewportSp * 100 + vw);
        }
      }
      .agreement {
        .c-media {
          width: (350px / 2);
          width: ((350 / 2) / $viewportSp * 100 + vw);
          margin: 0 auto;
          margin-bottom: (40px / 2);
          margin-bottom: ((40 / 2) / $viewportSp * 100 + vw);
        }
        .text {
          margin-bottom: (50px / 2);
          margin-bottom: ((50 / 2) / $viewportSp * 100 + vw);
          padding: (38px / 2) (30px / 2);
          padding: ((38 / 2) / $viewportSp * 100 + vw) ((30 / 2) / $viewportSp * 100 + vw);
          font-size: (20 / 2 + px) !important;
          font-size: ((20 / 2) / $viewportSp * 100 +vw) !important;
          line-height: (32 / 20);
        }
      }
      .p-btn-dl {
        p {
          width: 100%;
          font-size: (24 / 2 + px);
          font-size: ((24 / 2) / $viewportSp * 100 +vw);
          a {
            padding: (50px / 2) 10px;
            padding: ((50 / 2) / $viewportSp * 100 + vw) (10 / $viewportSp * 100 + vw);
            &:after {
              width: (16px / 2);
              width: ((16 / 2) / $viewportSp * 100 + vw);
              height: (16px / 2);
              height: ((16 / 2) / $viewportSp * 100 + vw);
              right: (20px / 2);
              right: ((20 / 2) / $viewportSp * 100 + vw);
              margin-top: -4px;
              margin-top: (-4 / $viewportSp * 100 + vw);
            }
          }
          &.p-btn-apply {
            margin-bottom: (40px / 2);
            margin-bottom: ((40 / 2) / $viewportSp * 100 + vw);
          }
          &.p-btn-download {
            a {
              padding: (33px / 2) 10px;
              padding: ((33 / 2) / $viewportSp * 100 + vw) (10 / $viewportSp * 100 + vw);
            }
          }
        }
      }
    }
  }
}