
.lh0 {
	line-height: 0;
}
.txt-indent {
	text-indent: 1em;
}
.txt-indent-left {
	display: inline-block;
	text-indent: -0.5em;
}
.strong {
	font-weight: bold;
}
.italic {
	font-face: italic;
}

.pc { display: block; }
.sp { display: none; }
.h100 { height: 100%; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }



@media only screen and (max-width: 768px) {
	
	.pc { display: none; }
	.sp { display: block; }
}