      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10&appId=227899304403710";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53961983-1', 'auto');
      </script>

    
      <div class="header-inner">
        <h1 class="header-logo"><a href="/" onclick="ga('send','event','top','click','PCヘッダ＞ロゴ');"><img class="pc" src="/assets/images/common/logo-grandx.png" alt="GRANDX"><img class="sp" src="/assets/images/common/logo-grandx-sp.png" alt="GRANDX"></a></h1>

        <div class="header-nav-btn sp">
          <div class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        
        <div class="nav-wrapper open">
          <nav role="navigation" class="header-nav">
            <ul class="nav-container pc">
              <li class="nav-top"><a href="/" onclick="ga('send','event','top','click','PCヘッダナビ＞トップページ');">トップページ</a></li>
              <li class="nav-message"><a href="/message/" onclick="ga('send','event','top','click','PCヘッダナビ＞メッセージ');">メッセージ</a></li>
              <li class="nav-product"><a href="/product/" onclick="ga('send','event','top','click','PCヘッダナビ＞商品アイテム');">商品のこと</a></li>
              <li class="nav-human"><a href="/human/" onclick="ga('send','event','top','click','PCヘッダナビ＞あの人');">あの人</a></li>
              <li class="nav-recipe"><a href="/recipe/" onclick="ga('send','event','top','click','PCヘッダナビ＞レシピいろいろ');">レシピいろいろ</a></li>
              <li class="nav-foods"><a href="/foods/" onclick="ga('send','event','top','click','PCヘッダナビ＞食材のこと');">食材のこと</a></li>
              <li class="nav-movie"><a href="/movie/tvcm.html" onclick="ga('send','event','top','click','PCヘッダナビ＞動画ムービー');">動画</a></li>
            </ul>
            <ul class="nav-container sp">
              <li class="nav-top"><a href="/" onclick="ga('send','event','top','click','SPメニュー＞トップページ');">トップページ</a></li>
              <li class="nav-message"><a href="/message/" onclick="ga('send','event','top','click','SPメニュー＞メッセージ');">メッセージ</a></li>
              <li class="nav-product"><a href="/product/" onclick="ga('send','event','top','click','SPメニュー＞商品アイテム');">商品のこと</a></li>
              <li class="nav-human"><a href="/human/" onclick="ga('send','event','top','click','SPメニュー＞あの人');">あの人</a></li>
              <li class="nav-recipe"><a href="/recipe/" onclick="ga('send','event','top','click','SPメニュー＞レシピいろいろ');">レシピいろいろ</a></li>
              <li class="nav-foods"><a href="/foods/" onclick="ga('send','event','top','click','SPメニュー＞食材のこと');">食材のこと</a></li>
              <li class="nav-movie"><a href="/movie/tvcm.html" onclick="ga('send','event','top','click','SPメニュー＞動画ムービー');">動画</a></li>
            </ul>
          </nav><!-- // end of nav -->

          <nav role="navigation" class="header-submenu">
            
            <a class="header-btn-sitemap sp" href="/sitemap/">サイトマップ</a>

            <div class="search pc-rayout">
              <script>
                (function() {
                  var cx = '008000047157047102012:hsgzq-mctiu';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <gcse:searchbox-only></gcse:searchbox-only>
            </div>
            
            <p class="header-label-sns sp">「SNS 公式アカウント</p>
            <ul class="submenu-container">
              <li class="icon-search"><p>検索</p></li>
              <li class="icon-sitemap"><a href="/sitemap/" onclick="ga('send','event','top','click','PCヘッダ＞サイトマップ');">サイトマップ</a></li>
              <li class="icon-facebook pc"><a href="https://www.facebook.com/g.x.tiger/?fref=ts" target="_blank" onclick="ga('send','event','top','click','PCヘッダ＞フェイスブックアイコン');">Facebook</a></li>
              <li class="icon-facebook sp"><a href="https://www.facebook.com/g.x.tiger/?fref=ts" target="_blank" onclick="ga('send','event','top','click','SPメニュー＞フェイスブックアイコン');">Facebook</a></li>
              <li class="icon-instagram"><a href="https://www.instagram.com/tigergrandx/" target="_blank" onclick="ga('send','event','top','click','SPメニュー＞インスタグラムアイコン');">Instagram</a></li>
            </ul>
            <a class="icon-tiger" href="https://www.tiger.jp/" target="_blank" onclick="ga('send','event','top','click','PCヘッダ＞タイガーロゴ');">TIGER</a>
          </nav>
        </div>
      </div>
    
