@charset "UTF-8";
.komeko-cp1 ul.disc li {
  padding-left: 1em;
  text-indent: -1em; }
  .komeko-cp1 ul.disc li:before {
    content: '・'; }

.komeko-cp1 ul.annotation li {
  padding-left: 1em;
  text-indent: -1em; }
  .komeko-cp1 ul.annotation li:before {
    content: '※'; }

.komeko-cp1.title-profile {
  background: url("/assets/images/special/komeko/lp1_bg.jpg");
  background-size: cover; }
  .komeko-cp1.title-profile .contents-section {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 75px; }
    .komeko-cp1.title-profile .contents-section .title-img {
      margin-bottom: 21px; }
  .komeko-cp1.title-profile .place-address {
    max-width: 740px;
    margin: 0 auto 40px;
    padding: 25px 0;
    background-color: #fff;
    color: #000;
    font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif; }
    .komeko-cp1.title-profile .place-address dl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 20px;
      font-size: 14px;
      font-size: 1.4rem; }
      .komeko-cp1.title-profile .place-address dl dt {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 24.722%;
        -ms-flex: 0 0 24.722%;
        flex: 0 0 24.722%;
        text-align: right; }
        .komeko-cp1.title-profile .place-address dl dt:nth-of-type(2) {
          padding-right: 3px; }
      .komeko-cp1.title-profile .place-address dl dd {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 72.278%;
        -ms-flex: 0 0 72.278%;
        flex: 0 0 72.278%; }
      .komeko-cp1.title-profile .place-address dl dt:first-of-type, .komeko-cp1.title-profile .place-address dl dd:first-of-type {
        margin-bottom: 10px;
        font-size: 20px;
        font-size: 2rem; }
  .komeko-cp1.title-profile .profile {
    max-width: 1000px;
    margin: 0 auto;
    padding: 33px 20px;
    background-color: #fff;
    border-radius: 15px; }
    .komeko-cp1.title-profile .profile .title {
      margin-bottom: 30px;
      text-align: center;
      font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
      font-size: 22px;
      font-size: 2.2rem; }
    .komeko-cp1.title-profile .profile .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .komeko-cp1.title-profile .profile .flex .c-media {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 32.917%;
        -ms-flex: 0 0 32.917%;
        flex: 0 0 32.917%;
        padding-right: 34px;
        text-align: right; }
        .komeko-cp1.title-profile .profile .flex .c-media__image {
          max-width: 149px; }
      .komeko-cp1.title-profile .profile .flex .prof-inner {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 67.083%;
        -ms-flex: 0 0 67.083%;
        flex: 0 0 67.083%;
        max-width: 63.54%\0; }
        .komeko-cp1.title-profile .profile .flex .prof-inner .prof-name {
          margin-bottom: 12px;
          font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
          font-size: 17px;
          font-size: 1.7rem; }
        .komeko-cp1.title-profile .profile .flex .prof-inner .prof-text {
          color: #000;
          font-size: 14px;
          font-size: 1.4rem;
          line-height: 2; }
          .komeko-cp1.title-profile .profile .flex .prof-inner .prof-text span {
            padding-left: 3em; }

.komeko-cp1.block1 .detail {
  max-width: 1000px;
  margin-top: -46px;
  padding-top: 0; }

.komeko-cp1.block1 .p-title1 {
  margin-bottom: 60px;
  text-align: center;
  font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
  font-weight: normal;
  font-size: 32.63px;
  font-size: 3.263ren;
  line-height: 1.764;
  color: #6a3906;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1; }

.komeko-cp1.block1 .p-app-guide .c-media {
  width: 292px;
  margin: 0 auto 50px; }

.komeko-cp1.block1 .p-app-guide dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .komeko-cp1.block1 .p-app-guide dl dt, .komeko-cp1.block1 .p-app-guide dl dd {
    margin-bottom: 40px; }
  .komeko-cp1.block1 .p-app-guide dl dt {
    width: 132px; }
    .komeko-cp1.block1 .p-app-guide dl dt p {
      padding: 11px 5px;
      background-color: #ead9af;
      text-align: center;
      font-size: 17px; }
  .komeko-cp1.block1 .p-app-guide dl dd {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - 132px);
    -ms-flex: 0 0 calc(100% - 132px);
    flex: 0 0 calc(100% - 132px);
    width: calc(100% - 132px);
    padding-left: 20px;
    font-size: 14px;
    line-height: 2; }

.komeko-cp1.block1 .ask {
  margin-bottom: 70px;
  padding: 30px 20px 20px;
  border: 1px solid #be892f; }
  .komeko-cp1.block1 .ask dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .komeko-cp1.block1 .ask dl dt, .komeko-cp1.block1 .ask dl dd {
      margin-bottom: 16px; }
    .komeko-cp1.block1 .ask dl dt {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 44.7917%;
      -ms-flex: 0 0 44.7917%;
      flex: 0 0 44.7917%;
      text-align: right;
      font-size: 17px;
      font-size: 1.7rem; }
    .komeko-cp1.block1 .ask dl dd {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 55.2083%;
      -ms-flex: 0 0 55.2083%;
      flex: 0 0 55.2083%;
      font-size: 22px;
      font-size: 2.2rem; }
      .komeko-cp1.block1 .ask dl dd:first-of-type {
        font-size: 30px;
        font-size: 3rem; }
      .komeko-cp1.block1 .ask dl dd span {
        font-size: 14px;
        font-size: 1.4rem; }
  .komeko-cp1.block1 .ask .annotation {
    margin: 0 70px;
    font-size: 14px;
    font-size: 1.4rem; }

.komeko-cp1.block1 .agreement .c-media {
  width: 292px;
  margin: 0 auto 50px; }

.komeko-cp1.block1 .agreement .text {
  margin-bottom: 70px;
  padding: 30px 20px 20px;
  border: 1px solid #be892f;
  font-size: 14px;
  font-size: 1.4rem; }
  .komeko-cp1.block1 .agreement .text .text-inner {
    overflow-y: scroll;
    height: 376px; }
    .komeko-cp1.block1 .agreement .text .text-inner p:not(:last-child) {
      margin-bottom: 1em; }

.komeko-cp1.block1 .p-btn-dl p {
  width: 480px;
  margin: 0 auto;
  font-family: "教科書ICA M", "Kyoukasho ICA Medium", serif;
  font-size: 25px;
  font-size: 2.5rem; }
  .komeko-cp1.block1 .p-btn-dl p a {
    position: relative;
    display: block;
    width: 100%;
    padding: 42px 10px;
    text-align: center; }
    .komeko-cp1.block1 .p-btn-dl p a:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 14px;
      margin-top: -5px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .komeko-cp1.block1 .p-btn-dl p a:hover {
      opacity: 0.7;
      text-decoration: none; }
  .komeko-cp1.block1 .p-btn-dl p.p-btn-apply {
    margin-bottom: 40px; }
    .komeko-cp1.block1 .p-btn-dl p.p-btn-apply a {
      background-color: #be892f;
      color: #fff; }
  .komeko-cp1.block1 .p-btn-dl p.p-btn-download a {
    padding: 20px 10px;
    background-color: #ead9af;
    color: #000; }
    .komeko-cp1.block1 .p-btn-dl p.p-btn-download a:after {
      border-top-color: #000;
      border-right-color: #000; }

@media screen and (max-width: 768px) {
  .komeko-cp1.title-profile {
    background: url("/assets/images/special/komeko/lp1_bg_sp.jpg"); }
    .komeko-cp1.title-profile .contents-section {
      padding-top: 0; }
    .komeko-cp1.title-profile .title-img {
      position: relative;
      width: 100vw;
      margin-bottom: 20px !important;
      margin-bottom: 6.25vw !important;
      padding-top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .komeko-cp1.title-profile .place-address {
      margin-bottom: 15px;
      margin-bottom: 4.6875vw; }
      .komeko-cp1.title-profile .place-address dl {
        font-size: 10px !important;
        font-size: 3.125vw !important; }
        .komeko-cp1.title-profile .place-address dl dt {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 27.6923%;
          -ms-flex: 0 0 27.6923%;
          flex: 0 0 27.6923%; }
          .komeko-cp1.title-profile .place-address dl dt:nth-of-type(2) {
            padding-right: 1px;
            padding-right: 0.3125vw; }
        .komeko-cp1.title-profile .place-address dl dd {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 72.3077%;
          -ms-flex: 0 0 72.3077%;
          flex: 0 0 72.3077%; }
        .komeko-cp1.title-profile .place-address dl dt:first-of-type, .komeko-cp1.title-profile .place-address dl dd:first-of-type {
          margin-bottom: 8px;
          margin-bottom: 2.5vw;
          font-size: 12px !important;
          font-size: 3.75vw !important; }
    .komeko-cp1.title-profile .profile {
      padding: 20px 15px 9px;
      padding: 6.25vw 4.6875vw 2.8125vw;
      border-radius: 7.5px; }
      .komeko-cp1.title-profile .profile .title {
        margin-bottom: 18px;
        margin-bottom: 5.625vw;
        font-size: 12px;
        font-size: 3.75vw; }
      .komeko-cp1.title-profile .profile .flex .c-media {
        margin-bottom: 13px;
        margin-bottom: 4.0625vw;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-right: 0;
        text-align: center; }
      .komeko-cp1.title-profile .profile .flex .prof-inner {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; }
        .komeko-cp1.title-profile .profile .flex .prof-inner .prof-name {
          margin-bottom: 10px;
          margin-bottom: 3.125vw;
          text-align: center;
          font-size: 10px;
          font-size: 3.125vw; }
        .komeko-cp1.title-profile .profile .flex .prof-inner .prof-text {
          font-size: 10px;
          font-size: 3.125vw;
          line-height: 1.6;
          -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1; }
          .komeko-cp1.title-profile .profile .flex .prof-inner .prof-text span {
            padding-left: 0; }
  .komeko-cp1.block1 .detail {
    margin-top: -8px;
    margin-top: -2.5vw; }
  .komeko-cp1.block1 .p-title1 {
    margin-bottom: 18px;
    margin-bottom: 5.625vw;
    font-size: 13.115px;
    font-size: 4.09844vw;
    line-height: 1.76363; }
  .komeko-cp1.block1 .p-app-guide .c-media {
    width: 175px;
    width: 54.6875vw;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-bottom: 6.25vw; }
  .komeko-cp1.block1 .p-app-guide dl {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .komeko-cp1.block1 .p-app-guide dl dt, .komeko-cp1.block1 .p-app-guide dl dd {
      margin-bottom: 18px;
      margin-bottom: 5.625vw; }
    .komeko-cp1.block1 .p-app-guide dl dt {
      width: 100%;
      margin-bottom: 18px;
      margin-bottom: 5.625vw; }
      .komeko-cp1.block1 .p-app-guide dl dt p {
        padding: 18px 5px;
        padding: 2.8125vw 0.78125vw;
        font-size: 12px;
        font-size: 3.75vw; }
    .komeko-cp1.block1 .p-app-guide dl dd {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding-left: 0;
      font-size: 10px;
      font-size: 3.125vw;
      line-height: 1.6; }
  .komeko-cp1.block1 .ask {
    padding: 28px 15px 19px;
    padding: 8.75pxvw 4.6875pxvw 5.9375pxvw;
    margin-bottom: 24.5px;
    margin-bottom: 7.65625vw; }
    .komeko-cp1.block1 .ask dl dt, .komeko-cp1.block1 .ask dl dd {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      text-align: center; }
    .komeko-cp1.block1 .ask dl dt {
      margin-bottom: 0;
      font-size: 10px;
      font-size: 3.125vw; }
    .komeko-cp1.block1 .ask dl dd {
      margin-bottom: 15px;
      margin-bottom: 4.6875vw;
      font-size: 10px;
      font-size: 3.125vw; }
      .komeko-cp1.block1 .ask dl dd:first-of-type {
        font-size: 15px;
        font-size: 4.6875vw; }
      .komeko-cp1.block1 .ask dl dd span {
        font-size: 10px;
        font-size: 3.125vw; }
      .komeko-cp1.block1 .ask dl dd .toll-free-number {
        width: 21.5px;
        width: 6.71875vw; }
    .komeko-cp1.block1 .ask .annotation {
      margin: 0;
      font-size: 9px;
      font-size: 2.8125vw; }
  .komeko-cp1.block1 .agreement .c-media {
    width: 175px;
    width: 54.6875vw;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-bottom: 6.25vw; }
  .komeko-cp1.block1 .agreement .text {
    margin-bottom: 25px;
    margin-bottom: 7.8125vw;
    padding: 19px 15px;
    padding: 5.9375vw 4.6875vw;
    font-size: 10px !important;
    font-size: 3.125vw !important;
    line-height: 1.6; }
  .komeko-cp1.block1 .p-btn-dl p {
    width: 100%;
    font-size: 12px;
    font-size: 3.75vw; }
    .komeko-cp1.block1 .p-btn-dl p a {
      padding: 25px 10px;
      padding: 7.8125vw 3.125vw; }
      .komeko-cp1.block1 .p-btn-dl p a:after {
        width: 8px;
        width: 2.5vw;
        height: 8px;
        height: 2.5vw;
        right: 10px;
        right: 3.125vw;
        margin-top: -4px;
        margin-top: -1.25vw; }
    .komeko-cp1.block1 .p-btn-dl p.p-btn-apply {
      margin-bottom: 20px;
      margin-bottom: 6.25vw; }
    .komeko-cp1.block1 .p-btn-dl p.p-btn-download a {
      padding: 16.5px 10px;
      padding: 5.15625vw 3.125vw; } }
