@charset "UTF-8";

@mixin size8() { font-size: 8px; font-size: 0.8rem; }
@mixin size9() { font-size: 9px; font-size: 0.9rem; }
@mixin size10() { font-size: 10px; font-size: 1.0rem; }
@mixin size11() { font-size: 11px; font-size: 1.1rem; }
@mixin size12() { font-size: 12px; font-size: 1.2rem; }
@mixin size13() { font-size: 13px; font-size: 1.3rem; }
@mixin size14() { font-size: 14px; font-size: 1.4rem; }
@mixin size15() { font-size: 15px; font-size: 1.5rem; }
@mixin size16() { font-size: 16px; font-size: 1.6rem; }
@mixin size17() { font-size: 17px; font-size: 1.7rem; }
@mixin size18() { font-size: 18px; font-size: 1.8rem; }
@mixin size19() { font-size: 19px; font-size: 1.9rem; }
@mixin size20() { font-size: 20px; font-size: 2.0rem; }
@mixin size21() { font-size: 21px; font-size: 2.1rem; }
@mixin size22() { font-size: 22px; font-size: 2.2rem; }
@mixin size23() { font-size: 23px; font-size: 2.3rem; }
@mixin size24() { font-size: 24px; font-size: 2.4rem; }
@mixin size25() { font-size: 25px; font-size: 2.5rem; }
@mixin size26() { font-size: 26px; font-size: 2.6rem; }
@mixin size27() { font-size: 27px; font-size: 2.7rem; }
@mixin size28() { font-size: 28px; font-size: 2.8rem; }
@mixin size29() { font-size: 29px; font-size: 2.9rem; }
@mixin size30() { font-size: 30px; font-size: 3.0rem; }
@mixin size32() { font-size: 32px; font-size: 3.2rem; }
@mixin size35() { font-size: 35px; font-size: 3.5rem; }
@mixin size36() { font-size: 36px; font-size: 3.6rem; }

.bold { font-weight: bold !important; }
.underline { text-decoration: underline; }
.underline:hover { text-decoration: none; }
.lh100 { line-height: 100%; }
.lh0 { line-height: 0; }
