@import "component", "fontsize";

.att {
	@include size12;
	margin-top: 8px;
}
.att-min {
	@include size10;
	line-height: 2em;
	margin-top: 8px;
}
.anchor {
	margin-top:-121px;
	padding-top:121px;
}
.annotation {
	font-size: 12px !important;
    font-size: 1.2rem !important;
	vertical-align: super;
	border-left: none !important;
    padding-left: 0 !important;
    line-height: 1em !important;
}


.lineup-thumb-list {
	
	@include flex;
	overflow: hidden;
	border-left: 1px solid #5bb92a;
	box-sizing: border-box;
	margin-bottom: 80px;
	li {
		float: left;
		width: ( 1100 / 6 ) / 1100 * 100%;
		border-right: 1px solid #5bb92a;
		border-bottom: 1px solid #5bb92a;
		box-sizing: border-box;
		line-height: 0;
		img { max-width: 100%; }
		&:nth-child(6n+1) {
			
		}
		&:nth-child(-n+6) {
			border-top: 1px solid #5bb92a;
		}
		p {
			position: relative;
			line-height: 39px;
			text-align: center;
			background-color: #f4f4f4;
			&:after {
				@include arrow;
				right: 6px;
			}
		}
	}
}
.feature-column {
	overflow: hidden;
	border-left: 1px solid #5bb92a;
	box-sizing: border-box;
	@include flex;
	margin-bottom: 80px;
	li {
		float: left;
		width: 33.33%;
		box-sizing: border-box;
		border-right: 1px solid #5bb92a;
		border-bottom: 1px solid #5bb92a;

		.label {
			position: relative;
			/*display: table;*/
			width: 100%;
			height: 79px;
			background-color: #5bb92a;
			box-sizing: border-box;
			
			span {
				/*display: table-cell;
				vertical-align: middle;*/
				@include size25;
				font-weight: bold;
				line-height: 1.2em;
				padding: 0 10px 0 80px;
				color: #fff;
				display: block;
			    position: relative;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
			}
			&:after {
				content: "";
				position: absolute;
				width: 1px;
				height: 100%;
				background-color: #fff;
				right: 0;
				top: 0;
			}
			.att {
				@include size14;
				vertical-align: super;
			    display: inline;
			    padding-left: 0;
			}
		}
		&.H100 {
			border-bottom: 1px solid #fff;
			.label {
				height: 100%;
				display: block;
				padding: 10px 0;
				span {
					top: 0%;
			    	-webkit-transform: translateY(0%);
			   		 transform: translateY(0%);
			   	}
			}
		}
		.label + p {
			display: table;
			padding: 15px 20px;
			
			box-sizing: border-box;
		}

		&:nth-of-type(1) .label { background: #5bb92a url('/assets/images/products/common/icon-point1.png') left top no-repeat; }
		&:nth-of-type(2) .label { background: #5bb92a url('/assets/images/products/common/icon-point2.png') left top no-repeat; }
		&:nth-of-type(3) .label { background: #5bb92a url('/assets/images/products/common/icon-point3.png') left top no-repeat; }
		&:nth-of-type(4) .label { background: #5bb92a url('/assets/images/products/common/icon-point4.png') left top no-repeat; }
		&:nth-of-type(5) .label { background: #5bb92a url('/assets/images/products/common/icon-point5.png') left top no-repeat; }
		&:nth-of-type(6) .label { background: #5bb92a url('/assets/images/products/common/icon-point6.png') left top no-repeat; }
		&:nth-of-type(7) .label { background: #5bb92a url('/assets/images/products/common/icon-point7.png') left top no-repeat; }
		&:nth-of-type(8) .label { background: #5bb92a url('/assets/images/products/common/icon-point8.png') left top no-repeat; }
		&:nth-of-type(9) .label { background: #5bb92a url('/assets/images/products/common/icon-point9.png') left top no-repeat; }
		&:nth-of-type(10) .label { background: #5bb92a url('/assets/images/products/common/icon-point10.png') left top no-repeat; }

		&:nth-child(3n),
		&:last-child {
			.label {
				&:after {
					content: none;
				}
			}
		}
	}
	@media only screen and (max-width: 640px) {
		margin-bottom: 40px;
		li {
			float: none;
			width: 100%;
			.label {
				width: 100%;
				height: 40px;
				background-size: contain !important;
				span {
					@include size13;
					padding-left: 40px;
				}
				&:after {
					content: none;
				}
			}
		}
	}
}
.footer-contact-info {
	border: 1px solid #cccccc;
	padding: 30px;
	box-sizing: border-box;
	overflow: hidden;
	.label {
		width: ( 496 / 1100 ) * 100%;
		min-height: 89px;
		display: table;
		float: left;
		text-align: center;
		span {
			display: table-cell;
			vertical-align: middle;
			@include size18;
		}
	}
	ul {
		float: right;
		width: ( 542 / 1100 ) * 100%;
		@include other-link-list(261, 542);
		li {
			p {
				@include size13;
				text-align: center;
				margin-bottom: 5px;
			}
			a {

			}
		}
	}
}
@media only screen and (max-width: 640px) {
	.att {
		@include size8;
		margin-top: 4px;
	}
	.lineup-thumb-list {
		margin-bottom: 40px;
		li {
			width: 33.33%;
			&:nth-child(-n+6) {
				border-top: none;
			}
			&:nth-child(-n+3) {
				border-top: 1px solid #5bb92a;
			}
		}
	}
	.footer-contact-info {
		padding: 15px;
		.label {
			min-height: auto;
		    float: none;
		    width: 100%;
		    margin-bottom: 10px;
			span {
				@include size12;
			}
		}
		.other-link-list {
			float: none;
			width: 100%;
			li {
				float: none;
				width: 100%;
				margin-left: 0 !important;
				margin-top: 20px;
				a {
					height: auto;
					line-height: 1em;
				}
				p {
					@include size8;
					margin-bottom: 3px;
				}
			}
			li + li {
				margin-top: 10px;
			}
		}
	}
}
.corporate {
	.content {
		.company-info {
			overflow: hidden;
			margin-bottom: 60px;
			.list {
				width: 58.18%;
				float: left;
				dt,dd {
					padding: 14px 4.68%;
					@media only screen and (max-width: 640px) {
						padding: 12px 2.68%;
					}
				}
				dt { width: 20.8%; }
				dd { width: 79.2%; }
				@media only screen and (max-width: 640px) {
					width: 100%;
					float: none;
					margin-bottom: 20px;
				}
			}
			.photo {
				width: 39%;
				float: right;
				img { width: 100%; }
				@media only screen and (max-width: 640px) {
					width: 100%;
					float: none;
				}
			}
			@media only screen and (max-width: 640px) {
				margin-bottom: 20px;
			}
		}
		.map {
			border: 1px solid #cccccc;
			line-height: 0;

			height: 600px;
			@media only screen and (max-width: 640px) {
				margin-bottom: 20px;
				height: 167px;
			}
		}
		.btn-print {
			float: right;
			@media only screen and (max-width: 640px) {
				float: none;
				width: 100%;
			}
		}

		.message {
			h3 {
				margin-bottom: 30px;
				line-height: 0;
				&.msg01 {
					@include img-width-per ( 425, 1100 );
					@media only screen and (max-width: 640px) {
						@include img-width-per ( 425, 675 );
					}
				}
				&.msg02 {
					@include img-width-per ( 675, 1100 );
					@media only screen and (max-width: 640px) {
						@include img-width-per ( 675, 675 );
					}
				}
			}
			.img-president {
				width: 51.54%;
				margin-left: 3.63%;
				margin-top: -116px;
				float: right;
				@media only screen and (max-width: 640px) {
					float: none;
					width: 100%;
					margin-left: 0;
					margin-top: 0;
				}
			}
			.president-txt {
				width: 219px;
				line-height: 0;
				float: right;
				margin-top: 45px;
			}
			
			p {
				line-height: 2.5em;
			}
			span {
				display: block;
			}
			span + span {
				margin-top: 1.8em;
			}
			@media only screen and (max-width: 640px) {
				@include size14;
			}
		}
		.message + .message {
			margin-top: 75px;
		}

		.ci {
			.logo-history {
				margin-bottom: 100px;
				@media only screen and (max-width: 640px) {
					margin-bottom: 50px;
				}
			}
			.logo-history-image {
				overflow: hidden;
				display: table;
				margin: 0 auto;
				margin-bottom: 155px;
				li {
					position: relative;
					float: left;
					text-align: center;
					margin-left: 166px;
					margin-top: 0;
					&:after {
						content: "";
						position: absolute;
						width: 34px;
						height: 24px;
						top: 0;
						bottom: 0;
						margin: auto;
						left: -100px;
						background: url('/assets/images/corporate/ci/arrow.png');
					}
					&:first-child {
						margin-left: 0;
						&:after {
							content: none;
						}
					}
					p {
						@include size18;
						line-height: 1em;
						margin-bottom: 32px;
					}
					.logo {
						display: table;
						width: 100%;
						height: 116px;
						margin-top: 0;
						div {
							display: table-cell;
							vertical-align: middle;
							line-height: 0;
						}
					}
				}

				@media only screen and (max-width: 640px) {
					margin-bottom: 70px;
					li {

						float: none;
						margin-left: 0;
						margin-top: 77px;
						&:first-child {
							margin-top: 0;
						}
						&:after {
							left: 0;
							right: 0;
							top: -50px;
							bottom: auto;
							transform: rotate(90deg);
						}
						p {
							@include size9;
							margin-bottom: 8px;
						}
						.logo {
							height: auto;
						}
					}
				}
			}
			.corp-msg {
				margin-bottom: 90px;
				@media only screen and (max-width: 640px) {
					margin-bottom: 30px;
				}
			}
			.corp-msg-logo {
				@include relative-per ( 538, 1098 );
				margin: 0 auto;
				margin-bottom: 35px;
				@media only screen and (max-width: 640px) {
					width: 80%;
					margin-bottom: 18px;
				}
			}
			.msg-text {
				@include size16;
				line-height: 2.5em;
				@media only screen and (max-width: 640px) {
					@include size9;
				}
			}
		}
		
		.history {
			.copy-history {
				line-height: 0;
				@include relative-per ( 856, 1098 );
				max-width: 856px;
			}

			article {
				display: none;

				&.current {
					display: block;
				}
			}

			dl {
				dt {
					@include size22;
					font-weight: bold;
					color: #5bb92a;
					box-sizing: border-box;
					line-height: 35px;

					&.label {
						line-height: 0;
						padding: 8px 0;
						

					}
					@media only screen and (max-width: 640px) {
						@include size12;
						line-height: 18px;
						&.label {
							img {
								width: 100%;
							}
						}
					}
				}
				dd {
					
					position: relative;
					margin-left: ( 39 / 1100 ) * 100%;
					padding-bottom: 20px;
					padding-left: 96px;
					line-height: 1.8em;
					box-sizing: border-box;
					background: url('/assets/images/corporate/history/history-line-bg.png') left top repeat-y;
					overflow: hidden;
					.history-txt {
						/*list-style-type: disc;*/
						position: relative;
						float: left;
						width: 100%;
						/*padding-left: 1em;*/
						
						li {
							/*width: 58.63%;*/
							position: relative;
							margin-left: -94px !important;
							padding-left: 94px;
							margin-top: 20px;
							overflow: hidden;
							&:before {
								content: "";
								position: absolute;
								width: 79px;
								height: 1px;
								background-color: #ccc;
								top: 14px;
								left: 0;
								z-index: 1;
							}
						}
						li + li {
							
						}
					}
					p + ul {
						margin-top: 20px;
					}
					p + ul + ul {
						margin-top: 20px;
					}
					/*
					&:before {
						content: "";
						position: absolute;
						width: 26px;
						height: 26px;
						background-color: #5bb92a;
						left: 0;
						top: 0;
						border-radius: 50%;
						-webkit-border-radius: 50%;
						z-index: 2;
					}
					*/
					&.h-head {
						
					}
					&.end {
						background: none;
						padding-bottom: 0;
					}
					.label {
						@include size20;
						color: #5bb92a;
					}
					

					.book-container {
						overflow: hidden;
						position: relative;
						float: right;
						/*right: 0;
						top: 0;*/
						width: 32.17%;
						padding: 0;
						list-style-type: none;
						li {
							float: left;
							width: 47%;
							line-height: 0;
							margin-left: 0;
							margin-top: 38px;
							img {
								width: 100%;
							}
							p {
								line-height: 1.4em;
								margin-top: 5px;
								width: 100%;
								@include size14;
							}
							&.fltR {
								float: right !important;
							}
							&:before {
								content: none;
							}
						}
						li:nth-child(even) {
							margin-left: 6%;
						}
						li:nth-child(-n+2) {
							margin-top: 0;
						}

					}
					@media only screen and (max-width: 640px) {
						padding-left: 70px;
						.book-container {
							width: 50%;
							overflow: visible;
							margin-top: 20px;
							li {
								margin-top: 19px;
								p {
									@include size8;
								}
							}
						}
					}
				}
				dd + dd {
					width: 27.83%;
				}
			}
		}

		.network {
			.table-basic {
				line-height: 1.6em;
				margin-top: 0;

				th {
					text-align: left;
				}
				@media only screen and (max-width: 640px) {
				    th {
						width: 25%;
					}
				}
			}
			.head-office {
				border-top: 2px solid #5bb92a;
				border-bottom: 2px solid #5bb92a;
			}
			.result {
				display: none;
				&.current {
					display: table;
				}
			}

			.btn-access {
				display: block;
				/*position: absolute;
				right: 19px;
				bottom: 12px;*/
				float: right;
				margin-top: 0em;
				&:before {
					@include arrow;
					left: -12px;
					top: 8px;
				}
			}
		}

		.philosophy {
			.txt01 {
				width: 448px;
				margin: 0 auto;
				margin-bottom: 70px;
				margin-top: 60px;
			}
			.txt02 {
				width: 506px;
				margin: 0 auto;
				margin-bottom: 70px;
			}
			.txt03 {
				width: 444px;
				margin: 0 auto;
			}
			@media only screen and (max-width: 640px) {
				.txt01 {
					width: (448 / 640) * 100%;
					margin-bottom: 35px;
					margin-top: 30px;
				}
				.txt02 {
					width: (506 / 640) * 100%;
					margin-bottom: 35px;
				}
				.txt03 {
					width: (444 / 640) * 100%;
				}
			}
		}
	}

	&.en {
		.content {
			.philosophy {
				.txt01 {
					width: 100%;
					max-width: 1071px;
					margin: 0 auto;
					margin-bottom: 70px;
					margin-top: 60px;
				}
				.txt02 {
					width: 100%;
					max-width: 1071px;
					margin: 0 auto;
					margin-bottom: 70px;
				}
				.txt03 {
					width: 100%;
					max-width: 1071px;
					margin: 0 auto;
				}
				@media only screen and (max-width: 640px) {
					.txt01 {
						width: (600 / 640) * 100%;
						margin-bottom: 35px;
						margin-top: 30px;
					}
					.txt02 {
						width: (600 / 640) * 100%;
						margin-bottom: 35px;
					}
					.txt03 {
						width: (600 / 640) * 100%;
					}
				}
			}
			.message {
				h3 {
					margin-bottom: 30px;
					line-height: 0;
					&.msg01 {
						@include img-width-per ( 477, 1100 );
						@media only screen and (max-width: 640px) {
							@include img-width-per ( 477, 675 );
						}
					}
					&.msg02 {
						@include img-width-per ( 563, 1100 );
						@media only screen and (max-width: 640px) {
							@include img-width-per ( 563, 675 );
						}
					}
				}
			}
			.history {
				.copy-history {
					line-height: 0;
					@include relative-per ( 1023, 1098 );
					max-width: 1023px;
				}
			}
		}
	}
}
.tab-history {
	@include list-column( 272, 1100 );
	
	li {
		height: 53px;
		a {
			padding: 0 10px;
		}
	}
	@media only screen and (max-width: 640px) {
		@include list-column( 198, 610 );
	}
}

.tab-network {
	@include list-column( 180, 1100 );
	
	li {
		height: 53px;
		a {
			padding: 0 10px;
		}
	}
	@media only screen and (max-width: 640px) {
		@include list-column( 198, 610 );
		li {
			a {
				padding: 15px 10px;
			}
		}
	}
}
.tab-products {
	@include list-column( 180, 1100 );
	li {
		height: 53px;
		a {
			padding: 0 10px;
		}
	}
	@media only screen and (max-width: 640px) {
		@include list-column( 198, 610 );
		li {
			a {
				padding: 11px 10px;
			}
		}
	}
}
.tab-dic {
	@include list-column( 96, 1100 );
	li {
		height: 53px;
		a { padding: 0 10px; }
	}
	@media only screen and (max-width: 640px) {
		@include list-column( 198, 610 );
		li {
			a { padding: 11px 10px; }
		}
	}
}
.tab-faq {
	@include list-column( 120, 1100 );
	li {
		height: 53px;
		a { padding: 0 10px; @include size14; }
		&#tab_platwall,
		&#tab_papatto {
			width: 14%;
		}
	}
	@media only screen and (max-width: 640px) {
		@include list-column( 198, 610 );
		li {
			a { padding: 11px 10px; }
			&#tab_platwall,
			&#tab_papatto {
				width: 32.45902%;
			}
		}
	}
}



.news {
	.local-header {
		/*height: auto;*/
		h2 {
		    /*margin-bottom: 30px;
		    line-height: 1.4em;*/
		    max-width: 70%;
		}
		#breadCrumb {
			max-width: 30%;
		}
	}
	.block {
		img {
			width: auto;
		}
	}
	.content {
		.news-index {
			li {
				@include border-bottom;
				padding: 15px 30px;
				&:first-child {
					@include border-top;
				}
				.date {
					display: inline-block;
					width: 128px;
				}
				.news-title {
					display: inline-block;
					position: relative;
					padding-left: 15px;
					&:before {
						content: "";
						position: absolute;
						width: 5px;
						height: 5px;
						top: 11px;
						left: 0;
						border-top: 1px solid #000;
						border-right: 1px solid #000;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					a {
						color: #000;
					}
				}
				@media only screen and (max-width: 640px) {
					display: table;
					width: 100%;
					box-sizing: border-box;
					.date {
						display: table-cell;
					}
					.news-title {
						display: table-cell;
					}
				}
			}
		}
		.btn-backindex {
			margin: 0 auto;
			margin-top: 85px;
		}
		.h4-type1 {
			margin-bottom: 40px;
		}
		.h5-type1 + * {
			margin-top: 0;
		}
		.text-thumb {
			padding: 0;
			.txt { margin-top: 0; }
			.img { margin-top: 0; }
		}
	}
}

.solution {
	.ui-helper-hidden-accessible {
		display: none;
	}
	.ui-menu-item-wrapper {
		padding: 0 16px;
		&:hover {
			background-color: #5bb92a;
			color: #fff;
		}
	}
	#ui-id-1 {
		width: 510px;
		padding: 13px 0;
		border: 6px solid #5bb92a;
		box-sizing: border-box;
		background-color: #fff;
		color: #707070;
		margin-top: -6px;
		li {
			line-height: 30px;
		}
	}
	.suggest {
		display: none;
	}
	.anchor#result {
		margin-top: -150px;
    	padding-top: 150px;
	}
	@media only screen and (max-width: 640px) {
		#ui-id-1 {
			/*padding: 7px 8px;
			border: 3px solid #5bb92a;
			width: 90% !important;
			margin: 0 auto;
			margin-top: -3px;*/
			@include size10;
		}
	}

	.search {
		.input-container {
			position: relative;
			width: 100%;
			height: auto;
			background: url('../images/solution/index/main_img.jpg');
			background-size: contain;
			margin-bottom: 30px;

			@media only screen and (max-width: 640px) {
				margin-bottom: 15px;
			}

			&:before {
				content: "";
				display: block;
				height: 0;
				padding-top: 43.636%;
			}

			.input-area {
				position: absolute;
				width: 510px;
				height: 89px;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				background-color: rgba(255,255,255,0.8);

				h3 {
					margin-top: 17px;
					text-align: center;
					line-height: 1em;
					@include size32;
					font-weight: 400;
					background-color: transparent;
					color: #000;
					padding: 0;
				    margin-bottom: 0;
				}
				h3 + p {
					margin-top: 10px;
					@include size20;
					text-align: center;
					line-height: 1em;
				}
				form {
					position: relative;
					display: block;
					/*width: 510px;
					height: 66px;*/
					margin-top: 27px;
				}
				.faq-inputbox {
					display: block;
					width: 100%;
					height: 100%;
					border: 6px solid #5bb92a;
					box-sizing: border-box;
					@include size18;
					line-height: 1em;
					padding: 18px;
					background-color: #fff;
				}
				#searchBtn {
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					right: 10px;
					width: 21px;
					height: 21px;
					border-style: none;
					background-color: transparent;
					background: #fff url('../images/common/icon-search.png') left top no-repeat;
					padding: 0;
				}
				

				@media only screen and (max-width: 640px) {
					width: 90%;

					h3 {
						margin-top: 8px;
						@include size16;
					}
					h3 + p {
						margin-top: 5px;
						@include size10;
					}
					form {
						margin-top: 0;
					}
					.faq-inputbox {
						width: 90%;
						height: 33px;
						border: 3px solid #5bb92a;
						margin: 0 auto;
						margin-top: 10px;
						@include size9;
						padding: 9px;
						background-size: auto 50%;
						background-position: right 3% top 50%;
					}
					#searchBtn {
						right: 7%;
					}
				}
			}
		}

		.result {
			border: 1px solid #5bb92a;
			box-sizing: border-box;
			margin-bottom: 80px;
			a {
				color: #5bb92a;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}

			.questionList01 {
				list-style-type: disc;

			}
			.btn_support_top {
				position: relative;
				padding-left: 1em;
				color: #5bb92a;
				@include size14;
				&:before {
					@include arrow;
					left: 0;
				}
			}
			.btn_support_back {
				position: relative;
				padding-left: 1em;
				color: #5bb92a;
				@include size14;
				&:before {
					@include arrow;
					left: 0;
				}
			}
			.another_answer {
				position: relative;
				padding-left: 1em;
				color: #5bb92a;
				@include size14;
				&:before {
					@include arrow;
					left: 0;
				}
			}

			.title {
				padding-bottom: 0;
    			border-bottom: none;

				height: 50px;
				line-height: 50px;
				background-color: #5bb92a;
				color: #fff;
				text-align: center;
				margin-bottom: 25px;
				@include size20;
				font-weight: 400;
			}
			article {
				padding: 0 28px 25px 28px;

				h5 {
					@include size18;
					font-weight: 500;
					margin-bottom: 10px;
				}
			}
			.bottom { display: none; }

			@media only screen and (max-width: 640px) {
				margin-bottom: 40px;
				.title {
					height: 25px;
					line-height: 25px;
					margin-bottom: 12px;
					@include size12;
				}
				article {
					padding: 0 14px 12px 14px;

					h5 {
						@include size12;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	
	.faq {
		ul {
			border-top: 1px solid #ccc;
		    border-left: 1px solid #ccc;
		    box-sizing: border-box;
		    overflow: hidden;
			li {
				position: relative;
				float: left;
				width: 100/5 * 1%;
				padding: (19/1100) * 100%;
				box-sizing: border-box;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				a {
					display: block;
					width: 100%;
					height: 100%;
					&:hover {
						opacity: 0.8;
					}
					img:hover {
						opacity: 1;
					}
				}
				a, img { line-height: 0; }
				p {
					position: relative;
					line-height: 1.6em;
					margin-top: 5px;
					padding-left: 17px;
					text-decoration: underline;
					&:before {
						@include arrow;
						left: 0;
						top: 8px;
						bottom: auto;
					}
				}
			}
		}
		@media only screen and (max-width: 640px) {
			ul {
				li {
					float: none;
					width: 100%;
				}
			}
		}
	}
	
	&.dic {
		.detail {
			h3 {
				@include size24;
				padding-bottom: 15px;
				border-bottom: 1px solid #dfdfdf;
				margin-bottom: 15px;
				span {
					font-weight: 400;
					line-height: 1em;
					border-left: 4px solid #5bb92a;
					padding-left: 12px;
				}
			}
			dl {
				dt, dd {
					line-height: 1.8em;
				}
				dt {
					color: #5bb92a;
					font-weight: bold;
				}
				dd {
					@include size14;
					p + p {
						margin-top: 2em;
					}
				}
				dd + dt {
					margin-top: 27px;
				}
			}
		}
		article + article {
			margin-top: 70px;
		}

	}
	&.faq {
		.detail {

			display: none;
			&.current {
				display: block;
			}

			dl {
				dt {
					border-top: 1px solid #dfdfdf;
					padding: 29px 0;
					padding-left: 32px;
					@include size14;
					line-height: 1em;
					position: relative;
					cursor: pointer;
					&:before {
						@include arrow-open( #5bb92a );
						transition: all .2s ease-in-out;
						left: 0;
					}
					&.current:before {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}
				dd {
					/*font-weight: bold;
					color: #5bb92a;*/
					overflow: hidden;
					padding-bottom: 20px;
					padding-left: 32px;
					.close {
						display: block;
						width: 90px;
						height: 32px;
						line-height: 32px;
						text-align: center;
						color: #5bb92a;
						border: 1px solid #5bb92a;
						box-sizing: border-box;
						float: right;
						@include size14;
						text-decoration: none;
						font-weight: normal;
						&:hover {
							color: #fff;
							background-color: #5bb92a;
						}
					}
				}
			}
		}
	}
}

.category-list {
	overflow: hidden;
	.w25 { width: ( 260 / 1100 ) * 100%; }
	.w50 { width: ( 540 / 1100 ) * 100%; }
	.w100 { width: 100%; }
	.w100 + li { margin-left: 0; }
	> li {
		float: left;
		.label {
			line-height: 1.2em;
			border-bottom: 1px solid #5bb92a;
			padding-bottom: 10px;
			margin-bottom: 20px;
			@include size18;
			font-weight: bold;
			span {
				line-height: 1em;
				border-left: 4px solid #5bb92a;
				padding-left: 13px;
				
				
			}
		}
		.thumb-list {
			overflow: hidden;
			li { float: left; }
			&.p1 li { width: 100%; }
			&.p2 li { width: ( 260 / 540 ) * 100%; }
			&.p4 li { width: ( 260 / 1100 ) * 100%; }
			img:hover { opacity: 1; }
			a {
				color: #5bb92a;
				text-decoration: none;
				font-weight: bold;
				p {
					position: relative;
					padding-left: 17px;
					&:before {
						@include arrow;
						left: 0;
						margin: initial;
						top: 8px;
					}
					
				}
				span {
					font-weight: normal;
				}
				&:hover {
					opacity: 0.8;
					text-decoration: underline;
				}
			}
		}
	}
	li + li {
		margin-left: ( 20 / 1100 ) * 100%;
	}
	> li + li {
		margin-top: 40px;
	}
}

.products {
	.product-idx {
		.btn-lalif {
			width: 366 / 1100 * 100%;
		}
		.btn-platwall {
			width: 366 / 1100 * 100%;
		}
		.btn-papatto {
			width: 366 / 1100 * 100%;
		}
		@media only screen and (max-width: 640px) {
			.btn-lalif {
				width: 32.45902%;
			}
			.btn-platwall {
				width: 32.45902%;
			}
			.btn-papatto {
				width: 32.45902%;
			}
		}
	}
	.main-img {
		line-height: 0;
		img {
			width: 100%;
		}
	}
	.other-link-container {
		.other-link-list {
			@include other-link-list(253, 1078);
		}
	}
	
	.trademark {
		height: 50px;
		line-height: 50px;
		@include size14;
		text-align: center;
		background-color: #f0f0f0;
		margin-bottom: 50px;
		@media only screen and (max-width: 640px) {
			height: 25px;
			line-height: 25px;
			@include size8;
			margin-bottom: 25px;
		}
	}
	.lineup {

		.block {
			line-height: 1.6em;
			.cover {
				max-width: 100%;
			}
		}
		.block + .block {
			padding-top: 0;
		    margin-top: 0;
		}
		.spec {
			margin-top: 0;
			width: 100%;
			border-top: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			box-sizing: border-box;
			margin-bottom: 80px;
			tr {
				th,td {
					padding: 10px 17px;
					@include size14;
					border-right: 1px solid #cccccc;
					border-bottom: 1px solid #cccccc;
				}
				th {
					font-weight: normal;
					text-align: left;
					background-color: #f0f0f0;
				}
			}
			@media only screen and (max-width: 640px) {
				margin-bottom: 40px;
				tr {
					th,td {
						padding: 5px 8px;
						@include size8;
					}
				}
			}
		}
	}

	.img-dimensional {
		width: 100%;
		text-align: center;
		line-height: 0;
		margin-bottom: 100px;
		overflow: hidden;
		img { max-width: 100%; }
		&.left {
			text-align: left;
		}
		@media only screen and (max-width: 640px) {
			margin-bottom: 50px;
		}
	}

	.point2 {
		margin-bottom: 80px;
		
		box-sizing: border-box;
		li {
			display: table;
			border: 1px solid #5bb92a;
			box-sizing: border-box;
			width: 100%;
			min-height: 99px;

			.cell {
				display: table-cell;
				vertical-align: middle;
			}
			
			.gr {
				width: 46%;
				/*background-color: #5bb92a;*/
				color: #fff;
				padding-left: 124 / 1100 * 100%;
				font-weight: bold;
				font-size: 2.7vw;
				.att {
					@include size24;
					vertical-align: super;
				}
				@media only screen and (min-width: 1180px) {
					@include size36;
				}
			}
			.txt {
				width: 54%;
				padding: 10px 30px;
			}
			&:nth-of-type(1) .gr { background: #5bb92a url('/assets/images/products/common/icon-point1.png') left top no-repeat; }
			&:nth-of-type(2) .gr { background: #5bb92a url('/assets/images/products/common/icon-point2.png') left top no-repeat; }
			&:nth-of-type(3) .gr { background: #5bb92a url('/assets/images/products/common/icon-point3.png') left top no-repeat; }
			&:nth-of-type(4) .gr { background: #5bb92a url('/assets/images/products/common/icon-point4.png') left top no-repeat; }
			&:nth-of-type(5) .gr { background: #5bb92a url('/assets/images/products/common/icon-point5.png') left top no-repeat; }
			&:nth-of-type(6) .gr { background: #5bb92a url('/assets/images/products/common/icon-point6.png') left top no-repeat; }
			&:nth-of-type(7) .gr { background: #5bb92a url('/assets/images/products/common/icon-point7.png') left top no-repeat; }
			&:nth-of-type(8) .gr { background: #5bb92a url('/assets/images/products/common/icon-point8.png') left top no-repeat; }
			&:nth-of-type(9) .gr { background: #5bb92a url('/assets/images/products/common/icon-point9.png') left top no-repeat; }
			&:nth-of-type(10) .gr { background: #5bb92a url('/assets/images/products/common/icon-point10.png') left top no-repeat; }
		}
		li + li {
			margin-top: 10px;
		}
		@media only screen and (max-width: 640px) {
			margin-bottom: 40px !important;
			li {
				min-height: 70px;
				.gr {
					font-size: 12px !important;
					font-size: 1.2rem !important;
			   		background-size: contain !important;
			   		.att {
						@include size12;
					}
				}
				.txt {
    				padding: 5px 15px !important;
				}
			}
		}

	}

	.point {
		margin-bottom: 80px;
		dt {
			float:left;
			display: table;
			height: 99px;
			width: 46%;
			background-color: #5bb92a;
			color: #fff;
				
			font-size: 2.7vw;
			@media only screen and (min-width: 1180px) {
				@include size36;
			}

			padding-left: 124 / 1100 * 100%;
			box-sizing: border-box;
			font-weight: bold;
			margin-top: 10px;
			.cell {
				display: table-cell;
				vertical-align: middle;
			}
			.att {
				@include size24;
				vertical-align: super;
			}
			&:nth-of-type(1) { margin-top: 0; background: #5bb92a url('/assets/images/products/common/icon-point1.png') left top no-repeat; }
			&:nth-of-type(2) { background: #5bb92a url('/assets/images/products/common/icon-point2.png') left top no-repeat; }
			&:nth-of-type(3) { background: #5bb92a url('/assets/images/products/common/icon-point3.png') left top no-repeat; }
			&:nth-of-type(4) { background: #5bb92a url('/assets/images/products/common/icon-point4.png') left top no-repeat; }
			&:nth-of-type(5) { background: #5bb92a url('/assets/images/products/common/icon-point5.png') left top no-repeat; }
			&:nth-of-type(6) { background: #5bb92a url('/assets/images/products/common/icon-point6.png') left top no-repeat; }
			&:nth-of-type(7) { background: #5bb92a url('/assets/images/products/common/icon-point7.png') left top no-repeat; }
			&:nth-of-type(8) { background: #5bb92a url('/assets/images/products/common/icon-point8.png') left top no-repeat; }
			&:nth-of-type(9) { background: #5bb92a url('/assets/images/products/common/icon-point9.png') left top no-repeat; }
			&:nth-of-type(10) { background: #5bb92a url('/assets/images/products/common/icon-point10.png') left top no-repeat; }
		}
		dd {
			display: table;
			height: 99px;
			width: 54%;
			border-right: 1px solid #5bb92a;
			border-top: 1px solid #5bb92a;
			border-bottom: 1px solid #5bb92a;
			padding: 0 30px;
			box-sizing: border-box;
			margin-top: 10px;
			.cell {
				display: table-cell;
				vertical-align: middle;
			}
			.att {
				@include size12;
			}
			&:nth-of-type(1) {
				margin-top: 0;
			}
		}

		@media only screen and (max-width: 640px) {
			margin-bottom: 40px !important;
			dt {
				font-size: 5vw;
			    height: 70px;
			    background-size: contain !important;
			    .att {
					@include size12;
				}
			}
			dd {
				height: 70px;
    			padding: 0 15px;
			}
		}
	}

	.order {
		h3 {
			margin-bottom: 25px;
		}
		.order-type {
			@include size22;
			font-weight: bold;
			margin-bottom: 25px;
			&:before {
				content: "▼";
				color: #5bb92a;
			}
		}
		.point {
			margin-bottom: 80px;
			dt {
				width: 270 / 1100 * 100%;
				margin-top: 85px;
				/*font-size: 1.75vw;*/
				@include size25;
				padding-left: 7%;
				&:nth-of-type(1) { margin-top: 0; }
			}
			dd {
				width: 830 / 1100 * 100%;
				margin-top: 85px;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					left: 298px;
					top: -65px;
					width: 33px;
					height: 44px;
					background: url('/assets/images/products/common/icon-point-arrow.png');
				}
				&:nth-of-type(1) {
					margin-top: 0;
					&:before {
						content: none;
					}
				}
			}

		}
		@media only screen and (max-width: 640px) {
			h3 {
				margin-bottom: 12px;
			}
			.order-type {
				margin-bottom: 12px;
			}
			.point {
				margin-bottom: 40px;
				dt {
					@include size12;
					margin-top: 42px;
				}
				dd {
					margin-top: 42px;
					&:before {
						left: 90px;
	    				top: -32px;
	    				width: 16px;
	    				height: 21px;
	   					background: url(/assets/images/products/common/icon-point-arrow.png);
	   					background-size: 100%;
					}
				}
			}
		}
	}
	.case-images {
		@include column( 260, 1100 );
		img { max-width: 100%; }
		margin-bottom: 80px;
		li {
			margin-top: 12px;
			line-height: 0;
			&:nth-child(-n+4){
				margin-top: 0 !important;
			}
			&:nth-child(4n+1){
				margin-left: 0 !important;
			}
		}
		@media only screen and (max-width: 640px) {
			margin-bottom: 40px;
		}
	}

	&.lalif {
		.text-thumb {
			&.two-column {
				.horizontal {
					.txt {
						width: (347 / 530) * 100%;
					}
					.img {
						width: (183 / 530) * 100%;
					}
				}
			}
		}
		h5 {
			@include size18;
			font-weight: bold;
			line-height: 1.2em;
			margin-bottom: 20px;
			&:before {
				content: "■";
				color: #5bb92a;
			}
			@media only screen and (max-width: 640px) {
				@include size9;
				margin-bottom: 10px;
			}
		}
		.text-thumb + h3 {
			margin-top: 60px;
		}
		.catch {
			width: 100%;
			max-width: 710px;
			margin-bottom: 40px;
			line-height: 1em;
		}
		.feature-images {
			@include column( 353, 1100 );
			img { max-width: 100%; }
			margin-top: 25px;
			margin-bottom: 70px;
		}

		.txt-performance {
			margin-top: 25px;
		}
		.txt-performance + .txt-performance {
			margin-top: 25px;
		}

		.case-study {
			overflow: hidden;
			padding-top: 30px;
			border-top: 2px solid #f4f4f4;
			margin-top: 25px;
			margin-bottom: 80px;
			@include column(343, 1100);

			$orange: #f59818;
			$green: #5bb92a;
			$purple: #eb5098;

			li {
				.label {
					min-height: 95px;
					position: relative;
					display: table;
					padding-left: 107px;
					margin-bottom: 55px;
					@include size24;
					font-weight: 400;
					span {
						display: table-cell;
						vertical-align: middle;
					}
					&:after {
						content: "";
						position: absolute;
						width: 18px;
						height: 27px;
						left: 0;
						right: 0;
						margin: auto;
						bottom: -37px;
						background: url('/assets/images/products/lalif/icon-case-study-arrow.png');
					}
				}
				&:nth-child(1){
					color: $orange;
					.label {
						background: url('/assets/images/products/lalif/icon-case-study01.png') left center no-repeat;
					}
					.num > p:before { background-color: $orange; }
					.num .solution { border: 1px solid $orange; p:before { background-color: $orange; } }
				}
				&:nth-child(2){
					color: $green;
					.label {
						background: url('/assets/images/products/lalif/icon-case-study02.png') left center no-repeat;
					}
					.num > p:before { background-color: $green; }
					.num .solution { border: 1px solid $green; p:before { background-color: $green; } }
				}
				&:nth-child(3){
					color: $purple;
					.label {
						background: url('/assets/images/products/lalif/icon-case-study03.png') left center no-repeat;
					}
					.num > p:before { background-color: $purple; }
					.num .solution { border: 1px solid $purple; p:before { background-color: $purple; } }
				}
				.num {
					overflow: hidden;
					> p {
						display: table;
						position: relative;
						margin-bottom: 20px;
						min-height: 43px;
						letter-spacing: -0.05em;
						&:before {
							content: "0";
							display: block;
							position: absolute;
							top: 0;
							bottom: 0;
							margin: auto;
							left: 0;
							width: 43px;
							height: 43px;
							line-height: 43px;
							text-align: center;
							color: #fff;
							@include size22;
							background-color: $orange;
							border-radius: 50%;
							-webkit-border-radius: 50%;
						}
						span { display: table-cell; vertical-align: middle; padding-left: 52px; }
					}
					.solution {
						width: ( 291 / 343 ) * 100%;
						min-height: 182px;
						border: 1px solid $orange;
						float: right;
						padding: 14px 10px;
						box-sizing: border-box;
						p {
							@include size14;
							display: table;
							position: relative;
							margin-bottom: 23px;
							&:before {
								content: "解決!";
								display: block;
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
								left: 0;
								width: 59px;
								height: 34px;
								line-height: 34px;
								text-align: center;
								color: #fff;
								@include size16;
								background-color: $orange;
								border-radius: 5px;
								-webkit-border-radius: 5px;
							}
							span {
								display: table-cell;
								vertical-align: middle;
								padding-left: 69px;
								line-height: 1.4em;
								letter-spacing: -0.05em;
							}
						}
						img { max-width: 100%; }
					}
				}
				.num + .num {
					margin-top: 28px;
				}
				.num1 { > p:before { content: "1"; } }
				.num2 { > p:before { content: "2"; } }
				.num3 { > p:before { content: "3"; } }
				.num4 { > p:before { content: "4"; } }
				.num5 { > p:before { content: "5"; } }
				.num6 { > p:before { content: "6"; } }
				.num7 { > p:before { content: "7"; } }
			}

			@media only screen and (max-width: 640px) {
				padding-top: 15px;
				margin-top: 12px;
				margin-bottom: 40px;
				li {
					float: none;
					width: 100%;
					margin-left: 0 !important;
					.label {
						min-height: 48px;
						padding-left: 53px;
						margin-bottom: 27px;
						@include size12;
						background-size: 48px !important;
						width: 100%;
    					box-sizing: border-box;


						&:after {
							width: 9px;
							height: 13px;
							bottom: -18px;
							background-size: 100%;
						}
					}
					.num {
						> p {
							margin-bottom: 10px;
							min-height: 22px;
							&:before {
								width: 22px;
								height: 22px;
								line-height: 22px;
								@include size12;
							}
							span { padding-left: 26px; }
						}
						.solution {
							width: ( 338 / 360 ) * 100%;
							min-height: 90px;
							padding: 7px 5px;
							p {
								@include size8;
								margin-bottom: 12px;
								&:before {
									
									width: 30px;
									height: 17px;
									line-height: 17px;
									@include size8;
								}
								span {
									padding-left: 35px;
									letter-spacing: 0em;
								}
							}
						}
					}
					.num + .num {
					    margin-top: 14px;
					}
				}
				li + li {
					margin-top: 20px;
				}
			}
		}
		@media only screen and (max-width: 640px) {
			.text-thumb + h3 {
			    margin-top: 30px;
			}
			.catch {
			    margin-bottom: 20px;
			}
			.feature-images {
			    margin-bottom: 35px;
			}
			.txt-performance {
			    margin-top: 12px;
			}
			.case-study {
			    padding-top: 15px;
			    margin-top: 13px;
			    margin-bottom: 40px;
			}
		}
	}

	&.cralesdoor {
		
		h5 {
			@include size18;
			font-weight: bold;
			line-height: 1.2em;
			margin-bottom: 20px;
			&:before {
				content: "■";
				color: #5bb92a;
			}
			@media only screen and (max-width: 640px) {
				@include size9;
				margin-bottom: 10px;
			}
		}
		.point2 {
			margin-bottom: 25px;
		}
		
		.feature-catch {
			line-height: 0;
			max-width: 502px;
			margin-bottom: 45px;
		}
		.feature-catch + p {
			.att {
				@include size12;
			}
		}

		.three-column {
			margin-bottom: 80px;
			.column-block {
				.txt {
					margin-bottom: 45px;
					p {
						@include size16;
					}
				}
			}
			@media only screen and (max-width: 640px) {
				margin-bottom: 45px;
				.column-block {
					.txt {
						margin-bottom: 22px;
						p {
							@include size10;
						}
					}
				}
			}
		}
		
		.feature-detail {
			margin-bottom: 75px;
			overflow: hidden;
			.txt {
				width: ( 550 / 1100 ) * 100%;
				float: left;
				padding-right: ( 40 / 1100 ) * 100%;
				box-sizing: border-box;
				margin-right: ( 244 / 1100 ) * 100%;
				ul {
					list-style-type: disc;
					padding-left: 1em;
					li {
						@include size18;
						span {
							@include size24;
							color: #5bb92a;
							font-weight: bold;
						}
					}
					li + li {
						margin-top: 28px;
					}
				}
			}
			.img {
				width: ( 306 / 1100 ) * 100%;
				float: left;
				ul {
					li {
						float: left;
						width: ( 148 / 306 ) * 100%;
						.label {
							line-height: 32px;
							margin-bottom: 10px;
							text-align: center;
						}
						.thumb {
							line-height: 0;
							img { max-width: 100%; }
						}
						
						.dsc {
							@include size12;
							min-height: 36px;
							margin-top: 10px;
						}
					}
					li + li {
						margin-left: ( 10 / 306 ) * 100%;
					}
				}
			}
			.spec {
				margin-bottom: 0;
			}
			.spec + .spec {
				margin-top: 20px;
			}
		}
		@media only screen and (max-width: 640px) {
			.intro {
				margin-bottom: 35px;
				.feature-catch {
					margin-bottom: 13px;
				}
			}
			.feature-detail {
				margin-bottom: 40px;
				.txt {
					ul {
						li {
							@include size9;
							span {
								@include size12;
							}
						}
						li + li {
							margin-top: 14px;
						}
					}
				}
				.img {
					ul {
						li {
							.thumb {
								margin-bottom: 5px;
							}
							.label {
								line-height: 16px;
								margin-bottom: 5px;
							}
							.dsc {
								@include size8;
							}
						}
					}
				}
				.spec + .spec {
					margin-top: 10px;
				}
			}
		}
	}

	&.papatto {
		h4 {
			margin-bottom: 30px;
		}
		h5 {
			@include size18;
			font-weight: bold;
			line-height: 1.2em;
			margin-bottom: 20px;
			&:before {
				content: "■";
				color: #5bb92a;
			}
			@media only screen and (max-width: 640px) {
				@include size9;
				margin-bottom: 10px;
			}
		}
		.calc-sub {
			margin-top: 0.5em !important;
			padding-top: 0.5em !important;
			border-top: 1px solid #000;
			display: inline-block;
		}
		.point {
			dt {
				
				&:nth-of-type(4) {
					height: 130px;
				}
			}
			dd {
				&:nth-of-type(4) {
					height: 130px;
				}
			}
		}
		
		.img-dimensional {
			margin-bottom: 42px;
		}
		.feature-catch01 {
			max-width: 859px;
			margin-bottom: 55px;
		}
		.feature-catch02 {
			max-width: 776px;
			margin-bottom: 55px;
		}
		.feature-recommend-img {
			text-align: center;
			line-height: 0;
			img { max-width: 100%; }
		}
		.att {
			margin-bottom: 80px;
		}
		.three-step {
			padding-bottom: 9px;
			margin-bottom: 25px;
		}
		.three-step + p {
			margin-bottom: 117px;
		}
		.feature-howto {
			width: ( 831 / 1100 ) * 100%;
			margin: 0 auto;
			@include column(209, 831);
			overflow: visible;
			margin-bottom: 50px;
			li {
				position: relative;
				img { max-width: 100%; }
				p {
					position: absolute;
					width: 136px;
					height: 136px;
					left: -68px;
					top: -68px;
					text-align: center;
					color: #fff;
					background-color: #5bb92a;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					padding-top: 28px;
					box-sizing: border-box;
					line-height: 1em;
					@include size23;
					font-weight: bold;
					span {
						@include size30;
						display: inline-block;
						margin-bottom: 18px;
					}
				}
			}
			li + li {
				&:before {
					content: "";
					position: absolute;
					width: 37px;
					height: 26px;
					top: 0;
					bottom: 0;
					margin: auto;
					left: -(70 / 209) * 100%;
					background: url('/assets/images/products/common/icon-arrow-h.png');
				}
			}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
		.speed-construction {
			padding-bottom: 9px;
			margin-bottom: 25px;
			
			.icon {
				display: inline-block;
				line-height: 46px;
				padding: 0 20px;
				color: #fff;
				background-color: #5bb92a;
				@include size24;
				font-weight: bold;
			}
		}
		.speed-construction + p {
			margin-bottom: 35px;
		}
		.speed-construction-flow {
			overflow: hidden;
			margin-bottom: 50px;
			.flow01 {
				width: ( 716 / 1100 ) * 100%;
				.img {
					width: ( 338 / 716 ) * 100%;
				}
				.img + .img {
					margin-left: ( 40 / 716 ) * 100%;
				}
			}
			.flow02 {
				width: ( 338 / 1100 ) * 100%;
				margin-left: ( 46 / 1100 ) * 100%;
			}
			.flow {
				float: left;
				p {
					line-height: 40px;
					text-align: center;
					color: #fff;
					background-color: #5bb92a;
					margin-bottom: 20px;
				}
				.img {
					float: left;
					max-width: 338px;
					line-height: 0;
				}
				img { max-width: 100%; }
			}
		}
		.exclusive-panel {
			margin-bottom: 80px;
		}
		.text-thumb.door {
			.txt {
				width: ( 390 / 1100 ) * 100%;
			}
			.img {
				width: ( 710 / 1100 ) * 100%;
			}
		}
		.feature-panel-h4 {
			margin-bottom: 30px;
		}
		.feature-panel {
			overflow: hidden;
			margin-bottom: 70px;
			.txt {
				width: ( 550 / 1100 ) * 100%;
				float: left;
				padding-right: ( 40 / 1100 ) * 100%;
				box-sizing: border-box;
				p {
					line-height: 1.8em;
					span {
						@include size18;
						font-weight: bold;
					}
				}
				p + p {
					margin-top: 1.8em;
				}
			}
			.img {
				width: ( 550 / 1100 ) * 100%;
				margin-top: 0;
				float: left;
				img { max-width: 100%; }
				ul {
					overflow: hidden;
					li {
						float: left;
						width: ( 270 / 550 ) * 100%;
						img { width: 100%; }
					}
					li + li {
						margin-left: ( 10 / 550 ) * 100%;
					}
				}
			}
		}
		@media only screen and (max-width: 640px) {
			h4 {
			    margin-bottom: 25px;
			}
			.img-dimensional {
				margin-bottom: 21px;
			}
			.feature-catch01 {
				margin-bottom: 27px;
			}
			.feature-catch02 {
				margin-bottom: 27px;
			}
			.att {
				margin-bottom: 40px;
			}
			.three-step {
				margin-bottom: 58px;
			}
			.feature-howto {
				margin-bottom: 25px;
				li {
					p {
						width: 68px;
						height: 68px;
						left: -34px;
						top: -34px;
						padding-top: 14px;
						@include size12;
						span {
							@include size15;
							margin-bottom: 9px;
						}
					}
				}
				li + li {
					&:before {
						width: 18px;
						height: 13px;
						background-size: 100%;
					}
				}
			}
			.speed-construction {
				padding-bottom: 5px;
				margin-bottom: 12px;
				.icon {
					line-height: 23px;
					padding: 0 10px;
					@include size12;
				}
			}
			.speed-construction + p {
				margin-bottom: 17px;
			}
			.speed-construction-flow {
				margin-bottom: 40px;
				.flow {
					p {
						line-height: 20px;
						margin-bottom: 	10px;
					}
				}
			}
			.feature-door-h4 {
				margin-bottom: 15px;
			}
			.feature-door {
				margin-bottom: 35px;
				.txt {
					p {
						span {
							@include size9;
						}
					}
				}
			}
		}
	}
	
	&.platwall {
		h3 {
			margin-bottom: 30px;
			@media only screen and (max-width: 640px) {
				margin-bottom: 15px;
			}
		}
		
		h5 {
			@include size18;
			font-weight: bold;
			line-height: 1.2em;
			margin-bottom: 20px;
			&:before {
				content: "■";
				color: #5bb92a;
			}
			@media only screen and (max-width: 640px) {
				@include size9;
				margin-bottom: 10px;
			}
		}
		.feature-column {
			margin-bottom: 70px;
		}
		
		.lineup {
			.text-thumb {
				p + p {
					margin-top: 1.8em;
				}
			}
		}
		.case-images {
			@include column( 266, 1100 );
		}

		
		.img-dimensional {
			margin-bottom: 20px;
			@media only screen and (max-width: 640px) {
				margin-bottom: 10px;
			}
		}
		.spec {
			margin-bottom: 0;
		}
		.spec + .spec {
			margin-top: 20px;
			@media only screen and (max-width: 640px) {
				margin-top: 10px;
			}
		}
		.block + .block {
			padding-top: 50px;
			margin-top: 50px;
			&.no-border {
				padding-top: 0;
				margin-top: 45px;
			}
			@media only screen and (max-width: 640px) {
				padding-top: 25px;
				margin-top: 25px;
				&.no-border {
					margin-top: 23px;
				}
			}
		}
		.att {
			margin-top: 5px;
		}
		.category-block {
			margin-bottom: 80px;
			@media only screen and (max-width: 640px) {
				margin-bottom: 40px;
			}
		}

		.feature {
			.point {
				margin-bottom: 10px;
				overflow: hidden;
				dt {
					@include size25;
					&.w100 {
						width: 100%;
					}
				}
				@media only screen and (max-width: 640px) {
					margin-bottom: 5px;
					dt {
						@include size12;
					}
				}
			}
			.point2 {
				margin-bottom: 10px;
				li {
					min-height: 99px;
					.gr{
						@include size25;
						&.w100 {
							width: 100%;
						}
					}
				}
				@media only screen and (max-width: 640px) {
					margin-bottom: 5px;
					li {
						min-height: 70px;
						
					}
				}
			}
			.point2 + p {
				margin-bottom: 75px;
				@media only screen and (max-width: 640px) {
					margin-bottom: 37px;
				}
			}
			.catch {
				max-width: 517px;
				margin-bottom: 25px;
				@media only screen and (max-width: 640px) {
					margin-bottom: 12px;
				}
			}
			.catch02 {
				max-width: 606px;
				margin-top: 50px;
				margin-bottom: 25px;
				@media only screen and (max-width: 640px) {
					margin-top: 25px;
					margin-bottom: 12px;
				}
			}
			.text-thumb {
				p {
					line-height: 1.6em;
				}
				p + p {
				    margin-top: 0;
				}
				p + .label {
					margin-top: 28px;
				}
				.clear {
					padding-top: 20px;
					img {
						max-width: 100%;
					}
				}
				.img-table {
					margin-top: 90px;
					img { max-width: 100%; }
				}
				&.two-column {
					.horizontal {
						.txt {
							width: (286 / 550) * 100%;
						}
						.img {
							width: (264 / 550) * 100%;
						}
					}
				}
				&.horizontal {
					.txt {
						width: (600 / 1100) * 100%;
					}
					.img {
						width: (500 / 1100) * 100%;
					}
				}
				@media only screen and (max-width: 640px) {
					p + .label {
						margin-top: 14px;
					}
					.clear {
						padding-top: 10px;
					}
					.img-table {
						margin-top: 45px;
					}
					&.two-column {
						.horizontal {
							.txt {
								width: 100%;
							}
							.img {
								width: 100%;
							}
						}
					}
				}
			}
			.text-thumb + h3 {
				margin-top: 35px;
			}
			.text-thumb + h4 {
				margin-top: 35px;
			}
			.processing-img-container {
				@include column( 260, 540 );
				margin-top: 20px;
				li {
					margin-top: 25px;
					letter-spacing: -0.12em;
					&:nth-child(odd){
						margin-left: 0;
					}
					&:nth-child(-n+2){
						margin-top: 0;
					}
				}
			}
			
			.feature-print-ex {
				@include column( 260, 1100 );
				margin-bottom: 80px;
			}
			.tag-logo {
				line-height: 0;
				max-width: 708px;
				margin: 0 auto;
				margin-bottom: 30px;
			}
			.tag-logo + p {
				margin-bottom: 40px;
			}
			@media only screen and (max-width: 640px) {
				.text-thumb + h3 {
					margin-top: 17px;
				}
				.text-thumb + h4 {
					margin-top: 17px;
					margin-bottom: 12px;
				}
				.processing-img-container {
					margin-top: 10px;
					li {
						margin-top: 12px;
					}
				}
				.feature-print-ex {
					margin-bottom: 40px;
				}
				.tag-logo {
					margin-bottom: 15px;
				}
				.tag-logo + p {
					margin-bottom: 20px;
				}
			}
		}
	}

	&.mesh_sheet {
		.other-link-list {
			li:nth-child(1){
				a {
					letter-spacing: -0.1em;
				}
			}
		}
		.catch {
			max-width: 683px;
			margin-bottom: 55px;
		}
		
		.lineup {
			h4 {
				margin-bottom: 50px;
			}
			#low_wind_pressure_seat {
				margin-top: 80px;
			}
		}

		h5 {
			@include size20;
			color: #5bb92a;
			line-height: 1.2em;
			margin-bottom: 15px;
			&:before {
				content: "■";
			}
		}
		.spec {
			margin-bottom: 0;

			@media only screen and (max-width: 640px) {
				tr{
					td:nth-child(1){
						width: 25%;
					}
				}
			}
		}
		.spec + .spec {
			margin-top: 20px;
		}
		.block + .block {
			padding-top: 50px;
			margin-top: 50px;
			&.no-border {
				padding-top: 0;
				margin-top: 45px;
			}
		}
		.block + h3 {
			margin-top: 60px;
		}
		.text-thumb {
			padding: 0;
			margin-bottom: 80px;
			&.pattern {
				margin-bottom: 60px;
			}
		}
		table + .att {
			margin-top: 5px;
		}
		.img-dimensional-list {
			overflow: hidden;
			width: ( 869 / 1100 ) * 100%;
			margin: 0 auto;
			margin-bottom: 50px;
			li {
				float: left;
				&:nth-child(1){
					width: ( 389 / 869 ) * 100%;
				}
				&:nth-child(2){
					width: ( 393 / 869 ) * 100%;
					margin-left: ( 83 / 869 ) * 100%;
				}
				img { max-width: 100%; }
			}
		}
		.img-dimensional {
			.att {
				float: right;
				margin-top: 40px;
				line-height: 1em;
			}
		}

		.feature-catch01 {
			line-height: 0;
			max-width: 557px;
			margin-bottom: 55px;
		}
		.feature-catch02 {
			line-height: 0;
			max-width: 525px;
			margin-bottom: 55px;
		}
		.feature-img-list {
			@include column( 353, 1100 );
			margin-bottom: 90px;
		}
		.pattern-list {
			margin-top: 0;
			width: 100%;
			border-top: 1px solid #a0a0a0;
			border-left: 1px solid #a0a0a0;
			box-sizing: border-box;
			margin-bottom: 20px;
			@include size14;
			tr {
				th,td {
					padding: 14px 9px;
					@include size14;
					border-right: 1px solid #a0a0a0;
					border-bottom: 1px solid #a0a0a0;
				}
				th {
					font-weight: normal;
					background-color: #b4daa1;
					height: 70px;
					box-sizing: border-box;
					&.slit {
						position: relative;
						line-height: 1em;
						background: #b4daa1 url('/assets/images/products/mesh_sheet/pattern-list-bg.png') center center no-repeat;
						.top {
							position: absolute;
							right: 8px;
							top: 5px;
						}
						.bottom {
							position: absolute;
							left: 8px;
							bottom: 5px;
						}
					}
				}
				td {
					line-height: 0;
					&:nth-child(1){
						line-height: 1.6em;
						text-align: center;
					}
				}
				&:nth-child(even){
					td { background-color: #f0f0f0; }
				}
			}
			img { max-width: 100%; }

			.colorchip {
				display: inline-block;
				width: 18px;
				height: 18px;
				vertical-align: middle;
    			margin-left: 5px;
				&.orange { background-color: #f39700; }
				&.red { background-color: #e60012; }
				&.yellow { background-color: #fff100; }
				&.black { background-color: #000; }
			}
		}
		@media only screen and (max-width: 640px) {
			.feature-catch01 {
				margin-bottom: 27px;
			}
			.feature-catch02 {
				margin-bottom: 27px;
			}
			.catch {
				margin-bottom: 27px;
			}
			.text-thumb {
				margin-bottom: 40px;
			}
			.feature-img-list {
				margin-bottom: 45px;
			}
			h5 {
				@include size10;
				margin-bottom: 8px;
			}
			.products.mesh_sheet .block + h3 {
    			margin-top: 30px;
			}
			.pattern-list {
				margin-bottom: 10px;
				tr{
					th,
					td{
						padding: 7px 5px;
						@include size8;
					}
				}
			}
			.img-dimensional-list {
				margin-bottom: 25px;
			}
			.lineup {
				h4 {
					margin-bottom: 25px;
				}
			}
			.block + .block.no-border {
	    		margin-top: 22px;
			}
			#low_wind_pressure_seat {
				margin-top: 40px !important;
			}
		}
	}
}


.recruit {
	
	.detail {
		line-height: 1.8em;
	}
	.head-img {
		border: 1px solid #5bb92a;
		
		margin-bottom: 40px;
		line-height: 1;
		img {
			max-width: 100%;
		}
	}
	/* --------------------- */
	/* 旧バージョンのみ */
	.text-thumb {
		padding-bottom: 60px;
	}
	/* --------------------- */

	.dt01 {
		padding-bottom: 50px;
		margin-bottom: 0;
	}
	.other-link-container {
		margin-bottom: 0;
	}
	.other-link-list {
		/*@include other-link-list(350, 1100);*/
	}
	
	#block01 {
		.copy01 { max-width: 429px; margin-bottom: 20px; }
		.txt { width: ( 507 / 1100 ) * 100%; }
		.img { width: ( 593 / 1100 ) * 100%; }
	}
	
	#block02 {
		letter-spacing: -0.05em;
		line-height: 2.6em;
		.copy02 { max-width: 554px; margin-top: 18px; margin-bottom: 20px; }
		.txt { width: ( 663 / 1100 ) * 100%; }
		.img { width: ( 437 / 1100 ) * 100%; }
	}
	.business-images {
		@include column( 353, 1100 );
		li { line-height: 0; }
		margin-bottom: 80px;
	}
	.entry {
		@include size24;
		font-weight: bold;
		line-height: 53px;
		text-align: center;
		color: #fff;
		margin-bottom: 0;
		background-color: #5bb92a;
	}
	.entry-btnlist {
		@include column( 360, 750 );
		width: ( 750 / 1100 ) * 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		.btn-greenframe {
			width: 100%;
			height: 112px;
			padding: 18px 18px 10px 18px;
			box-sizing: border-box;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			@include size24;
			font-weight: bold;
			line-height: 1em;
			transition: all 300ms 0s ease;
			img { width: auto; display: inline-block; margin-top: 10px; }
			span { @include size14; display: inline-block; margin-top: 30px; line-height: 1em; color: #000; font-weight: normal; }
			&:after {
				left: auto;
				right: 10px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
	.box {
		border: 1px solid #cccccc;
		padding: 30px 57px;
		box-sizing: border-box;
		margin-bottom: 45px;
		.label {
			@include size20;
			font-weight: bold;
		}
		&.greenframe {
			border: none;
			border-left: 1px solid #5bb92a;
			border-right: 1px solid #5bb92a;
			border-bottom: 1px solid #5bb92a;
			padding: 65px 0 60px 0;
			margin-bottom: 20px;
			.btn-greenframe {
				&:hover {
					text-decoration: none;
					background-color: #5bb92a;
					color: #fff;
					&:after {
						border-top: 1px solid #fff;
						border-right: 1px solid #fff;
					}
				}
			}
		}
	}
	.footer-contact-info {
		position: relative;
		margin-bottom: 40px;
		.txt {
			float: left;
			width: ( 700/1038 ) * 100%;
			p { float: none; }
			.label2 { @include size20; font-weight: bold; }
		}
		.other-link-list {
			width: ( 261/1038 ) * 100%;
			position: absolute;
		    right: 30px;
		    overflow: hidden;
		    top: 50%;
		    transform: translateY(-50%);
			li { width: 100%; }
		}
	}
	.caution {
		ul li {
			@include size14;
		}
	}

	.about {
		
		article {
			margin-bottom: 80px;
			&.idea {
				img {
					max-width: 100%;
				}
				.idea_txt01 {
					width: ( 448 / 1100 ) * 100%;
					margin: 0 auto;
				}
				.idea_txt02 {
					width: ( 506 / 1100 ) * 100%;
					margin: 0 auto;
				}
				.idea_txt03 {
					width: ( 444 / 1100 ) * 100%;
					margin: 0 auto;
				}
				p {
					margin-top: 70px !important;
				}
			}
			&.msg {
				.h4-type1 {
					margin-bottom: 70px;
				}
				img {
					max-width: 100%;
				}
				.msg_txt {
					width: ( 723 / 1100 ) * 100%;
					margin: 0 auto;
				}
			}
			&.overview {
				.txt {
					line-height: 2em;
					dt {
						width: 115px;
						float: left;
					}
					dd {
						margin-left: 115px;
					}
				}
			}

			&.business_contents {
				.txt { width: ( 580 / 1100 ) * 100%; }
				.img { width: ( 520 / 1100 ) * 100%; }
				.label {
					@include size20;
					&:before {
						content: "●";
						color: #5bb92a;
					}
				}
			}
			&.customer {
				.label {
					@include size20;
					&:before {
						content: "●";
						font-weight: bold;
						color: #5bb92a;
					}
				}
				.block {
					@include size16;
				}
				.block + .block {
					padding-top: 0;
					margin-top: 40px;
				}
			}
			&.style {
				.text-thumb {
					padding-bottom: 0;
					.column-block {
						border: 1px solid #5bb92a;
						box-sizing: border-box;
						padding: 0;
						margin-top: 30px;
						width: ( 530 / 1100 ) * 100%;

						.label {
							color: #fff;
							background-color: #5bb92a;
							text-align: center;
							@include size22;
							line-height: 42px;
						}
						ul {
							overflow: hidden;
							padding: 20px 20px 20px 34px;
							list-style-type: disc;
							li + li {
								margin-top: 2em;
							}
						}
					}
					.column-block + .column-block {
						/*border-left: none;*/
						padding: 0;
					}
					.column-block:nth-child(even){
						margin-left: ( 40 / 1100 ) * 100%;
					}
					.column-block:nth-child(-n+2){
						margin-top: 0;
					}
				}
			}
		}

		@media only screen and (max-width: 640px) {
			.head-img {
				margin-bottom: 20px;
			}
			article {
				margin-bottom: 40px;

				&.style {
					.text-thumb {
						.column-block {
							float: none;
							width: 100%;
							margin-top: 15px;
							.label {
								@include size12;
								line-height: 21px;
							}
							ul {
								padding: 10px 10px 10px 17px;
							}
						}
						.column-block:nth-child(even){
							margin-left:0;
						}
					}
				}

				&.idea {
					img {
						max-width: 100%;
					}
					.idea_txt01 {
						width: ( 448 / 640 ) * 100%;
					}
					.idea_txt02 {
						width: ( 506 / 640 ) * 100%;
					}
					.idea_txt03 {
						width: ( 444 / 640 ) * 100%;
					}
					p {
						margin-top: 35px !important;
					}
				}
				&.msg {
					.h4-type1 {
						margin-bottom: 35px;
					}
				}
				&.business_contents {
					.label {
						@include size10;
					}
				}
				&.customer {
					.label {
						@include size10;
					}
					.block {
						@include size8;
					}
					.block + .block {
						margin-top: 20px;
					}
				}
			}
		}
	}

	.required {
		
		.head-img {
			margin-bottom: 80px;
		}
		.required-txt01 {
			max-width: 547px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		.required-txt01 + p {
			@include size18;
			line-height: 2.7em;
			margin-bottom: 70px;
		}
		@media only screen and (max-width: 640px) {
			.head-img {
				margin-bottom: 40px;
			}
			.required-txt01 {
				max-width: 547px;
				margin: 0 auto;
				margin-bottom: 15px;
			}
			.required-txt01 + p {
				@include size10;
				line-height: 2.7em;
				margin-bottom: 35px;
			}
		}
	}

	.overall {
		
		
		.head-img {
			border: 1px solid #5bb92a;
			box-sizing: border-box;
			margin-bottom: 40px;
			img {
				max-width: 100%;
			}
		}
		.table-basic {
			th {
				@include size18;
			}
		}
		.g-label {
			margin-top: 0;
			line-height: 70px;
			background-color: #5bb92a;
			color: #fff;
			@include size25;
		}
		.g-label + .att {
			margin-top: 0;
		}
		.block+.block {
			margin-top: 75px;
			padding-top: 0;
		}


		.two-column {
			.column-block {
				.label {
					line-height: 45px;
					color: #fff;
					text-align: center;
					@include size26;
					margin-bottom: 30px;
					font-weight: normal !important;
				}
				.green {
					background-color: #5bb92a;
				}
				.orange {
					background-color: #f59818;
				}
			}
			.column-block + .column-block {
				border-left: none;
			}
			.table-basic {
				tr {
					th {
						@include size14;
						text-align: left;
					}
					th, td {
						padding: 5px 20px;
					}
				}
			}
			
		}
		.cover {
			img { max-width: 100%; }
		}
		.feature {
			.txt {
				width: ( 620 / 1100 ) * 100%;
			}
			.img {
				width: ( 480 / 1100 ) * 100%;
			}
		}

		@media only screen and (max-width: 640px) {
			.head-img {
				margin-bottom: 20px;
			}
			.table-basic {
				th {
					@include size9;
				}
			}
			.g-label {
				line-height: 35px;
				@include size13;
			}
			.block+.block {
				margin-top: 36px;
			}
			.two-column {
				.column-block {
					float: none;
					width: 100%;
					padding: 0;

					.label {
						line-height: 23px;
						@include size13;
						margin-bottom: 15px;
					}
				}
				.column-block + .column-block {
					padding: 0;
					margin-top: 15px;
				}
			}
		}
	}

	@media only screen and (max-width: 640px) {
		.copy01 {
			width: ( 429 / 600 ) * 100%;
		}
		.copy02 {
			width: ( 554 / 600 ) * 100%;
		}
		.copy03 {
			margin-top: 10px;
			width: ( 219 / 600 ) * 100%;
		}
		.img {
			margin-top: 30px;
		}
		.text-thumb {
			padding-bottom: 30px;
		}

		.business-images {
			margin-bottom: 40px;
		}
		.entry {
			@include size12;
			line-height: 26px;
		}
		
		.entry-btnlist {
			width: 100%;
			margin-bottom: 10px;
			.btn-greenframe {
				width: 100%;
				height: 66px;
				padding: 9px 9px 5px 9px;
				@include size12;
				font-weight: bold;
				line-height: 1em;
				transition: all 300ms 0s ease;
				img { width: 80%; margin-top: 5px; }
				span { @include size8; margin-top: 15px; }
				&:after {
					right: 5px;
				}
			}
		}
		.box {
			border: 1px solid #cccccc;
			padding: 15px 28px;
			margin-bottom: 22px;
			.label {
				@include size10;
			}
			&.greenframe {
				padding: 16px 10px 15px 10px;
				margin-bottom: 10px;
			}
		}
		.footer-contact-info {
			margin-bottom: 20px;
			.txt {
				float: none;
				width: 100%;
				.label2 { @include size10; }
			}
			.other-link-list {
				float: none;
				width: 100%;
				margin-top: 15px;
				position: relative;
			    top: 0;
			    transform: none;
			    right: 0;
			}
		}
		.caution {
			ul li {
				@include size8;
			}
		}
	}
}
.utility {
	&.sitemap {
		.detail {
			.nav {
				.menu {
					.category {
						width: 25%;
						float: left;
						box-sizing: border-box;
						.label {
							margin-bottom: 20px;
							.cat-name-en {
								@include size20;
								line-height: 1em;
								font-weight: bold;
								border-left: 4px solid #5bb92a;
								padding-left: 8px;
							}
							.cat-name-jp {
								display: block;
								line-height: 1em;
								@include size12;
								margin-top: 8px;
								padding-left: 12px;
							}
						}
						.accordion {
							a {
								@include size14;
								color: #5bb92a;
								
								padding-left: 15px;
								position: relative;
								line-height: 2.5em;
								&:before {
									@include arrow;
									left: 0;
								}
							}
							> li {
								ul {
									padding-left: 1em;
									margin-bottom: 2em;
								}
							}
						}
					}
					.category + .category {
						border-left: 1px solid #dfdfdf;
						padding-left: 30px;
					}
				}
			}
		}
		@media only screen and (max-width: 640px) {
			.detail {
				.nav {
					.menu {
						.category {
							width: 100%;
							float: none;
							.label {
								margin-bottom: 10px;
								.cat-name-en {
									@include size10;
									border-left: 4px solid #5bb92a;
									padding-left: 8px;
								}
								.cat-name-jp {
									@include size8;
									margin-top: 4px;
									padding-left: 6px;
								}
							}
							.accordion {
								a {
									@include size8;
									padding-left: 8px;
								}
							}
						}
						.category + .category {
							border-left: none;
							padding-left: 0;
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}

.event {
	h2 {
		width: 70%;
	}
	#breadCrumb {
		width: 30%;
	}
	.arrow {
		padding-left: 15px;
		position: relative;
		display: block;
		&:before {
			left: 0;
			top: 11px;
			bottom: auto;
		}
	}
	.btn-backindex {
		margin: 0 auto;
		margin-top: 100px;
	}

	@media only screen and (max-width: 640px) {
		h2 {
			width: 100%;
		}
	}
}