  <div id="inPageBnSection">
    <ul>
      <li>
        <a href="/product/lineup/acq/"><img src="/product/lineup/acq/common/images/common_lnavi02_txt01.png" alt="ACQ Top"></a>
        <span><img src="/product/lineup/acq/common/images/common_lnavi02_bg01_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/acq/switch.html"><img src="/product/lineup/acq/common/images/common_lnavi02_txt02.png" alt="Happy Switch Story"></a>
        <span><img src="/product/lineup/acq/common/images/common_lnavi02_bg02_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/acq/style.html"><img src="/product/lineup/acq/common/images/common_lnavi02_txt03.png" alt="Press Style"></a>
        <span><img src="/product/lineup/acq/common/images/common_lnavi02_bg03_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/acq/Interview.html"><img src="/product/lineup/acq/common/images/common_lnavi02_txt04.png" alt="Special Interview"></a>
        <span><img src="/product/lineup/acq/common/images/common_lnavi02_bg04_pc.jpg" alt=""></span>
      </li>
    </ul>
  </div>

