  <div id="inPageBnSection">
    <ul>
      <li>
        <a href="/product/lineup/kax/"><img src="/product/lineup/kax/common/images/common_lnavi02_txt01.png" alt="KAX Top"></a>
        <span><img src="/product/lineup/kax/common/images/common_lnavi02_bg01_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kax/switch.html"><img src="/product/lineup/kax/common/images/common_lnavi02_txt02.png" alt="Happy Switch Story"></a>
        <span><img src="/product/lineup/kax/common/images/common_lnavi02_bg02_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kax/style.html"><img src="/product/lineup/kax/common/images/common_lnavi02_txt03.png" alt="Steam Style"></a>
        <span><img src="/product/lineup/kax/common/images/common_lnavi02_bg03_pc.jpg" alt=""></span>
      </li>
    </ul>
  </div>
