@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ベーススタイル
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#contentsWrap div,
#contentsWrap span,
#contentsWrap applet,
#contentsWrap object,
#contentsWrap iframe,
#contentsWrap h1,
#contentsWrap h2,
#contentsWrap h3,
#contentsWrap h4,
#contentsWrap h5,
#contentsWrap h6,
#contentsWrap p,
#contentsWrap blockquote,
#contentsWrap pre,
#contentsWrap a,
#contentsWrap abbr,
#contentsWrap acronym,
#contentsWrap address,
#contentsWrap big,
#contentsWrap cite,
#contentsWrap code,
#contentsWrap del,
#contentsWrap dfn,
#contentsWrap em,
#contentsWrap font,
#contentsWrap img,
#contentsWrap ins,
#contentsWrap kbd,
#contentsWrap q,
#contentsWrap s,
#contentsWrap samp,
#contentsWrap small,
#contentsWrap strike,
#contentsWrap strong,
#contentsWrap sub,
#contentsWrap sup,
#contentsWrap tt,
#contentsWrap var,
#contentsWrap b,
#contentsWrap u,
#contentsWrap i,
#contentsWrap center,
#contentsWrap dl,
#contentsWrap dt,
#contentsWrap dd,
#contentsWrap ol,
#contentsWrap ul,
#contentsWrap li,
#contentsWrap fieldset,
#contentsWrap form,
#contentsWrap label,
#contentsWrap legend,
#contentsWrap table,
#contentsWrap caption,
#contentsWrap tbody,
#contentsWrap tfoot,
#contentsWrap thead,
#contentsWrap tr,
#contentsWrap th,
#contentsWrap td { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }

#contentsWrap img { vertical-align:bottom; width:auto; }

/*------------------------------
  ahttp://tec2-2.kinokojampan.com/product/lineup/jpg/images/switch_kw02_img01_pc.jpg
-------------------------------*/
#contentsWrap a { text-decoration:none; }
#contentsWrap a:hover { /* text-decoration:underline; */ }
#contentsWrap a:hover img { opacity:0.7; filter:alpha(opacity=70); }

/*------------------------------
  float
-------------------------------*/
/* float */
#contentsWrap .fLeft { float:left !important; }
#contentsWrap .fRight { float:right !important; }

/* clearfix */
#contentsWrap .cf:before,
#contentsWrap .cf:after { display:table; content:""; }
#contentsWrap .cf:after { clear:both; }
#contentsWrap .cf { zoom:1; }
#contentsWrap .cb { clear:both; }

/*------------------------------
  text
-------------------------------*/
#contentsWrap .txtCenter { text-align:center !important; }
#contentsWrap .txtRight { text-align:right !important; }
#contentsWrap .txtLeft { text-align:Left !important; }

/*------------------------------
  display
-------------------------------*/
#contentsWrap .displayBlock { display:block !important; }
#contentsWrap .displayInline { display:inline !important; }
#contentsWrap .displayNone { display:none !important; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  共通レイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.main-content { padding-left:0; padding-right:0; background-color:transparent; }
#contentsWrap { width:100%; min-width:1000px; font-size:14px; font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif; line-height:1; }

/* トップページ ローカルナビリスト */
#contentsWrap #topLocalNaviSection { margin-top:64px; }
#contentsWrap #topLocalNaviSection ul { line-height:0; font-size:0; max-width:1000px; margin:0 auto; }
#contentsWrap #topLocalNaviSection ul li { display:inline-block; position:relative; width:25%; overflow:hidden; font-size:14px; }
#contentsWrap #topLocalNaviSection ul li span { position:absolute; left:0; top:0; z-index:-1; }
#contentsWrap #topLocalNaviSection ul li span img { transform:scale(1); transition:transform 0.4s ease 0s; width:100% }
#contentsWrap #topLocalNaviSection ul li a { display:block; padding-top:63.4%; }
#contentsWrap #topLocalNaviSection ul li a img { width:100%; }
#contentsWrap #topLocalNaviSection ul li span.currentHover img { transform:scale(1.15); }

/* 中面ページ ローカルナビリスト */
#contentsWrap #inPageLinkSection ul { text-align:center; font-size:0; width:1000px; margin:0 auto; }
#contentsWrap #inPageLinkSection ul li { display:inline-block; background:url(/product/lineup/common/images/common_lnavi01_bg_line.gif) left top no-repeat; margin-right:47px; padding:5px 0 5px 47px; font-size:14px; }
#contentsWrap #inPageLinkSection ul li:first-child { padding-left:0; background:none; }
#contentsWrap #inPageLinkSection ul li:last-child { margin-right:0; }

/* 中面ページ ローカルナビリスト(バナー) */
#contentsWrap #inPageBnSection { margin-top:75px; }
#contentsWrap #inPageBnSection ul { text-align:center; font-size:0; width:1000px; margin:0 auto; }
#contentsWrap #inPageBnSection ul li { display:inline-block; position:relative; margin-left:26px; width:219px; height:108px; overflow:hidden; font-size:14px; }
#contentsWrap #inPageBnSection ul li span { position:absolute; left:0; top:0; z-index:0; }
#contentsWrap #inPageBnSection ul li a { display:block; padding:34px 0; position:absolute; left:0; top:0; z-index:1; }
#contentsWrap #inPageBnSection ul li img{ width:100%; }
#contentsWrap #inPageBnSection ul li:first-child { margin-left:0; }
#contentsWrap #inPageBnSection ul li span img { transform:scale(1); transition:transform 0.4s ease 0s; }
#contentsWrap #inPageBnSection ul li span.currentHover img { transform:scale(1.15); }

#contentsWrap .p-page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contentsWrap .p-page-title h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 20px;
}
#contentsWrap .p-page-title .p-design-logo {
  width: 113px;
}
@media only screen and (max-width: 1259px) {
  #contentsWrap .p-page-title {
    padding-right: 20px;
  }
}