  <div id="inPageLinkSection">
    <ul>
      <li><a href="/product/lineup/jpg/"><img src="/product/lineup/jpg/common/images/common_lnavi01_txt01.gif" alt="JPG Top"></a></li>
      <li><a href="/product/lineup/jpg/switch.html"><img src="/product/lineup/jpg/common/images/common_lnavi01_txt02.gif" alt="Happy Switch Story"></a></li>
      <li><a href="/product/lineup/jpg/style.html"><img src="/product/lineup/jpg/common/images/common_lnavi01_txt03.gif" alt="Donabe Style"></a></li>
      <li><a href="/product/lineup/jpg/story.html"><img src="/product/lineup/jpg/common/images/common_lnavi01_txt04.gif" alt="Donabe Story"></a></li>
    </ul>
  </div>