    <aside class="nav-sns">
      <ul class="content-inner">
        <li><a class="btn-facebook" href="http://www.facebook.com/share.php?u=https://www.grandx.jp/" onclick="ga('send','event','top','click','下段SNS＞フェイスブックアイコン'); window.open(this.href, 'facebook_share', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><img src="/assets/images/common/footer-icon-facebook.png" alt="Facebook"></a></li>
        <li><a class="btn-twitter" href="http://twitter.com/share?count=horizontal&text=GRAND%20X%ef%bc%88%e3%82%b0%e3%83%a9%e3%83%b3%e3%82%a8%e3%83%83%e3%82%af%e3%82%b9%ef%bc%89%e3%82%b7%e3%83%aa%e3%83%bc%e3%82%ba%e3%80%82%e9%a3%9f%e5%8d%93%e3%81%ab%e6%96%b0%e3%81%9f%e3%81%aa%e4%be%a1%e5%80%a4%e3%82%92%e6%8f%90%e6%a1%88%e3%81%99%e3%82%8b%e3%83%96%e3%83%a9%e3%83%b3%e3%83%89%e3%80%82%e3%80%9c%e4%ba%94%e6%84%9f%e3%81%ab%e9%9f%bf%e3%81%8d%e3%82%8f%e3%81%9f%e3%82%8b%e3%80%81%e3%81%8a%e3%81%84%e3%81%97%e3%81%95%e3%81%a8%e4%b8%8a%e8%b3%aa%e6%84%9f%e3%82%92%e3%80%82%e3%80%9c&url=https://www.grandx.jp/" onclick="ga('send','event','top','click','下段SNS＞ツイッターアイコン'); window.open(this.href, 'twitter_share', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><img src="/assets/images/common/footer-icon-twitter.png" alt="Twitter"></a></li>
        <li><a class="btn-line" href="http://line.me/R/msg/text/?Syncer https://www.grandx.jp/" onclick="ga('send','event','top','click','下段SNS＞ラインアイコン'); window.open(this.href, 'line_share', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><img src="/assets/images/common/footer-icon-line.png" alt="LINE"></a></li>
      </ul>
    </aside>

