@charset "UTF-8";

@media screen and (max-width:640px){

/* 中面ページ ローカルナビリスト(バナー) */
#contentsWrap #inPageBnSection ul li a { padding:11.7% 0 !important; width:100%; }

  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .h1-contents-title {
    margin-bottom: 20px !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
  }
  .h1-contents-title span {
    font-size: 10px !important;
    font-size: 1.0rem !important;
  }
  .selecter {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .selecter ul li a img {
    max-height: 137px !important;
  }
  .selecter ul li:nth-of-type(1) a img {
    background-image: url("../images/navi_style-sp.gif") !important;
    background-size: cover !important;
  }
  .selecter ul li:nth-of-type(2) a img {
    background-image: url("../images/navi_story-sp.gif") !important;
    background-size: cover !important;
  }
  .selecter ul li:nth-of-type(3) a img {
    background-image: url("../images/navi_switch-sp.gif") !important;
    background-size: cover !important;
  }
  .selecter ul .current:nth-of-type(1) a img, .selecter ul li:hover:nth-of-type(1) a img {
    background-image: url("../images/navi_style_current-sp.gif") !important;
    background-size: cover !important;
  }
  .selecter ul .current:nth-of-type(2) a img, .selecter ul li:hover:nth-of-type(2) a img {
    background-image: url("../images/navi_story_current-sp.gif") !important;
    background-size: cover !important;
  }
  .selecter ul .current:nth-of-type(3) a img, .selecter ul li:hover:nth-of-type(3) a img {
    background-image: url("../images/navi_switch_current-sp.gif") !important;
    background-size: cover !important;
  }
  .nav-products .content-inner li {
    margin-bottom: 20px !important;
  }
  .nav-products .content-inner li + li {
    margin-top: 42px !important;
  }
  .nav-products .content-inner li .thumb {
    display: table;
    height: auto;
    margin-bottom: 12px !important;
  }
  .nav-products .content-inner li .product-name {
    font-size: 12px !important;
    font-size: 1.2rem !important;
  }
}
