  <div id="topLocalNaviSection">
    <ul>
      <li>
        <a href="/product/lineup/jpg/"><img src="/product/lineup/common/images/common_top_lnavi_txt01.png" alt="土鍋圧力IH炊飯ジャー"></a>
        <span><img src="/product/lineup/common/images/common_top_lnavi_bg01_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kbd/"><img src="/product/lineup/common/images/common_top_lnavi_txt02.png" alt="IHホームベーカリー"></a>
        <span><img src="/product/lineup/common/images/common_top_lnavi_bg02_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kax/"><img src="/product/lineup/common/images/common_top_lnavi_txt03.png" alt="スチームコンベクションオーブン"></a>
        <span><img src="/product/lineup/common/images/common_top_lnavi_bg03_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/acq/"><img src="/product/lineup/common/images/common_top_lnavi_txt04.png" alt="コーヒーメーカー"></a>
        <span><img src="/product/lineup/common/images/common_top_lnavi_bg04_pc.jpg" alt=""></span>
      </li>
    </ul>
  </div>
