

.main-content {
	display: block;
	position: relative;
	padding: 124px 30px 100px 30px;
	background-color: #fff;
	
	&__inner {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;
	}

	@media only screen and (max-width: 768px) {
		padding-top: 60px;
		$MAIN_PW: ( 30 / 640 ) * 100%;
		padding: 60px $MAIN_PW 45px $MAIN_PW;

		&__inner {
			max-width: 100%;
		}
	}
}

.contents-section {
	position: relative;

	&--section1 {
		padding: 70px 0;
		margin-bottom: 0;
	}

	&--section2 {
		padding: 90px 0 70px 0;
	}

	&--section3 {
		padding-top: 80px;
	}

	&--plarge {
		padding: 180px 0;
		margin-bottom: 0;
	}

	.p-block {
		line-height: 1.8em;
	}
	.p-block + .p-block {
		margin-top: 2em;
	}

	@media only screen and (max-width: 768px) {
		&--section1, &--plarge {
			padding: 20px 0 23px 0;
		}
		&--section2 {
			padding: 66px 0 23px 0;
		}
		&--section3 {
			padding-top: 58px;
		}
	}
}
.contents-section + .contents-section {
	margin-top: 90px;
}

.figue {
	&__caption {
		@include size14;
		color: #8b8b8b;
		margin-top: 10px;
		line-height: 1.5em;

		&--p1 {
			margin-top: 30px;
		}
		& + p {
			margin-top: 30px;
		}
	}
	@media only screen and (max-width: 768px) {
		&__caption {
			@include size13;
			margin-top: 5px;

			& + p {
				margin-top: 15px;
			}
		}
	}
}

.p-flex {
	@extend .l-flex;
	@extend .l-flex--spb;

	&__elem {
		$this: &;
		position: relative;
		@extend .l-flex__elem;
		margin-left: 48px;
		
		&:first-child{
			margin-left: 0;
		}

		&--photo {
			width: auto !important;
			margin-left: 15px !important;
		}
	}

	&--reverse {
		-webkit-box-direction:reverse;/*--- Androidブラウザ用 ---*/
		-webkit-flex-direction:row-reverse;/*--- safari（PC）用 ---*/
		-ms-flex-direction: row-reverse;
		flex-direction:row-reverse;

		.p-flex__elem {
			margin-left: 0;
			&:first-child{
				margin-left: 48px;
			}
		}
	}

	& + .p-flex {
		margin-top: 80px;
	}

	&--vol8-rcp {
		margin-bottom: 15px;
	}

	&--mt1 {
		margin-top: 30px !important;
	}

	@media only screen and (max-width: 768px) {
		
		&__elem {
			$this: &;
			& + #{$this} {
				margin-left: 0;
				margin-top: 20px;
			}
			&--photo {
				width: 100% !important;
				margin-left: 0 !important;
				margin-top: 23px;
			}
		}

		& + .p-flex {
			margin-top: 25px;
		}

		&--vol8-rcp {
			margin-bottom: 20px;
		}

		&--mt1 {
			margin-top: 25px !important;
		}
	}
}

.p-recipe {
	@extend .l-block--breaking-mg;
	background-color: #eef0f1;

	&--padding {
		padding: 30px 30px 50px 30px;
	}

	&__inner {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;

		padding: 45px 50px;
		color: #434343;
		background-color: #fff;
		box-sizing: border-box;
	}

	&__label {
		color: #ff7200;
		margin-bottom: 25px;

		&_z {
			margin-bottom: 0;
		}
	}

	@media only screen and (max-width: 768px) {
		&--padding {
			padding: 20px 5.17241% 20px 5.17241%;
		}
		&__inner {
			padding: 20px 5.17241% 20px 5.17241%;
		}
	}
}

.p-credit {
	@include size13;
	@include font-ica;
	text-align: right;
	margin-top: 67px;

	&--vol5 {
		margin-top: 5px;
		margin-bottom: 95px;
	}
	@media only screen and (max-width: 768px) {
		margin-top: 20px;
		&--vol5 {
			margin: 20px 0 45px 0;
		}
	}
}


.p-profile {
	@extend .l-block--breaking-mg;
	background-color: #eef0f1;
	
	&__elem {
		width: 800px;
		padding: 40px 0;
		margin: 0 auto;
		color: #434343;
		@include size13;
	}
	
	&__head {
		@include size15;
		margin-bottom: 15px;
	}
	&__img {
		width: 139px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	&__name {
		@include size12;
		margin-bottom: 15px;
		span {
			@include size17;
			@include font-ica;
		}
	}
	&__txt {
		line-height: 2.0em;
	}
	a {
		color: #1d8aa8;
	}

	@media only screen and (max-width: 1000px) {
		margin-right: -30px;
		margin-left: -30px;
	}

	@media only screen and (max-width: 768px) {

		&__elem {
			width: 100%;
			$MAIN_PW: ( 30 / 640 ) * 100%;
			padding: 25px $MAIN_PW;
			@include size13;
		}
		&__head {
			@include size13;
		}
		&__img {
			width: ( 211 / 580 ) * 100%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		&__name {
			@include size13;
			span {
				@include size13;
			}
		}
		&__txt {
			margin-bottom: 20px;
		}
	}
}

.cache-g {
	@include size16;
    @include font-ica;
    color: #8b989e;
    line-height: 2em;

	&--p1 {
		margin-top: 100px;
		margin-bottom: 110px;
	}
	&--p5 {
		margin-top: 135px;
		margin-bottom: 135px;
	}
	&--large {
		@include size18;
	}
	&--exLarge {
		width: 100%;
		text-align: center;
		@include size24;
		color: #8b989e;
		line-height: 2em;
	}


	@media only screen and (max-width: 768px) {
		@include size13;
		&--exLarge {
			font-size: 16px !important;
			font-size: 1.6rem !important;
			letter-spacing: -0.05em;
		}
	}
}


.p-textBlock {
	$this: &;
	overflow: hidden;

	&__elem {
		$this_elem: &;
		float: left;
		width: ( 475 / 1000 ) * 100%;

		& + #{$this_elem} {
			margin-left: ( 50 / 1000 ) * 100%;
		}
	}

	& + .p-textThumb {
		margin-top: 70px;
		margin-bottom: 65px;
	}

	& + #{$this} {
		margin-top: 30px;
	}
}

.img-four-column {
	@include list-column( 260, 1100 );
	img { width: 100%; }
	@media only screen and (max-width: 768px) {
		li { float: none; width: 100%; }
		li + li { margin-top: 10px; }
	}
}
.img-three-column {
	@include list-column( 350, 1100 );
	img { width: 100%; }
	@media only screen and (max-width: 768px) {
		li { float: none; width: 100%; }
		li + li { margin-top: 10px; }
	}
}

/* ---------------------- */
.txtblock {
	@include flex;
	@include clearfix;
	&__2column {
		position: relative;
		@include grid__item--per( 2, 48, 1000 );
		&--top0 {
			margin-top: 0 !important;
		}
	}

	@media only screen and (max-width: 768px) {
		&__2column {
			float: none;
			width: 100%;
			margin-left: 0;
			&:nth-child(1){ margin-top: 0; }
			&:nth-child(2){ margin-top: 20px; }
			&:nth-child(3){ margin-top: 20px; }
		}
	}
}



/* ---------------------- */

.gray-block {
	background-color: #eef0f1 !important;
}
.w1000 {
	max-width: 1000px;
	margin: 0 auto;
}




.l-block__elem {
	&.new:after {
		content: "";
		position: absolute;
		right: 10px;
		top: 10px;
		width: 73px;
		height: 36px;
		background: url('/assets/images/top/icon-new.png');
		background-size: 100%;
	}

	a {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	.thumb {
		/*display: block;*/
		margin-bottom: 8px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		border-bottom: 3px solid #1d8aa8;
		box-sizing: border-box;
		overflow: hidden;
		line-height: 0;
	}
	.thumb-title {
		position: relative;
		@include h-color;
		@include size20;
		@include font-ica;
		margin-bottom: 12px;
		&.no-arrow {
			&:after {
				content: none;
			}
		}
		.sub {
			@include size14;
			margin-right: 1em;
		}
		&.en {
			@include font-playfair;
			line-height: 1.3em;
			&:first-letter{
				@include size30;
			}
		}
	}
	.thumb-text {
		@include gray;
		@include size14;
	}

	.txt-basic { letter-spacing: -0.05em; }

	@media only screen and (max-width: 1200px) {
		.txt-basic { letter-spacing: -0.15em; }
	}
	@media only screen and (max-width: 1100px) {
		.txt-basic { letter-spacing: -0.2em; }
	}
	@media only screen and (max-width: 768px) {
		.txt-basic { letter-spacing: -0.05em; }
	}

	@media only screen and (max-width: 768px) {

		.thumb {
			margin-bottom: 8px;
		}
		.thumb-title {
			@include size13;
			margin-bottom: 6px;
			span {
				@include size10;
			}
		}
		.thumb-title + p {
			@include size11;
		}
	}
}
.p-idx-thumbLarge {
	
	@include block__elem--width( ( 733 / 1200 ) * 100% );

	&__elem {
		@include block__elem--width( ( 343 / 733 ) * 100% );
	}
}
.p-idx-thumbSmall {

	@include block__elem--width( ( 419 / 1200 ) * 100% );

	&__elem {
		@include block__elem--width( ( 190 / 419 ) * 100% );

		margin-bottom: 15px;
		.thumb-title {
			@include size18;
			line-height: 1.2em;
			.sub {
				@include size12;
			}
		}
		&.new:after {
			right: 5px;
			top: 5px;
			width: 41px;
			height: 20px;
		}
	}

	@media only screen and (max-width: 768px) {
		float: none;
		width: 100% !important;
		max-width: 100% !important;
		margin-left: 0 !important;

		.p-idx-thumbSmall__elem + .p-idx-thumbSmall__elem {
			margin-top: 24px;
		}
	}
}

.thumb-container {
	overflow: hidden;
	
	.thumb-block {
		position: relative;
		float: left;
		margin-left: ( 49 / $CONTENT_WIDTH ) * 100%;
		
		&.new:after {
			content: "";
			position: absolute;
			right: 10px;
			top: 10px;
			width: 73px;
			height: 36px;
			background: url('/assets/images/top/icon-new.png');
			background-size: 100%;
		}

		a {
			display: block;
			&:hover {
				text-decoration: none;
			}
		}
		.thumb {
			/*display: block;*/
			margin-bottom: 8px;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			border-bottom: 3px solid #1d8aa8;
			box-sizing: border-box;
			overflow: hidden;
			line-height: 0;
		}
		.thumb-title {
			position: relative;
			@include h-color;
			@include size20;
			@include font-ica;
			margin-bottom: 12px;
			&.no-arrow {
				&:after {
					content: none;
				}
			}
			.sub {
				@include size14;
				margin-right: 1em;
			}
			&.en {
				@include font-playfair;
				line-height: 1.3em;
				&:first-letter{
					@include size30;
				}
			}
		}
		.thumb-text {
			@include gray;
			@include size14;
		}

		.txt-basic { letter-spacing: -0.05em; }

		@media only screen and (max-width: 1200px) {
			.txt-basic { letter-spacing: -0.15em; }
		}
		@media only screen and (max-width: 1100px) {
			.txt-basic { letter-spacing: -0.2em; }
		}
		@media only screen and (max-width: 768px) {
			.txt-basic { letter-spacing: -0.05em; }
		}

		&.size-large {
			width: ( 343 / $CONTENT_WIDTH ) * 100%;
			max-width: 343px;

			.thumb-text {
				
			}

		}
		&.size-medium {
			width: ( 367 / $CONTENT_WIDTH ) * 100%;
			max-width: 367px;
			margin-top: 50px;

			&:nth-child(3n+1) {
				margin-left: 0;
			}
			&:nth-child(-n+3) {
				margin-top: 0;
			}
			.thumb {
				border: 1px solid #8b989e;
				box-sizing: border-box;
				border-radius: 5px;
				-webkit-border-radius: 5px;
			}
			.thumb-title {
				
			}
			.thumb-text {
				
			}
		}

		&.size-small {
			width: ( 190 / $CONTENT_WIDTH ) * 100%;
			max-width: 190px;
			margin-left: ( 39 / $CONTENT_WIDTH ) * 100%;
			margin-bottom: 15px;
			height: 290px;

			.thumb-title {
				@include size18;
				line-height: 1.2em;
				.sub {
					@include size12;
				}
			}
			.thumb-text {
				
			}
			&.new:after {
				right: 5px;
				top: 5px;
				width: 41px;
				height: 20px;
			}
		}
	}

	&.fixed {
		display: table;
		margin: 0 auto;
		.thumb-block {
			&.size-medium {
				width: 367px;
				margin-left: 49px;
			}
		}
	}
}

.nav-sns {
	overflow: hidden;
	.content-inner {
		overflow: hidden;
		display: table;
		margin: 0 auto;
		margin-bottom: 110px;
		width: auto;
		li {
			float: left;
			width: 40px;
			line-height: 0;
		}
		li + li {
			margin-left: 30px;
		}
	}
}

.border-dot {
	border: 1px dashed #8b989e;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	box-sizing: border-box;
}
	
.recipe-box {
	padding: 45px 50px;
	color: #434343;
	background-color: #fff;

	.label {
		color: #ff7200;
		margin-bottom: 25px;
	}
}


$VIDEO_ASPECT: ( 9 / 16 ) * 100%;

.c-media {
	position: relative;
	line-height: 0;

	&__image {
		/* -- img tags -- */
		width: 100%;
	}

	&--video {
		position: relative;
		line-height: 0;
		&:before {
			@include content-before( $VIDEO_ASPECT );
		}

		&__vid {
			/* -- video tags and Youtube iframe -- */
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}




@media only screen and (max-width: 768px) {

	.contents-section {
		
	}
	.contents-section + .contents-section {
		margin-top: 60px;
	}

	.nav-sns {
		.content-inner {
		    margin-bottom: 58px;
		}
	}

	.recipe-box {
		$RCP_P: (30 / 580) * 100%;
		padding: 20px $RCP_P 0 $RCP_P;
		.label {
			margin-bottom: 8px;
		}
	}
}




.special-recommend {
	padding-bottom: 80px;
	.head {
		color: #1d8aa8;
		@include size16;
		@include font-ica;
		text-align: center;
		margin-bottom: 22px;
		span {
			background-color: #fff;
			padding: 0 1em;
		}
		background: url("/assets/images/product/basic/common/recommend-title-bg.png") center center repeat-x;
	}
	.thumb-container {
		.thumb-block {
			.thumb {
				margin-bottom: 5px;
				border-bottom: 0;
				border: 1px solid #8b989e;
			}
			.thumb-title {
				@include size16;
				@include font-ica;
				span {
					@include size12;
				}
			}
			.thumb-title + p {
				@include size13;
			}
			&.size-medium-small {
				width: ( 212 / 1000 ) * 100%;
				max-width: 212px;
				margin-left: ( 50 / 1000 ) * 100%;
			}
		}
	}

	&.rec-food {
		padding-bottom: 0;
	}

	@media only screen and (max-width: 768px) {
		width: ( 580 / 640 ) * 100%;
		margin: 0 auto;
		padding-bottom: 80px;

		&.rec-product {
			width: 100%;
			margin: 0;
			padding-bottom: 0;
		}
		&.rec-food {
			width: 100%;
		}

		.head {
			@include size15;
			margin-bottom: 19px;
		}

		.thumb-container {
			.thumb-block {
				.thumb {
					margin-bottom: 8px;
				}
				.thumb-title {
					@include size13;
					margin-bottom: 6px;
					span {
						@include size10;
					}
				}
				.thumb-title + p {
					@include size11;
				}
			}
			.size-medium-small, .size-medium {
				float: none;
				width: 100% !important;
				max-width: 100% !important;
				margin-left: 0 !important;
			}
			.size-medium-small + .size-medium-small,
			.size-medium + .size-medium {
				margin-top: 24px;
			}
		}
	}
}
