
.cover {
	position: fixed;
	width: 100%;
	height: 689px;
	left: 0;
	top: 0;
	&.cover-kbd {
		background: url('/assets/images/product/basic/kbd/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-jpg {
		background: url('/assets/images/product/basic/jpg/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-kax {
		background: url('/assets/images/product/basic/kax/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-acq {
		background: url('/assets/images/product/basic/acq/cover.jpg')center center no-repeat;
		background-size: cover;
	}


	&.cover-human-vol1 {
		background: url('/assets/images/human/vol1/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol2 {
		background: url('/assets/images/human/vol2/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol3 {
		background: url('/assets/images/human/vol3/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol4 {
		background: url('/assets/images/human/vol4/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol5 {
		background: url('/assets/images/human/vol5/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol6 {
		background: url('/assets/images/human/vol6/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol7 {
		background: url('/assets/images/human/vol7/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol8 {
		background: url('/assets/images/human/vol8/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol9 {
		background: url('/assets/images/human/vol9/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol10 {
		background: url('/assets/images/human/vol10/cover.jpg')center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol11 {
	  background: url("/assets/images/human/vol11/cover.jpg") center center no-repeat;
	  background-size: cover;
	}
	&.cover-human-vol12 {
	  background: url("/assets/images/human/vol12/cover.jpg") center center no-repeat;
	  background-size: cover;
	}
	&.cover-human-vol13 {
	  background: url("/assets/images/human/vol13/cover.jpg") center center no-repeat;
	  background-size: cover;
	}
	&.cover-human-vol14 {
	  background: url("/assets/images/human/vol14/cover.jpg") center center no-repeat;
	  background-size: cover;
	}
	&.cover-human-vol15 {
		background: url("/assets/images/human/vol15/cover.jpg") center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol16 {
		background: url("/assets/images/human/vol16/cover.jpg") center center no-repeat;
		background-size: cover;
	}
	&.cover-human-vol17 {
		background: url("/assets/images/human/vol17/cover.jpg") center center no-repeat;
		background-size: cover;
	}



	&.cover-special {
		background: url('/assets/images/special/nozomi-01/cover.jpg') center top no-repeat;
		background-size: cover;
	}
	&.cover-recipe-vol1 {
		background: url('/assets/images/recipe/vol1/cover.jpg') center top no-repeat;
		background-size: cover;
	}

	@media only screen and (max-width: 768px) {
		height: 540px;

		&.cover-kbd {
			background: url('/assets/images/product/basic/kbd/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-jpg {
			background: url('/assets/images/product/basic/jpg/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-kax {
			background: url('/assets/images/product/basic/kax/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-acq {
			background: url('/assets/images/product/basic/acq/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol1 {
			background: url('/assets/images/human/vol1/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol2 {
			background: url('/assets/images/human/vol2/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol3 {
			background: url('/assets/images/human/vol3/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol4 {
			background: url('/assets/images/human/vol4/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol5 {
			background: url('/assets/images/human/vol5/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol6 {
			background: url('/assets/images/human/vol6/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol7 {
			background: url('/assets/images/human/vol7/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol8 {
			background: url('/assets/images/human/vol8/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol9 {
			background: url('/assets/images/human/vol9/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol10 {
			background: url('/assets/images/human/vol10/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol11 {
		    background: url("/assets/images/human/vol11/cover-sp.jpg") center center no-repeat;
		    background-size: 100%;
		}
		&.cover-human-vol12 {
		    background: url("/assets/images/human/vol12/cover-sp.jpg") center center no-repeat;
		    background-size: 100%;
		}
		&.cover-human-vol13 {
		    background: url("/assets/images/human/vol13/cover-sp.jpg") center center no-repeat;
		    background-size: 100%;
		}
		&.cover-human-vol14 {
		    background: url("/assets/images/human/vol14/cover-sp.jpg") center center no-repeat;
		    background-size: 100%;
		}
		&.cover-human-vol15 {
		    background: url("/assets/images/human/vol15/cover-sp.jpg") center center no-repeat;
		    background-size: 100%;
		}
		&.cover-human-vol16 {
			background: url("/assets/images/human/vol16/cover-sp.jpg") center center no-repeat;
			background-size: 100%;
		}
		&.cover-human-vol17 {
			background: url("/assets/images/human/vol17/cover-sp.jpg") center center no-repeat;
			background-size: 100%;
		}


		&.cover-special {
			background: url('/assets/images/special/nozomi-01/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
		&.cover-recipe-vol1 {
			background: url('/assets/images/recipe/vol1/cover-sp.jpg')center center no-repeat;
			background-size: 100%;
		}
	}
}
.cover + * {
	margin-top: 689px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	@media only screen and (max-width: 768px) {
		margin-top: 540px;
	}
}