/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.message {
	&.block1 {
		padding-bottom: 75px;
	}

	&__bottomlink {
		display: table;
		margin: 0 auto;
		margin-top: 30px;
		font-size: 18px;
		font-size: 1.8rem;
		color: #1d8aa8;
		@include font-ica;
	}
	

	.h2-contents-title {
		font-size: 35px;
    	font-size: 3.5rem;
		margin-bottom: 80px;
		letter-spacing: 0;
		@include font-ica;
		&:first-letter {
			font-size: 35px;
    		font-size: 3.5rem;
		}
	}
	.contents-section {
		&.msg {
			letter-spacing: 0.15em;
			.msg-name {
				margin-top: 3em;
			}
		}
		
		
	}

	&.profile {
		padding: 0;
		background-color: #e8eaec;
		padding: 45px 0;
		margin-bottom: 100px;

		.contents-section {
			width: 650px;
			margin: 0 auto;
			
			.title {
				margin-bottom: 10px;
			}
			.p-name {
				margin-bottom: 25px;
			}
			.prof-img {
				max-width: 139px;
				margin: 0 auto;
				margin-bottom: 25px;
			}
			.txt {
				@include size13;
				line-height: 2.0em;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.message {
		&.block1 {
			padding-bottom: 35px;
		}
		.h2-contents-title {
			@include size22;
			margin-bottom: 35px;
			&:first-letter {
				@include size22;
			}
		}

		&.profile {
			padding: 25px 0;
			margin-bottom: 40px;

			.contents-section {
				width: ( 580 / 640 ) * 100%;
				
				.title {
					margin-bottom: 14px;
				}
				.p-name {
					margin-bottom: 18px;
				}
				.prof-img {
					max-width: 100%;
					margin-bottom: 9px;
					img { width: 100%; }
				}
				.txt {
					@include size12;
				}
			}
		}
	}
}