.product {
	&.basic {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;

		.contents-section {

			.first-letter {
				font-size: 90px;
				font-size: 9.0rem;
				@include font-ica;
				line-height: 1em;
				vertical-align: top;
				display: inline-block;
				float: left;
				margin-right: 5px;
				margin-top: -5px;
			}
			
			p {
				line-height: 2em;
				
			}
			p + p {
				margin-top: 30px;
			}

			
			.text-thumb {
				overflow: hidden;
				margin-bottom: 80px;
				.thumb {
					position: relative;
					width: ( 400 / 1000 ) * 100%;
					float: left;
					line-height: 0;
				}
				.txt {
					position: relative;
					width: ( 600 / 1000 ) * 100%;
					float: left;
					padding-right: ( 30 / 600 ) * 100%;
					box-sizing: border-box;
				}
				
				.thumb + .txt {
					padding-right: 0;
					padding-left: ( 30 / 600 ) * 100%;
				}
				.sp + * {
					padding-left: 0 !important;
					padding-right: ( 30 / 600 ) * 100% !important;
				}

				&.large {
					.thumb {
						width: ( 700 / 1000 ) * 100%;
					}
					.txt {
						width: ( 300 / 1000 ) * 100%;
					}
				}
				&.half {
					.thumb {
						width: ( 500 / 1000 ) * 100%;
					}
					.txt {
						width: ( 500 / 1000 ) * 100%;
					}
				}
				&.half02 {
					.thumb {
						width: ( 475 / 1000 ) * 100%;
					}
					.txt {
						width: ( 475 / 1000 ) * 100%;
						margin-left: ( 50 / 1000 ) * 100%;
						padding: 0;
					}
				}
			}

			.text-block01 {
				overflow: hidden;
				.block {
					float: left;
					width: ( 475 / 1000 ) * 100%;
				}
				.block + .block {
					margin-left: ( 50 / 1000 ) * 100%;
				}
				.after01 {
					margin-bottom: 80px;
					padding: 30px;
					border: 1px solid #969696;
					@include border-radius(15px);
					.h3-cache {
						line-height: 1.296;
						@include size27;
						text-align: center;
						span {
							@include size18;
						}
					}
					.flex {
						-webkit-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;
					}
					.c-media {
						-ms-flex: 0 0 (446 / 938) * 100%;
						@include block__elem--width( (446 / 938) * 100% );
					}
					.p-text {
						-ms-flex: 0 0 (450 / 938) * 100%;
						@include block__elem--width( (450 / 938) * 100% );
						.h4-cache {
							margin-bottom: 8px;
							@include size22;
						}
						p {
							line-height: 2;
						}
					}
				}
			}
			.text-block01 + .text-thumb {
				margin-top: 70px;
				margin-bottom: 65px;
			}
			.text-block01 + .text-block01 {
				margin-top: 30px;
			}
			.bottom0 {
				margin-bottom: 0;
			}

			.h2-cache {
				position: absolute;
				display: inline-block;
				color: #fff;
				background-color: rgba(125,125,125,0.5);
				padding: 20px;
				@include size36;
				top: -215px;
				@include font-ica;
				line-height: 1.4;

				&--p2 {
					top: -428px !important;
				}

				&.lt {
					right: 0;
					top: -517px;
				}
			}
			.h3-cache {
				@include size30;
				@include font-ica;
				margin-bottom: 35px;
			}
			
			.h4-cache {
				@include size24;
				@include font-ica;
				margin-bottom: 35px;
			}
			.cache {
				position: absolute;
				right: ( 76 / 600 ) * 100%;
				top: 50%;
				transform: translateY(-50%);
				@include size24;
				@include font-ica;
			}

			.cache-g {
				@include size16;
				@include font-ica;
				color: #8b989e;
				line-height: 2em;
				&.large {
					@include size18;
				}
			}
			.cache-g + p {
				margin-top: 50px;
			}
			figure {
				figcaption {
					@include size14;
					color: #8b8b8b;
					margin-top: 10px;
				}
			}
			figure + p {
				margin-top: 30px;
			}
			

			&.section1 {
				padding: 70px 0;
				margin-bottom: 0;
				
				&--plarge {
					padding: 180px 0;
					margin-bottom: 0;
				}
				
				.thumb + p {
					margin-top: 75px;
				}

				.caption {
					@include size13;
					text-align: right;
					position: absolute;
					top: 10px;
					right: 0;
				}
				
			}

			&.section2 {
				padding-top: 75px;
				padding-bottom: 80px;

				.recipe-title {
					@include size24;
					@include font-ica;
					text-align: center;
					margin-bottom: 25px;
				}
				.recipe-movie-wrapper {
					position: relative;
					width: ( 800 / 1000 ) * 100%;
					max-width: 800px;
					margin: 0 auto;
					margin-bottom: 80px;
					&:before {
						content: "";
						display: block;
						padding-top: ( 9 / 16 ) * 100%;
					}
				}
				.recipe-movie {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
				}
				.recipe {
					line-height: 0;
					margin-bottom: 80px;
				}
				.recipe-two-column {
					@include column( 400, 850 );
					max-width: 850px;
					margin: 0 auto;
					margin-bottom: 80px;
				}
				.recipe-img-middle {
					max-width: 700px;
					margin: 0 auto;
				}

				.recipe-container {
					overflow: hidden;
					margin-bottom: 45px;
					.txt {
						float: left;
						width: ( 600 / 1000 ) * 100%;
						img { width: 100%; }
						.notice {
							@include size13;
							margin-top: 30px;
							@include font-ica;
							margin-left: 50px;
							a {
								color: #1d8aa8;
							}
						}
					}
					.thumb {
						float: left;
						overflow: hidden;
						width: ( 400 / 1000 ) * 100%;
						li + li {
							margin-top: 150px;
						}
					}
					.how-to-make {
						margin-bottom: 20px;
						color: #ff7200;
					}
					ol {
						counter-reset: number;
						li {
							margin: 0 0 20px 0;
							padding: 0 30px 0 50px;
							line-height: 2.0;
							&:before {
								counter-increment: number;
								content: counter(number);
								position: relative;
								top: 8px;
								margin-right: 32px;
								margin-left: -50px;
								font-size: 2.9rem;
								line-height: 1;
							}
						}
						&.kbd {
							li {
								&:nth-of-type(5) {
									p {
										margin-top: 20px;
										font-size: 1.2rem;
									}
								}
							}
						}
						&.kax-2 {
							counter-reset: number 4;
						}
						&.kax-3 {
							counter-reset: number 6;
						}
					}
				}
			}
			&.section3 {
				padding-top: 80px;
				
				.txt-block {
					margin-bottom: 80px;
					.cache {
						@include size24;
						@include font-ica;
						text-align: center;
						margin-bottom: 25px;
					}
				}
				.photo-large {
					line-height: 0;
					margin-bottom: 80px;
				}
				.text-block01 + .photo-large {
					margin-top: 75px;
				}
				.closing {
					margin-bottom: 90px;
					.pre-txt {
						margin-bottom: 30px;
					}
					.strong-txt {
						@include font-ica;
						@include size24;
						margin-bottom: 50px;
					}
					.closing-line {
						margin-bottom: 45px;
					}
					.closing-line + p {
						@include size18;
						margin-bottom: 25px;
					}
					.closing-product-img {
						display: table;
						margin: 0 auto;
					}

					.footer-bnr {
						display: block;
						width: 575px;
						margin: 0 auto;
						margin-top: 55px;
					}

					.notice {
						@include size13;
						text-align: center;
						margin-top: 95px;
					}
				}
			}
			
			.p-design-logo {
				position: absolute;
				top: -105px;
				right: -4px;
				.pc {
					display: inline-block;
				}
			}
		}

		&.jpg {
			.section3 {
				.sate-block {
					.thumb {
						width: ( 440 / 1000 ) * 100%;
						.cache {
							@include size18;
						}
					}
					.txt {
						width: ( 560 / 1000 ) * 100%;
					}
				}
			}
			.contents-section {
				.p-design-logo {
					.pc {
						&:first-child {
							margin-right: 10px;
						}
					}
				}
			}
		}
		&.kax {
			.fl-txt {
				margin-bottom: 30px;
			}
			.recipe-container {
				.thumb {
					li + li {
						margin-top: 90px !important;
					}
				}
			}
			.section3 {
				.h4-cache {
					.cache {
						position: relative;
						right: auto;
						top: auto;
						transform: none;
						font-weight: normal;
						text-align: center;

					}
				}
				
				.ov-visible {
					overflow: visible;
				}
				.margin-minus {
					margin-top: -120px;
				}
			}
		}
		&.acq {

			.section2 {
				.recipe-container {
					margin-bottom: 0;
					.thumb {
						li + li {
							margin-top: 20px;
						}
					}
				}
			}
			.section3 {
				.h4-cache {
					.cache {
						position: relative;
						right: auto;
						top: auto;
						transform: none;
						font-weight: normal;
						text-align: center;

					}
				}
			}
			.half {
				margin-bottom: 90px;
			}
			.ov-visible {
				overflow: visible;
			}
			.margin-minus {
				margin-top: -60px;
			}
		}
	}

	@media only screen and (max-width: 768px) {

		&.basic {
			.contents-section {
				.h2-cache {
					padding: 16px 11px;
					@include size22;
					-webkit-writing-mode: vertical-rl;
					-ms-writing-mode: tb-rl;
					writing-mode: vertical-rl;
					left: -1em;
					top: -460px;
					letter-spacing: 0.15em;

					&--p2 {
						
					}

					&.lt {
						right: auto;
						top: -460px;
					}
				}

				.cache-g {
					@include size13;
					&.large {
						@include size13;
					}
				}
				.cache-g + p {
					margin-top: 15px;
				}
				figure {
					figcaption {
						@include size13;
						margin-top: 5px;
					}
				}
				
				.first-letter {
					font-size: 51px;
					font-size: 5.1rem;
				}
				p {
					@include size13;
					span + span {
						display: table-cell;
						padding-left: 5px;
						vertical-align: top;
					}
				}
				p + p {
					margin-top: 15px;
				}
				p + figure,
				figure + p {
					margin-top: 15px;
				}
				.thumb {
					float: none;
					width: 100%;
					img {
						width: 100%;
					}
				}
				.thumb-sp {
					width: 100%;
					margin-bottom: 15px;
					line-height: 0;
					img {
						width: 100%;
					}
				}
				.text-thumb:not(.float) {
					.txt {
						float: none;
						width: 100% !important;
						padding: 0;
						.cache {
							position: relative;
							transform: none;
							top: auto;
							right: auto;
						}
					}
					.thumb {
						padding: 0;
						float: none;
						width: 100% !important;
					}
					
					.thumb + .txt,
					.txt + .thumb {
						margin-top: 20px;
					}
					.sp + * {
						padding: 0 !important;
					}

					&.large {
						.txt {
							width: 100%;
						}
						.thumb {
							width: 100%;
						}
					}
					&.half02 {
						.cache {
							position: relative;
						    left: auto;
						    right: auto;
						    text-align: center;
						    top: auto;
						    transform: none;
						    font-size: 18px;
						    font-size: 1.8rem;
						    text-align: left;
						}
						.thumb {
							width: 100%;
						}
						.txt {
							width: 100%;
							margin-left: 0;
							padding: 0;
						}
					}
				}

				.text-block01 + .text-thumb {
					margin-top: 15px;
					margin-bottom: 15px;
				}
				.text-block01 {
					.block {
						float: none;
						width: 100%;
					}
					.block + .block {
						margin-left: 0;
						margin-top: 23px;
					}
					.after01 {
						margin-bottom: 30px;
						padding: 15px;
						.h3-cache {
							margin-top: 0;
							margin-bottom: 12px;
							@include size17;
							span {
								@include size11;
							}
						}
						.c-media {
							-ms-flex: 0 0 100%;
							@include block__elem--width( 100% );
						}
						.p-text {
							-ms-flex: 0 0 100%;
							@include block__elem--width( 100% );
							.h4-cache {
								margin-top: 12px;
								margin-bottom: 6px;
								@include size14;
							}
							p {
								@include size11;
							}
						}
					}
				}
				
				.pc + .txt,
				.pc + .thumb {
					margin-top: 0 !important;
				}

				&.section1 {
					padding: 20px 0 23px 0;
					.caption {
						@include size10;
						top: 8px;
					}

					&--plarge {
						padding: 20px 0 23px 0;
					}
					
					.h3-cache {
						@include size20;
						line-height: 1.8em;
						margin-top: 20px;
						margin-bottom: 20px;
					}
					.h4-cache {
						@include size18;
						line-height: 1.8;
						margin-bottom: 23px;
					}

				}
				&.section2 {
					$S2PW: ( 30 / 640 ) * 100%;
					padding: 22px $S2PW 25px $S2PW;
					box-sizing: border-box;
					margin-bottom: 0;

					.recipe-title {
						@include size18;
					
						margin-bottom: 16px;
					}

					.recipe-movie-wrapper {
						width: 100%;
						max-width: 100%;
						margin-bottom: 20px;
					}

					.recipe {
						width: 100%;
						margin-bottom: 20px;
						img { width: 100%; }
					}
					.recipe-container {
						margin-bottom: 20px;
						.txt {
							float: none;
							width: 100%;
							.notice {
								margin-top: 20px;
								margin-left: 0;
								@include size11;
							}
						}
						.thumb {
							float: none;
							width: 100%;
						}
						.how-to-make {
							margin-bottom: 14px;
							@include size11;
						}
						ol {
							li {
								margin-bottom: 12px;
								padding-right: 0;
								padding-left: 24px;
								@include size11;
								&:before {
									top: 4px;
									font-size: 1.9rem;
									margin-right: 12px;
									margin-left: -24px;
								}
							}
							&.jpg {
								li {
									&:nth-of-type(2) {
										display: flex;
										img {
											@include block__elem--width( 50% );
											height: 100%;
											margin-left: 12px;
										}
									}
								}
							}
							&.kbd {
								li {
									&:nth-of-type(4) {
										p {
											display: flex;
											justify-content: space-between;
											margin-top: 14px;
											margin-left: -24px;
											img {
												@include block__elem--width( 47.5% );
												height: 100%;
											}
										}
									}
									&:nth-of-type(5) {
										p {
											margin-top: 14px;
											margin-left: -24px;
											@include size10;
											line-height: 1.5;
										}
									}
								}
							}
							&.acq {
								li {
									&:nth-of-type(1),
									&:nth-of-type(7) {
										p {
											margin-top: 18px;
											margin-left: -24px;
										}
									}
									&:nth-of-type(2) {
										display: flex;
										img {
											@include block__elem--width( 50% );
											height: 100%;
											margin-left: 12px;
										}
									}
								}
							}
							&.kax {
								li {
									&:nth-of-type(2) {
										display: flex;
										img {
											@include block__elem--width( 50% );
											height: 100%;
											margin-left: 12px;
										}
									}
								}
							}
						}
						.f-recipe-box {
							display: flex;
							ol {
								@include block__elem--width( 50% );
							}
							p {
								@include block__elem--width( 50% );
								margin-left: 12px;
							}
						}
					}
					.recipe-two-column {
						margin-bottom: 25px;
					}
				
					.recipe-img-middle {
						max-width: 100%;
						img { width: 100%; }
					}
				}
				&.section3 {
					$S3PW: ( 30 / 640 ) * 100%;
					padding: 25px $S3PW 35px $S3PW;
					margin-bottom: 0;

					.text-thumb {
						margin-bottom: 24px;
						.cache-txt {
							padding-right: 0;
							.cache {
								position: relative;
								left: auto;
								right: auto;
								text-align: center;
								top: auto;
								transform: none;
								@include size18;

							}
						}
						.txt {
							.txt-inner-img {
								float: right;
								width: ( 275 / 580 ) * 100%;
								margin-left: 1em;
							}
						}
						.thumb {
							img { width: 100%; }
						}
					}
					.photo-large {
						width: 100%;
						margin-bottom: 23px;
						img { width: 100%; }
					}
					.txt-block {
						margin-bottom: 23px;
						.cache {
							text-align: center;
							@include size13;
							margin-bottom: 15px;
						}
					}
					.text-block01 + .photo-large {
						margin-top: 20px;
					}
					.closing {
						margin-bottom: 45px;
						.pre-txt {
							@include size13;
							margin-bottom: 15px;
						}
						.strong-txt {
							@include font-ica;
							@include size18;
							margin-bottom: 30px;
						}
						.closing-line {
							img { width: 100%; }
							margin-bottom: 20px;
						}
						.closing-line + p {
							@include size13;
							margin-bottom: 20px;
						}
						.closing-product-img {
							img { width: 100%; }
						}
						.notice {
							@include size10;
							text-align: left;
							margin-top: 50px;
						}

						.footer-bnr {
							display: block;
							width: ( 640 / 580 ) * 100%;
							margin-top: 25px;
							margin-left: -( 30 / 580 ) * 100%;
						}
					}
				}
				
				.p-design-logo {
					top: -47px;
					.pc {
						display: none;
					}
					.sp {
						display: inline-block;
						width: 72px;
					}
				}
			}

			&.kax {
				.fl-txt {
					margin-bottom: 15px;
				}
				.section3 {
					.h4-cache {
						margin-bottom: 10px;
						.cache {
							@include size18;

						}
					}
					.fltR {
						width: ( 275 / 580 ) * 100%;
						margin-left: ( 14 / 580 ) * 100%;
						margin-bottom: 22px;
					}
					.onImage + * {
						clear: both;
					}
					.ov-visible {
						overflow: visible;
					}
					.margin-minus {
						margin-top: 0;
					}
				}
			}
			&.acq {
				.text-block01 {
					img { width: 100%; }
				}
				.section3 {
					.h4-cache {
						margin-bottom: 10px;
						.cache {
							@include size18;

						}
					}
					.fltR {
						width: ( 275 / 580 ) * 100%;
						margin-left: ( 14 / 580 ) * 100%;
						margin-bottom: 22px;
					}
					.onImage + * {
						clear: both;
					}
					.ov-visible {
						overflow: visible;
					}
					.margin-minus {
						margin-top: 0;
					}
				}
			}
			&.jpg {
				.contents-section {
					.p-design-logo {
						.sp {
							&:nth-child(2) {
								margin-right: 6px;
							}
						}
					}
				}
			}
		}
	}
}
