/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.tag_search {
	.h2-contents-title {
		font-size: 35px;
		font-size: 3.5rem;
		letter-spacing: 0;
		line-height: 1.2em;
		margin-bottom: 10px;

		&:first-letter {
			font-size: 35px;
			font-size: 3.5rem;
		}
	}
	.min-txt {
		@include size15;
		color: #434343;
		margin-bottom: 60px;
		text-align: center;
	}
	.contents-section {
		.thumb-container {
			.thumb-block {
				&.size-medium {
					margin-top: 35px;
					&:nth-child(-n+3){
						margin-top: 0;
					}
				}
				.thumb {
					border: 0;
					border-bottom: 3px solid #1d8aa8;
					margin-bottom: 10px;
				}
				.thumb-title {
					@include default-font;
					@include size18;
					margin-bottom: 5px;
					&:after {
						content: none;
					}
				}
				.thumb-text {
					@include size13;
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.h2-contents-title {
			@include size18;
			margin-bottom: 5px;
			
			&:first-letter {
				@include size18;
			}
		}
		.min-txt {
			@include size10;
			margin-bottom: 15px;
		}
		.contents-section {
			.thumb-container {
				.thumb-block {
					float: none;
					width: 100%;
					max-width: 100%;
					&.size-medium {
						margin-top: 22px;
						margin-left: 0;
						&:nth-child(-n+3){
							margin-top: 22px;
						}
						&:first-child{
							margin-top: 0;
						}
					}
					.thumb {
						margin-bottom: 7px;
					}
					.thumb-title {
						@include size12;
						margin-bottom: 5px;
					}
					.thumb-text {
						@include size11;
					}
				}
			}
		}
	}
}
