  <div id="inPageLinkSection">
    <ul>
      <li><a href="/product/lineup/kbd/"><img src="/product/lineup/kbd/common/images/common_lnavi01_txt01.gif" alt="KBD Top"></a></li>
      <li><a href="/product/lineup/kbd/switch02.html"><img src="/product/lineup/kbd/common/images/common_lnavi01_txt02.gif" alt="Happy Switch Story"></a></li>
      <li><a href="/product/lineup/kbd/style.html"><img src="/product/lineup/kbd/common/images/common_lnavi01_txt03.gif" alt="Healthy Style"></a></li>
      <li><a href="/product/lineup/kbd/story.html"><img src="/product/lineup/kbd/common/images/common_lnavi01_txt04.gif" alt="Healthy Story"></a></li>
    </ul>
  </div>