<aside class="nav-products">
  <ul class="content-inner flex">
    <li>
      <a href="/product/lineup/jpg/style.html">
        <div class="thumb">
          <img src="/product/lineup/common/images/product-img-rice-cooker.jpg" alt="">
        </div>
        <p class="product-name">土鍋圧力IH炊飯ジャー<br>
        JPG-X100</p>
      </a>
    </li>
    <li class="current">
      <a href="/product/lineup/kbd/style.html">
        <div class="thumb">
          <img src="/product/lineup/common/images/product-img-home-bakery.jpg" alt="">
        </div>
        <p class="product-name">IHホームベーカリー<br>
        KBD-X100</p>
      </a>
    </li>
    <li>
      <a href="/product/lineup/kax/style.html">
        <div class="thumb">
          <img src="/product/lineup/common/images/product-img-oven.jpg" alt="">
        </div>
        <p class="product-name">スチームコンべクションオーブン<br>
        KAX-X130</p>
      </a>
    </li>
    <li>
      <a href="/product/lineup/acq/style.html">
        <div class="thumb">
          <img src="/product/lineup/common/images/product-img-cofee-maker.jpg" alt="">
        </div>
        <p class="product-name">コーヒーメーカー<br>
        ACQ-X020</p>
      </a>
    </li>
  </ul>
</aside>
