  <div id="inPageBnSection">
    <ul>
      <li>
        <a href="/product/lineup/jpg/"><img src="/product/lineup/jpg/common/images/common_lnavi02_txt01.png" alt="JPG Top"></a>
        <span><img src="/product/lineup/jpg/common/images/common_lnavi02_bg01_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/jpg/switch.html"><img src="/product/lineup/jpg/common/images/common_lnavi02_txt02.png" alt="Happy Switch Story"></a>
        <span><img src="/product/lineup/jpg/common/images/common_lnavi02_bg02_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/jpg/style.html"><img src="/product/lineup/jpg/common/images/common_lnavi02_txt03.png" alt="Donabe Style"></a>
        <span><img src="/product/lineup/jpg/common/images/common_lnavi02_bg03_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/jpg/story.html"><img src="/product/lineup/jpg/common/images/common_lnavi02_txt04.png" alt="Donabe Story"></a>
        <span><img src="/product/lineup/jpg/common/images/common_lnavi02_bg04_pc.jpg" alt=""></span>
      </li>
    </ul>
  </div>
