@charset "UTF-8";

/* Font Size For Modern Browser */
/*
body, h1, h2, h3, h4, h5, h6, pre, li, p {
font-size:13px;
}
dt, dd, th, td {
font-size:14px;
}
*/
.size10 { font-size:10px; font-size: 1.0rem; }
.size11 { font-size:11px; font-size: 1.1rem; }
.size12 { font-size:12px; font-size: 1.2rem; }
.size13 { font-size:13px; font-size: 1.3rem; }
.size14 { font-size:14px; font-size: 1.4rem; }
.size15 { font-size:15px; font-size: 1.5rem; }
.size16 { font-size:16px; font-size: 1.6rem; }
.size17 { font-size:17px; font-size: 1.7rem; }
.size18 { font-size:18px; font-size: 1.8rem; }
.size19 { font-size:19px; font-size: 1.9rem; }
.size20 { font-size:20px; font-size: 2.0rem; }
.size21 { font-size:21px; font-size: 2.1rem; }
.size22 { font-size:22px; font-size: 2.2rem; }
.size23 { font-size:23px; font-size: 2.3rem; }
.size24 { font-size:24px; font-size: 2.4rem; }
.size25 { font-size:25px; font-size: 2.5rem; }
.size26 { font-size:26px; font-size: 2.6rem; }
.size28 { font-size:28px; font-size: 2.8rem; }
.size30 { font-size:30px; font-size: 3.0rem; }
.size36 { font-size:36px; font-size: 3.6rem; }

.bold { font-weight: bold !important; }
.underline { text-decoration: underline; }
.underline:hover { text-decoration: none; }
.lh100 { line-height: 100%; }
.lh0 { line-height: 0; }