
/* 中面ページ ローカルナビリスト */
/* #contentsWrap #inPageLinkSection ul li { margin-right:42px; padding-left:42px; } */

/* 中面ページ ローカルナビリスト(バナー) */
#contentsWrap #inPageBnSection { margin-top:50px; }
#contentsWrap #inPageBnSection ul li { width:218px; height:108px; margin-left:29px; }
#contentsWrap #inPageBnSection ul li a { padding:37px 0;}
