
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.food {
	max-width: 1000px;
	padding-top: 96px;

	.category-label {
		@include size14;
		color: #fff;
		background-color: #8b989e;
		@include font-ica;
		line-height: 1.2em;
		padding: 7px 10px;
		display: inline-block;
		@include border-radius( 5px );
		margin-bottom: 10px;
	}
	.category-name {
		@include size28;
		@include font-ica;
		color: #8b989e;
		margin-bottom: 40px;
	}

	.contents-section {
		margin-bottom: 90px;
		.h2-contents-title {
			font-size: 48px;
			font-size: 4.8rem;
			color: #ff7200;
			line-height: 1.6em;
			text-align: left;
			letter-spacing: 0;
			@include font-ica;
			&:first-letter {
				font-size: 48px;
				font-size: 4.8rem;
			}
		}
		.txt {
			line-height: 1.8em;
			letter-spacing: 0.05em;
		}
		.img { img { width: 100%; } }
	}

	.box {
		background-color: #8b989e;
		color: #fff;
		padding: 25px 28px;
		box-sizing: border-box;
		@include border-radius(5px);
	}
	.txt {
		position: relative;
	}
	.img {
		position: relative;
		img { width: 100%; }
	}

	.btn-campaign {
		display: block;
		position: relative;
		width: ( 400 / 1000 ) * 100%;
		height: 80px;
		border: 1px solid #ff7200;
		box-sizing: border-box;
		@include border-radius(5px);
		margin-bottom: 40px;
		p {
			position: relative;
			display: table;
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);
			color: #ff7200;
			@include size20;
			span {
				@include size13;
			}
			&:before {
				@include arrow( #ff7200 );
				width: 7px;
				height: 7px;
				left: -25px;
			}
		}
		&:hover {
			text-decoration: none;
			background-color: #ff7200;
			p {
				color: #fff;
				&:before {
					border-color: #fff;
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		padding-top: 30px;

		.category-label {
			@include size9;
			padding: 3px 8px;
			margin-bottom: 5px;
		}
		.category-name {
			@include size13;
			margin-bottom: 15px;
		}
		.contents-section {
			.h2-contents-title {
				@include size18;
				&:first-letter {
					@include size18;
				}
			}
		}

		.box {
			padding: 12px 14px;
			width: 100% !important;
			margin: 0 !important;
			margin-bottom: 15px !important;
		}
		.txt {
			@include size13;
		}
		.btn-campaign {
			width: 100%;
			height: 48px;
			margin-bottom: 15px;
			p {
				@include size12;
				text-align: center;
				span {
					@include size10;
				}
			}
		}
	}
}

.koshihikari{
	
	.kh-img01 {
		float: right;
		width: ( 700 / 1000 ) * 100%;
		margin-top: -70px;
		margin-right: -( 200 / 1000 ) * 100%;
	}
	.txt01 {
		width: ( 475 / 1000 ) * 100%;
		margin-bottom: 30px;
	}
	
	.kh-img02 {
		width: ( 400 / 1000 ) * 100%;
		z-index: 1;
	}

	.txt02 {
		width: ( 630 / 1000 ) * 100%;
		margin-left: ( 269 / 1000 ) * 100%;
		margin-top: -46px;
		z-index: 2;
	}
	.kh-img03 {
		width: ( 400 / 586 ) * 100%;
		margin-left: ( 120 / 1000 ) * 100%;
		margin-top: -39px;
		margin-bottom: 202px;
	}
	.txt03 {
		width: ( 324 / 1000 ) * 100%;
		margin-left: ( 676 / 1000 ) * 100%;
	}
	.kh-img04 {
		width: ( 816 / 1000 ) * 100%;
		margin-left: -( 200 / 1000 ) * 100%;
		margin-top: -208px;
	}
	.txt04 {
		width: ( 629 / 1000 ) * 100%;
		margin-left: ( 371 / 1000 ) * 100%;
		margin-top: -57px;
		margin-bottom: 40px;
	}
	.txt05 {
		width: ( 567 / 1000 ) * 100%;
	}
	.txt06 {
		width: ( 491 / 1000 ) * 100%;
		margin-left: ( 269 / 1000 ) * 100%;
		z-index: 3;
	}
	.kh-img05 {
		position: relative;
		width: ( 366 / 1000 ) * 100%;
		float: right;
		margin-top: -491px;
	}

	@media only screen and (max-width: 768px) {

		.kh-img01 {
			float: none;
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
		.txt01 {
			width: 100%;
			margin-bottom: 12px;
		}
		.kh-img02 {
			width: 100%;
			margin-bottom: 15px;
		}

		.txt02 {
			
		}
		.kh-img03 {
			width: 100%;
			margin: 0;
			margin-bottom: 15px;
		}
		.txt03 {

			text-align: center;
		}
		.kh-img04 {
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
		.txt04 {
			width: 100%;
    		margin: 0;
    		margin-bottom: 15px;
		}
		.txt05 {
			width: 100%;
			margin-bottom: 15px;
		}
		.txt06 {
			width: 100%;
			margin: 0;
			margin-bottom: 15px;
		}
		.kh-img05 {
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			float: none;
			
		}
	}
}

.navel {
	.img01 {
		float: right;
		width: ( 700 / 1000 ) * 100%;
		margin-right: -( 200 / 1000 ) * 100%;
	}
	.txt01 {
		width: ( 475 / 1000 ) * 100%;
		margin-bottom: 30px;
	}
	.btn-campaign {
		margin-bottom: 95px;
	}
	.img02 {
		width: ( 586 / 1000 ) * 100%;
	}
	.txt02 {
		float: right;
		width: ( 392 / 1000 ) * 100%;
		margin-top: -347px;
		padding-right: 10px;
	}
	.txt03 {
		float: right;
		width: ( 629 / 1000 ) * 100%;
		margin-top: -40px;
		margin-bottom: -36px;
		z-index: 2;
	}
	.img03 {
		clear: both;
		width: ( 727 / 1000 ) * 100%;
		margin-left: -( 200 / 1000 ) * 100%;
		margin-top: -36px;
		margin-bottom: 130px;
	}
	.txt04 {
		width: ( 567 / 1000 ) * 100%;
	}
	.img04 {
		float: right;
		width: ( 615 / 1000 ) * 100%;
		margin-right: -( 24 / 1000 ) * 100%;
		margin-top: -479px;
	}
	
	
	@media only screen and (max-width: 768px) {
		.img01 {
			float: none;
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
		.txt01 {
			width: 100%;
		}
		.btn-campaign {
			margin-bottom: 15px;
		}
		.img02 {
			width: 100%;
			margin-bottom: 15px;
		}
		.img03 {
			float: none;
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
		.img04 {
			float: none;
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
	}
}


.pudding {
	.img01 {
		float: right;
		width: ( 700 / 1000 ) * 100%;
		margin-right: -( 200 / 1000 ) * 100%;
	}
	.txt01 {
		width: ( 475 / 1000 ) * 100%;
		margin-bottom: 30px;
	}
	.btn-campaign {
		margin-bottom: 40px;
	}
	.txt02 {
		width: ( 563 / 1000 ) * 100%;
		margin-bottom: 60px;
	}
	.img02 {
		width: ( 815 / 1000 ) * 100%;
		margin-left: -( 200 / 1000 ) * 100%;
	}
	.txt03 {
		float: right;
		width: ( 465 / 1000 ) * 100%;
		margin-top: -295px;
		z-index: 2;
	}
	.img03 {
		width: ( 747 / 1000 ) * 100%;
		margin-top: 33px;
		margin-left: 127px;
	}

	
	@media only screen and (max-width: 768px) {
		.img01 {
			float: none;
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
		.txt01 {
			width: 100%;
			margin-bottom: 15px;
		}
		.btn-campaign {
			margin-bottom: 15px;
		}
		.img02 {
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}

		.img03 {
			width: ( 640 / 580 ) * 100%;
			margin: 0;
			margin-left: -( 30 / 580 ) * 100%;
		}
	}
}

.vegetable {
	.img01 {
		float: right;
		width: ( 700 / 1000 ) * 100%;
		margin-right: -( 200 / 1000 ) * 100%;
	}
	.txt01 {
		width: ( 475 / 1000 ) * 100%;
		margin-bottom: 30px;
	}
	.btn-campaign {
		margin-bottom: 98px;
	}
	.img02 {
		width: ( 816 / 1000 ) * 100%;
		margin-left: -( 200 / 1000 ) * 100%;
	}
	.txt02 {
		width: ( 493 / 1000 ) * 100%;
		margin-top: -446px;
		margin-left: 284px;
		margin-bottom: 338px;
	}
	
	.txt03 {
		float: right;
		width: ( 631 / 1000 ) * 100%;
		margin-bottom: 70px;
	}
	.img03 {
		clear: both;
		width: ( 756 / 1000 ) * 100%;
		margin-left: 153px;
	}
	.txt04 {
		width: ( 629 / 1000 ) * 100%;
		margin-top: -30px;
	}
	
	@media only screen and (max-width: 768px) {
		.img01 {
			float: none;
			margin: 0;
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}
		.txt01 {
			width: 100%;
			margin-bottom: 15px;
		}
		.btn-campaign {
			margin-bottom: 15px;
		}
		.img02 {
			width: ( 640 / 580 ) * 100%;
			margin-left: -( 30 / 580 ) * 100%;
			margin-bottom: 15px;
		}

		.img03 {
			width: 100%;
			margin: 0;
			margin-bottom: 15px;
		}
	}
}
