
.h1-contents-title {
	font-size: 52px;
	font-size: 5.2rem;
	font-weight: normal;
	letter-spacing: 0.4em;
	@include h-color;
	@include font-playfair;
	margin-bottom: 25px;
	text-align: center;
//	&:first-letter{
//		font-size: 87px;
//		font-size: 8.7rem;
//	}
}
.h2-contents-title {
	font-size: 52px;
	font-size: 5.2rem;
	font-weight: normal;
    letter-spacing: 0.4em;
	@include h-color;
	@include font-playfair;
	margin-bottom: 25px;
	text-align: center;
	&:first-letter{
		font-size: 87px;
		font-size: 8.7rem;
	}
}
.h3-section-title {
	@include size30;
	@include h-color;
	@include font-ica;
	margin-bottom: 15px;
	text-align: center;
}
.h4-section-title {
	@include size25;
	@include h-color;
	@include font-ica;
	margin-bottom: 15px;
	text-align: center;
}

.h2-title {
	text-align: center;
	font-size: 30px;
	font-size: 3.0rem;
	font-weight: normal;
    /*letter-spacing: 0.4em;*/
	@include h-color;
	@include font-ica;
	margin-bottom: 25px;
	text-align: center;
}


@media only screen and (max-width: 768px) {

	.h1-contents-title {
		font-size: 23px;
		font-size: 2.3rem;
		margin-bottom: 15px;

//		&:first-letter{
//			font-size: 38px;
//			font-size: 3.8rem;
//		}
	}

	.h2-contents-title {
		font-size: 23px;
		font-size: 2.3rem;
		margin-bottom: 15px;

		&:first-letter{
			font-size: 38px;
			font-size: 3.8rem;
		}
	}

	.h3-section-title {
		@include size20;
		margin-bottom: 8px;
	}
	.h4-section-title {
		@include size14;
		margin-bottom: 8px;
	}

	.h2-title {
		@include size18;
		margin-bottom: 15px;
	}
}