/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

.sitemap {
	.h2-contents-title {
		font-size: 35px;
		font-size: 3.5rem;
		letter-spacing: 0;
		line-height: 1.2em;
		margin-bottom: 60px;
		.min-txt {
			@include size15;
			color: #434343;
		}
		
		&:first-letter {
			font-size: 35px;
			font-size: 3.5rem;
		}
	}

	.contents-section {
		ul {
			overflow: hidden;
		}
		.btn-label {
			position: relative;
			display: inline-block;
			@include size16;
			color: #1d8aa8;
			padding-left: 12px;
			&:before {
				@include arrow(#1d8aa8);
				left: 0;
				bottom: auto;
				top: 10px;
			}
		}
		.btn-label-b {
			position: relative;
			display: inline-block;
			@include size13;
			color: #434343;
			padding-left: 11px;
			line-height: 1.4em;
			letter-spacing: -0.05em;
			&:before {
				@include arrow(#1d8aa8);
				left: 0;
				bottom: auto;
				top: 6px;
			}
			&.nolink {
					&:before {
						content: none;
					}
				}
		}
		.off {
			opacity: 0.6;
			pointer-events: none;
		}
		.dir-main {
			width: 100%;
			> li {
				white-space: nowrap;
				float: left;
				margin-right: ( 26 / 1200 ) * 100%;
				margin-top: 30px;
				&:first-child {
					margin-top: 0;
					width: 100%;
				}
				&:nth-child(8){
					margin-right: 0;
				}
			}
		}
		.dir-2nd, .dir-3rd {
			margin-top: 25px;
			padding-left: 13px;
			li + li {
				margin-top: 14px;
			}
		}
	}

	@media only screen and (min-width: 1000px) and (max-width: 1200px) {
		.btn-label {
			font-size: 1.335vw !important;
		}
		.btn-label-b {
			font-size: 1.08vw !important;
		}
		.dir-2nd, .dir-3rd {
			padding-left: 5px !important;
		}
	}
	@media only screen and (max-width: 1000px) {
		.btn-label {
			font-size: 13px !important;
			font-size: 1.3rem !important;
		}
		.btn-label-b {
			font-size: 11px !important;
			font-size: 1.1rem !important;
		}
		.dir-2nd, .dir-3rd {
			padding-left: 5px !important;
		}
	}

	@media only screen and (max-width: 768px) {
		.h2-contents-title {
			@include size18;
			margin-bottom: 20px;
			.min-txt {
				@include size10;
			}
			&:first-letter {
				@include size18;
			}
		}

		.contents-section {
			.btn-label {

				@include size12;

				padding-left: 12px;
				&:before {
					top: 7px;
				}
			}
			.btn-label-b {

				@include size10;

				padding-left: 11px;

				&:before {
					top: 4px;
				}

			}
			.dir-main {
				width: 100%;
				> li {
					white-space: nowrap;
					float: none;
					width: 100%;
					margin-right: ( 20 / 580 ) * 100%;
					margin-top: 22px;
					&:first-child {
						margin-top: 0;
						width: 100%;
					}
					&:nth-child(8){
						margin-right: 0;
					}
				}
			}
			.dir-2nd, .dir-3rd {
				margin-top: 10px;
				padding-left: ( 20 / 580 ) * 100%;
				li + li {
					margin-top: 10px;
				}
			}
		}
	}
}
