.use {
	.content-inner {
		max-width: 1000px;
	}
	.h2-contents-title {
		font-size: 35px;
    	font-size: 3.5rem;
		margin-bottom: 30px;
		letter-spacing: 0;
		@include font-ica;
		&:first-letter {
			font-size: 35px;
    		font-size: 3.5rem;
		}
	}
	.p-top-caption {
		padding-bottom: 80px;
		border-bottom: 1px solid #c5cbce;
		text-align: center;
		@include size16;
		line-height: 1.875;
	}
	.p-use-list {
		margin-bottom: 80px;
		section {
			padding: 60px 0 56px;
			border-bottom: 1px solid #c5cbce;
			@include flex;
			.c-media {
				width: 476px;
				margin-right: 40px;
			}
			.p-list-title {
				margin-bottom: 20px;
				@include size24;
				@include font-ica;
				font-weight: normal;
				line-height: 1.333;
			}
			.p-text {
				-ms-flex: 1 1 0%;
				flex: 1;
				p {
					@include size16;
					line-height: 1.875;
					&:first-of-type {
						color: #8b989e;
					}
				}
			}
		}
	}
	.p-link-top {
		position: relative;
		text-align: right;
		@include size14;
		line-height: 2;
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			border-top: 2px solid #8b98be;
			border-right: 2px solid #8b98be;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: 50%;
			right: 5.6em;
			margin-top: -5px;
		}
	}
	.p-top-product {
		display: table;
		width: auto;
		margin: 0 auto;
		color: #1d8aa8;
		@include size25;
		@include font-ica;
		line-height: 1.12;
		span {
			@include size12;
		}
		.thumb {
			display: table-cell;
			img {
				margin-right: 26px;
			}
		}
		.product-name {
			display: table-cell;
			vertical-align: middle;
			@include font-ica;
		}
	}
	.p-hito-profile {
		margin-top: 8px;
		padding-top: 40px;
		padding-bottom: 30px;
		border-top: 1px solid #c5cbce;
		border-bottom: 1px solid #c5cbce;
		.c-media,
		.p-profile-name {
			text-align: center;
		}
		.c-media {
			margin-bottom: 6px;
		}
		.p-profile-name {
			margin-bottom: 20px;
			@include size17;
			@include font-ica;
			line-height: 1.412;
			span {
				@include size12;
			}
		}
		.p-profile-text {
			width: 532px;
			margin: 0 auto;
			@include size13;
			line-height: 2.077;
		}
	}
	&.use-mono-index,
	&.use-hito-index {
		.p-use-list {
			margin-bottom: 0;
			section {
				&:last-of-type {
					border-bottom: 0;
				}
			}
		}
	}
	.p-thumb-list {
		margin-bottom: 80px;
		padding-bottom: 58px;
		border-bottom: 2px solid #c5cbce;
		ul {
			overflow: hidden;
			li {
				float: left;
				width: 110px;
				margin-right: 17px;
				margin-bottom: 20px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	.p-mono-list {
		max-width: 900px;
		margin: 0 auto 80px;
		h3 {
			margin-bottom: 30px;
			color: #1d8aa8;
			text-align: center;
			@include size25;
			@include font-ica;
			font-weight: normal;
		}
		ul {
			@include flex;
			li {
				-ms-flex: 0 0 25%;
				@include block__elem--width( 25% );
				text-align: center;
				.thumb {
					display: table-cell;
					height: 130px;
					vertical-align: middle;
					line-height: 0;
					img {
						width: auto;
					}
				}
				.product-name {
					@include size12;
					line-height: 1.6667;
				}
			}
		}
	}
	.p-hito-list {
		padding-bottom: 50px;
		border-bottom: 2px solid #c5cbce;
		h3 {
			margin-bottom: 30px;
			color: #1d8aa8;
			text-align: center;
			@include size25;
			@include font-ica;
			font-weight: normal;
		}
		ul {
			overflow: hidden;
			padding-right: 60px;
			padding-left: 90px;
			li {
				float: left;
				width: 140px;
				margin-right: 30px;
				margin-bottom: 20px;
				text-align: center;
				@include size17;
				@include font-ica;
				line-height: 1.412;
				a {
					color: #434343;
				}
				span {
					@include size12;
				}
			}
		}
	}
	.contents-section {
		.two-column {
			overflow: hidden;
			width: 740px;
			margin: 0 auto;
			li {
				float: left;
				position: relative;
				border: 1px solid #8b989e;
				box-sizing: border-box;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				overflow: hidden;
				line-height: 0;
				margin-top: 80px;
				&.hover-animation {
					img {
						transform: scale(1);
						transition: all 0.6s ease;
					}
					&:hover {
						img {
							transform: scale(1.1);
						}
					}
				}
				&:first-child {
					margin-right: 30px;
				}
				a {
					.label {
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						width: 262px;
						height: 74px;
						background-color: rgba(139, 152, 158, 0.7);
						line-height: 1.2em;
						text-align: center;
						padding: 0 10px;
						box-sizing: border-box;
						p {
							color: #fff;
						}
						.inner {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateY(-50%) translateX(-50%);
							white-space: nowrap;
						}
						.item-name {
							@include size22;
							letter-spacing: -0.05em;
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: 768px) {
		.h2-contents-title {
			margin-bottom: 15px;
			@include size18;
			&:first-letter {
				@include size18;
			}
		}
		.p-top-caption {
			padding-bottom: 20px;
			@include size11;
			line-height: 1.59;
		}
		.p-use-list {
			margin-bottom: 30px;
			section {
				padding-top: 25px;
				padding-bottom: 20px;
				.c-media {
					width: 100%;
					margin-right: 0;
					margin-bottom: 24px;
					img {
						width: 100%;
					}
				}
				.p-list-title {
					@include size15;
					line-height: 1.5;
				}
				.p-text {
					p {
						@include size11;
						line-height: 1.59;
						&:first-of-type {
							@include size10;
							line-height: 1.75;
						}
					}
				}
			}
		}
		.p-link-top {
			@include size10;
			line-height: 1.4;
			&:before {
				width: 7px;
				height: 7px;
				margin-top: -3px;
			}
		}
		.p-top-product {
			margin-bottom: 38px;
			@include size15;
			line-height: 1.238;
			span {
				@include size9;
			}
			.thumb {
				img {
					max-width: 71px;
					margin-right: 14px;
				}
			}
		}
		.p-hito-profile {
			padding-top: 25px;
			padding-bottom: 17px;
			.c-media {
				margin-bottom: 10px;
			}
			.p-profile-name {
				margin-bottom: 20px;
				@include size13;
				line-height: 1.346;
				span {
					@include size9;
				}
			}
			.p-profile-text {
				width: 100%;
				@include size10;
				line-height: 1.8;
			}
		}
		&.use-mono-index {
			.p-use-list {
				section {
					&:first-of-type {
						border-top: 1px solid #c5cbce;
					}
				}
			}
		}
		.p-thumb-list {
			margin-bottom: 30px;
			padding-bottom: 15px;
			ul {
				max-width: 290px;
				margin: 0 auto;
				li {
					width: 65px;
					margin-right: 10px;
					margin-bottom: 10px;
					&:nth-of-type(4n) {
						margin-right: 0;
					}
					&:nth-of-type(4n+1) {
						clear: both;
					}
				}
			}
		}
		.p-mono-list {
			margin-bottom: 30px;
			h3 {
				margin-bottom: 14px;
				@include size14;
				line-height: 1.25;
			}
			ul {
				li {
					@include block__elem--width( 50% );
					.product-name {
						@include size9;
						line-height: 1.111;
					}
				}
			}
		}
		.p-hito-list {
			padding-bottom: 4px;
			border-bottom: 0;
			h3 {
				margin-bottom: 14px;
				@include size14;
				line-height: 1.25;
			}
			ul {
				max-width: 262px;
				margin: 0 auto;
				padding-right: 0;
				padding-left: 0;
				li {
					width: 70px;
					margin-right: 26px;
					margin-bottom: 15px;
					@include size10;
					line-height: 1.2;
					&:nth-child(3n) {
						margin-right: 0;
					}
					&:nth-child(3n+1) {
						clear: both;
					}
					span {
						@include size9;
					}
				}
			}
		}
		.contents-section {
			.two-column {
				overflow: visible;
				width: 100%;
				li {
					float: none;
					width: 110.34483%;
					margin-top: 16px;
					margin-left: -5.17241% !important;
					border: none;
					-webkit-border-radius: 0;
					border-radius: 0;
					&:first-child {
						margin-right: 0;
					}
					a {
						.label {
							width: 131px;
							height: 35px;
							.item-name {
								@include size11;
							}
						}
					}
				}
			}
		}
	}
}