@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Healthy Story 美味しい無添加グルテンフリー米粉パンで、世界中を笑顔に。 */
#contentsWrap #storyTitleSection { margin-top:50px; }
#contentsWrap #storyTitleSection h2 { text-align:center; }
#contentsWrap #storyTitleSection p#storyTitleTxt01 { text-align:center; margin-top:28px; font-size:150%; line-height:1.7em; font-family:"ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
#contentsWrap #storyTitleSection #storyMvArea { margin:35px auto 0; background:url(/product/lineup/kbd/images/story_mv_bg.jpg) center top no-repeat; }
#contentsWrap #storyTitleSection #storyMvArea p { text-align:center; }
#contentsWrap #storyTitleSection p#storyTitleTxt02 { text-align:center; margin-top:33px; }

#contentsWrap .storySection { width:1000px; margin:50px auto 0; }
#contentsWrap .storySection p { font-size:129%; line-height:1.7em; letter-spacing:-0.04em; margin-top:35px; }
#contentsWrap .storySection p a { color:#2f6089; }
#contentsWrap .storySection p a:hover { text-decoration:underline; }
#contentsWrap .storySection ul.storyImgList { margin-top:40px; }
#contentsWrap .storySection ul.storyImgList li { margin-left:30px; float:left; }
#contentsWrap .storySection ul.storyImgList li:first-child { margin-left:0; }
#contentsWrap .storySection p.atComment { font-size:115%; }

#contentsWrap #storyJointSection { width:1000px; margin:50px auto 0; padding:15px 15px; border:1px solid #bbbbbb; }
#contentsWrap #storyJointSection p#storyJointImg { float:left; width:180px; }
#contentsWrap #storyJointSection p#storyJointTxt { float:left; width:785px; font-size:107%; line-height:1.7em; letter-spacing:-0.04em; }
