@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Healthy Style 笑顔ふくらむ、おいしいパン */
#contentsWrap #styleTitleSection { margin-top:7%; }
#contentsWrap #styleTitleSection #styleMvArea { margin-top:6.4%; padding:0; background:url(/product/lineup/kbd/images/style_mv_bg_sp.jpg) center top no-repeat; background-size:100% auto; }

#contentsWrap #styleContentsSection { width:100%; margin:7% 0 0; }

#contentsWrap #styleContentsSection .styleTitleInner p.styleTitleIcon { float:none; text-align:center; width:25%; margin:0 auto; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox { float:none; width:auto; margin-top:5%; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox h3 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox h3 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox p { width:90%; margin:0 auto; }

#contentsWrap #styleContentsSection .styleTitleInner .styleTitleBox p.styleTitleTxt { margin-top:3%; font-size:4.3vw; line-height:1.4em; }

#contentsWrap #styleContentsSection #styleBakeArea { margin-top:8%; width:auto; }
#contentsWrap #styleContentsSection #styleBakeArea p#styleBakeImg { margin-top:5%; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner { margin-top:5%; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner p#styleBakeTxt { position:static; width:90%; margin:3% auto 0; font-size:4.3vw; line-height:1.4em; }
#contentsWrap #styleContentsSection #styleBakeArea #styleBakeInner p#styleBakeAtt { text-align:left; width:90%; margin:3% auto 0; font-size:3.7vw; line-height:1.4em; padding-bottom:7%; border-bottom:1px solid #908b88; }

#contentsWrap #styleContentsSection #styleKneadArea { margin-top:8%; width:auto; padding-top:0; border:none; }
#contentsWrap #styleContentsSection #styleKneadArea .styleTitleInner .styleTitleBox p.styleTitleTxt { width:90%; margin:3% auto 0; font-size:4.3vw; line-height:1.4em; }
#contentsWrap #styleContentsSection #styleKneadArea .styleTitleInner .styleTitleBox p#styleKneadImg { position:static; margin-top:3%; }
#contentsWrap #styleContentsSection #styleKneadArea .styleTitleInner .styleTitleBox p#styleKneadAtt { margin:3% auto 0; font-size:3.7vw; line-height:1.2em; }

#contentsWrap #styleContentsSection #styleFermentationArea { margin-top:8%; width:auto; }
#contentsWrap #styleContentsSection #styleFermentationArea .styleTitleInner .styleTitleBox p.styleTitleTxt { width:90%; margin:3% auto 0; font-size:4.3vw; line-height:1.4em; }
#contentsWrap #styleContentsSection #styleFermentationArea p#styleFermentationImg { margin-top:0; }

#contentsWrap #styleContentsSection #styleDevelopmentArea { margin-top:7%; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner { margin-top:7%; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox { width:auto; float:none; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit #styleDevelopmentOuter { float:none; width:auto; margin-top:0; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit #styleDevelopmentOuter h4 { width:90%; margin:0 auto; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit #styleDevelopmentOuter h4 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit #styleDevelopmentOuter p { width:90%; margin:3% auto 0; padding-top:3%; font-size:4.3vw; line-height:1.4em; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox #styleDevelopmentUnit p { float:none; margin-top:3%; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox ul { width:90%; margin:5% auto 0; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentLeftBox ul li { font-size:3.7vw; line-height:1.6em; }
#contentsWrap #styleContentsSection #styleDevelopmentArea #styleDevelopmentInner #styleDevelopmentRightBox { float:none; margin-top:4%; }
#contentsWrap #styleContentsSection #styleDevelopmentArea ul#styleDevelopmentImgList { margin-top:8%; }
#contentsWrap #styleContentsSection #styleDevelopmentArea ul#styleDevelopmentImgList li { width:50%; }

#contentsWrap p#introBtn { width:74%; margin:8.3% auto 0; }

}
