  <div id="inPageBnSection">
    <ul>
      <li>
        <a href="/product/lineup/kbd/"><img src="/product/lineup/kbd/common/images/common_lnavi02_txt01.png" alt="KBD Top"></a>
        <span><img src="/product/lineup/kbd/common/images/common_lnavi02_bg01_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kbd/switch02.html"><img src="/product/lineup/kbd/common/images/common_lnavi02_txt02.png" alt="Happy Switch Story"></a>
        <span><img src="/product/lineup/kbd/common/images/common_lnavi02_bg02_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kbd/style.html"><img src="/product/lineup/kbd/common/images/common_lnavi02_txt03.png" alt="Healthy Style"></a>
        <span><img src="/product/lineup/kbd/common/images/common_lnavi02_bg03_pc.jpg" alt=""></span>
      </li>
      <li>
        <a href="/product/lineup/kbd/story.html"><img src="/product/lineup/kbd/common/images/common_lnavi02_txt04.png" alt="Healthy Story"></a>
        <span><img src="/product/lineup/kbd/common/images/common_lnavi02_bg04_pc.jpg" alt=""></span>
      </li>
    </ul>
  </div>
