@charset "UTF-8";

@media screen and (max-width:640px){
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ベーススタイル
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#contentsWrap img { width:100%; }

/*------------------------------
  text
-------------------------------*/
#contentsWrap .spTxtCenter { text-align:center !important; }
#contentsWrap .spTxtLeft { text-align:left !important; }

/*------------------------------
  float
-------------------------------*/
#contentsWrap .fLeft { float:none; }
#contentsWrap .fRight { float:none; }
#contentsWrap .spFLeft { float:left !important; }
#contentsWrap .spFRight { float:right !important; }

/* clearfix */
#contentsWrap .spCf:before,
#contentsWrap .spCf:after { display:table; content:""; }
#contentsWrap .spCf:after { clear:both; }
#contentsWrap .spCf { zoom:1; }
#contentsWrap .spCb { clear:both; }

/*------------------------------
  display
-------------------------------*/
#contentsWrap .spDisplayBlock { display:block !important; }
#contentsWrap .spDisplayInline { display:inline !important; }
#contentsWrap .spDisplayNone { display:none !important; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  共通レイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.main-content { padding-left:4.6875%; padding-right:4.6875%; }
#contentsWrap { min-width:initial; min-width:auto; }

/* トップページ ローカルナビリスト */
#contentsWrap #topLocalNaviSection { margin-top:6%; }
#contentsWrap #topLocalNaviSection ul { }
#contentsWrap #topLocalNaviSection ul li { width:50%; }
#contentsWrap #topLocalNaviSection ul li span { width:100%; }
#contentsWrap #topLocalNaviSection ul li span img { transform:scale(1); transition:transform 0.4s ease 0s; width:100%; vertical-align:top; }
#contentsWrap #topLocalNaviSection ul li a { display:block; }
#contentsWrap #topLocalNaviSection ul li a img { width:100%; }
#contentsWrap #topLocalNaviSection ul li span.currentHover img { transform:none; }

/* 中面ページ ローカルナビリスト */
#contentsWrap #inPageLinkSection { display:none; }

/* 中面ページ ローカルナビリスト(バナー) */
#contentsWrap #inPageBnSection { margin-top:20% !important; }
#contentsWrap #inPageBnSection ul { width:96%; text-align:left; }
#contentsWrap #inPageBnSection ul li { margin:3% !important; width:44% !important; height:auto !important; padding-bottom:21.8%; }
#contentsWrap #inPageBnSection ul li:first-child { margin:3% !important; }
#contentsWrap #inPageBnSection ul li span { width:100%; }
#contentsWrap #inPageBnSection ul li a { padding:16.7% 0 !important; width:100%; }
#contentsWrap #inPageBnSection ul li span img { transform:none; transition:none; }
#contentsWrap #inPageBnSection ul li span.currentHover img { transform:none; }

}
