  <div id="inPageLinkSection">
    <ul>
      <li><a href="/product/lineup/kax/"><img src="/product/lineup/kax/common/images/common_lnavi01_txt01.gif" alt="KAX Top"></a></li>
      <li><a href="/product/lineup/kax/switch.html"><img src="/product/lineup/kax/common/images/common_lnavi01_txt02.gif" alt="Happy Switch Story"></a></li>
      <li><a href="/product/lineup/kax/style.html"><img src="/product/lineup/kax/common/images/common_lnavi01_txt03.gif" alt="Steam Style"></a></li>
    </ul>
  </div>