@charset "UTF-8";
/* CSS Document */
/*----------------------------------------------------
	☆indent
----------------------------------------------------*/
.center {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.top0 {
  margin-top: 0 !important; }

.top5 {
  margin-top: 5px !important; }

.top10 {
  margin-top: 10px !important; }

.top15 {
  margin-top: 15px !important; }

.top20 {
  margin-top: 20px !important; }

.top25 {
  margin-top: 25px !important; }

.top30 {
  margin-top: 30px !important; }

.top35 {
  margin-top: 35px !important; }

.top40 {
  margin-top: 40px !important; }

.top45 {
  margin-top: 45px !important; }

.top50 {
  margin-top: 50px !important; }

.top60 {
  margin-top: 60px !important; }

.top65 {
  margin-top: 65px !important; }

.top80 {
  margin-top: 80px !important; }

.top90 {
  margin-top: 90px !important; }

.top100 {
  margin-top: 100px !important; }

.btm0 {
  margin-bottom: 0 !important; }

.btm5 {
  margin-bottom: 5px !important; }

.btm10 {
  margin-bottom: 10px !important; }

.btm15 {
  margin-bottom: 15px !important; }

.btm20 {
  margin-bottom: 20px !important; }

.btm25 {
  margin-bottom: 25px !important; }

.btm30 {
  margin-bottom: 30px !important; }

.btm35 {
  margin-bottom: 35px !important; }

.btm40 {
  margin-bottom: 40px !important; }

.btm45 {
  margin-bottom: 45px !important; }

.btm50 {
  margin-bottom: 50px !important; }

.btm55 {
  margin-bottom: 55px !important; }

.btm60 {
  margin-bottom: 60px !important; }

.btm65 {
  margin-bottom: 65px !important; }

.btm70 {
  margin-bottom: 70px !important; }

.btm75 {
  margin-bottom: 75px !important; }

.btm80 {
  margin-bottom: 80px !important; }

.btm85 {
  margin-bottom: 85px !important; }

.btm90 {
  margin-bottom: 90px !important; }

.btm95 {
  margin-bottom: 90px !important; }

.btm100 {
  margin-bottom: 100px !important; }

.pT0 {
  padding-top: 0 !important; }

.pT5 {
  padding-top: 5px !important; }

.pT10 {
  padding-top: 10px !important; }

.pT15 {
  padding-top: 15px !important; }

.pT20 {
  padding-top: 20px !important; }

.pT25 {
  padding-top: 25px !important; }

.pT30 {
  padding-top: 30px !important; }

.pT35 {
  padding-top: 35px !important; }

.pT40 {
  padding-top: 40px !important; }

.pT45 {
  padding-top: 45px !important; }

.pB0 {
  padding-bottom: 0 !important; }

.pB5 {
  padding-bottom: 5px !important; }

.pB10 {
  padding-bottom: 10px !important; }

.pB15 {
  padding-bottom: 15px !important; }

.pB20 {
  padding-bottom: 20px !important; }

.lm5 {
  margin-left: 5px !important; }

.lm10 {
  margin-left: 10px !important; }

.lm15 {
  margin-left: 15px !important; }

.lm20 {
  margin-left: 20px !important; }

.lm30 {
  margin-left: 20px !important; }

.lm50 {
  margin-left: 50px !important; }

.lm60 {
  margin-left: 60px !important; }

.lm70 {
  margin-left: 70px !important; }

.rm5 {
  margin-right: 5px !important; }

.rm10 {
  margin-right: 10px !important; }

.rm15 {
  margin-right: 15px !important; }

.rm20 {
  margin-right: 20px !important; }

.rm25 {
  margin-right: 25px !important; }

.rm40 {
  margin-right: 40px !important; }

.vAT {
  vertical-align: top !important; }

.vAM {
  vertical-align: middle !important; }

.vAB {
  vertical-align: bottom !important; }

.fltL {
  float: left !important; }

.fltR {
  float: right !important; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.m0Auto {
  margin: 0 auto; }

.clear {
  clear: both; }

.inline {
  display: inline !important; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.green {
  color: #5bb92a; }

.attention {
  color: #ff0000; }

.bold {
  font-weight: bold !important; }

.underline {
  text-decoration: underline; }

.underline:hover {
  text-decoration: none; }

.lh100 {
  line-height: 100%; }

.lh0 {
  line-height: 0; }

main .btn-back {
  bottom: 20px; }
main #main-img {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  line-height: 0;
  background: url("/assets/images/common/loading.gif") center center no-repeat; }
main #main-img img, main #main-img canvas {
  width: 100%;
  max-width: 1200px; }
@media only screen and (max-width: 640px) {
  main #main-img {
    min-height: 150px; }
  main #main-img img {
    max-width: 100%; } }
main #main-img h2 {
  position: absolute;
  width: 396px;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("/assets/images/index/main-copy.png") left top no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  pointer-events: none; }
@media only screen and (max-width: 640px) {
  main #main-img h2 {
    width: 198px;
    height: 30px; } }
main #main-img .slick-slide {
  position: relative; }
main #main-img .slick-dots {
  position: absolute;
  bottom: 12px;
  left: 16px;
  display: block;
  padding: 0;
  list-style: none; }
main .content {
  position: relative;
  overflow: hidden; }
main .content .column-3 {
  overflow: hidden;
  margin-bottom: 100px; }
@media only screen and (max-width: 640px) {
  main .content .column-3 {
    margin-bottom: 70px; } }
main .content .column-3 .block {
  width: 33.3%;
  float: left;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  box-sizing: border-box; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block {
    width: 100%;
    float: none; } }
main .content .column-3 .block:first-child {
  width: 33.4%; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block:first-child {
    width: 100%; } }
main .content .column-3 .block:last-child {
  border-right: none; }
main .content .column-3 .block article {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 28px 19px 20px 19px;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: 1px solid #dfdfdf; }
main .content .column-3 .block article:last-child {
  border-bottom: none; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block article {
    padding: 15px 2.34% 25px 2.34%;
    font-size: 12px;
    font-size: 1.2rem;
    min-height: auto !important; } }
main .content .column-3 .block article h3 {
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 31px; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block article h3 {
    font-size: 15px;
    font-size: 1.5rem;
    padding-left: 10px;
    margin-top: 9px;
    margin-bottom: 25px; } }
main .content .column-3 .block article h3:before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 24px;
  left: -10px;
  bottom: 0;
  background-color: #5bb92a; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block article h3:before {
    left: 0px; } }
main .content .column-3 .block article:nth-child(3n) {
  border-right: none; }
main .content .column-3 .block #block-news {
  min-height: 64.8%; }
main .content .column-3 .block #block-news ul li {
  padding-left: 10px; }
main .content .column-3 .block #block-news ul li a {
  color: #000;
  position: relative; }
main .content .column-3 .block #block-news ul li a.arrow::before {
  left: -12px;
  top: 6px;
  bottom: auto; }
main .content .column-3 .block #block-news ul li + li {
  margin-top: 24px; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block #block-news ul li + li {
    margin-top: 18px; } }
main .content .column-3 .block #block-pickup {
  min-height: 51.7%; }
main .content .column-3 .block #block-pickup .imgArea {
  position: relative; }
main .content .column-3 .block #block-pickup .imgArea img {
  width: 100%; }
main .content .column-3 .block #block-pickup .imgArea .ov:after {
  content: "";
  position: absolute;
  background-color: #fff;
  opacity: 0; }
main .content .column-3 .block #block-pickup .imgArea .ov:hover:after {
  opacity: 0.3; }
main .content .column-3 .block #block-pickup .imgArea .map1:after {
  left: 0;
  top: 0;
  width: 58.33333%;
  height: 66.53696%; }
main .content .column-3 .block #block-pickup .imgArea .map2:after {
  left: 58.61111%;
  top: 0;
  width: 41.38889%;
  height: 33.07393%; }
main .content .column-3 .block #block-pickup .imgArea .map3:after {
  left: 58.61111%;
  top: 33.46304%;
  width: 41.38889%;
  height: 33.07393%; }
main .content .column-3 .block #block-pickup .imgArea .map4:after {
  left: 0;
  top: 66.92607%;
  width: 33.33333%;
  height: 33.07393%; }
main .content .column-3 .block #block-pickup .imgArea .map5:after {
  left: 33.61111%;
  top: 66.92607%;
  width: 32.77778%;
  height: 33.07393%; }
main .content .column-3 .block #block-pickup .imgArea .map6:after {
  left: 66.66667%;
  top: 66.92607%;
  width: 33.33333%;
  height: 33.07393%; }
main .content .column-3 .block #block-help {
  min-height: 44.7%; }
main .content .column-3 .block #block-help .search {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 360px;
  background: url("../images/index/faq_bg.jpg");
  background-size: contain;
  margin-bottom: 10px; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block #block-help .search {
    max-width: 100%; } }
main .content .column-3 .block #block-help .search:before {
  content: "";
  height: 0;
  padding-top: 44.44444%;
  display: block; }
main .content .column-3 .block #block-help .search .inner {
  position: absolute;
  width: 80.55556%;
  height: 53.75%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
main .content .column-3 .block #block-help .search .inner p {
  text-align: center;
  color: #fff;
  height: 40px;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold; }
main .content .column-3 .block #block-help .search .inner form {
  position: relative;
  display: block;
  width: 100%;
  height: 46px; }
main .content .column-3 .block #block-help .search .inner .faq-inputbox {
  width: 100%;
  height: 46px;
  background-color: #fff;
  border: 2px solid #5bb92a;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff; }
main .content .column-3 .block #block-help .search .inner #searchBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  width: 21px;
  height: 21px;
  border-style: none;
  background-color: transparent;
  background: #fff url("../images/common/icon-search.png") left top no-repeat;
  padding: 0;
  pointer-events: none; }
main .content .column-3 .block #block-help .link-container {
  overflow: hidden;
  width: 91.66667%;
  margin: 0 auto; }
main .content .column-3 .block #block-help .link-container li {
  float: left;
  width: 48.48485%; }
main .content .column-3 .block #block-help .link-container li + li {
  margin-left: 3.0303%; }
main .content .column-3 .block #block-help .link {
  position: relative;
  display: table;
  width: 100%;
  min-height: 52px;
  padding: 9px 10px;
  color: #fff;
  background-color: #5bb92a;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block #block-help .link {
    min-height: 51px;
    line-height: 19px; } }
main .content .column-3 .block #block-help .link:hover {
  opacity: 0.8; }
main .content .column-3 .block #block-help .link.btn-faq {
  background: #5bb92a url("../images/index/icon-btn-faq.png") left top no-repeat;
  background-position: 25% 50%;
  background-size: 21.875%;
  transition: all 300ms 0s ease;
  							/*
  							&:hover {
  								opacity: 1;
  								color: #5bb92a;
  								background-color: #fff;
  								background-blend-mode: screen;
  								&:after {
  									border-top: 2px solid #5bb92a;
      								border-right: 2px solid #5bb92a;
  								}
  							}
  							*/ }
main .content .column-3 .block #block-help .link.btn-faq:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  margin: auto;
  right: 7px; }
main .content .column-3 .block #block-help .link.btn-faq span {
  padding-left: 12.5%; }
main .content .column-3 .block #block-help .link.btn-dict {
  background: #fff url("../images/index/icon-btn-dict.png") left top no-repeat;
  border: 1px solid #5bb92a;
  color: #5bb92a;
  background-position: 9.375% 50%;
  background-size: 28.75%; }
main .content .column-3 .block #block-help .link.btn-dict:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #5bb92a;
  border-right: 2px solid #5bb92a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  margin: auto;
  right: 7px; }
main .content .column-3 .block #block-help .link.btn-dict span {
  padding-left: 18.75%; }
main .content .column-3 .block #block-help .link span {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1em; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block #block-help .link span {
    font-size: 15px;
    font-size: 1.5rem; } }
main .content .column-3 .block #block-help .link + .link {
  margin-top: 10px; }
main .content .column-3 .block #block-help #link-support:before {
  background: url("/assets/images/index/icon-link-support.png");
  background-size: 100%; }
main .content .column-3 .block #block-help #link-faq:before {
  background: url("/assets/images/index/icon-link-faq.png");
  background-size: 100%; }
main .content .column-3 .block #block-help #link-dict:before {
  background: url("/assets/images/index/icon-link-dict.png");
  background-size: 100%; }
main .content .column-3 .block #block-evt {
  min-height: 35.2%; }
main .content .column-3 .block #block-evt:after {
  content: "";
  position: relative;
  display: block;
  height: 20px;
  pointer-events: none; }
main .content .column-3 .block #block-evt h3 {
  margin-bottom: 18px; }
main .content .column-3 .block #block-evt #block-evt-slick .article {
  display: table; }
main .content .column-3 .block #block-evt #block-evt-slick .article .thumb {
  display: table-cell;
  width: 51%; }
main .content .column-3 .block #block-evt #block-evt-slick .article .thumb img {
  width: 100%; }
main .content .column-3 .block #block-evt #block-evt-slick .article .thumb img:hover {
  opacity: 1; }
main .content .column-3 .block #block-evt #block-evt-slick .article dd {
  display: table-cell;
  width: 49%;
  padding-left: 5.5%;
  box-sizing: border-box;
  vertical-align: middle; }
main .content .column-3 .block #block-evt .slick-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  padding: 0;
  list-style: none; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block #block-evt .slick-dots {
    bottom: -25px; } }
main .content .column-3 .block #block-evt .slick-dots li button {
  background: url("/assets/images/common/slick-dots-g.png");
  background-position: -12px 0; }
main .content .column-3 .block #block-evt .slick-dots li button:hover, main .content .column-3 .block #block-evt .slick-dots li button:focus {
  outline: none;
  background-position: 0 0; }
main .content .column-3 .block #block-evt .slick-dots .slick-active button {
  background-position: 0 0; }
main .content .column-3 .block #block-about {
  min-height: 48.3%; }
main .content .column-3 .block #block-recruit {
  min-height: 55.3%; }
main .content .column-3 .block #block-recruit .link {
  line-height: 0;
  text-decoration: none; }
main .content .column-3 .block #block-recruit .link a p {
  position: relative;
  color: #5bb92a;
  padding-left: 12px;
  line-height: 1em;
  margin-top: 9px; }
main .content .column-3 .block #block-recruit .link a p.arrow:before {
  top: 4px;
  left: 0; }
main .content .column-3 .block #block-recruit .link a img:hover {
  opacity: 1; }
main .content .column-3 .block #block-recruit .link a:hover {
  opacity: 0.8; }
main .content .column-3 .block #block-recruit .link + .link {
  margin-top: 12px; }
main .content .column-3 .block .link-more {
  position: absolute;
  right: 20px;
  top: 28px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #5bb92a; }
@media only screen and (max-width: 640px) {
  main .content .column-3 .block .link-more {
    right: 2.34%;
    font-size: 10px;
    font-size: 1.0rem; } }
main .content .column-3 .block .link-more.arrow::before {
  left: -12px;
  /*top: 6px;*/ }
