@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* GX GRAND X ラインナップ */

/* トップページ ローカルナビリスト */
body, .header, #contentsWrap { min-width: initial; min-width: auto; }
#contentsWrap #topNaviSection { width: 100%; max-width:1200px; margin:0 auto; }
#contentsWrap a:hover img { opacity:1; filter:alpha(opacity=100); }
.h1-contents-title {
  font-size: 35px !important;
  font-size: 3.5rem !important;
  margin-bottom: 60px !important;
  letter-spacing: 0;
  font-family: "教科書ICA M","Kyoukasho ICA Medium";
  text-align: left;
}
.two-column {
  overflow: hidden;
}
.two-column li {
  position: relative;
  border: 1px solid #8b989e !important;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 0;
  margin-top: 30px !important;
  float: left;
  width: 48% !important;
}
.two-column li:nth-child(-n+2) {
  margin-top: 0 !important;
}
.two-column li + li {
  margin-left: 4% !important;
}
.two-column li:nth-child(2n+1) {
  margin-left: 0 !important;
}
.two-column li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  color: #fff;
  overflow: hidden;
}
.two-column li a .bg {
  transform: scale(1);
  transition: all 0.6s ease;
}
.two-column li a .bg:hover {
  transform: scale(1.1);
}
.two-column li a img {
  width: 100% !important;
}
.two-column li a .label {
  position: absolute;
  bottom: 0;
  background-color: rgba(139, 152, 158, 0.7) !important;
  padding: 0 10px !important;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
}
.two-column li a .label p {
  position: relative;
  width: 58.53658%;
  color: #fff;
  padding-top: 16px !important;
  font-size: 12px !important;
  font-size: 1.2rem !important;
  font-family: "教科書ICA M","Kyoukasho ICA Medium";
  z-index: 2;
}
.two-column li:nth-of-type(1) a .label p {
  width: 40%;
  min-width: 220px;
}
.two-column li:nth-of-type(2) a .label p {
  width: 37%;
  min-width: 200px;
}
.two-column li:nth-of-type(3) a .label p {
  min-width: 314px;
}
.two-column li:nth-of-type(4) a .label p {
  width: 33%;
  min-width: 180px;
}
.two-column li a .label p:after {
  content: "";
  position: absolute;
  top: 28px;
  right: 0;
  width: 14px;
  height: 14px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.two-column li a .label .title {
  font-size: 20px !important;
  font-size: 2.0rem !important;
  line-height: 1.2em !important;
  display: inline-block;
  margin-bottom: 4px !important;
}
.two-column li a .thumb {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.two-column li a .thumb img {
  height: auto;
}
.footer .btn-backtop {
  z-index: 50;
}