@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* GX GRAND X ラインナップ */

/* トップページ ローカルナビリスト */
/*
#contentsWrap #topNaviSection { margin-top:6%; }
#contentsWrap #topNaviSection ul li { width:50%; }
#contentsWrap #topNaviSection ul li span { width:100%; }
#contentsWrap #topNaviSection ul li span img { transform:scale(1); transition:transform 0.4s ease 0s; width:100%; vertical-align:top; }
#contentsWrap #topNaviSection ul li a { display:block; padding:28% 0; }
#contentsWrap #topNaviSection ul li a img { width:100%; }
#contentsWrap #topNaviSection ul li span.currentHover img { transform:none; } 
*/

/* トップページ ローカルナビリスト */
#contentsWrap #topNaviSection { width:auto; }
#contentsWrap #topNaviSection ul { margin:-4% 0 0 -4%; }
/*#contentsWrap #topNaviSection ul li { width:46%; margin:4% 0 0 4% !important; }*/
#contentsWrap #topNaviSection ul li a { padding:39.5% 0; }
#contentsWrap #topNaviSection ul li a img { width:100%; }
#contentsWrap #topNaviSection ul li span.currentHover img { transform:none; } 

  .h1-contents-title {
    font-size: 18px !important;
    font-size: 1.8rem !important;
    margin-bottom: 20px !important;
  }
  .two-column {
    overflow: visible;
    margin-top: 20px !important;
  }
  .two-column li {
    float: none;
    width: 106.5% !important;
    margin-left: -1.25% !important;
    border: none !important;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .two-column li:nth-child(-n+2) {
    margin-top: 20px !important;
  }
  .two-column li + li {
    margin-top: 20px !important;
    margin-left: -1.25% !important;
  }
  .two-column li:nth-child(2n+1) {
    margin-left: -1.25% !important;
  }
  .two-column li a .label {
    height: 40px;
  }
  .two-column li a .label p {
    min-width: 226px !important;
    padding-top: 8px !important;
    font-size: 10px !important;
    font-size: 1.0rem !important;
  }
  .two-column li a .label p:after {
    top: 14px;
  }
  .two-column li a .label .title {
    font-size: 14px !important;
    font-size: 1.4rem !important;
  }
  .two-column li a .thumb {
    width: 20%;
  }
}
