
/*-----------------------------------------------------------
reset
-------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, pre, ul , ol , li, dl, dt, dd, p, img {
	margin: 0;
	padding: 0;
	color: #434343;
}
a {
	color: #8b989e;
	text-decoration: none;
	outline: 0;
}
a:hover {
	text-decoration: underline;
}
a img:hover {
	opacity: 0.7;
}
.nolink {
	pointer-events: none;
}
p img, h1 img, h2 img, h3 img, h4 img, a img {
	width: 100%;
}
ul, ol {
	list-style-type:none;
}
ul li:first-child {
	margin-left: 0 !important;
}



/*-----------------------------------------------------------
layout
-------------------------------------------------------------*/



@mixin default-font {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","HelveticaNeue","Helvetica Neue",Arial,sans-serif;
}

@mixin font-ica {
	font-family:"教科書ICA M","Kyoukasho ICA Medium";
}
@mixin font-playfair {
	font-family: 'Playfair Display', serif;
}

html {
	position: relative;
	min-height: 100%;
	font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body {
	width: 100%;
	min-width: 1000px;
	@media only screen and (max-width: 768px) {
		min-width: auto;
	}
	margin: 0;
	padding: 0;
    @include default-font;
	@include size16;
	/* sets the default sizing to make sure nothing is actually 10px */
	background-color: #FFFFFF;
}



.font-ica{
	@include font-ica;
}
.font-playfair{
	@include font-playfair;
}

.wrap {
	position: relative;
	width: 100%;
	margin-bottom: 414px;
	overflow: hidden;
}
.content-inner {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.pc { display: block; }
.sp { display: none; }

@media only screen and (max-width: 768px) {
	
	.pc { display: none; }
	.sp { display: block; }

	body {
		min-width: 100%;
		@include size12;
	}
	.wrap {
		margin-bottom: 0;
	}
}