
/* --------------------------- */
/* Footer */

.footer {

	position: absolute;
    width: 100%;
    min-width: 1000px;
    bottom: 0;

    .btn-backtop {
    	display: block;
    	position: fixed;
    	right: 0;
    	bottom: 30px;
    }

	.footer-content {
		width: 100%;
		min-height: 270px;
		padding: 19px 0;
		box-sizing: border-box;
		overflow: hidden;
		background-color: #f6f7f7;


		.four-column {
			width: 100%;
			max-width: 1200px;
			/*max-width: 948px;*/
			min-height: 232px;
			margin: 0 auto;
			overflow: hidden;
			margin-bottom: 40px;

			.column-block {
				position: relative;
				float: left;
			}
		}
		
		.footer-msg {
			width: ( 407 / 1200 ) * 100%;
			background: url('/assets/images/common/footer-msg-bg.png') center center no-repeat;
			background-size: contain;
			p {
				@include size14;
				color: #434343;
				line-height: 2.5em;
				padding: 0 5% 0 18%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				@media only screen and (max-width: 1400px) {
					font-size: 1.0vw;
				}
				@media only screen and (max-width: 1000px) {
					@include size10;
				}
			}
		}
		.footer-instagram {
			width: ( 282 / 1200 ) * 100%;

			.footer-sns-title {
				@include size18;
				font-weight: bold;
				color: #8b989e;
				line-height: 1.2em;
				margin-bottom: 10px;
			}

			.column-inner {
				position: absolute;
				width: 70.92199%;
				max-width: 200px;
				left: 0;
				right: 0;
				margin: auto;
				top: 50%;
				transform: translateY(-50%);
				
				.footer-sns-title {
					@include size18;
					font-weight: bold;
					color: #8b989e;
					margin-bottom: 45px;
				}
				.logo-instagram {
					margin-bottom: 7px;
				}
				.instagram-thumb-list {
					overflow: hidden;
					li {
						float: left;
						line-height: 0;
						width: ( 60 / 200 ) * 100%;
						margin-left: ( 10 / 200 ) * 100%;
						margin-top: ( 10 / 200 ) * 100%;

						&:nth-child(-n+3){
							margin-top: 0;
						}
						&:nth-child(3n+1){
							margin-left: 0;
						}
					}
					
				}
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 1px;
				height: 189px;
				background-color: #d3d4d4;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 0;
			}
		}

		.footer-facebook {
			width: ( 270 / 1200 ) * 100%;
			/*margin-left: 30px;*/
			
		}

		.block-facebook {
			max-width: 270px;
			margin: 0 auto;
		}
		.block-facebook > .fb-page {
			width: 100%;
		}
		.block-facebook > .fb-page > span,
		.block-facebook iframe {
		    width: 100% !important;
		}
		.btn-facebook {
			display: block;
			width: 100%;
			margin-top: 3px;
		}

		.footer-link {
			width: ( 241 / 1200 ) * 100%;
			.column-inner {
				
				position: absolute;
				width: ( 188 / 241 ) * 100%;
				max-width: 188px;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			
			.footer-link-kenko { max-width: 115px; margin-bottom: 30px; }
			.footer-link-kihon { max-width: 66px; margin-bottom: 27px; }
			.footer-link-balloon { max-width: 112px; }
			ul {
				overflow: hidden;
				li {
					margin: 0 auto;
					line-height: 0;
					&:first-child {
					    margin-left: auto !important;
					}
				}
			}
		}

		.footer-link-tiger {
			width: 188px;
			margin: 0 auto;
		}
	}
	.copyright {
		text-align: center;
		@include size10;
		line-height: 60px;
		background-color: #f6f7f7;
	}
}


@media only screen and (max-width: 768px) {
	/* --------------------------- */
	/* Footer */

	.footer {
		position: relative;
	    min-width: 100%;

	    .btn-backtop {
			width: 45px;
			img { width: 100%; }
	    }

		.footer-content {
			height: auto;
			$PW: ( 40 / 640 ) * 100%;
			padding: 0;
			
			.four-column {
				max-width: 100%;
				margin-bottom: 33px;

				.column-block {
					position: relative;
					display: block;
					width: 100%;

					padding: 0 $PW;
					float: none;
					.column-inner {
						display: block;
						overflow: hidden;
					}
				}
			}
			
			.footer-msg {
				width: 100%;
				/*height: 134px;*/
				height: auto;
				background: url('/assets/images/common/footer-msg-bg-sp.png') right center no-repeat;
				background-size: contain;
				padding: 18px $PW;
				max-width: 500px;
				margin: 0 auto;
				margin-bottom: 23px;

				p {
					@include size12;
					color: #000000;
					padding: 0;

					position: relative;
				    margin: 50px 0;
				    top: auto;
				    transform: none;
				}
			}
			.footer-instagram {
				width: 100%;
				/*height: 156px;*/
				height: auto;
				
				.column-inner {
					position: relative;
					width: 100%;
					max-width: 100%;
					height: auto;
					padding: 0;
					top: 0;
					transform: none;
					
					.block-instagram {
						background-color: #fff;
						padding: 14px 0;
						margin-bottom: 16px;
					}
					.footer-sns-title {
						margin-bottom: 10px;
					}
					.logo-instagram {
						max-width: ( 273 / 2 ) * 1px;
						margin: 0 auto;
						margin-bottom: 13px;
					}
					.instagram-thumb-list {
						width: ( 501 / 560 ) * 100%;
						margin: 0 auto;
						max-width: auto;
						margin-bottom: 0;
						li {
							width: ( 89 / 501 ) * 100%;
							margin-left: ( 14 / 501 ) * 100%;
							margin-top: 0;
							&:nth-child(3n+1) {
							    margin-left: ( 14 / 501 ) * 100%;
							}
							&:first-child{
								margin-left: 0;
							}
							&:nth-child(6){
								display: none;
							}
						}
					}
				}
				&:before {
					content: none;
				}
			}
			.footer-facebook {
				margin-left: 0;
				max-width: 500px;
				margin: 0 auto;
				.block-facebook {
					max-width: 100%;
				}
				.btn-facebook {
					margin-top: 15px;
				}
			}
			.footer-link {
				min-height: auto;
				padding: 32px $PW 25px $PW !important;
				box-sizing: border-box;
				border-bottom: 1px solid #c0c7ca;
				.column-inner {
					position: relative;
					display: table !important;
					margin: 0 auto;
					top: auto;
					transform: none;
				}
				
				.footer-link-kenko { max-width: 115px; margin-bottom: 12px; }
				.footer-link-kihon { max-width: 66px; margin-bottom: 9px; }
				.footer-link-balloon { max-width: 112px; }
			}
			.footer-link-tiger {
				width: 136px;
				margin-bottom: 20px;
			}
		}
		.copyright {
			@include size9;
			line-height: 40px;
		}
	}
}