/* --------------------------- */
/* Header */

.header {
	position: absolute;
	width: 100%;
	min-width: 1000px;
	left: 0;
	top: 0;
	z-index: 999;
	/*overflow: hidden;*/
	
	.header-inner {
		position: relative;
		width: 100%;
		height: 124px;
		background-color: #fff;
		z-index: 2;

		.header-logo {
			position: absolute;
			width: ( 111 / $CONTENT_WIDTH ) * 100%;
			max-width: 111px;
			left: 19px;
			top: 50%;
			transform: translateY(-50%);
			line-height: 0;
		}

		.header-nav {
			position: relative;
			display: table;
			margin: 0 auto;
			padding-top: 82px;

			&.open {
				display: table;
			}
			
			.nav-container {
				margin-left: -3%;

				li {
					position: relative;
					float: left;
					@include size15;
					a {
						display: inline-block;
						float: left;
						color: #8b989e;
						line-height: 26px;
						/*margin-left: 6px;*/
						letter-spacing: -0.05em;
						@include font-ica;
						&:hover {
							text-decoration: none;
							color: #1d8aa8;
							font-weight: bold;
						}
					}
					/*
					&:before {
						content: "";
						display: inline-block;
						float: left;
						width: 25px;
						height: 26px;
						background: url('/assets/images/common/nav-icon.png');
					}
					*/
					&.current {
						a {
							color: #1d8aa8;
							font-weight: bold;
							/*pointer-events: none;*/
						}
					}
				}
				li + li {
					margin-left: 22px;
				}
				/*
				.nav-top:before { width: 21px; background-position: 0 0; }
				.nav-message:before { width: 13px; background-position: -25px 0; }
				.nav-product:before { width: 16px; background-position: -50px 0; }
				.nav-food:before { width: 16px; background-position: -75px 0; }
				.nav-recipe:before { width: 25px; background-position: -100px 0; }
				.nav-human:before { width: 14px; background-position: -125px 0; }
				.nav-movie:before { width: 21px; background-position: -150px 0; }
				.nav-special:before { width: 23px; background-position: -175px 0; }
				*/
				.nav-recipe a{ margin-left: 3px; }

				@media only screen and (max-width: 1400px) {
					li {
						font-size: 1.07vw;
					}
					li + li {
						margin-left: ( 22 / 1400 ) * 100vw;
					}
				}
				@media only screen and (max-width: 1000px) {
					li {
						font-size: 10.7px;
						font-size: 1.07rem;
					}
					li + li {
						margin-left: 13px;
					}
				}
			}
		}
		.header-submenu {
			position: absolute;
			right: 20px;
			top: 9px;

			.icon-tiger {
				display: block;
				position: relative;
				width: 133px;
				height: 31px;
				background: url('/assets/images/common/nav-icon.png');
				float: left;
				background-position: -156px -26px;
				@include hide-text;
			}

			.submenu-container {
				position: relative;
				overflow: hidden;
				float: left;
				margin-right: 30px;
				margin-top: 6px;
				li {
					float: left;
					width: 18px;
					height: 18px;
					background: url('/assets/images/common/nav-icon.png');
					a, p {
						display: block;
						@include hide-text;
						cursor: pointer;
					}
				}
				li + li {
					margin-left: 10px;
				}
				.icon-search { background-position: 0 -26px; }
				.icon-sitemap { width: 74px; background-position: -25px -26px; }
				.icon-facebook { margin-left: 20px; background-position: -106px -26px; }
				.icon-instagram { background-position: -130px -26px; }
			}
		}
	}

	.search {
		display: none;
		position: relative;
		background-color: #fff;
		
		#___gcse_0 {
			$SPW: ( 30 / 640 ) * 100%;
			padding: 0 $SPW;
			padding-top: 8px;
			padding-bottom: 10px;
			background-color: #e9e9e9;
			border: 0;
		}
		.gsc-input-box {
			border: none;
		}
		.gsc-input-box {
			border: none;
			background: #fff;
			height: 30px;
		}
		.gsib_a {
		    padding: 3px 4px;
		}
		.form.gsc-search-box,
		.gsc-search-box {
			margin-bottom: 0;
		}
		.gsc-search-box-tools .gsc-search-box .gsc-input {
			padding-right: 0;
		}
		.gsc-search-button {
			line-height: 0;
			border-radius: 0;
		}
		input.gsc-search-button {
			width: 30px;
			height: 30px;
			margin: 0;
			padding: 7px;
			box-sizing: border-box;
			border: 0;
			background-color: #8b989e;
		}

		&.pc-rayout {
			display: none;
			position: absolute;
			top: 0;
			left: -200px;
			width: 183px;
			height: 30px;
			border-radius: 3px;
			-webkit-webkit-border-radius: 3px;
			
			&.open {
				display: block;
			}

			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: -16px;
			    box-sizing: border-box;
			    width: 12px;
			    height: 7px;
			    border: 4px solid transparent;
			    border-left: 12px solid #1d8aa8;
			}

			#___gcse_0 {
				padding: 4px;
				background-color: #1d8aa8;
				border-radius: 3px;
				-webkit-border-radius: 3px;
			}
			.gsc-search-box .gsc-input>input:focus,
			.gsc-input-box-focus {
			  border: 0;
			  -moz-box-shadow: none;
			  -webkit-box-shadow: none;
			  box-shadow: none;
			}
			.gsc-input-box {
				height: 22px;
			}
			table.gsc-search-box td {
				vertical-align: top;
			}
			input.gsc-search-button {
				width: 22px;
				height: 22px;
				padding: 4px;
				background-color: #8ec4d3;
				border-radius: 0;
				-webkit-border-radius: 0;
			}
			.gsib_a {
			    padding: 0 4px 0;
			}
			input.gsc-input {
				font-size: 14px;
			}
		}
	}

	&.fixed {
		position: fixed;
		
		.header-inner {
			height: 85px;

			.header-logo {
				max-width: 60px;
			}
			.header-nav {
				padding-top: 50px;
			}
			.header-submenu {
				.submenu-container {
					position: absolute;
					right: 0;
					top: 39px;
					float: none;
					margin-right: 0;
					/*width: 168px;*/
					width: 169px;
				}
			}
		}
		.search {
			&.pc-rayout {
				position: absolute;
				top: 78px;
				left: -118px;
				&:before{
					left: 0;
					right: 0;
					margin: auto;
					top: -16px;
					bottom: auto;
				    width: 7px;
				    height: 12px;
				    border-left: 4px solid transparent;
				    border-bottom: 12px solid #1d8aa8;
				}
			}
		}
	}
	&.slideInDown,
	&.slideOutUp {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
	}

	&.detail {
		.local-nav {
			position: relative;
			width: 100%;
			height: 30px;
			background-color: #eef0f1;
			line-height: 30px;
			padding: 0 16px;
			box-sizing: border-box;
			z-index: 1;

			li {
				position: relative;
				float: left;
				color: #8b989e;
				@include size13;
				padding-left: 30px;
				margin-left: 20px;
				background: url('/assets/images/common/localnav-arrow.png') left top no-repeat;

				strong {
					font-weight: normal;
				}
				a {
					text-decoration: underline;
				}
				&:first-child {
					padding-left: 0;
					margin-left: 0;
					background: none;

				}
			}
		}
	}
}

@-webkit-keyframes navSlideIn {
	0% { height: 0; }
	100% { height: 610px; }
}
@keyframes navSlideIn {
	0% { height: 0; }
	100% { height: 610px; }
}

@-webkit-keyframes navSlideOut {
	0% { height: 610px; }
	100% { height: 0; }
}
@keyframes navSlideOut {
	0% { height: 610px; }
	100% { height: 0; }
}


@media only screen and (max-width: 768px) {
	.header {
		position: fixed;
		min-width: 100%;
		overflow: visible;
		
		.header-inner {
			height: 60px;

			.header-logo {
				position: absolute;
				width: 53px;
				max-width: auto;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
				line-height: 0;
			}

			.nav-wrapper {
				padding-top: 60px;
				display: block;
				height: 0;
				overflow: hidden;
				&.close {
					-webkit-animation-name: navSlideOut;
					animation-name: navSlideOut;
					-webkit-animation-duration: 0.3s;
					animation-duration: 0.3s;
				}

				&.open {
					display: block;
					height: 610px;
					-webkit-animation-name: navSlideIn;
					animation-name: navSlideIn;
					-webkit-animation-duration: 0.3s;
					animation-duration: 0.3s;
				}
			}
			.header-nav {
				margin: 0;
				padding-top: 0;
				display: block;
				
				.nav-container {
					li {
						float: none;
						background-color: #e9e9e9;
						border-bottom: 1px solid #c9c9c9;
						$NPW: ( 30 / 640 ) * 100%;
						padding: 0 $NPW;
						font-size: 14px !important;
						font-size: 1.4rem !important;
						a {
							display: block;
							float: none;
							color: #8b989e;
							line-height: 37px;
							margin-left: 0;
							text-align: center;
							@include font-ica;
						}
						&:before {
							content: none;
							/*
							display: inline-block;
							float: left;
							width: 22px !important;
							height: 35px;
							background: url('/assets/images/common/nav-icon-sp.png');
							background-size: ( 351 / 44 ) * 100%;
							*/
						}
					}
					li + li {
						margin-left: 0 !important;
					}
					.nav-top:before { background-position: 0 0; }
					.nav-message:before { background-position: -22px 0; }
					.nav-product:before { background-position: -44px 0; }
					.nav-food:before { background-position: -66px 0; }
					.nav-recipe:before { background-position: -88px 0; }
					.nav-human:before { background-position: -110px 0; }
					.nav-movie:before { background-position: -132px 0; }
					.nav-special:before { background-position: -154px 0; }

					/*.nav-recipe a{ margin-left: 29px; }*/

					@media only screen and (max-width: 1400px) {
						li {
							font-size: 1.07vw;
						}
						li + li {
							margin-left: 1.42vw;
						}
					}
					@media only screen and (max-width: 1000px) {
						li {
							font-size: 10.7px;
							font-size: 1.07rem;
						}
						li + li {
							margin-left: 14px;
						}
					}
				}
			}
			.header-submenu {
				position: relative;
			    right: auto;
			    top: auto;
			    overflow: hidden;
			    background-color: #e9e9e9;
			    height: 190px;

				.icon-tiger {
					display: block;
					position: relative;
					width: 98px;
					height: 23px;
					background: url('/assets/images/common/nav-icon-sp.png');
					background-size: ( 351 / 196 ) * 100%;
					margin: 0 auto;
					float: none;
					background-position: -46px -35px;
					@include hide-text;
				}
				.header-btn-sitemap {
					@include size10;
					color: #8b989e;
					text-align: center;
					margin-top: 10px;
				}
				.header-label-sns {
					@include size9;
					color: #8b989e;
					text-align: center;
					margin-bottom: 5px;
				}
				.submenu-container {
					position: relative;
					overflow: hidden;
					float: none;
				    display: table;
				    margin: 0 auto;
					clear: both;
					margin-bottom: 13px;
					li {
						float: left;
						width: 23px;
						height: 25px;
						background: url('/assets/images/common/nav-icon-sp.png');
						background-size: ( 351 / 46 ) * 100%;
						a {
							display: block;
							@include hide-text;
						}
					}

					.icon-sitemap { display: none; }
					.icon-search { display: none; }
					.icon-facebook { background-position: 0 -35px; margin-left: 0; }
					.icon-instagram { background-position: -23px -35px; margin-left: 17px; }
				}
			}
		}
		.search {
			display: block;
			background-color: transparent;
		}
		&.fixed {
			.header-inner {
				height: 60px;
			}
		}
		&.detail {
			.local-nav {
				display: none;
			}
		}
	}

	.header-nav-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 40px;
		height: 40px;
		background-color: #1d8aa8;
		/*
		background: url('/assets/images/common/menu-btn-sp.png');
		background-size: 100%;
		*/
		z-index: 3;
	}

	.menu-trigger,
	.menu-trigger span {
	  display: inline-block;
	  transition: all .4s;
	  box-sizing: border-box;
	}
	.menu-trigger {
	  @include ab-center;
	  width: 18px;
	  height: 16px;

	}
	.menu-trigger span {
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 2px;
	  background-color: #fff;
	  border-radius: 2px;
	}
	.menu-trigger span:nth-of-type(1) {
	  top: 0;
	}
	.menu-trigger span:nth-of-type(2) {
	  top: 7px;
	}
	.menu-trigger span:nth-of-type(3) {
	  bottom: 0;
	}

	.header-nav-btn.open .menu-trigger {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
	.header-nav-btn.open .menu-trigger span:nth-of-type(1) {
	  -webkit-transform: translateY(7px) rotate(-45deg);
	  transform: translateY(7px) rotate(-45deg);
	}
	.header-nav-btn.open .menu-trigger span:nth-of-type(2) {
	  -webkit-transform: translateY(0) rotate(45deg);
	  transform: translateY(0) rotate(45deg);
	}
	.header-nav-btn.open .menu-trigger span:nth-of-type(3) {
	  opacity: 0;
	}
}