@charset "UTF-8";
html {
  font-size: 62.5%;
}
html .campaign * {
  box-sizing: border-box;
}

#header {
  border-bottom: 0;
  position: static;
}

/* GX common.css override */
.header {
  position: static;
}

.fade:hover {
  opacity: 0.7;
  text-decoration: none;
}

.center {
  text-align: center;
}

.inline-radio {
  height: 100%;
}
.inline-radio.align-center {
  align-items: center;
}

label {
  cursor: pointer;
}

.main-visual {
  max-width: 960px;
  margin: 0 auto 80px;
}

.intro {
  padding-bottom: 80px;
}
.intro-title {
  font-size: 3rem;
  text-align: center;
  font-family: "教科書ICA M","Kyoukasho ICA Medium";
  color: #1d8aa8;
  margin-bottom: 50px;
}
.intro-description {
  font-size: 1.6rem;
  margin-bottom: 40px;
  text-align: center;
}
.intro-detail-link {
  text-align: center;
  margin-bottom: 40px;
}
.intro-date {
  text-align: center;
  color: #be892d;
  font-size: 2rem;
  font-weight: bold;
}

/* --------------------------------------
    ボタン
-------------------------------------- */
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 50px;
  padding: 0 30px;
  position: relative;
}
.button.white {
  font-size: 1.6rem;
  border: 1px solid #b98c31;
  background: #fff;
  color: #b98c31;
}
.button.white .icon-external {
  display: inline-block;
  width: 17px;
  height: 15px;
  background: url("../img/icon_external.png") no-repeat;
  margin-left: 0.5em;
}
.button.arrow {
  padding-left: 40px;
}
.button.arrow::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(-45deg);
  content: '';
  width: 14px;
  height: 14px;
  border-right: 1px solid #bb8b30;
  border-bottom: 1px solid #bb8b30;
}

@media only screen and (max-width: 768px) {
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 50px;
    padding: 15px 30px;
    font-size: 3.611vw;
  }
  .button.white {
    border: 1px solid #b98c31;
    background: #fff;
    font-size: 3.333vw;
    color: #b98c31;
  }
  .button.white .icon-external {
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url("../img/icon_external.png") no-repeat;
    margin-left: 0.5em;
  }
  .button.arrow {
    padding: 0 20px 0 30px;
  }
  .button.arrow::before {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(-45deg);
    content: '';
    width: 10px;
    height: 10px;
    border-right: 1px solid #bb8b30;
    border-bottom: 1px solid #bb8b30;
  }
}
.campaign-form {
  background: #fffcf1;
  padding-top: 80px;
  padding-bottom: 80px;
}
.campaign-form .body_tbl {
  max-width: 960px;
  margin: 0 auto;
}
.campaign-form .step-flow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.campaign-form .step-flow li {
  border: 1px solid #bb8b30;
  font-size: 1.6rem;
  color: #bb8b30;
  position: relative;
}
.campaign-form .step-flow li::after {
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  position: absolute;
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url("../img/step_arrow.png") no-repeat;
}
.campaign-form .step-flow li:last-child::after {
  display: none;
}
.campaign-form .step-flow li > span {
  background: #fff;
  width: 280px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campaign-form .step-flow li.active > span {
  background: #bb8b30;
  color: #fff;
}
.campaign-form .step-flow li .step-number {
  font-weight: bold;
  margin-right: 17px;
}
.campaign-form-message {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.smp_tmpl {
  background: #fff;
  padding: 50px;
}
.smp_tmpl dl.cf {
  display: flex;
  margin-bottom: 30px;
}
.smp_tmpl dl.cf .title {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-top: 16px;
  padding-right: 80px;
  width: 260px;
  position: relative;
}
.smp_tmpl dl.cf .title.right {
  text-align: right;
}
.smp_tmpl dl.cf .title .need {
  font-size: 1.4rem;
  position: absolute;
  top: 8px;
  right: 30px;
  background: #e14a2f;
  border-radius: 5px;
  color: #fff;
  padding: 8px 11px;
}
.smp_tmpl dl.cf .data {
  width: 600px;
  font-size: 1.6rem;
  /* カスタムラジオボタン */
  /* カスタムチェックボックス */
  /* カスタムセレクトボックス */
}
.smp_tmpl dl.cf .data input[type="text"],
.smp_tmpl dl.cf .data textarea {
  text-align: left;
  font-size: 1.6rem;
  background: #fffcf1;
  border: 1px solid #ddc597;
  padding: 15px;
  width: 100%;
}
.smp_tmpl dl.cf .data input.age {
  width: 5em;
}
.smp_tmpl dl.cf .data.time ul.cf {
  display: flex;
}
.smp_tmpl dl.cf .data.time ul.cf li {
  margin-right: 30px;
}
.smp_tmpl dl.cf .data .note {
  font-size: 1.5rem;
  padding: 0.5em 0;
}
.smp_tmpl dl.cf .data input.zipcode {
  width: 10em;
  margin-right: 30px;
}
.smp_tmpl dl.cf .data input.pref {
  width: 10em;
}
.smp_tmpl dl.cf .data input.year,
.smp_tmpl dl.cf .data input.month,
.smp_tmpl dl.cf .data input.date {
  width: 8rem;
  margin-right: 0.5rem;
}
.smp_tmpl dl.cf .data .radio.cf {
  display: flex;
  align-items: center;
  height: 100%;
}
.smp_tmpl dl.cf .data .radio.cf li {
  margin-right: 1em;
  font-size: 1.6rem;
}
.smp_tmpl dl.cf .data .radio-vertical li {
  margin-bottom: 1em;
  font-size: 1.6rem;
}
.smp_tmpl dl.cf .data.multi2 {
  padding-top: 15px;
}
.smp_tmpl dl.cf .data.multi2 .cf {
  display: flex;
  flex-wrap: wrap;
}
.smp_tmpl dl.cf .data.multi2 .cf li {
  font-size: 1.6rem;
  width: 50%;
  margin-bottom: 20px;
}
.smp_tmpl dl.cf .data.multi2 .cf li input[type="checkbox"] {
  margin-right: 0.5em;
}
.smp_tmpl dl.cf .data.file #file-button {
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  background: #ffffff;
  padding: 12px 60px;
  border-radius: 8px;
  border: 1px solid #bb8b30;
  color: #bb8b30;
  height: 50px;
  position: relative;
}
.smp_tmpl dl.cf .data.file input[type="file"] {
  display: none;
}
.smp_tmpl dl.cf .data input[type="radio"] {
  display: none;
}
.smp_tmpl dl.cf .data .custom-radio {
  padding-left: 36px;
  height: 26px;
  display: flex;
  align-items: center;
  position: relative;
}
.smp_tmpl dl.cf .data .custom-radio .radio-dummy {
  position: absolute;
  width: 27px;
  height: 27px;
  display: block;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #ede0c8;
  border-radius: 50%;
}
.smp_tmpl dl.cf .data .custom-radio input[type="radio"]:checked + .radio-dummy::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: #302624;
  border-radius: 50%;
}
.smp_tmpl dl.cf .data input[type="checkbox"] {
  display: none;
}
.smp_tmpl dl.cf .data .custom-checkbox {
  display: block;
  padding-left: 36px;
  position: relative;
}
.smp_tmpl dl.cf .data .custom-checkbox .checkbox-dummy {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddc597;
  background: #fffcf1;
}
.smp_tmpl dl.cf .data .custom-checkbox input[type="checkbox"]:checked + .checkbox-dummy {
  color: #009a9a;
}
.smp_tmpl dl.cf .data .custom-checkbox input[type="checkbox"]:checked + .checkbox-dummy::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 12px;
  transform: rotate(40deg);
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}
.smp_tmpl dl.cf .data .custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.smp_tmpl dl.cf .data .custom-dropdown select {
  background-color: #fffcf1;
  color: #302624;
  font-size: inherit;
  padding: 15px;
  padding-right: 3.5em;
  border: 1px solid #ddc597;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}
.smp_tmpl dl.cf .data .custom-dropdown::before,
.smp_tmpl dl.cf .data .custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.smp_tmpl dl.cf .data .custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.0em;
  top: 50%;
  margin-top: -.5em;
}
.smp_tmpl dl.cf .data .custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}
.smp_tmpl dl.cf .data .custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}
.smp_tmpl dl.cf .data .custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}
.smp_tmpl dl.cf .data .custom-dropdown::before {
  background-color: #ddc597;
}
.smp_tmpl dl.cf .data .custom-dropdown::after {
  color: #fff;
}
.smp_tmpl dl.cf .data .triggerother li:first-child {
  width: 100px;
}
.smp_tmpl dl.cf .data .triggerother li:nth-child(2) {
  width: 500px;
}
.smp_tmpl .sample-image {
  margin-bottom: 40px;
}
.smp_tmpl .privacy-agreement {
  border: 1px solid #ddc597;
  padding: 30px;
  margin-bottom: 40px;
  font-size: 1.6rem;
}
.smp_tmpl .privacy-agreement-title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}
.smp_tmpl .privacy-agreement a {
  text-decoration: underline;
}
.smp_tmpl button[type="submit"] {
  cursor: pointer;
  background: #bb8b30;
  color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  font-size: 2rem;
  position: relative;
}
.smp_tmpl button[type="submit"]::before {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(-45deg);
  content: '';
  width: 14px;
  height: 14px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
  .sp_device #header .logo {
    padding: 18px;
  }
  .sp_device .header {
    position: static;
  }

  .main-visual {
    max-width: 100%;
    margin: 0 auto 9.306%;
  }
  .main-visual img {
    max-width: 100%;
    height: auto;
  }

  .intro {
    padding-bottom: 11.111%;
  }
  .intro-title {
    font-size: 5.556vw;
    text-align: center;
    margin-bottom: 6.944%;
  }
  .intro-description {
    font-size: 3.611vw;
    margin-bottom: 40px;
    text-align: center;
  }
  .intro-detail-link {
    text-align: center;
    margin-bottom: 40px;
  }
  .intro-date {
    text-align: center;
    color: #be892d;
    font-size: 4.167vw;
    font-weight: bold;
  }

  .campaign-form {
    background: #fffcf1;
    padding-top: 11.111%;
    padding-bottom: 11.111%;
  }
  .campaign-form .body_tbl {
    max-width: 91.667%;
    margin: 0 auto;
  }
  .campaign-form .step-flow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.944%;
  }
  .campaign-form .step-flow li {
    width: 27.273%;
    border: 1px solid #bb8b30;
    font-size: 2.778vw;
    color: #bb8b30;
    position: relative;
  }
  .campaign-form .step-flow li::after {
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(180%);
    position: absolute;
    content: '';
    display: block;
    width: 13.889%;
    height: 0;
    padding-top: 13.889%;
    background: url("../img/step_arrow.png") no-repeat;
    background-size: 100% auto;
  }
  .campaign-form .step-flow li:last-child::after {
    display: none;
  }
  .campaign-form .step-flow li > span {
    padding: 1em 0;
    background: #fff;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    align-items: center;
  }
  .campaign-form .step-flow li.active > span {
    text-align: center;
    background: #bb8b30;
    color: #fff;
  }
  .campaign-form .step-flow li .step-number {
    padding-bottom: 10px;
    display: block;
    font-weight: bold;
    margin-right: 0;
  }
  .campaign-form-message {
    text-align: center;
    font-size: 3.611vw;
    margin-bottom: 6.944%;
  }

  .smp_tmpl {
    background: #fff;
    padding: 11.111% 4.167%;
  }
  .smp_tmpl dl.cf {
    display: block;
    margin-bottom: 8.929%;
  }
  .smp_tmpl dl.cf .title {
    line-height: 1.5;
    font-size: 3.611vw;
    padding-top: 0px;
    padding-right: 0px;
    width: 100%;
    margin-bottom: 3.472%;
  }
  .smp_tmpl dl.cf .title.right {
    text-align: left;
  }
  .smp_tmpl dl.cf .title .need {
    position: static;
    font-size: 2.778vw;
    background: #e14a2f;
    border-radius: 5px;
    color: #fff;
    padding: 8px 11px;
    margin-left: 1em;
  }
  .smp_tmpl dl.cf .data {
    width: 100%;
    font-size: 3.611vw;
    /* Custom dropdown */
  }
  .smp_tmpl dl.cf .data img {
    width: 100%;
  }
  .smp_tmpl dl.cf .data input[type="text"],
  .smp_tmpl dl.cf .data textarea {
    text-align: left;
    font-size: 3.611vw;
    background: #fffcf1;
    border: 1px solid #ddc597;
    padding: 0.8em;
    width: 100%;
  }
  .smp_tmpl dl.cf .data input.age {
    width: 5em;
  }
  .smp_tmpl dl.cf .data.time ul.cf {
    display: flex;
  }
  .smp_tmpl dl.cf .data.time ul.cf li {
    margin-right: 1em;
  }
  .smp_tmpl dl.cf .data .note {
    padding: 0.5em 0;
  }
  .smp_tmpl dl.cf .data.zipcode-data {
    display: flex;
    align-items: center;
  }
  .smp_tmpl dl.cf .data input.zipcode {
    width: 8em;
    margin-right: 10px;
  }
  .smp_tmpl dl.cf .data input.year,
  .smp_tmpl dl.cf .data input.month,
  .smp_tmpl dl.cf .data input.date {
    width: 4em;
    margin-right: 0.5rem;
  }
  .smp_tmpl dl.cf .data .radio.cf {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .smp_tmpl dl.cf .data .radio.cf li {
    margin-right: 1em;
    font-size: 3.611vw;
  }
  .smp_tmpl dl.cf .data .radio.cf li input[type="radio"] {
    margin-right: 0.5em;
    vertical-align: middle;
  }
  .smp_tmpl dl.cf .data .radio-vertical li {
    margin-bottom: 1.5em;
    font-size: 3.611vw;
    line-height: 1.4;
  }
  .smp_tmpl dl.cf .data.multi2 .cf {
    display: block;
  }
  .smp_tmpl dl.cf .data.multi2 .cf li {
    font-size: 3.611vw;
    width: 100%;
    margin-bottom: 3.448%;
  }
  .smp_tmpl dl.cf .data.multi2 .cf li input[type="checkbox"] {
    margin-right: 0.5em;
  }
  .smp_tmpl dl.cf .data.file .file-upload-block {
    align-items: center;
    display: flex;
  }
  .smp_tmpl dl.cf .data.file .file-state,
  .smp_tmpl dl.cf .data.file .file-name {
    padding-left: 10px;
  }
  .smp_tmpl dl.cf .data.file #file-button {
    display: inline-block;
    font-size: 3.333vw;
    cursor: pointer;
    background: #ffffff;
    padding: 12px 60px;
    border-radius: 8px;
    border: 1px solid #bb8b30;
    color: #bb8b30;
    height: 50px;
    position: relative;
    width: 57.143%;
    padding: 0;
  }
  .smp_tmpl dl.cf .data.file #file-button::before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 3.125%;
    transform: translateY(-50%) rotate(-45deg);
    content: '';
    width: 4.375%;
    height: 0px;
    padding-top: 4.375%;
    border-right: 1px solid #bb8b30;
    border-bottom: 1px solid #bb8b30;
  }
  .smp_tmpl dl.cf .data.file input[type="file"] {
    display: none;
  }
  .smp_tmpl dl.cf .data .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .smp_tmpl dl.cf .data .custom-dropdown select {
    background-color: #fffcf1;
    color: #302624;
    font-size: inherit;
    padding: 11px;
    padding-right: 3.5em;
    border: 1px solid #ddc597;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
  }
  .smp_tmpl dl.cf .data .custom-dropdown::before,
  .smp_tmpl dl.cf .data .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  .smp_tmpl dl.cf .data .custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.8em;
    top: 50%;
    margin-top: -.5em;
  }
  .smp_tmpl dl.cf .data .custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 3em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  .smp_tmpl dl.cf .data .custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, 0.3);
  }
  .smp_tmpl dl.cf .data .custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, 0.1);
  }
  .smp_tmpl dl.cf .data .custom-dropdown::before {
    background-color: #ddc597;
  }
  .smp_tmpl dl.cf .data .custom-dropdown::after {
    color: #fff;
  }
  .smp_tmpl .sample-image {
    margin-bottom: 40px;
  }
  .smp_tmpl .privacy-agreement {
    border: 1px solid #ddc597;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 3.889vw;
    word-break: break-all;
  }
  .smp_tmpl .privacy-agreement-title {
    font-size: 4.167vw;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
  }
  .smp_tmpl .center {
    text-align: center;
  }
  .smp_tmpl button[type="submit"] {
    cursor: pointer;
    background: #bb8b30;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    font-size: 4.167vw;
    position: relative;
  }
  .smp_tmpl button[type="submit"]::before {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(-45deg);
    content: '';
    width: 14px;
    height: 14px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
/* --------------------------------------
    エラー画面
-------------------------------------- */
.validation .header_rmesg {
  font-size: 1.8rem;
  text-align: center;
  color: #e14a2f;
  margin-bottom: 50px;
}
.validation .smp_tmpl dl.cf .data.file input[type="file"] {
  display: block;
}
.validation .smp_tmpl dl.cf .need {
  background: #000;
}
.validation .smp_tmpl dl.cf .data {
  /* エラー画面 */
}
.validation .smp_tmpl dl.cf .data input[type="text"].error,
.validation .smp_tmpl dl.cf .data select.error {
  background: #FFE4E4;
}
.validation .smp_tmpl dl.cf .data .msg {
  display: block;
  color: #e14a2f;
  padding-top: 0.5em;
}
.validation .smp_tmpl dl.cf .data.file input[type="file"] {
  display: block;
}

@media only screen and (max-width: 768px) {
  .validation .header_rmesg {
    font-size: 3.889vw;
    margin-bottom: 6.944%;
  }
}
/* --------------------------------------
    確認画面
-------------------------------------- */
.confirm .header_mesg {
  text-align: center;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
}
.confirm dl.cf .data {
  padding-top: 16px;
}
.confirm button[type="submit"][name="SMPFORM_BACK"] {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  border: none;
  background: none;
  display: block;
  margin: 20px auto;
  color: #3366BB;
}
.confirm button[type="submit"][name="SMPFORM_BACK"]:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .confirm .header_mesg {
    font-size: 3.889vw;
    margin-bottom: 6.944%;
  }
}
/* --------------------------------------
    完了画面
-------------------------------------- */
#specialBnr .bannerList {
  max-width: 988px;
  margin: 0 auto;
}

.complate {
  padding-bottom: 80px;
}
.complate .complate-message {
  text-align: center;
  margin-bottom: 50px;
}
.complate .complate-message p {
  font-size: 1.6rem;
  margin-bottom: 1em;
}

/* SNSリンク */
.sns-links {
  max-width: 800px;
  margin: 0 auto 80px;
}
.sns-links p {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.sns-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .header_mesg {
    font-size: 3.889vw;
    margin-bottom: 6.944%;
  }

  .sns-links {
    max-width: 80%;
    margin: 0 auto 11.111%;
  }
  .sns-links p {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .sns-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sns-links ul li {
    width: 50%;
    text-align: center;
  }
  .sns-links ul li a {
    display: inline-block;
    width: 70px;
    margin: 0 auto;
  }
  .sns-links ul li img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
