@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Steam Style もっと手軽に、おいしいを実現したい */
#contentsWrap #styleTitleSection { margin-top:7%; }
#contentsWrap #styleTitleSection #styleMvArea { margin-top:6.4%; padding:0; background:url(/product/lineup/kax/images/style_mv_bg_sp.jpg) center top no-repeat; background-size:100% auto; }

#contentsWrap #styleContentsSection { width:auto; margin-top:7%; }
#contentsWrap #styleContentsSection #styleHeaterArea { margin-top:5%; width:auto; }
#contentsWrap #styleContentsSection #styleHeaterArea h3 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection #styleHeaterArea h3 img { width:110%; margin-left:-5%; }

#contentsWrap #styleContentsSection #styleHeaterArea p#styleHeaterTxt { margin-top:7%; }
#contentsWrap #styleContentsSection #styleHeaterArea ul li { margin-top:10%; }
#contentsWrap #styleContentsSection #styleHeaterArea ul li:first-child { margin-top:4%; }
#contentsWrap #styleContentsSection #styleHeaterArea #styleHeaterInner { width:88%; margin:11% auto 0; padding:3%; }
#contentsWrap #styleContentsSection #styleHeaterArea #styleHeaterInner p { font-size:4.3vw; text-align:left; }

#contentsWrap #styleContentsSection #styleOperabilityArea { margin-top:23%; width:auto; }
#contentsWrap #styleContentsSection #styleOperabilityArea h3 { width:90%; margin:0 auto; padding-bottom:3%; }
#contentsWrap #styleContentsSection #styleOperabilityArea h3 img { width:110%; margin-left:-5%; }
#contentsWrap #styleContentsSection #styleOperabilityArea ul li { margin-top:15%; }
#contentsWrap #styleContentsSection #styleOperabilityArea ul li:first-child { margin-top:7%; }

#contentsWrap ul#styleImgList { margin-top:12%; }

#contentsWrap p#introBtn { width:74%; margin:8.3% auto 0; }

}
