@charset "UTF-8";

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Steam Style もっと手軽に、おいしいを実現したい */
#contentsWrap #styleTitleSection { margin-top:50px; }
#contentsWrap #styleTitleSection h2 { text-align:center; }
#contentsWrap #styleTitleSection #styleMvArea { margin:35px auto 0; padding:244px 0 254px; background:url(/product/lineup/kax/images/style_mv_bg_pc.jpg) center top no-repeat; }
#contentsWrap #styleTitleSection #styleMvArea p { text-align:center; }

#contentsWrap #styleContentsSection { width:1000px; margin:60px auto 0; }
#contentsWrap #styleContentsSection #styleHeaterArea { width:1000px; }
#contentsWrap #styleContentsSection #styleHeaterArea h3 { text-align:center; padding-bottom:34px; border-bottom:1px solid #918c89; }
#contentsWrap #styleContentsSection #styleHeaterArea p#styleHeaterTxt { text-align:center; margin-top:40px; }
#contentsWrap #styleContentsSection #styleHeaterArea p#styleHeaterImg { text-align:center; margin-top:37px; }
#contentsWrap #styleContentsSection #styleHeaterArea #styleHeaterInner { width:960px; margin:25px auto 0; padding:12px 20px; background-color:#e2e2e2; box-sizing:content-box; }
#contentsWrap #styleContentsSection #styleHeaterArea #styleHeaterInner p { text-align:center; font-size:136%; line-height:1.5em; }

#contentsWrap #styleContentsSection #styleOperabilityArea { margin-top:90px; width:1000px; }
#contentsWrap #styleContentsSection #styleOperabilityArea h3 { text-align:center; padding-bottom:28px; border-bottom:1px solid #918c89; }
#contentsWrap #styleContentsSection #styleOperabilityArea p { text-align:center; margin-top:26px; }

#contentsWrap ul#styleImgList { margin:39px auto 0; width:100%; max-width:1046px; font-size:0; }
#contentsWrap ul#styleImgList li { display:inline-block; font-size:14px; }
#contentsWrap ul#styleImgList li#styleImgList01 { width:33.55%; }
#contentsWrap ul#styleImgList li#styleImgList02 { width:32.88%; }
#contentsWrap ul#styleImgList li#styleImgList03 { width:33.55%; }
#contentsWrap ul#styleImgList li img { width:100%; }

#contentsWrap p#introBtn { margin-top:37px; text-align:center; }
