@charset "UTF-8";

@media screen and (max-width:640px){

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  コンテンツレイアウト
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* トップページ */
#contentsWrap #topTitleSection { background:url(/product/lineup/kax/images/top_bg01_sp.jpg) center top no-repeat; background-size:100% auto; }
#contentsWrap #topTitleSection #topTitleArea { width:100%; padding-bottom:30.8%; }
#contentsWrap #topTitleSection #topTitleArea h2 { width:46.875%; position:absolute; right:0; top:0; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleImg01 { width:19.5%; position:absolute; left:1.6%; top:5%; margin:0; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleLogo { width:12%; margin:0 auto; padding-top:9%; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleImg02 { text-align:center; margin-top:19.4%; }
#contentsWrap #topTitleSection #topTitleArea p#topTitleBtn { width:58%; margin-top:3%; }
#contentsWrap #topTitleSection p#topTitleBgImg { display:none; }

#contentsWrap #topStyleSection { background:url(/product/lineup/kax/images/top_bg02_sp.jpg) center top no-repeat; background-size:100% auto; margin-top:3.8%; }
#contentsWrap #topStyleSection #topStyleArea { padding:24% 0 19.4%; background:none; }
#contentsWrap #topStyleSection #topStyleArea p.btnDetail { width:48%; margin-top:3%; }

#contentsWrap #topStyleSection p#topStyleBgImg { display:none; }

#contentsWrap #topSpecSection { margin-top:4.2%; }
#contentsWrap #topSpecSection #topSpecArea { padding:0; }
#contentsWrap #topSpecSection ul { margin:4% auto 0; width:95%; }
#contentsWrap #topSpecSection ul li { margin-left:3%; width:48.5%; }
#contentsWrap #topSpecSection ul li:first-child { margin-left:0; }

}
